[2020-04-07 01:55] amitbha commented on #11
Seems not active.
I recommend **ksnip**. Nearly perfect.

[2020-04-07 15:20] emielvanberlo commented on #607
I use XFCE but had some KDE traces left.
my notifications didn't work.
remove plasma-workspace fixed my notifications and flameshot.

[2020-04-07 15:21] emielvanberlo commented on #353
I use XFCE but had some KDE traces left.
my notifications didn't work.
remove plasma-workspace fixed my notifications and flameshot.

[2020-04-07 22:51] lkrms commented on #240
This will be a great feature when it lands -- Flameshot's annotation tools are basically perfect -- but in the meantime, the best stop-gap I've been able to find is nomacs. Its most recent update includes a "Paint on Image" feature with similar tools, including arrowheads that look the same as Flameshot's.

[2020-04-08 06:30] linuxkathirvel commented on #307
Thanks. It is working in Arch KDE after set it as 'Always shown' in System Tray.

[2020-04-08 09:53] jameswilliamknight commented on #5
I would love this feature!

[2020-04-08 13:49] arnestig commented on #360
I created a pullrequest for an implementation of screenshot history: https://github.com/lupoDharkael/flameshot/pull/715

Screenshots taken are saved in the history and can be run through flameshot again if you want to modify it in some way.

![image](https://user-images.githubusercontent.com/9248196/78791734-8c1ae800-79b0-11ea-8a97-b31064377947.png)

[2020-04-08 15:13] GrantEdwards commented on #240
Thanks for the pointer to nomacs.  It looks like an excellent option as it only requires 2 new libraries instead of shutter's 50+.  Now I just have to wait for v3.14 to get into Gentoo Linux.  :/

[2020-04-08 17:30] #307 closed

[2020-04-09 01:45] lkrms commented on #240
@GrantEdwards there's always the build from source option :)

[2020-04-09 01:57] GrantEdwards commented on #240
On Gentoo Linux everything is built from source!  The latest Gentoo "ebuild" file (which is sort of like a top level "makefile" that includes all of the library dependencies and configuration options along with patches and build script) is for 3.12.  I may try updating the ebuild it to build 3.14, but that would only work if 3.14 doesn't require newer versions of libraries than are currently insta

[2020-04-09 08:05] CMCDragonkai opened #716 "What is the default option of flameshot?"
When I run `flameshot` by itself, nothing happens. But there's nothing indicating what the default option is. Perhaps the default option can be `flameshot gui`?

[2020-04-09 19:53] Julius-Nepos opened #717 "Flameshot doesn't work in Ubuntu 18.04 64 bit."
**Flameshot version**

There is the Flameshot Icon in the system tray.   However left-clicking on it just opens a very basic panel of configuration options.

**Describe the bug**

**To Reproduce**

**Expected behavior**

I'd expect it to open somethin letting me select a screen region or save a whole screen screenshot.  But nothing seems to happen.
**System Information**

Laptop, i7-core, 12 GB ra

[2020-04-11 11:38] blaueente commented on #496
Don't forget the use case with ->clipboard->chat; there, the quality loss is not important at all, but nobody wants to wait for 5MB to be transmitted.

[2020-04-11 18:49] elcolie commented on #644
Me too. I am running GNU/Linux Debian with Cinnamon. I need to use mouse click every time

[2020-04-12 21:07] stanfieldr commented on #635
I confirmed on Fedora 31 copy to clipboard does not work on Wayland, but does work on X11

[2020-04-13 03:23] razvan-flavius-panda commented on #124
Has the branch for the GUI version of flameshot been released? Does it work from tray like other similar programs or how?

[2020-04-13 12:05] AlexWayfer commented on #395
Can this issue be closed as duplicate of #334?

[2020-04-13 12:05] AlexWayfer commented on #152
Duplicate of #5.

[2020-04-13 12:15] navigante commented on #496
Yes, lossy compression format would be strongly appreciated ...

[2020-04-13 12:59] ricardoseriani commented on #387
Same here on Ubuntu 18.04.4 with i3-wm 4.17.1-1

[2020-04-13 15:17] Vladimir-csp commented on #395
yes, it seems

[2020-04-14 00:47] redxtech opened #718 "Crash on screenshot"
**Flameshot version**
v0.6.0

**Describe the bug**
The app launches just fine, but when I take a screenshot it crashes. Everything is fine up until I have made the selection, but when I click one of the buttons (save image, upload to imgur, etc.) it crashes without doing anything.
Whenever I run `flameshot` from the command line everything works as expected, but when I launch it through the app la

[2020-04-14 00:48] redxtech commented on #716
This is described in the readme (I forget where though).

It will launch the app and add an icon to your system tray.

[2020-04-14 00:50] redxtech commented on #716
Just checked and it's at the bottom of this section:

https://github.com/lupoDharkael/flameshot#considerations

It would be nice to have it near the command options section though.

[2020-04-14 01:05] shukerov commented on #717
I believe you are trying to open the configuration options instead of launching the application. I am running Ubuntu 18.04 64 bit, and everything is running just fine.

I suggest you change the Flameshot Icon in the system tray with the correct one. When I hit my  `Super` key and type Flameshot three separate flameshot icons show up. Click on the one that has `Take a Graphical screenshot` as a des

[2020-04-14 01:47] tkumark opened #719 "Does Flameshot support Text annotation"
I do not see the option for text annotation. Can this feature be added?

[2020-04-14 02:35] CMCDragonkai commented on #716
I'm using xmonad, so I don't have a system tray. So the effect was
invisible.

On 14/04/2020 10:51 am, Gabe Dunn wrote:

[2020-04-14 11:10] TCastelein opened #720 "Choose custom colors of color wheel"
I would like to customize the colors in the color wheel activated when right mouse clicking. I see in the code that there is a setting called `userColors` however i fail to add it correctly to the `ini` file so i don't have it working.

Can anybody help me with an example of how to edit the `userColors` or the feature request of setting the colors through the CLI just like main and contrast color.

[2020-04-14 12:49] theLSA opened #721 "Add color - black"
Hi,this is a nice project!
But don't have black,which I often use.(such as arrow/rectangle)
If have black,this project would be more perfect!
Thanks!

[2020-04-14 20:19] nachovizzo commented on #273
So, I agree with you, `flameshot` is the best tool available. I was used to the "Annotate" tool in compiz, but since I've switched to `i3wm` this is not possible anymore.

After HOURS of research, and trying multiple tools with no success(like `gromit`) I decided to make flameshot work for my case.

Since the design of the app itself is extremely good, you can actually write your own scripts in ba

[2020-04-15 09:20] chux0519 commented on #657
I think I solved this problem **temporarily**.
It seems that when copy is executed, the entire system is blocked after the dbus related API is called, so I temporarily deleted it.
The PR **may not** be merged, because I deleted part of the logic of the notification part when copy is executed.
Anyway, If someone encounters the same problem, you can try the following modifications

[code]

see https

[2020-04-16 06:00] lihuelworks commented on #657
Tried with KDE (Kubuntu). Copy doesn't crash, but it doesn't paste anything either. That may have to do with KDE, but copying and pasting images works as intended with other apps.

[2020-04-16 08:55] Gimzie opened #723 "Flameshot causing total system-freeze on KDE if a Notification Widget is not present"
**Flameshot version**
0.6.0-4 / Latest

**Describe the bug**
When trying to copy a selection to the clipboard, the system completely freezes except for the mouse cursor, which is infinitely stuck trying to make a selection. I'm forced to switch to another TTY shell, from which I have to reboot. (as restarting my display manager proves to not work)

**To Reproduce**
Launch flameshot w/ `flameshot g

[2020-04-16 09:05] Gimzie commented on #723
Update; it seems this only happens if you don't have a notification widget present anywhere in KDE, probably because Flameshot tries to send a notification and ends up hanging. Updated title to reflect this.

[2020-04-16 15:44] wout opened #724 "Size of selection is wrong (double) on HiDPI screens"
**Flameshot version**
Flameshot v0.6.0
Compiled with Qt 5.9.5

**Describe the bug**
I'm using a HiDPI (4k) monitor with scaling at 200%. The size of the selection is displayed at the number of pixels, not taking into account the scaling.

**To Reproduce**
Use a 4k monitor.

**Expected behavior**
Scaling should be taken into account.

**System Information**
![image](https://user-images.githubuserco

[2020-04-16 23:59] Justinzobel opened #725 "Please tag a new release"
18 months with 70 commits to code since 0.6.0.

[2020-04-17 03:23] JakeRoggenbuck commented on #90
I had this same issue after trying to save the screenshot as a file. I am using bspwm and flameshot just dose not open after I re install of flameshot or a reboot.

[2020-04-19 08:08] rajeshisnepali opened #726 "Need keyboard shortcut."
I believe many of us have a problem changing the tool's thickness via mouse scroll. It sucks when on a laptop. It's so hard to control or make a proper thickness.

If it's possible, I'm requesting to make a shortcut `(Ctrl+plus(+))` to increase & `(Ctrl+minus(-))` to decrease the thickness or any other keys combination.

[2020-04-20 14:43] FeryET commented on #557
I have the same issue in Lubuntu 19.10. Any update on this?

This is the output of `Flameshot -v`:

[code]

[2020-04-21 01:36] fabianski7 commented on #608
if you care about privacy, you should go away from google services

[2020-04-22 01:08] ai commented on #108
The same problem on the latest Fedora 32 with scale factor 2

[code]

[2020-04-22 16:34] qowai opened #728 "not saving to file, however saving to clipboard"
greetings ...
first of all thank you for taking the time out of your life to create this truly awesome and useful tool

i've been enjoying your program for a while now ... it's been working great on 2 laptops ... one fedora with no issues and one opensuse when just recently i'm having problems ... after pushing the "print screen" button the FS program comes up and take a screen shot but when savin

[2020-04-23 03:00] vcidst commented on #232
I'm on Ubuntu 18.04 and still facing the same issue (also referred in #680),

![image](https://user-images.githubusercontent.com/683016/80054283-6d822880-853c-11ea-8bc2-eb5b5e279462.png)

I installed flameshot with `apt` and noticed I wasn't running 0.6 so I ran `apt update` and `apt upgrade`. The version of flameshot is still the same. Is there any other way to update it to v0.6?

[2020-04-23 15:03] sarg commented on #728
I had the same issue because of missing locale:
[code]

Try running flameshot with `LANG=C flameshot` and then `flameshot gui`.

[2020-04-23 17:41] tnkr commented on #586
Love the app but looking for a way to get the cross compile and make working for AT LEAST MacOS but also getting it up and running in Windows as well. We use this tool a lot for penetration testing.

[2020-04-23 20:45] Chudry commented on #726
Yes for linux go to settings > keyboard > + . Here you can add name of program, command which will launch on specific key press command is ( flameshot gui ) and lastly key board short cut ...  i applied this solution on Debian based linux
For windows definitely there is keyboard shortcut setting add them with same command i believe ..

![image](https://user-images.githubusercontent.com/54190262/80

[2020-04-24 01:21] stevsull commented on #272
+1 for this. Use Flameshot every day, really love the tool. The *one* thing it's missing is the ability to move elements around, and find myself often needing to undo, and hopefully click the right area to add text/markup.

Love your work on this!

[2020-04-24 19:39] samiurprapon opened #729 "App Crashes"
**Flameshot version**
Flameshot v0.6.0
Compiled with Qt 5.14.1
**Describe the bug**
Can not take screenshot

**To Reproduce**
➜  ~ flameshot
QPainter::begin: Paint device returned engine == 0, type: 2
QPainter::setRenderHint: Painter must be active to set rendering hints
QPainter::setCompositionMode: Painter not active
QPainter::translate: Painter not active
QPainter::setPen: Painter not active
QP

[2020-04-24 20:14] matcharles opened #730 "Is there a way to save to clipboard at the same time as to system?"
When I use
[code]
I can save the file to the clipboard, but I'd like to have it saved on the computer AND the clipboard. Is there a combo to achieve this? Thanks a lot

[2020-04-26 05:09] rajeshisnepali commented on #726
@Chudry I think you're getting it wrong. I already have assigned the keyboard shortcut for `flameshot-gui`.

![image](https://user-images.githubusercontent.com/23610013/80298339-f6060080-87aa-11ea-9b67-3f68e7426e46.png)

As you can see help (hint) in the picture below. It says scroll mouse wheel to change the thickness of your tool.
I just want to change the thickness with the help of keyboard sho

[2020-04-26 09:37] qowai commented on #728
I've put the "LANG=C flameshot" into autostart ... and the print screen button calls up flameshot anyways ... so now it works again ... what a relief ... thank you very much!

[2020-04-26 09:38] #728 closed

[2020-04-26 18:26] Chudry commented on #726
Sorry i get it wrong, i also did not find as such any thing in flameshot config

[2020-04-27 10:02] styfrombrest commented on #265
Is there any updates on this issue? QT_SCALE_FACTOR doesn't really solve it...

[2020-04-28 01:57] benwinding commented on #124
Yay, this is now possible in the UI, just follow these steps

![image](https://user-images.githubusercontent.com/11782590/80438181-b245ff00-8942-11ea-9c9f-afb9538cef19.png)

![image](https://user-images.githubusercontent.com/11782590/80438317-0fda4b80-8943-11ea-9e33-4a0e41563154.png)

[2020-04-28 07:15] kirjeldus commented on #496
Bump. This is one of my primary uses of this software. Format/compression settings for clipboard copy would save many many mb!

[2020-04-28 09:41] udhien80 commented on #90
Thank you very much, it works for me.

TPX220-i7-16G-DualSSD(160G+250G)-LMDE4

[2020-04-28 12:49] chung1905 commented on #635
Should we open another ticket for clipboard on Wayland?
Since it's seems not the same issue with this ticket?

I confirm Arch Linux copy to clipboard doesn't work on Wayland:
[code]
The success notification appear, clipboard is emptied (the old one is cleared).

[2020-04-28 13:11] luzpaz commented on #124
Can confirm! I guess this issue can be closed.
Thank you!

[2020-04-28 15:53] Moini commented on #124
Cool - which release will this be in?

[2020-04-28 16:36] th317erd commented on #496
I must admit I am with the developers on this one. Though I have also wished at times that JPEG was supported (for whatever various platform I am using that still lives in the dark ages and doesn't support PNG) I think JPEG is a terrible format, especially for this type of thing.

It is not at all hard for anyone of you (with a little Googling) to do one of two things (or both):
1. Make a watcher

[2020-04-28 17:13] AlexP11223 commented on #496
I submitted my PRs in October and they are still not merged...

Probably not if you are not screenshotting something like photos/movies/some games. In some cases JPG can even take more space.

[2020-04-28 19:27] billyjbryant commented on #465
This is a bandaid, not a fix. This issue should be re-opened @DaVukovic as the version in the Debian and Ubuntu repos are not up to date, is there any way to push this?

[2020-04-29 17:40] #730 closed

[2020-04-30 04:06] rmo20 commented on #90
Executing
[code]
solves the problem, but is this the only way to get `flameshot` to work correctly? Why is this happening? This isn't common behavior of other screen captures (e.g. `scrot`, `gnome-screenshot`, etc.)

[2020-04-30 07:24] alexanderadam commented on #90
indeed! I changed my shortcut now to:

[code]

[2020-04-30 15:22] cdcsit-maheshyadav commented on #717
I was using it in 18.04 before. Now, I am using it in 20.04. It works fine.

[2020-04-30 16:22] Lirabeth commented on #667
bump

I encounter similar problem on version 0.6.0

[2020-05-01 09:25] codingtalkie commented on #90
I confirm, this work well on MXLinux 19. now the flameshot is working

[2020-05-01 15:37] AnthonyBerisha commented on #719
Is somebody working on this ? I'd be delighted to try adding that

[2020-05-01 20:01] ghost opened #733 "Image name formatting prints an space when the number representation of a day is one-digit."
**Flameshot version**

[code]

**Describe the bug**

When using the following format for saving screenshots

[code]

Days are expected to be two digits, a space is used when a day is printed with one digit (see below)

[code]

**To Reproduce**

1. Execute the following command (it's the same one that was presented above) to change the name with which screenshoots are saved.

[code]

2. Capture an

[2020-05-03 04:56] brendaw commented on #586
Hi, folks!

I have some progress since my message in this issue.

I was able to compile and run flameshot in macOS. The [necessary changes](https://github.com/lupoDharkael/flameshot/compare/master...brendaw:osx-support) was made [in my fork](https://github.com/brendaw/flameshot/tree/osx-support) and with then you all can build from your Mac. Just clone the fork and run [this script](https://github

[2020-05-04 12:01] tomatic commented on #729
Same on Kubuntu 19.10., crashes when clicking the save (to disk) icon after taking the screenshot. Weirdly, it doesn't crash if I launched it from a Konsole window. But if I launch it from Krunner, it crashes when I click the save button.

[2020-05-04 12:53] spxak1 opened #734 "Copy to clipboard on select, save to file on close (by default)"
It would be great if we had two options on configuration:

1. Copy to clipboard on select. That is as soon as I select a part of the screen, it immediately puts it on the clipboard. If you do further editing, resize etc, you will then have to click the "copy to clipboard" button to replace the previous one with the edited one. This way, when you do lots of screen captures without the need of editi

[2020-05-04 15:14] Julius-Nepos commented on #717
Well, I've not going to change my OS simply to see if flameshot works.  The computer is used for engineering projects and there are many other apps involved.

Also I should clarify.  I'm using Xubuntu 18.04 64-bit.  This uses the XFCE desktop rather than Gnome.  I'll try the rocommendations posted above and reply.

[2020-05-04 19:40] str commented on #729
Same on ubuntu 20.04

[2020-05-04 19:42] str commented on #729
Duplicated of #718

[2020-05-04 20:09] markozajc commented on #721
You can get a colo rwheel by pressing `space`.

[2020-05-04 21:38] tifDev commented on #556
How can i implement this? Can i change the code of my "already installed" flameshot package? @sjl

[2020-05-05 05:52] theLSA commented on #721
Oh,I see,thanks!

[2020-05-05 13:35] wifiuk opened #735 "Shifts screen to the left when taking screenshot (dual screens)"
**Flameshot version**
0.6.0+git20190714-1(Debian)
Compiled with Qt 5.12.4

**Describe the bug**
When you take a selection screenshot/clipping and you have dual screens (laptop and large 2k screen) the layout shifts to the left meaning everything is in the wrong position.

**To Reproduce**
Take a screen clipping, using multiple monitors set to extend left.

**Expected behavior**
the screen stays wh

[2020-05-05 16:07] woody34 commented on #635
I suspect #722 may resolve this issue. :crossed_fingers:

[2020-05-05 16:11] sjl commented on #556
@tifDev No, you'd need to build from source.

[2020-05-05 16:27] tomberry88 opened #736 "Italian translation"
Hi, and thanks for your work. This app is absolutely fantastic, but on my distro is only in english language.

I tried to translate it, but this is my first work on qt linguist (I'm usually used to po files) and I probably did something wrong.

This is a qm file of internationalization for italian language, can you see if it's okay?

I copied it to **/usr/share/flameshot/translations** , but the a

[2020-05-05 18:00] socketbox commented on #721
This is a more specific version of #720

[2020-05-05 20:18] socketbox commented on #720
Yes, this would be nice. The code seems to indicate that a list of strings will be read in from the INI file, but none of the following work.
[code]
 `syslog` shows `qt5ct: custom style sheet is disabled`, apparently after the application fails to parse the file.

[2020-05-06 10:00] DouglasLapsley commented on #717
I'm having this issue too.  Worked fine on Ubuntu 16.04 and 20.04, but on 18.04.4 the tray icon that appears at the top right only gives options "Configuration", "Information" and "Quit".

If I go to "Show applications" menu at bottom left and search on "flam" I see that there are three icons there.  "Configure..", "Launch..." and "Take graph...".  The last of these does launch the screen grabbing

[2020-05-06 14:48] kramer65 opened #737 "I would like to annotate existing image files from my computer"
Often I create a screenshot, annotate it, and then save the file. If I then want to add some more text or arrows, I cannot open the same file in flameshot.

In other occasions I made a screenshot with my normal printscreen button and later realise I want to annotate the file. In this case I would also like to use flameshot as an annotation tool.

It would be really awesome if there would be a butt

[2020-05-06 18:31] MyriaCore commented on #425
Personally I don't find `--selection` too offensive. In the absence of @lupoDharkael's response, we could submit a WIP PR with `--selection` I suppose?

[2020-05-06 23:09] tifDev commented on #556
Ok. This feature should be merged into the main branch

[2020-05-07 11:31] SuShY28 opened #738 "Flameshot does not launch"
**Flameshot version**
0.6.0+git20191001-2

**Describe the bug**
Flameshot does not launch when i select in menu or in command

**System Information**
Debian bullseye/sid x86_64 Kernel 5.6.0-1-amd64

[2020-05-07 13:12] szszoke opened #739 "Multiple displays on Windows 10"
**Flameshot version**
0.6.470.0

**Describe the bug**
Multiple display arrangement is not being considered which results in parts of the screenshot overlay pushed off-screen.

Main display: 27'' external screen running at 2560 x 1440, 100% scaling
Secondary display: 15'' laptop screen running at 1920 x 1080, 125% scaling

*Display arrangement that does not cause the issue*
![image](https://user-im

[2020-05-07 14:05] MrSunshyne commented on #635
I confirm that disabling "Save after capture" resolved the issue for me.

![image](https://user-images.githubusercontent.com/1721611/81303838-4d4e7f80-908d-11ea-95ef-77f56a74c4fb.png)

Image pasted using flameshot

[2020-05-07 15:43] danielrosehilljlm opened #740 "Giant arrows. Any way to adjust size?"
Is there any way to adjust the width and size of the drawn objects like the arrow?

Mine looks a little ridiculous!

![Arrow](https://i.imgur.com/xaMlCgi.png)

[2020-05-07 23:30] cvincent commented on #635
I was having this problem and suspected it was due to the "Close after capture" option. It seems X11's clipboard loses track of what you copied if the app you copied from was closed, which I've noticed before in other situations. Sure enough, disabling "Close after capture" did it. Not sure if this happens with full-fledged DEs such as GNOME.

[2020-05-07 23:51] alparViniciusLeite commented on #635
I use Fedora 31 and installed it with "sudo dnf install flameshot".
I checked the configuration options and it has just this:

![image](https://user-images.githubusercontent.com/26722465/81355287-66165f80-90a4-11ea-9ac0-544d89438a8f.png)

[2020-05-08 01:07] ElijahLynn commented on #11
W00t, been wanting this feature since I installed Flameshot a year or so ago. Had no idea I had to run `flameshot config`, but now I got it and it is great!

How can we enable this for existing users who won't realize to come searching for this issue or do a new install?

[2020-05-08 01:15] ElijahLynn commented on #526
Love the idea of this option. I'll put in $20 towards this feature!

[2020-05-08 01:18] ElijahLynn commented on #546
Cross linking similar issues:
* https://github.com/lupoDharkael/flameshot/issues/546
* https://github.com/lupoDharkael/flameshot/issues/394
* https://github.com/lupoDharkael/flameshot/issues/73
* https://github.com/lupoDharkael/flameshot/issues/734

[2020-05-08 01:18] ElijahLynn commented on #394
Cross linking similar issues:
* https://github.com/lupoDharkael/flameshot/issues/546
* https://github.com/lupoDharkael/flameshot/issues/394
* https://github.com/lupoDharkael/flameshot/issues/73
* https://github.com/lupoDharkael/flameshot/issues/734

[2020-05-08 01:18] ElijahLynn commented on #73
Cross linking similar issues:
* https://github.com/lupoDharkael/flameshot/issues/546
* https://github.com/lupoDharkael/flameshot/issues/394
* https://github.com/lupoDharkael/flameshot/issues/73
* https://github.com/lupoDharkael/flameshot/issues/734

[2020-05-08 01:18] ElijahLynn commented on #734
Cross linking similar issues:
* https://github.com/lupoDharkael/flameshot/issues/546
* https://github.com/lupoDharkael/flameshot/issues/394
* https://github.com/lupoDharkael/flameshot/issues/73
* https://github.com/lupoDharkael/flameshot/issues/734

[2020-05-08 01:33] ElijahLynn opened #741 "Add Flameshot to GitHub Sponsors"
@lupoDharkael Love Flameshot, it is the best screenshot tool I've used on Linux in past 10 years!

Not sure if GitHub sponsors is available for this project yet but if it is I would like to encourage you to sign up for it to make it easy for others to send some cash to this project.

See if you can sign up here https://github.com/sponsors, and I'll commit to $5/month for a year ($60 USD) if you ca

[2020-05-08 09:37] Kritolan commented on #719
Enable this option in settings
![image](https://user-images.githubusercontent.com/61403394/81393197-1ee2aa00-914a-11ea-9976-20708bb2a143.png)

[2020-05-08 09:42] Kritolan commented on #719
Just enable this option in settings

[2020-05-08 11:18] mattiz commented on #187
This is the only feature I've been missing on Flameshot. It's a really good alternative for Shutter!

[2020-05-08 15:59] placekowo commented on #429
I had the same issue, changed mine to flameshot full instead of screen and it works fine.

[2020-05-08 18:45] Tiller commented on #739
hey, it's been annoying me for a couple of month, so I just fixed it. However the project doesn't seem really alive so I doubt it will be merge.
You can found the fix at: https://github.com/lupoDharkael/flameshot/pull/742
There is a fix .exe in the description

[2020-05-08 18:47] szszoke commented on #739
That was really quick!

Thanks!

I saw things committed in the past few days, hopefully it will get merged.

[2020-05-09 13:28] chux0519 commented on #657
I found that this may be related to the notification system of the operating system. When I use i3wm without any notification server, the code related to the notification will be stuck.

After installing dunst (a notification server), the notification is normal and the function will not be affected

In my case, after installing `libnotify`(notification client) and `dunst`(notification server)，and

[2020-05-09 18:08] rwtallant13 commented on #429
That's only a solution on a single monitor system. Full captures all monitors and that's not what I want.

[2020-05-10 10:31] rodmax commented on #645
Hi there. bellow i show my example of text over screenshot,

personally i ll be happy, if this font size will be at least the same as cropped message text size on screenshot

![image](https://user-images.githubusercontent.com/6079597/81496648-b7e80100-92c1-11ea-83a9-b85dc54a5a79.png)

env: Ubuntu 20.04, flameshot version

![image](https://user-images.githubusercontent.com/6079597/81496714-4fe5ea80

[2020-05-10 13:01] maurizio-omissoni commented on #465
@Jackiexiao, thank you, best way to have the last and working flameshot with text

[2020-05-10 14:35] danielrosehilljlm commented on #507
This would be very useful!

I have hidden the Flameshot notification icon (intentionally). However, I used to have a 'Configure Flamshot' in my Graphics menu (I'm on LXDE / Ubuntu) that no longer exists.

Because there is no command line parameter other than hand-editing the .ini file I have no means of editing the configuration other than reinstalling the package!

[2020-05-10 16:55] Borroot opened #743 "Changing the config file location"
## Problem
Currently the configuration file for flameshot is saved in the `$HOME/.config/Dharkael/` folder. The name of this folder is not intuitive, since the name of the program is flameshot and not Dharkael.

## Solution
A more intuitive configuration file folder would be `$HOME/.config/flameshot/`. In order to allow for even more flexibility and backward compatibility an option could be added

[2020-05-10 18:16] stanfieldr commented on #646
Same thing on Fedora 32. Falling back to X11 works as a work-around

[2020-05-11 04:55] Kritolan commented on #740
Use mouse scroll for resize elements

[2020-05-11 11:05] antoniomcr96 commented on #480
I agree. The issue hasn't ever been solved but it should be simple

[2020-05-11 13:44] elman22 opened #744 "Adding straight vertical line"
Flameshot is perfect screenshot application and I use it daily. Great work. Thanks.

I do have a feature request. Flameshot allows me to draw straight line at 0° and 180° angle by snapping the line. Would it be possible to snap also at 90° and 270° angle?

[2020-05-11 14:11] jaxankey commented on #11
Weird. I just downloaded the deb from the releases section, I run `flameshot config` and see no text tool to enable (I scrolled up and down).

![image](https://user-images.githubusercontent.com/8275367/81571028-639b5a80-936f-11ea-9075-e8e915dd2841.png)

Let me know if I'm missing something. I also uninstalled a previous version and deleted the .config folder. I'm on Linux Mint 19.2. Totally weird.

[2020-05-11 17:51] 3xploiton3 opened #745 "add feature auto copy url when upload succesful to imgur without click "copy to url""
**Is your feature request related to a problem?**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Please, a single feature per issue.

add feature auto copy url when upload succesful to imgur without click "copy to url"

[2020-05-11 18:08] CumpsD commented on #564
Same here on Pop_OS Surface Laptop 2 at 150% Impossible to take a screenshot, it just toggles constantly big/small/big/small/...

[2020-05-12 10:44] tkumark commented on #719
@Kritolan which version do you have in the version I am looking at Flameshot 0.5.1-1(Debian) Compiled with QT 5.9.4. There is not Text option. I am using Ubuntu 18.04

I installed using `sudo apt install -y flameshot`

![image](https://user-images.githubusercontent.com/2689801/81673376-2fa46000-9469-11ea-9283-595d05404314.png)

[2020-05-12 11:08] romainreignier commented on #737
I have the same issue.
But I have just discovered ksnip that allows to open existing files: https://github.com/ksnip/ksnip
I will give it a try.

[2020-05-12 11:20] w4r0 commented on #90
I confirm this, this work as well on Mint 19.3 Cinnamon.

[2020-05-12 11:21] w4r0 commented on #90
I confirm this, this work as well on Mint 19.3 Cinnamon.

[2020-05-12 18:35] racerxdl commented on #429
Same issue here:

System Information:
OS: Ubuntu 20.04 x64
DE: XFCE4 on Xorg
Screens: 1x 1920x1080
GPU: NVIDIA GTX 980 Mobile

[2020-05-12 19:17] faelsoto commented on #717
I'm on 16.04 and I'm observing the same. I have a PC on 20.04 and everything works fine, what is weirder is that if I launch it via console (`flameshot gui`) I can start taking screenshots right away, but if I configure it as a keyboard shortcut, nothing happens.

[2020-05-13 03:50] DouglasLapsley commented on #717
I've found that if you launch the "Take Graphical Screenshot" app then you can "Add it to favourites" and then it will work as normal(ish).

[2020-05-13 07:38] flakesrc opened #746 "flameshot going to system tray after run the "flameshot gui" command, how to close after print?"
**Flameshot version**
Flameshot v0.6.0
Compiled with Qt 5.14.1

**Describe the bug**
flameshot going to system tray after run the "flameshot gui" command

**To Reproduce**
just run "flameshot gui" command

**Expected behavior**
I want to print and that program close after print, instead go to system tray

**System Information**
Arch Linux 5.6.11-arch1-1
DE: Plasma

[2020-05-13 08:43] #746 closed

[2020-05-13 10:23] oyhel commented on #29
Did you ever find a way to call `flameshot.exe gui` from Windows 10? This tool is very useful, but having to click the button in the tray makes it a bit of a hassle to use.

[2020-05-13 10:47] ca-scribner commented on #719
Yeah I don't see text either.  Seemed like a really odd omission so I'm guessing it is a bug?

[2020-05-13 12:02] ivangretsky commented on #606
Thanks for the best app!

This feature would be very useful! It it on the roadmap?))

[2020-05-13 13:21] DniweTamp commented on #29
latest release uses printscreen button to open the gui

[2020-05-13 14:16] AnthonyBerisha commented on #719
Same situation as @tkumark

[2020-05-13 14:23] sebastienPoussard commented on #187
I concur, auto increment bullet is a great feature I miss on Flameshot

[2020-05-13 16:50] ElijahLynn commented on #11
That is odd, it should be in between the "Marker" and "Blur" options.

![image](https://user-images.githubusercontent.com/1504756/81841327-1cdc6a80-94ff-11ea-94de-96140973e601.png)

[2020-05-13 16:52] jaxankey commented on #11
Maybe there are some config files left over from a previous install? I really tried to remove everything.
________________________________
From: Elijah Lynn <notifications@github.com>
Sent: Wednesday, May 13, 2020 12:50 PM
To: lupoDharkael/flameshot <flameshot@noreply.github.com>
Cc: Jack Sankey <jack.sankey@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [lupoDharkael/flameshot] Add

[2020-05-14 00:41] ElijahLynn commented on #745
I saw an option for this in `master` today... K, just tested it and it is working. So it looks like this feature is on it's way to the next release.

![image](https://user-images.githubusercontent.com/1504756/81879964-fc350480-9540-11ea-8bd8-6edd7c085fd6.png)

![image](https://user-images.githubusercontent.com/1504756/81879956-f6d7ba00-9540-11ea-822a-815820a01f7f.png)

[2020-05-14 04:24] arjunv commented on #725
And way too many pull requests which hasn't been merged with master.

[2020-05-14 08:27] capricornusx commented on #11
@jaxankey

I am using Linux Mint 19.2 too and found solution:
1. Update flameshot to lastest release (git clone and build):
Flameshot **v0.6.0-70-g91ba28c**
Compiled with Qt **5.9.5**
2. And run ``pkill flameshot; flameshot config``

[2020-05-14 13:28] jaxankey commented on #11
Thanks! I just updated to 19.3 and reinstalled the bionic. It's there now (though not easy to use; font size?)

Cheers,
Jack
________________________________
From: Dmitry Dubinin <notifications@github.com>
Sent: Thursday, May 14, 2020 4:27 AM
To: lupoDharkael/flameshot <flameshot@noreply.github.com>
Cc: Jack Sankey <jack.sankey@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [lupoDha

[2020-05-14 14:05] danielrosehilljlm commented on #740
Thank you! Mystery solved!

[2020-05-14 14:37] capricornusx commented on #11
@jaxankey

Duplicate of #584
https://github.com/lupoDharkael/flameshot/issues/584#issuecomment-514774974

[2020-05-14 16:29] xstable commented on #187
I'm not sure if this Project is still alive. A pitty, that since a long time there is no progress on it.
Would be great if the maintainer would add some developers (someone who still send pull-requests) to the project.
I still use flameshot and like it, but I've also started to test & use  `[ksnip](https://github.com/ksnip/ksnip)` as alternate Snapshot-Tool.

I would prefer to use flameshot, but i

[2020-05-14 18:15] romber commented on #535
Same issue in Kubuntu 14.04:

**flameshot version**
`v0.6.0 flameshot_0.6.0_x86_64.AppImage`

**libqt5svg5 version**
`libqt5svg5:amd64 5.2.1-1`

[2020-05-14 18:17] 3xploiton3 commented on #745
![image](https://user-images.githubusercontent.com/19517680/81970469-cc255880-9649-11ea-87b6-90b48978a36a.png)

[2020-05-14 18:46] PrestanceDesign commented on #710
Same for me since multiple years on multiple differents versions Ubuntu version and lot of others users as you can see on this Gpaste issue: https://github.com/Keruspe/GPaste/issues/262

[2020-05-15 03:15] ElijahLynn commented on #745
What is output of:
[code]

[2020-05-15 06:03] anuragjk commented on #717
I'm also have the same issue as @DouglasLapsley
I figured if you double-click system tray icon "Take Graphical Screenshot" app will get launched.
---
Ubuntu 18.04
intstalled with command: `sudo apt install flameshot`

[2020-05-15 06:06] DouglasLapsley commented on #717
Just tried that.  Thank you yes, that works!  Very handy to know.

[2020-05-15 10:01] rinfiyks commented on #446
Same here, `flameshot gui` just exits after a second.

[2020-05-15 15:34] gregretkowski commented on #667
Verified on my system. Ubuntu 18.04.4 running the flameshot 0.6.0 xenial .deb.
If the last tool I use is the text tool to add some text, and then save --- clicking on the tray icon to create the screenshot does not work. nor does right-click 'take screenshot'. However selecting any other tool before saving allows the next screenshot to be taken. And selecting the text tool, not entering any text,

[2020-05-15 22:19] renankaic opened #747 "Flameshot just starts if run with "sudo" in Linux Mint"
**Flameshot version**
Flameshot 0.5.1-1(Debian)
Compiled with QT 5.9.4

**Describe the bug**
Flameshot simply doesn't open in Linux Mint 19.3 after installing using "sudo apt install flameshot". I can only start if I open the "Terminal" and run "sudo flameshot". But I need to keep the terminal open. Otherwise, flameshot closes.

**To Reproduce**
Simply install Linux Mint 19.3 and run "sudo apt ins

[2020-05-16 01:19] bksubhuti commented on #327
I had to Google to find out how to increase the font.  Not good although this is the most awesome screen taker app!!!  How about a mouse selector tool that can select the text and stretch it?  This is the  obvious method that I looked for.

[2020-05-16 11:32] duvh93 opened #748 "Bad behavior on wayland with fractional scaling"
**Flameshot version**
Flameshot v0.6.0
Compiled with Qt 5.14.1

**Describe the bug**
I take a screenshot from terminal with "flameshot gui" and the resulting file is a zoomed blurred version of what I actually see on my screen.

**To Reproduce**
Use an HiDPI screen, set wayland to fractional scaling value (e.g. 125%), use qt5-wayland and export the env var QT_QPA_PLATFORM=wayland, take a screensho

[2020-05-17 12:55] Maralai commented on #202
It would be nice if the app could recognize a stylus eraser button press with any erase feature.

[2020-05-18 10:38] MrSunshyne commented on #635
@cvincent I can confirm, I had the issue in GNOME.

[2020-05-18 11:49] neural-oD commented on #719
Same issue here. Love flameshot btw - this I think might be a bug, or if it isn't it should be implemented asap.
Thanks to all the contributors working on this!!!

[2020-05-19 04:14] marinho8bit opened #749 "please, flameshot's flatpak"
please, flameshot's flatpak
if possible, published on flathub.org

[2020-05-20 01:27] flying-sausages opened #750 "Custom uploaders"
It would be nice to get custom uploader options to replace imgur. ShareX on Windows does this quite well, and I think that it would be quite nice to support the same configuration specifications (within reason of course), as this would allow users to use all of the already existing available endpoints for this feature.

[2020-05-20 03:45] flying-sausages commented on #750
https://github.com/ShareX/ShareX/blob/master/ShareX.UploadersLib/FileUploaders/CustomFileUploader.cs This is the class for custom uploaders, and here's a ton of documentation on how they work https://getsharex.com/docs/custom-uploader

[2020-05-20 07:50] thepisu commented on #719
The Text feature has been included in release 0.6.0, that you can download here:
https://github.com/lupoDharkael/flameshot/releases

@lupoDharkael : I think that this issue can be closed as resolved.

[2020-05-20 08:03] thepisu opened #751 "Save to configured folder with counter in filename"
Main feature request: adding an automatic counter in the filename, like Shutter does.

For example, with this naming: **screenshot_%NNN**
It generate sequence filenames like: screenshot_001.png, screenshot_002.png, and so on.

The counter is calculated from current files in save folder, for this reason I have opened a single issue for "save to configured folder" and "counter in filename", because

[2020-05-21 12:09] tkumark commented on #719
Thanks this is great! @lupoDharkael @thepisu  could some thing be done so that the latest be installed when people run apt install?

[2020-05-21 16:03] dylskiMarcin commented on #729
For some reason std::locale::global(std::locale("")) is failing on KDE.
Putting it in try and catching runtime_error will make it use default c locale.
This would fix this issue, but I didn't found in codebase other method of handling errors then popup windows. It would be at lest inconvenient to close window that says "Blah blah - switching to default locale" every time when you try to save scree

[2020-05-21 16:32] dylskiMarcin commented on #729
@tomatic @samiurprapon
Solution that not require building application by yourself would be to uncheck "Detailed Settings" in System Settings->Regional Settings->Formats
[Formats setting screenshot](https://i.imgur.com/K6aGPm9.png)

[2020-05-22 14:23] rmakinn commented on #726
One hacky solution I tried is with an external tool to emulate input devices - you would trigger it with a custom keyboard shortcut in your window manager/desktop environment.

I have this for general purpose use anyway. But with `flameshot` there is an irritating issue - it doesn't seem to pass keyboard input back to `flameshot` properly, so your keyboard shortcuts such as Esc or Return won't wor

[2020-05-22 17:26] MyriaCore commented on #425
In the meantime, do we plan on doing anything with the annotation buttons that pop up? In the gif, the whole UI just kinda disappears as soon as the user selects it. I think it'd be cool if we offer some mechanism for shell scripts to incorporate this into their interaction somehow, including maybe an option to keep the selection rectangle until the user commits to it (as per normal flameshot beha

[2020-05-22 18:13] MyriaCore commented on #425
@FatBoyXPC I've just cloned your fork and I'm trying to figure out how it works. On my end, instead of printing the selection, flameshot just hangs after I press <kbd>Enter</kbd>:

![demo](https://user-images.githubusercontent.com/35076430/82696991-25871c00-9c36-11ea-9e58-657ea2ba90bb.gif)

[2020-05-23 02:16] rajeshisnepali commented on #726
Thanks, @rmakinn I really appreciate your comment.
But for me, it seemed a long  & quite tricky process.

I'm in  "Mutter" WM (20.04) and changing WM feels like a quite tricky (I don't know much about i3 & I haven't done it before)

If @lupoDharkael had implemented the same thing compiled to the app, that would have been great.

[2020-05-23 10:03] HW71 commented on #610
According to PR #732 the currently used sharing provider "transfer.sh" is not working anymore, and because of this all the download links won't work - even if the used build is "green" and a recent one. :-(

[2020-05-24 00:40] FatBoyXPC commented on #425
What branch are you using on my fork?

[2020-05-24 06:09] violetu opened #752 "It would be nice to add rectangle selection option in command line"
**Is your feature request related to a problem?**
No

It would be nice to add rectangle selection option  in command line, so that I can use it in backgroud mode to select rectangle area to help me in some useful aspect, such as a shell script using flameshot and tesseract to recognize what I select.

[2020-05-24 08:18] pixelgrid commented on #122
[o](url)

[2020-05-25 23:11] MyriaCore commented on #425
`add-gui-selection-option`, right?

[2020-05-25 23:27] FatBoyXPC commented on #425
Are you on that branch or have you merged master into that branch locally?

[2020-05-26 11:41] od2017 commented on #586
It worked for me fine!!!
Cool ;-) I love flameshot since i'd used it on ubuntu and now on mac!!

[2020-05-27 06:16] wifiuk commented on #735
anty thoughts on what can be done to resolve this, maybe it's a dodgy setting somewhere?

[2020-05-27 22:07] wifiuk commented on #735
solved this one: Issue related to screen scaling. Was set to 1.3. Changed it down to 1.0 and forced the DPI to be higher, resolved this issue.

[2020-05-27 22:07] #735 closed

[2020-05-28 09:23] realmayus commented on #586
@brendaw Nice work! Do you maybe want to create a PR so that we can have this in the mainstream repository?

[2020-05-28 11:13] mystiquewolf opened #753 "Is Canonical Launchpad monitored for errors?"
**Flameshot version**

0.6.0+git20191001-2(Debian)
**Describe the bug**

I frequently receive flameshot crashes after login/start of Ubuntu. These are sent to launchpad, and twice i have filed error reports via Apport.
**System Information**

Ubuntu 20.04 Focal Fossa

[2020-05-28 14:08] tiotrom commented on #750
What about using https://put.re/ ?

[2020-05-29 08:08] pavel-the-best opened #754 "Unbundle qtsingleapplication"
QtSingleApplication is now included in the Qt 5 standard.
There is no more need in bundled singleapplication.

[2020-05-29 08:19] pavel-the-best opened #756 "Flameshot fails to build with qt 5.15.0"
**Flameshot version**
0.6.0

**Describe the bug**
When building flameshot:
[code]

**To Reproduce**
Install Qt 5.15.0
Try building flameshot

**Expected behavior**
Flameshot builds successfully

**System Information**
Linux-5.6.14-gentoo-gf090c5b-dirty-x86_64-AMD_Ryzen_9_3950X_16-Core_Processor-with-gentoo-2.7

Originally reported by @jonasstein in https://bugs.gentoo.org/725930

[2020-05-29 13:10] samiurprapon commented on #729
@dylskiMarcin Thanks buddy, it's now working smooth.

[2020-05-29 13:10] #729 closed

[2020-05-30 16:09] AlexP11223 commented on #753
Sadly, even this repo is not monitored much (or at all) anymore :(
There lots of unmerged PRs, etc.

[2020-05-30 18:30] lawipac commented on #417
+1 for this function.

[2020-05-30 19:14] provomeister opened #759 "Can't bind keyboard shortcut with sxhkd"
**Flameshot version**
Flameshot v0.6.0-70-g91ba28c
Compiled with Qt 5.14.2

from [https://aur.archlinux.org/packages/flameshot-git/](https://aur.archlinux.org/packages/flameshot-git/)

**Describe the bug**
I can launch the program by one of the three lines below, but it's impossible to launch it from my configuration file for sxhkd.

I tried to configure other programs on the Print key and I had n

[2020-06-01 06:58] iamthevoid opened #760 "Strange visual artefact when back pressed"
**Flameshot version**
Flameshot v0.6.0
Compiled with Qt 5.14.1

**Describe the bug**
First of all - Flameshot is really good, lightweight screenshooter :) But I've met a bug with drawing cancellation. Reproduces in 100% cases on my system (Manjaro KDE). When something drawed above screenshot and i try to cancel it i get strange visual artefact and action haven't cancel properly. I recorded video b

[2020-06-01 10:12] AlaaSaadAbdo commented on #586
@brendaw I just tried this but the build failed for me. here's the command output:
[code]
Cheers! and thanks :)

[2020-06-02 13:43] brendaw commented on #586
@realmayus yes, I'll do this. Before create the PR, I just need to validate if Travis will generate the package correctly for macOS. Probably in this week I'll check this in my fork and then create the PR.

@AlaaSaadAbdo please, show more logs for debug.

[2020-06-03 08:51] nst0022 commented on #720
The syntax is:

`userColors=#800000, #ff0000, #ffff00, #00ff00, #008000, #00ffff, #0000ff, #ff00ff, #800080`

= default colors = darkRed, red, yellow, green,    darkGreen, cyan, blue, magenta, darkMagenta

[2020-06-03 13:48] AlaaSaadAbdo commented on #586
@brendaw I would love to add more. What else do you need?

[2020-06-03 15:07] CiderAndWhisky commented on #700
The same happens to me, too.

Output is:
`QPainter::begin: Paint device returned engine == 0, type: 2
QPainter::setRenderHint: Painter must be active to set rendering hints
QPainter::setCompositionMode: Painter not active
QPainter::translate: Painter not active
QPainter::setPen: Painter not active
QPainter::setBrush: Painter not active
QPainter::setBrush: Painter not active
`

[2020-06-03 18:04] JohnPucciarelli commented on #741
I would make a similar commitment. Would love to see screencast support added.

[2020-06-04 00:32] describe19 commented on #178
@guihkx I'm trying your method and it only seems to work if I launch flameshot from the commandline by simply typing 'flameshot', where it outputs logs to the terminal window. If I launch it with 'flameshot gui' or via the application shortcut in  my desktop environment (gnome) nothing seems to happen when I click on the 0x0.st screenshot uploader application. The bash script obviously works but w

[2020-06-04 00:37] describe19 commented on #694
Yes, I was about to post an issue about this behaviour, I think this issue title should be renamed:
"Close after capture" closes flameshot before "choose another app to open the capture" and "upload the selection to imgur" complete.

[2020-06-04 04:45] F-Unction opened #761 "more keyboard shortcuts & edit pictures"
please support more keyboard shotcuts
for example, pin the picture

and, how to edit a picture which is already pinned

[2020-06-05 01:03] mailsjb opened #763 "Let me run FlameShot with the Hot key."
I'm using Flameshot too well. Thank you very much. However, there is one function that is absolutely necessary. It needs a Hot Key to run Flameshot. It is inconvenient to click the Flameshot icon on the taskbar with your mouse every time. And sometimes you need screenshots right from the pop-up screen, but they disappear the moment you go to press the FlameShot icon. Please make one Hot Key settin

[2020-06-05 02:17] ChromeQ opened #764 "Tool to allow adding emojis to the capture"
It would be cool to have a new tool which expands a selection of emojis, and upon clicking it will allow you to click/drag on your capture to put the emoji on the overlay.
Is this something that can be done?

[2020-06-05 14:10] CiderAndWhisky commented on #551
The same happens to me (Ubuntu 2020.04, pretty new installation). Anyone found a solution for this?

[2020-06-05 17:59] SergeyKons commented on #668
Same problem on Fedora 31
[code]

[2020-06-06 00:55] ZetaoYang commented on #668
Here's a compromise solution.
You can make all your QT apps use XWayland:
export QT_QPA_PLATFORM=xcb
Add this to /etc/profile file, then restart.

[2020-06-06 12:09] ryanerwin commented on #763
Your desktop environment should be able to take care of this.

In KDE Plasma you can edit the "Global Shortcuts"
In Gnome you can go to Settings >> Keyboard Shortcuts
If you're using another desktop, the https://wiki.archlinux.org/ probably has tips on how to configure shortcut keys.

Then setup different to work with Print Screen (probably just `flameshot gui`) or the shortcut key of your choice.

[2020-06-06 12:20] ryanerwin commented on #760
FYI, on Ubuntu 20.04 running Gnome I was **unable** to duplicate that.

[code]

![flameshot-artifact](https://user-images.githubusercontent.com/2156415/83943990-844db780-a82a-11ea-9020-1d2411851bfd.gif)

[2020-06-06 12:21] ryanerwin commented on #750
Custom uploaders would be awesome... I would love to easily be able to upload to NextCloud...

[2020-06-06 12:25] tiotrom commented on #750
Or use any instance of Lufi https://www.trade-free.org/directory/tag/lufi-instance/

[2020-06-07 12:10] andersfylling commented on #265
Did you read the comment right above yours? @styfrombrest

[2020-06-07 12:15] heldchen commented on #265
no workarounds mentioned in this issue work unfortunately if you have a mixed configuration (f.e. HiDPI notebook display + external full hd monitor).

[2020-06-07 12:15] andersfylling opened #765 "Option to decrease picture information"
My scenario:
Take a screenshot, blur it and use it for my lockscreen.

I wonder if decreasing the picture information by skipping pixels before taking a printscreen could speed up the performance. Example if I give a psuedo argument "flameshot screen -n 0 -scale x0.5" would it be possible to re-use the same pixel for every second pixel?

Since it's already in the cache I assume that would be a pla

[2020-06-07 12:21] koutsenko commented on #635
Same issue here, Ubuntu 20, KDE.

[2020-06-07 21:06] avindra commented on #657
This is probably a duplicate of #635

[2020-06-07 21:26] avindra commented on #723
Likely a duplicate of #635

[2020-06-07 21:27] avindra commented on #551
Check out issue #635 which is probably related. I'm not using KDE at all, which may be my problem in openSUSE Tumbleweed.

[2020-06-08 07:54] meven opened #766 "Fix upcoming compatiblity issue with Plasma 5.20"
Kwin screenshot effect with https://phabricator.kde.org/D29407 will require to add `X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot
` to its .desktop file to stay compatible with Plasma 5.20
In turn it will allow to take screenshot without confirmation click (i.e flameshot will be able to take immediate screenshot like spectacle https://phabricator.kde.org/D29408)
In https://github.com/lu

[2020-06-08 10:08] pollekepol opened #767 "Translation"
There are several translations available for FlameShot , how to setup in your own language?

[2020-06-08 11:12] Syndamia commented on #168
For me, fixing my default locale fixed this issue.

Following [this AskUbuntu post](https://askubuntu.com/questions/599808/cannot-set-lc-ctype-to-default-locale-no-such-file-or-directory) i ran in terminal `export LC_ALL="en_US.UTF-8"`.

**Note: I run Ubuntu 20.04, I am not sure if this fix will work on Ubuntu 16.04**

[2020-06-08 11:35] aplab opened #768 "Need print button"
How to send a screenshot directly to the printer?
Need button 🖶 Print
It would be cool to add a print button to the toolbar.
When you press the "print" button, the image is saved in tmp and the standard print dialog opens.

[2020-06-08 11:38] CiderAndWhisky commented on #551
https://github.com/lupoDharkael/flameshot/issues/635#issuecomment-625276332 solved my problem. Thanks!

[2020-06-08 22:55] avindra commented on #635
@lupoDharkael Is there any chance you can cut a new release?

The new config option that reportedly fixes this issue is only on `master`, so distributions like openSUSE and Fedora are lagging behind as they are only using the latest tagged release.

[2020-06-09 09:48] ztNFny opened #769 "Add counter tool (Feature Request)"
Add a tool to quickly insert an incrementing counter. This is very useful when trying to communicate someone the order of steps.

Inspired by Greenshot.

[2020-06-09 11:53] styfrombrest commented on #265
@andersfylling yes of course, but it doesn't work for me(HiDPI monitor + full hd laptop) that's why I asked. Really liked this app, but looks like I need to find another that will work on my configuration.

[2020-06-09 21:52] MarcoIeni commented on #22
You can customize colors in your ini file. For example, add the following line:
[code]

Anyway I agree that black and white should be there by default.

[2020-06-11 11:01] #661 closed

[2020-06-11 15:16] borgmanJeremy commented on #769
I've added this on my fork. I can get a PR to mainline it if this is still an active project
https://github.com/borgmanJeremy/flameshot

[2020-06-11 17:28] ztNFny commented on #769
@borgmanJeremy please create a PR I'd say.
Are there Windows builds of your fork?

[2020-06-11 19:54] borgmanJeremy commented on #769
Ok, having issues building on the latest release of QT so I'll get that cleaned up and submitted in a PR. I only build on linux so I am not sure. If the mainline builds on windows none of these changes should break it. I can boot to a windows VM if you aren't set up to test it.

[2020-06-11 20:56] borgmanJeremy commented on #769
Ok, looks like it builds on the windows appveyor. Check it out and let me know what you think. #770

[2020-06-11 20:57] borgmanJeremy commented on #187
Check out #769 and provide feedback. I added this feature to my local fork a while back.

[2020-06-11 20:58] pbulteel commented on #769
Shutter could do this as well. A circle with a number inside. How's does this look in your build? Their implementation worked but wasn't customizable (it always started at 1 and the shape was always a circle.)

[2020-06-11 21:03] borgmanJeremy commented on #769
That's how mine works as well, always starts at 1 and is in a circle. It wouldn't be hard to add more shapes if that was desired.

I'd like to ultimately let you choose a starting number but didn't have a good way to integrate that into the existing UI.
![image](https://user-images.githubusercontent.com/46930769/84439024-1a078f00-abfd-11ea-91d0-d7754e4d1f95.png)

[2020-06-11 21:11] pbulteel commented on #769
[Feature request] - Easter egg... make it use random numbers on April 1st. (April fools!) Disable it with --no-april-fools.

Kidding! That looks good. I assume the colour is tweakable like with other parts.

[2020-06-11 21:13] ztNFny commented on #769
Imho starting at 1 is ok. For my uses i gardly ever go >10 and if i dont want to start at 1 i can just delete those lower numbers, right?

[2020-06-11 21:26] pbulteel commented on #769
The only reason for not starting at 1 is that you've already have an image with the 1. I've had to add numbers to my screenshots (when they were taken with shutter) and the only way I could do it was by putting the 1, 2, etc over the existing bubbles/numbers. Not a big deal.

[2020-06-12 00:58] borgmanJeremy commented on #769
Yeah the background color is tweakable through the main color wheel.

Actually the main UI doesn't support deleting or moving elements once they are placed. This might be a good separate global feature to add.

[2020-06-12 01:02] borgmanJeremy opened #771 "More Approved Maintainers"
@lupoDharkael Have you considered allowing more people to merge pull requests? It seems like this project has started to get a bit stale but has a bunch of interest and active people doing PR's. I would hate to see a tool that people love so much get stale or fragmented across forks.

Thanks for the great work so far!

[2020-06-12 06:29] xstable commented on #187
Can you send an PR to this repo. I would love to see it in the main release

[2020-06-12 10:52] ztNFny commented on #769
Could you share the https://transfer.sh/ link please? Won't be back at my Windows Dev machine until next week.

I thought it was possible in the sidebar but that undoes all the steps, not just single steps, my mistake. But it should be possible to just put 2 right on top of 1, thereby making it seem to start at 2, that'd good enough imho.

[2020-06-12 15:17] borgmanJeremy commented on #187
Yeah there is a PR #770 .

You can just clone the repo and build in qt creator.

[2020-06-12 15:24] borgmanJeremy commented on #769
Im not sure how to pull the transfer.sh link from the appveyor log: https://ci.appveyor.com/project/lupoDharkael/flameshot/builds/33470260/job/5eusv72qjuiwecrs

[2020-06-12 15:30] ztNFny commented on #769
@borgmanJeremy  it should be right there at the bottom, line 600, but it seems something went wrong

[2020-06-12 17:54] abrahaobittar commented on #635
I've facing the same problem with fedora 31/32. What i discover is: when i use x11 the image goes to clipboard, works fine. When i use wayland i face the same issue, the image dont' copy to clipbord (ive tested on webbrowser, gimp and libre writer).

[2020-06-12 18:16] DozyDolphin opened #772 "Possibility for monochrome icon in the system tray"
I have attached a "flameshot" of settings in the NextCloud client.
![billede](https://user-images.githubusercontent.com/5829129/84533865-413b8a80-ace9-11ea-8877-f0ad00d6ddba.png)

It would be very nice to have this possibility, since as of now the flameshot icon is the only thing of color in my System tray
![billede](https://user-images.githubusercontent.com/5829129/84534018-7d6eeb00-ace9-11ea-99b

[2020-06-12 19:31] Phalelashvili commented on #297
for anyone still interested in such feature. you can check [my fork](https://github.com/Phalelashvili/flameshot). it's simply modified version of imgur tool.

[2020-06-13 13:39] ztNFny commented on #769
Build with just number circles (by borgmanJeremy):
https://transfer.sh/12X4z8/flameshot_0.6.0_win_x86.zip
https://transfer.sh/fjhEU/flameshot_0.6.0_win_X64.zip

Build with number circles and also all the changes from DrunkenPoney/flameshot merged:
https://transfer.sh/SY4KW/flameshot_0.6.0_win_X64.zip
https://transfer.sh/if7d1/flameshot_0.6.0_win_x86.zip

[2020-06-13 23:06] karthikiyengar opened #773 "Keyboard shortcuts do not work"
**Flameshot version**
Flameshot 0.6.0+git20191001-2(Debian)

**Describe the bug**
None of the flameshot shortcut bindings seem to work under XMonad. However, switching to other DE/WMs works.

**To Reproduce**
Execute `flameshot gui` under xmonad

**Expected behavior**
The shortcuts should work. Please see referenced issue for additional details. The shortcuts seem to work with the AppImage.

**Sys

[2020-06-14 07:38] Gim6626 commented on #604
Standard screenshoter in KDE have option to show cursor on screenshot and KDE is based on Qt.

[2020-06-15 06:28] riadhtaihi commented on #200
Hi, I am using the Snap version of Flameshot, could you please help me find the right command to add  in Keyboards settings?

Thanks!

[2020-06-15 09:15] karolbe commented on #760
Same happens for me - OpenSUSE TW - latest packages.

[2020-06-15 09:20] karolbe commented on #564
@Mart-Bogdan Hi Bogdan, can you please confirm if your fix for fractional scaling was indeed incorporated into the main flameshot branch? Occasionally I get flameshot updates from OpenSUSE and it is breaking it, so clearly at least SUSE does not have that patch.

[2020-06-15 11:59] Mart-Bogdan commented on #564
Hello, no it wasn't. there were someone who took my changes into their fork.

Likely this form merged it https://github.com/hosiet/flameshot

But I've found that my patch don't work well with dual monitor set-up.
And I won't have time to take a look in the coming weeks.

[2020-06-15 12:04] karolbe commented on #564
I have dual monitors (although with the same 4k resolution with fractional scaling) and it works perfectly. OK, I will just keep using your build. Thanks for your work!

[2020-06-15 12:38] mrnagydavid commented on #719
I cloned the repo and built the app from source. Still no text editing option. Not even in `flameshot config`.

I just downloaded 0.6.0 from `https://github.com/lupoDharkael/flameshot/releases` and I still don't have the text editing option.

[code]

On Ubuntu 18.04.

Any idea?

[2020-06-15 13:04] piotrek-k commented on #1
Hi, the issue is closed but problem still persists. I'm running flameshot v0.6.0 on Manjaro with i3 desktop environment. After taking screenshot, Flameshot freezes for some time, then silently crashes. Kinda frustrating, you cannot take more screenshots during freeze. Installing `dunst` helped. I propose checking if notification deamon is present before startup.

[2020-06-15 13:51] neural-oD commented on #719
@mrnagydavid - have a look at my post above, just follow the steps. You have to enable it in the config....

[2020-06-15 14:02] Mart-Bogdan commented on #564
If they are at different horizontal level tool buttons are aligned wierdly.

On Mon, Jun 15, 2020, 15:04 Karol Bryd <notifications@github.com> wrote:

[2020-06-15 18:03] tecosaur opened #774 "Hide region via pixelation"
**Is your feature request related to a problem?**
Often screenshots can contain sensitive content. The current blur tool is insufficient for hiding said information. Increasing the blur helps, and is suggested in #127 as is another approach — pixelating/mosaicing.

Performing a quick search on the two approaches I find [this](https://www.researchgate.net/publication/305423573_On_the_Ineffectivenes

[2020-06-15 18:42] hyuma78 commented on #200
This worked perfect for me. Is it possible to skip the step where it asks "Select area with the mouse or press exit... " and have immediately the window with the area selected?

[2020-06-15 19:34] LinuxOnTheDesktop commented on #200
People who have contributed to this thread may want to head over to [the Cinnamon bug report](https://github.com/linuxmint/cinnamon/issues/7124) that I mentioned above and give that issue a '+1'.

[2020-06-15 22:44] c29r3 commented on #760
### Flameshot version
Flameshot v0.6.0
Compiled with Qt 5.14.1

### System Information
Manjaro 20.0.3 Lysia
Kernel: x86_64 Linux 5.6.15-1-MANJARO
DE: KDE 5.70.0 / Plasma 5.18.5
WM: KWin

Got same bug
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/52304443/84712857-570fb080-af72-11ea-985a-2fec56d343ae.gif)

[2020-06-16 11:36] j0n4t commented on #389
For me using arch, .xinitrc and openbox worked, just needed to install and start dunst.

[2020-06-16 18:49] manos-mark commented on #446
A possible workaround for this issue
 `qt.qpa.wayland: Wayland does not support QWindow::requestActivate() `
 Execute the python script using xcb platform
For example:
`python test.py -platform xcb`

[2020-06-16 18:49] manos-mark commented on #619
A possible workaround for this issue
 `qt.qpa.wayland: Wayland does not support QWindow::requestActivate() `
 Execute the python script using xcb platform
For example:
`python test.py -platform xcb`

[2020-06-17 07:05] patbel-pwr commented on #619
@manos-mark thnk you for reply!
Is this workaround for devs or users? As a user I don't see how I could implement this...

[2020-06-17 10:29] kevinyuan opened #775 "flameshot not work on CentOS 8"
**Flameshot version**

~ > flameshot --version
Flameshot v0.6.0
Compiled with Qt 5.11.1

**Describe the bug**

1. Start from application menu:  No thing show up
2. Start from terminal:
~ > flameshot
Qt: Session management error: Could not open network socket

**System Information**
~ > uname -a
Linux acx-sha 4.18.0-147.8.1.el8_1.x86_64 #1 SMP Thu Apr 9 13:49:54 UTC 2020 x86_64 x86_64 x86_64 GNU/Li

[2020-06-17 10:47] manos-mark commented on #619
Sorry i should mention that, it is for developers.

[2020-06-17 12:12] mrnagydavid commented on #719
Thank you!

As I said, I couldn't find the it in config panel either. I should have taken a screenshot... Anyway, it is fixed now. I'll take the blame on this one.

[2020-06-17 17:49] EmpariCursos commented on #322
the link has expired, does anyone have it updated for windows 10?

o link expirou, alguém tem ele atualizado para windows 10?

[2020-06-18 08:05] zecevic-matej commented on #586
@od2017 script, just as for @AlaaSaadAbdo, does not work for me.

I actually encounter some `qmake` related errors seemingly.

I'm using a fresh install of Mac OS 10.15.4, therefore, some dependencies are possibly missing.

Here is the log:
[code]

[2020-06-18 19:27] MyriaCore commented on #425
So sorry for the slow response @FatBoyXPC. No, I was just on that branch.

[2020-06-19 10:48] unihon opened #776 "Pin and hide"
Pin pic in all virtual window and activity.
Hide all pic by shorcuts.

[2020-06-19 11:22] reubenfirmin commented on #584
Please add configuration to the config dialog.

a) I don't have a mousewheel so can't change it on the fly
b) Pressing space for the sidebar doesn't seem to have a size adjustor, doesn't let you preview the font, is awkward to navigate with a large number of system fonts

[2020-06-20 03:13] titoesteves opened #777 "Delete image from imgur"
**Flameshot version**
0.6.0

**Describe the bug**
After uploading image to imgur, unable to delete the image. How can I delete the image from imgur?

**To Reproduce**
Screenshot > upload to imgur

**Expected behavior**
Option to delete image from imgur

**System Information**
Ubuntu 18.04.4 LTS

[2020-06-21 07:42] danielrosehilljlm opened #778 "Text annotations are not saving"
**Flameshot version**

Installed it through the repos. Running Ubuntu 20.04. Not sure how to check the current version.

**Describe the bug**

When I add text, the text does not save with the other layers added to the screenshot.

Screencast demonstration:

https://www.youtube.com/watch?v=e96rp1MrS2s

**To Reproduce**

1. Take screenshot.

2. Add text.

3. Text does not render. I experienced this

[2020-06-21 13:14] harkairt commented on #322
https://github.com/lupoDharkael/flameshot/issues/29#issuecomment-581130848

[2020-06-22 01:18] borgmanJeremy commented on #774
Interesting, I really like this idea and will play with adding this on my fork and get a PR once its done.

We can pick a good default pixel size, but I suspect people will need to adjust it based on the information needing to be censored. IE 100pt font will need a larger pixel size than 10pt font. I'm not sure yet the best way to integrate that option into the UI.

[2020-06-22 06:48] tecosaur commented on #774
Glad to see there's interest :smiley:

@borgmanJeremy I imagine that one could just use a user-variable size as with line thinkness, text size etc.

[2020-06-22 11:36] Ri0n commented on #756
I had same problem with my Qt applications. Just adding the missing header is enough.

[2020-06-22 16:48] borgmanJeremy commented on #774
@tecosaur Yeah I think the best way to integrate it is with the scroll wheel.

Do you have any objections to replacing the current blur tool with the pixelate tool?

[2020-06-22 16:56] ikbelkirasan commented on #507
@danielrosehilljlm Try calling it from the terminal:

[code]

[2020-06-23 15:12] FatBoyXPC commented on #425
Hmm. What OS are you on? @jfly also uses this but we're both on very similar setups using arch linux and most of our installed packages are similar. I have a feeling this is a system/configuration thing.

I forget what the default action for the enter key is, but what if you try hitting ctrl c to copy the image to clipboard?

[2020-06-23 18:24] GasparVardanyan commented on #389
... I already don't use flameshot ))

[2020-06-23 19:34] borgmanJeremy commented on #774
Something like this?
![pixelate](https://user-images.githubusercontent.com/46930769/85450640-96d02c80-b55e-11ea-9d8a-25107ec7c718.gif)

[2020-06-24 05:13] raxetul commented on #82
Same issue in Gnome, irrelevant to mouse cursor theme. Icons/cursors are in the user home folder. I will open a new issue if it is needed.

[2020-06-24 22:10] nkhi commented on #74
Was this ever sorted out? Just export the hash into a config file somewhere so this is at least manually possible

[2020-06-26 19:32] pglira commented on #417
+1!

[2020-06-27 21:16] 3rikk commented on #1
I still have the same issue on manjaro with KDE. Using dunst fixes it, but i prefer the default KDE notifications.

[2020-06-28 03:20] MyriaCore commented on #425
I'm running manjaro. I'll fool around with that keybind a bit more tommorow.

[2020-06-29 21:57] parkerlreed commented on #777
This has been a thing since May of 2018...

https://github.com/lupoDharkael/flameshot/pull/210

![image](https://user-images.githubusercontent.com/841440/86060072-0435fe80-ba32-11ea-9fdf-9cb00f080ed1.png)

[2020-06-30 02:48] titoesteves commented on #777
Does that mean it will not be fixed?

[2020-06-30 07:02] decryp2kanon commented on #5
i love this suggest! :+1:

[2020-06-30 09:09] unihon commented on #776
Pin pic in all virtual window and activity:
KDE can set applications special setting.

[2020-06-30 16:22] MyriaCore commented on #425
Just tried <kbd>Ctrl-C</kbd>, and that still didn't make it print. I'm currently using GDB to figure out why this is happening, I'll keep you posted if I figure anything out.

[2020-06-30 17:51] ShawnSquire commented on #773
I've experienced similar issues for some time. Changing `focusFollowsMouse` on or off does not seem to have an impact. The lack of keyboard support extends to not working for the keyboard commands for the app (Esc to exit or Spacebar to open panel) or even entering text. The latest AppImage seems to work, although icons are missing on the toolbar so it is not a sufficient replacement.

[2020-06-30 22:29] socketbox commented on #720
@nst0022 I'm sorry, I must be dense, but putting that exact line in my `~/.config/Dharkael/flameshot.ini` file prevents the app from opening.

That is, if I add `userColors` as you've typed...
[code]
and then run `/usr/bin/flameshot gui -p /home/socketbox/Desktop/Screenshots/` no GUI is displayed. When I remove the `userColors` line, the application presents a UI.

[2020-07-01 04:57] denven opened #782 "Separate text thickness with painting tools thickness"
**Is your feature request related to a problem?**
Yes. The problem is: Once adjust the Text tool's active thickness, pait tools thickness changes as well.

**Details below:**

My OS is Ubuntu 20.04 LTS with Flameshot 0.6.0+git20191001-2(Debian)

**Current situation:**
I can adjust the text font size using the slider in side panel by changing "active thickness", but this thickness value is universa

[2020-07-01 06:16] nst0022 commented on #720
It works here with
[code]

[2020-07-02 08:48] mmahmoudian commented on #771
I second this. It would be a shame if such an amazing FOSS project gets abandoned. This is among the tools always have on all my computers (typically installed right after my terminal app).

[2020-07-02 10:21] Rmano commented on #771
Although I really like flameshot, I lately switched to [ksnip](https://github.com/ksnip/ksnip) due to this problem. Flameshot is still better at some things, so I still use it (for example, ksnip is somewhat broken for delayed full screen captures --- sometimes it blocks the pop-ups; on the other hand, editing is much stronger), and in my opinion, it has a nicer look. So yes, I second the petition

[2020-07-02 17:31] david-bla opened #783 "piknik integration | custom actions"
Hi guys,

thank you for providing and developing flameshot :+1: great tool.
I am using it quite regulary and would like to have the ability to use it with [piknik](https://github.com/jedisct1/piknik).

I was just skipping over some of the files but was not able to find the part where imgbur upload is handled, maybe I find some free time and raise a MR myselfe.

Could it be also an option to implem

[2020-07-02 18:41] gdsouza1 commented on #90
Had the same issue on ArchLinux 5.7.6-zen  running bspwm and X, it only works after running
`flameshot &`, then the other commands work, like `flameshot gui`, added it to bspwmrc to start with the WM and all works fine.

[2020-07-03 03:29] amosbird opened #784 "Window focus gets lost after flameshot exits"
**Flameshot version**
Flameshot v0.6.0

Compiled with Qt 5.14.1

**Describe the bug**
Window focus gets lost after flameshot exits.

**To Reproduce**
In bspwm, open any tiled window, invoke flameshot, press esc, the tiled window doesn't get the focus back.

**Expected behavior**
The tiled window regains focus.

**System Information**
Archlinux, bspwm

[2020-07-03 07:13] Seybo opened #785 "Text tool missing"
**Flameshot version**
[code]

**Describe the bug**
No text tool

**To Reproduce**
Download and install package `flameshot_0.6.0_bionic_x86_64.deb`

**Expected behavior**
Text tool presence

**System Information**
`Ubuntu 18.04.4 LTS`

[2020-07-03 23:03] thorstaj commented on #687
I think I have a solution...
* Flameshot wouldn't autostart for me either, and it wouldn't  start manually if my computer booted up with the flameshot 'autostart' capability enabled.
* Once I disabled autostart, flameshot would start just fine.
* I added a 5 second delay to autostart, and now flameshot autostarts just fine.
Hopefully this helps track down the issue....
[Linux Mint 19.3 Cinnamon 4.

[2020-07-04 03:23] socketbox commented on #720
@nst0022 Thanks, I was able to compile the commit you mentioned with Qt 5.12.2 and the `userColors` option works.

[2020-07-04 23:33] socketbox commented on #720
I cannot, however, get the compiled application to run with the `gui` argument. When I run it with no arguments whatsoever, an icon appears in the "system tray" and I can then click on that icon and I've got all the functionality (and custom colors) that I could want. But running the application with `gui` produces no output whatsoever; not on the command line, and not within the Qt Creator debugg

[2020-07-05 10:45] tawmoto opened #786 "Clicking the taskbar button shows menu instead of taking screenshot"
Version 0.5.1-1
I am using Xubuntu 18.04 and when I click the taskbar button to take a screenshot, I get a menu instead.
Thanks

![Peek 2020-07-05 13-45](https://user-images.githubusercontent.com/35702340/86530944-d3d4e100-bec5-11ea-881d-eef7209b5aa4.gif)

[2020-07-05 17:42] enricozb commented on #785
Have you tried `flameshot config` and making sure the text tool is selected?

![image](https://user-images.githubusercontent.com/5505315/86538675-328d6100-beac-11ea-8945-a702b182b655.png)

[2020-07-05 19:47] enricozb opened #787 "Change color of buttons and border"
Is there any way to change the color of the buttons and the selection border to something other than purple?

[2020-07-06 20:26] borgmanJeremy commented on #772
What version and Desktop Environment are you using? It is monochrome for me in KDE:
![image](https://user-images.githubusercontent.com/46930769/86638523-0998c900-bf9d-11ea-8454-7bb198e7f553.png)

[2020-07-06 20:51] slondr commented on #170
This bug resurfaced for me today

[2020-07-06 22:08] borgmanJeremy commented on #787
Yes, right click on the icon and hit configuration. Then change the main color to whatever you want.

[2020-07-06 22:10] borgmanJeremy commented on #783
I read through the piknik page. I wonder why it doesn't just work out of the box with piknik? the whole idea with piknik seems to be it handles the network abstraction.

[2020-07-07 00:12] borgmanJeremy commented on #782
The scroll wheel on your mouse will adjust the size really easily.

[2020-07-07 00:56] enricozb commented on #787
Not sure how I missed that. Thanks!

[2020-07-07 00:56] #787 closed

[2020-07-07 16:44] borgmanJeremy commented on #744
I was looking into adding this, but I don't see how to even snap at 0 or 180. Could you describe how you do this?

[2020-07-07 18:12] DozyDolphin commented on #772
KDE Neon - all my other tray icons are black and white, except Flameshot as
you can see in the upper right hand corner of the screenshot below/attached.

[image: billede.png].

Thank you for your time

Den man. 6. jul. 2020 kl. 22.26 skrev borgmanJeremy <
notifications@github.com>:

--
Venlig hilsen

Anders Gade
Bøgevej 3
8382 Hinnerup

tlf. 29938313
mail anderslgade@gmail.com

[2020-07-07 19:38] borgmanJeremy commented on #786
This is resolved in a newer release of flameshot. I don't think the fix is backported to Xubuntu 18.04, but if you build flameshot from source it will work fine (I tested with ubuntu package manager to confirm your issues, then built from source and it works fine)

![Peek 2020-07-07 14-37](https://user-images.githubusercontent.com/46930769/86833731-8ab89480-c05f-11ea-8432-26487158babc.gif)

[2020-07-07 19:41] borgmanJeremy commented on #784
This seems more like an issue with bspwm.

[2020-07-07 19:41] tawmoto commented on #786
thank you very much, i will try it

[2020-07-08 01:10] borgmanJeremy commented on #772
I just tested in KDE neon and if you build the latest version from source the icon is updated.

[2020-07-08 04:47] DozyDolphin commented on #772
Latest version of flameshot?

ons. 8. jul. 2020 03.10 skrev borgmanJeremy <notifications@github.com>:

[2020-07-08 06:58] yildirimsertbas opened #788 "App not working Kubuntu 20.04"
app is not running.
Kubuntu 20.04
KDE Plasma 5.18.5
Kernel: 5.4.0-40-generic

[2020-07-08 12:28] borgmanJeremy commented on #772
Yeah clone the repo and then follow the directions for building on debian. The version in the KDE repository is out of date.

[2020-07-08 13:09] DozyDolphin commented on #772
Yes, didn't event need to build myself - latest release did it. Thank you

ons. 8. jul. 2020 14.28 skrev borgmanJeremy <notifications@github.com>:

[2020-07-08 16:27] elman22 commented on #744
Cool. I was thinking something like this https://docs.substance3d.com/spdoc/files/182266596/182266623/1/1564743514934/straight_line_snap_optim.gif (Shift+Ctrl is snapping every 15°). So when I'm drawing an arrow or line without any key pressed, line is drawn just like now. Then I press for example Shift and line start snapping at 0°, 90°, 180° and 270°.

Main use case for me is that sometimes I co

[2020-07-08 16:51] borgmanJeremy commented on #788
Try building the latest version from this repo.

[2020-07-08 17:25] borgmanJeremy commented on #744
I went to implement this and it looks like its already there. If you hold ctrl while rotating the line it should work:

![Peek 2020-07-08 12-24](https://user-images.githubusercontent.com/46930769/86950653-09700900-c116-11ea-9f5f-5fa3d9c6ffd2.gif)

[2020-07-08 20:45] elman22 commented on #744
Hmm.. it doesn't work for me in Flameshot 0.6.0 (Qt 5.14.1) on Manjaro Linux KDE.

[2020-07-08 22:39] borgmanJeremy commented on #744
Looking through the commit logs it looks like it was merged in after the 0.6 release. You can either build from source or since you are on Manjaro install the git version from the AUR.

https://github.com/lupoDharkael/flameshot/commit/b42f1cf01dd95c355e5fd401cac12fb0117dc25b

[2020-07-08 23:26] duvh93 opened #789 "Active development: is this repo abandoned?"
The last commit dates back of 10 months.
Seeing 350+ open issues and 50+ pull requests, I guess there's no other authorized maintainer other than the author.

Are there good forks under active development out there?

[2020-07-09 00:27] borgmanJeremy commented on #789
I am actively working on my fork of the project mostly just adding features that are asked for here that seem compelling. I really want to get stuff merged back here whenever the author returns.

I would be happy to collaborate with others on a shared repo rather than my personal one. Then we could agree on a shared roadmap / refactor list.  It would be great to commit effort in a common location

[2020-07-09 03:58] Malorn44 commented on #22
adding the above to my ini file breaks flameshot

[2020-07-09 04:09] Malorn44 commented on #720
How would I compile the newer version with qt. It doesn't seem to be able to update as it says the newest version for me is v0.5.xxx in Ubuntu

[2020-07-09 06:58] elman22 commented on #744
Excellent. Thanks for the info.

Interestingly on Pop OS I have version 0.6.0+git20191001-2 a this new feature already works.

[2020-07-09 09:17] szszoke commented on #771
It looks promising but one big thing that is missing - which I really like in Flameshot - is the inline editor. It's a much more seamless experience than a window popping up in my opinion. I very often use Flameshot during meetings just to highlight some parts of my screen while I'm explaining something, Unfortunately I couldn't have the same experience with ksnip.

Anyway. I am still hopeful that

[2020-07-09 10:37] socketbox commented on #720
@Malorn44 I cloned and, immediately prior to building, pulled from the repo. What version of Ubuntu are you running?

[2020-07-10 06:03] Seybo commented on #785
oh, sorry. I was sure i did check it but apparently i missed it. Thank you!

[2020-07-10 06:03] #785 closed

[2020-07-10 16:58] Tc-001 commented on #121
Could it be that the blurring also "feathers" the edges of the blur area adding transparency?

Let's say I have a image that I want to blur
![image](https://user-images.githubusercontent.com/55956895/87177232-fc087980-c2e3-11ea-89e8-3a63bec9b1f9.png)

What I believe is happening is that the selected area get blurred **(while surrounded by transparency)**, cropped, then pasted back
![image](https:/

[2020-07-10 17:31] borgmanJeremy commented on #121
Check out this for a solution using pixelation https://github.com/lupoDharkael/flameshot/issues/774

[2020-07-10 18:04] Tc-001 commented on #774
I think this could be a great change.
Maybe make it toggle-able with a checkbox (set to pixelise by default) if anyone prefers the old method

[2020-07-10 20:33] tecosaur commented on #774
This is quite a late reply from me, but @borgmanJeremy that demo looks great!

[2020-07-12 04:05] Gowee commented on #635
[code]
When I click the Copy button and try to paste into Firefox with Ctrl+V, nothing appears. However, it does work in Telegram, where the pasted picture is distorted, though:

![image](https://user-images.githubusercontent.com/8171899/87238380-747e5000-c434-11ea-9fea-fd0fbc3c3291.png)

The (nearly) same region taken by GNOME Screenshot:
![gnome-screenshoot](https://user-images.githubusercontent

[2020-07-13 12:50] renankaic commented on #747
For some reason, after upgrading to Linux Mint 20, this Flameshot issue is now fixed.

[2020-07-13 12:50] #747 closed

[2020-07-13 14:05] Cloud-Mak opened #790 "CLI for 0.6.0 not working"
Hello,

In repo, I could only find 0.5.1 package. When I install it and try to use CLI with arguments lile **flameshot gui** it works. Thats how I created keyboard shortcut to lauch flameshot.

I wanted to use the text feature which is only avaialbe in latest 0.6.1. I insatalled it using the .deb file (for bionic) from github releases.

[code]

But with this the CLI with arguments stopped working.

[2020-07-15 18:19] david-bla commented on #783
there is no problem sending images over piknik - I would like to add a button to flameshot that sends it directly or use `/tmp/<date>.png` like for imagemagick

[2020-07-17 05:40] Cloud-Mak commented on #790
Hello,

I was wondering if Dev can comment. It's only CLI options are failing with 0.6.0. Had there been issue with OS/else, it would have failed for 0.5.x as well

[2020-07-18 16:38] densha commented on #390
Any update on this feature request? I came across flameshot after looking for a replacement for Shutter on Linux. This feature would make flameshot on par with other screenshot tools that have this feature (Shutter, Snagit, ShareX).

[2020-07-18 18:22] parkerlreed commented on #777
What... I was saying it works. Click the delete button and it takes you to the deletion page

![image](https://user-images.githubusercontent.com/841440/87859296-16ed7600-c902-11ea-8805-1a706d349f7a.png)

[2020-07-18 19:04] titoesteves commented on #777
@parkerlreed Thanks for the reply. I am trying to delete the image after I have exited out of that window. Is there a way to get back to that delete window so I can delete the image?

[2020-07-18 19:06] parkerlreed commented on #777
The delete URL is unique so you would have to open that at the time and save the URL

[2020-07-18 19:14] titoesteves commented on #777
Darn I didnt save the URL. I'm guessing the delete URL is not saved anywhere? If not, may I propose a feature request for that?

[2020-07-18 22:35] borgmanJeremy commented on #777
I should be able to add that. Need to put some thought into the best place to display it in the UI.

[2020-07-19 15:32] borgmanJeremy commented on #390
I'll take a look at it, it would be pretty useful.

[2020-07-21 19:30] LeBaux commented on #789
@borgmanJeremy If it ever comes to the point of you making a separate fork, please call it **HeatShot**.

I wonder how much time has to pass for that to happen, though. Judging by the number of GitHub stars and the fact that is a dedicated Linux screenshot tool, I imagine quite a number of people rely on this tool.

[2020-07-22 09:03] SergioBurlaka commented on #564
flameshot does not work fine at scale 125% display ubuntu

[2020-07-22 17:07] AndydeCleyre commented on #124
Any reason this can't be available via the sidebar from `flameshot gui`? So we can always start flameshot with the same shortcut for `flameshot gui -p <...>`, and then if we want to alter behavior, we then hit space to configure, before taking the shot?

[2020-07-22 17:15] AndydeCleyre commented on #582
@AlexP11223 Any chance those items will be available via the existing sidebar, when launched via `flameshot gui`? That would make it the only way I'd ever need to launch, no need for tray, no need for new launcher window, no need for altered command keyboard shortcuts. Currently the sidebar is using an enormous amount of space for not very much content (and somehow not even fitting that, requiring

[2020-07-22 17:17] borgmanJeremy commented on #124
The tool gui?

[2020-07-22 17:21] AndydeCleyre commented on #124
I suppose so, yeah. The help message/instructions that popup when launching with `flameshot gui` calls it "the side panel" so I didn't realize its scope is really targeted at tools. It is available before taking the screenshot (so before any tools are accessible), so there is potential to use the space for pre-screenshot settings as well.

[2020-07-22 17:55] hellenictechnologies commented on #635
previous version works great with Copying

curl -OL http://cloudfront.debian.net/debian/pool/main/f/flameshot/flameshot_0.6.0-11_amd64.deb
sudo dpkg -i flameshot_0.6.0-11_amd64.deb
flameshot gui
(enjoy your CTRL+C working again! )

[2020-07-23 22:02] Jonbeckas commented on #635
Thank you for the workaround , works fine for me.

[2020-07-28 13:27] dhimmel commented on #789
Looks like repo owner @lupoDharkael was active on GitHub on 2020-05-01, making the commit at https://github.com/godotengine/godot/pull/38403/commits/38b1829235f48654f809e2f17620bf8e3bb54e63. @lupoDharkael can you comment on your interest in maintaining flameshot going forward and whether you'd be interested in adopting additional maintainers here?

[2020-07-28 16:54] Killea commented on #635
This is really helpful.

[2020-07-28 16:55] Killea commented on #635
This is really helpful.

[2020-07-29 06:52] luobizheng commented on #785
This option is set to off by default, which is very unfriendly

[2020-07-29 08:21] NicolasGoeddel commented on #472
Wow. Thanks to this issue I also learned new things I had already known if I would read the small text box at the beginning of a screenshot.
I guess this issue can be closed, am I right?

[2020-07-29 19:15] kevr commented on #217
Are you folks accepting PRs for this issue? I'd love to use `flameshot`, but this is just.. too much. Might as well use `scrot`.

[2020-07-29 23:26] bart9h commented on #417
Just add an option to remember the last area, and start with that.

Or even make it the default, and get rid of the pink dialog for good.
Just start with rectangle with 1/2 of the screen at the center (or something like that) if there was no previous capture.

[2020-07-30 17:23] donpdonp opened #791 "README missing libqt5svg5-dev"
Ubuntu 20.04:
after following the readme build instructions, qmake fails with:
Project ERROR: Unknown module(s) in QT: svg

the readme should include in the list of pre-reqs to install `libqt5svg5-dev`

[2020-07-31 14:07] soundsbeard commented on #321
incredibly great tool, thank you, developers!

[2020-07-31 14:27] soundsbeard opened #792 "changing brush size in the UI"
im using graphical tablet almost all the time, and if i need to change size of the arrow, pencil or whatever i need to grab a mouse to use a scroll wheel.
please, add size changing to UI.
and thank you for a great tool!

[2020-08-01 10:11] guktib commented on #100
It would be really great to have the option to capture also the window title in(to) the filename.
Like in Spectacle -> "%T: Window title"

![screenshot_20200801_120546_spectacle](https://user-images.githubusercontent.com/66076942/89099492-f805de00-d3ef-11ea-8a88-053bf148af23.png)

(maybe also the possibility for  Sequential numbering ...)

[2020-08-02 10:27] radoeka commented on #789
I hope that all is well with @lupoDharkael.

There are many forks of this nice application.  Would it be possible to use one of the forks (for the time being)?
As I would like to use flameshot at MS Windows, the fork should provide an .exe file for me.  Is there a fork that provides an .exe?

I checked the forks, and most of them are just behind of this authoritative repository.  There are 3 that

[2020-08-02 10:32] radoeka commented on #789
borgmanJeremy adds a circle counter https://github.com/borgmanJeremy/flameshot.  Might be candidate too.

[2020-08-02 12:37] HW71 commented on #789
@lupoDharkael has been tagged many times in the past in different issues here - unfortunately to no avail. He seems to be active on Twitter, though, so at least it looks like he's fine in these crazy times we live in. Maybe he is busy with other stuff - but owning an actively used repo also comes with some duties. At least adding some maintainers for handling all of these pull requests would be gr

[2020-08-02 13:40] mmahmoudian commented on #789
How about creating an "organization" on github, merge all these forks that @radoeka suggested and then give all these devs maintainer access? This way even if/when @lupoDharkael wants to work, he can.

[2020-08-02 14:35] borgmanJeremy commented on #789
I'd be happy to get mine merged in. I'm currently working on clearing out some of the technical debt... Porting to cmake, fixing depreciation warning, etc

Before merging to an organization we need to make sure all maintainers agree on the project direction.

[2020-08-03 08:21] radoeka commented on #789
But, besides flameshot, there is also another nice screen capture tool.  Perhaps all effort should be put into that one, being https://github.com/ksnip  This tool (ksnip) has for example the circle counter, and adding text to the screenshot just works, and it is (very) actively maintained....

[2020-08-03 08:55] mmahmoudian commented on #789
@radoeka I don't see much of a difference is features that make me switch to ksnip. Also Flameshot looks much more convenient as used don't open a new window only to annotate the screenshot.

I personally think FOSS benefits from diversity. If we aggregate all the efforts around ksnip, we are putting all our eggs into one single basket (which oddly enough is also managed by one single person which

[2020-08-03 09:34] radoeka commented on #789
@mmahmoudian I just wanted to have another possibility brought to light.  I like Flameshot as well and it will be very nice whether it remains to exist.  As such I agree with suggestion.  I'm curious to see what comes out of this.

[2020-08-03 10:00] Rmano commented on #789
+1, I think it would be nice to see `flameshot` prosper. Let see if @lupoDharkael  can just chime in!

[2020-08-03 17:19] m147 commented on #429
I am having the same problem, white screenshot with `flameshot screen -p ~/path/to/screenhot`
Highly annoying, don't understand the issue.

OS: Arch
WM: i3-gaps
Screens: 1920x1080 or 1920x1080 x2

For some reason `flameshot screen -p ~/path/to/sreenshot` seems to work just fine with the TV plugged in.
Also, as placekowo mentioned `flameshot full` takes a screenshot of the current screen properly;

[2020-08-04 03:03] dhimmel commented on #789
[Tweeted](https://twitter.com/dhimmel/status/1290482695701585925) the following:

An organization sounds like a great idea. Should probably make sure there is no issue with keeping the name flameshot...

With this I will unsubscribe from this issue, since it looks like this is now in more capable hands!

[2020-08-04 14:28] mmahmoudian commented on #789
I did a little bit of scripting to get the general status of the forks. Here are the general statistics:

- Total number of forks: 414
    - ahead: 22
    - behind: 211
    - diverged: 32
    - identical: 143
    - ERROR: 6  (meaning while retrieving their data from Github API, it returned 404 or other errors)

To see the general status of "diverged" and "ahead" forks I plotted the following:

![R

[2020-08-05 09:29] PetrJ-v opened #793 "Settings GUI stop runing after unselect checkbox "show icon in system tray"."
**Flameshot version**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**System Information**

[2020-08-05 09:34] PetrJ-v commented on #793
Program was installed with discover software center (System kubuntu 20.04).
Then checkbox hide icon in system tray is active, program gui doesn't start from application menu.
There is no way to remove the checkbox, since the graphical interface no longer starts and there is no way to get into the settings.
Reinstalling of program with discover doesn't help.

[2020-08-05 09:36] PetrJ-v commented on #793
Any way, program is very cool. Thanks for this work!

[2020-08-05 13:20] radoeka commented on #789
When moving to another repository, think of what to do with the reported issues.  Some of these might be solved due to new code in the repository, but it is probably not possible to close the issue.  To make the move possible @lupoDharkael should refer to the other repositoriy...  Or is that not needed?

[2020-08-06 15:36] mmahmoudian commented on #789
I'm no expert, but I think a referral to the new repo would officiate the migration, but if we had access to @lupoDharkael or if he was responding, we wouldn't have needed to take such route and migrate to a new repo. Also for packages in distros we would face some problem if they don't make their build from the new repo.

I don't know what is the regulation or general practice for an abandoned FO

[2020-08-06 16:40] borgmanJeremy commented on #789
Is anyone else on here willing to be a maintainer of the project? I am happy to help with feature development and maintenance but the first task should be identifying the core maintainers and making sure they all agree on the project direction.

I am personally interested in cleaning up technical debt before adding many new features.
  - Porting to CMAKE (completed on my fork)
  - Refactor to be m

[2020-08-06 21:01] mmahmoudian commented on #789
@borgmanJeremy I suggest that people who have already worked on the code, those that have repos ahead of the original repo in terms of commits (e.g with at least 2 commits ahead), become maintainers and we as a community elect two people (in addition to @lupoDharkael) to lead the project. This repo has 120 watchers and 5.9k stars which means the election would be relatively fair. We can then have

[2020-08-06 21:48] droidmonkey commented on #789
I could probably write a book on FOSS takeovers at this point 😵! I know nothing about this particular project, but here are some generic pointers from our experience:

1. Change the name, slightly. Keep package maintainers in mind who will probably deploy your version alongside the original until you are dominant. `keepassx` is still in many Linux distros and used (unknown reasons).
2. Come up wit

[2020-08-07 01:51] borgmanJeremy commented on #789
@mmahmoudian That seems like a good starting point. Droidmonkey had some really good advice so I am okay going forward with this at this point.

Anyone have good name suggestions? Thats always the hardest part :)

[2020-08-07 03:29] rburchill opened #794 "Selection box snapping"
Is it possible to have a type of selection box snapping, say snap to every 5 or 10 pixels?

[2020-08-07 07:37] LeBaux commented on #789
My nomination for the new name is still Heatshot. Allow me to explain my reasoning:

1. **Derives from Flameshot.** I suspect Flameshot itself might have been a derivate name since there is massively popular screenshot add-on for Firefox, [FireShot](https://addons.mozilla.org/en-US/firefox/addon/fireshot/). It was later ported to Chrome and adopted the freemium model, gutting most of the functiona

[2020-08-07 09:11] mmahmoudian commented on #789
@droidmonkey Thank you for your kind input. You made some valid points some of which I've never thought of :+1:

-------

@LeBaux Thanks for enlightening me. I used to use FireShot (good ol' days) but somehow my brain didn't make the connection between "Flameshot" and "Fireshot" :facepalm: .

Regarding the domain/hosting, to keep things simple, we can use the [Github pages](https://pages.github.co

[2020-08-07 10:29] radoeka commented on #789
For the (new) name: a combination of screen/monitor, screenshot should do => perhaps moonshot (monitor + screenshot)?  To me it sounds cool ;)

For the name think of a nice url as well, for example something ending in; .fun .hot (flames.hot), .joy, .monster (flame.monster), screen.ninja, .lol, .spot, .you. .pics, .wow, .zone.
https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains

Nice i

[2020-08-07 11:01] Rmano commented on #789
Someone using Twitter (I don't) could try there...

[2020-08-07 12:21] mmahmoudian commented on #789
@Rmano From his paypal donation page, I managed to get his full name ("Alejandro Sirgo Rica"), but I couldn't manage to find his twitter account using his Github username or his name. Do you know his Twitter ID?

-------

Also while googling, I found a fork of flameshot tha is not on github and is one commit ahead:
https://git.rlab.io/forks/flameshot/-/commits/master
Perhaps @borgmanJeremy can see

[2020-08-07 12:56] radoeka commented on #789
Lupo_Dharkael

[2020-08-07 14:06] LeBaux commented on #789
I wrote him a message on twitter. Unless I reply here, assume he never got back to me.

[2020-08-07 14:54] lupoDharkael commented on #789
Hi! sorry for the (long) delay.
I was thinking about working again on this project this summer but that didn't happen in the end. I started Flameshot because I felt I needed something more usable for taking screenshots on Linux.
When it started gaining popularity the repository flooded with open issues and requests and it started to feel overwhelming. I tried to keep up because I know a lot of peo

[2020-08-07 15:34] mmahmoudian commented on #789
@lupoDharkael Thanks for replying here. It's good to know that you are safe, and also it is good to know your priorities and concerns.

If folks here don't mind, I reiterate what I have suggested previously and people in this thread showed support on the idea, it might be a good idea to take the project into a github organization in which you can have the development leading role as well as one or

[2020-08-07 17:59] radoeka commented on #789
Some more data:

Forks
------
login	ahead_by
DrunkenPoney	16
33kk	        14
MadddinTribleD	 8
hosiet	         8
borgmanJeremy	 4

Contributors
-------------
https://github.com/lupoDharkael/flameshot/graphs/contributors
AlfredoRamos: 25 commits, overall very code wise active  https://github.com/AlfredoRamos
Hosiet:       23 commits, code and issue active https://github.com/hosiet
Juanma1980:   11

[2020-08-07 18:59] mmahmoudian commented on #789
@radoeka I think there is a change that you misunderstood the figure I mage about the "Active issue respondents" part. I only surveyed the issues that the user IDs that was mentioned in [my other comment](https://github.com/lupoDharkael/flameshot/issues/789#issuecomment-668630154) were either mentioned or they were authors. Meaning every person on that figure owns a fork that is ahead of origin.

[2020-08-08 05:50] Meister1593 opened #795 "Flameshot isn't showing after certain modal dialog but working (?)"
**Flameshot version**
0.6.0-4

**Describe the bug**
Flameshot not showing sometimes when i focus on specific elements inside browser (possibly not only browser)
With that, i can see flameshot cursor, i can move selected (presumably) box, but i can't see anything related to flameshot (like, grayed screen, controls, and etc.
[Video showing this issue](https://drive.google.com/file/d/1JC1C0z51Az0o2x3

[2020-08-08 18:13] jeffangelion opened #796 "Newest KDE does not allow you to map 'Print' key to FlameShot"
Hi, I'm writing it more like **caution** for others: now you cannot map 'Print' key to taking a screenshot via FlameShot. Tried in `KDE Plasma 5.19.3`
If anyone has a clue/hack to work it around  ‒‒ **please** leave it in comments
I hope @33kk and @DrunkenPoney will notice this issue

[2020-08-09 03:38] zhenglinli commented on #564
same at at scale 125% display Ubuntu 20.04 LTS

[2020-08-09 03:41] zhenglinli commented on #793
try command `flameshot config`?

[2020-08-09 10:49] mmahmoudian commented on #789
After scrapping all 794 issues and struggling with :octocat: temporarily banning my IP and etc :smile:, I finally have the results. But before presenting them I should clarify that I was not able to scrap the following issues:
#57, #367, #486, #520, #639, #643, #676, #683, #686, #711, #754, #757, #761

As for the rest, I thought it would be logical to apply some sort of minimum acceptable range. S

[2020-08-09 11:23] Creteil commented on #789
Hey, glad to see this project resurrected...

I have switched to « Shutter », even if it slow in terms of use, there are so many features that « FlameShot / HeatShot » (whatever you choose...) could be inspired by...

For examples :

- Be able to move « text » as an object.
- Be able to move « arrow » as an object.
- Be able to move « square selection » as an object.
- Etc, etc...

![simplescreenr

[2020-08-09 15:22] borgmanJeremy commented on #789
@mmahmoudian I'd be happy to help maintain the project going forward. I do really like the idea of moving it to an organization. Let me know if there is anything you thing I can help with on this transition. Once we are done I;ll start closing out stale/closed issues and getting a roadmap put together.

[2020-08-09 15:25] borgmanJeremy commented on #796
How did you map it previously?

[2020-08-09 15:31] borgmanJeremy commented on #795
Can you try it using the flameshot-git package from the AUR? There are many commits ahead of the latest release in the standard arch repos.

[2020-08-09 15:34] borgmanJeremy commented on #794
Can you describe the use case for this? It is possible to add but I'm not sure what it would be used for.

[2020-08-09 18:35] 33kk commented on #796
Did you import [this file](https://github.com/lupoDharkael/flameshot/blob/master/docs/shortcuts-config/flameshot-shortcuts-kde) or added shortcut manually?

[2020-08-10 13:33] mmahmoudian commented on #789
I sent a message to @lupoDharkael via twitter and asked if he would like to have a webcall to discuss the general schema of the organization. I initially thought if I make the suggestion here and he cannot participate, the message would have just made this thread lengthier. Silly me, he replied to my message on the same day and instructed me to post the suggestion here. So here we go:

I was readi

[2020-08-10 14:44] PetrJ-v commented on #793
This command work. Thank you for response . I close the issue.
I didn't see documentation. Now i readed it.

[2020-08-10 14:44] #793 closed

[2020-08-10 18:00] jeffangelion commented on #796
Through global keymap settings

Import did not work for me nor manual adding

[2020-08-10 21:55] LinuxOnTheDesktop commented on #796
Cf. #717, #773 and perhaps other reports on this tracker. Those others might include problems on Mint - which has its own problems with such basic things as keyboards shortcuts; see for instance [here](https://github.com/linuxmint/cinnamon/issues/3981).

[2020-08-11 07:58] JHeck183 opened #797 "Add text field"
Hello All

I suggest the possibility to set a text field what also could shift to the needed position.
From my view it will make Flameshot complete.

Greetings

Jürgen

[2020-08-11 16:14] thepurple opened #798 "Collaboration proposal from Namecheap, Inc"
**Hi Dharkael.**

My name is Yuriy Puchkov and I'm an R&D engineer at **Namecheap**.
Our customer support departure needs a cross-platform screenshot tool and a crucial requirement is to save screenshots to our own storage to be sure that sensitive information is stored securely.
After some research we have found this project which is a really good fit for us and has very most of features we need.

[2020-08-11 18:10] Meister1593 commented on #795
It seems that either AUR package is broken or latest git version isn't building... [Log](https://gist.github.com/Meister1593/16a45a7b3139fee9c70d4cb460106514)

[2020-08-13 00:44] easlice commented on #429
I'm seeing the same behavior on my laptop. `flameshot gui` works, `flameshot full` works, but `flameshot screen` only gives me a white image.

System Information:
Thinkpad L440
OS: Arch
DE: awesomewm
Screens: 1x 1366x768

[2020-08-13 12:38] radoeka commented on #789
How is it going?  What will be the next step? ( /me just curious ;) )

[2020-08-14 07:57] codiflow commented on #387
Same here on Manjaro Linux since about one month, Kernel 5.7.9-1, XFCE 4.14

After closing it and starting `flameshot config` the icon reappears in the tray.

[2020-08-14 08:07] mmahmoudian commented on #789
@radoeka So far there are only 4 responses to the form I posted in [my previous comment](https://github.com/lupoDharkael/flameshot/issues/789#issuecomment-671356705). I also don't see your name among the responses 😉 People who have participated are (by the order of form submission):

- mmahmoudian
- borgmanJeremy
- 4342859
- Martin-Eckleben

We have to consider two major things:
1. Moving towards

[2020-08-14 08:28] lupoDharkael commented on #789
I've been checking this thread on a daily basis! I wasn't participating because I've been outside of home for a few days I need to write a lengthy message with some considerations I'd like to add about the transition and the roadmap of the project. I'll try to send it in a few hours when I have some more privacy.

[2020-08-14 08:48] Massimo-B opened #799 "Capture single window"
flameshot is a good replacement for xfce-extra/xfce4-screenshooter as I was looking for a tool capturing single screens.
But there is no possibility to capture single sindows, which is a standard function of screen shooters.

Please add a 'flameshot window' command,, with an option for decoration or not.

[2020-08-14 08:53] Massimo-B commented on #799
And for https://flameshot.js.org/#/key-bindings it would be very helpful to describe the exact commands that I need to configure for instance on Xfce.

[2020-08-14 09:06] Massimo-B opened #800 "Saving capture selection"
Please add an option to save the last capture selection.
Maybe also save all the last tools and modifications.

For instance: I like to capture on screen of a multiscreen, but like to always hide the same part of my main panel. This would be possible by saving multiple selection and adding them to a non square selection, or selecting the whole screen and hiding parts of it by tools.

[2020-08-14 12:26] radoeka commented on #789
@mmahmoudian I'll not participate in the webcal, with you and Jeremy that should be good start.

[2020-08-14 16:15] eancuta opened #801 "Flameshot stops working after saving an image."
**Flameshot version**
v0.6.0

**Describe the bug**
Flameshot will no longer trigger the selectable overlay when clicking on "Take Screenshot"

**To Reproduce**
1. Have a browser open (Firefox in my case)
2. Launch Flameshot
3. Click "Take Screenshot"
4. Select any screen section, then select text feature and write something (might need to enable text first)
5. Click on save image without exiting t

[2020-08-14 20:16] pavel-the-best commented on #789
I'd like to contribute to this project

[2020-08-15 05:35] LeBaux commented on #798
It's always great to see a big company adopting open source and giving back upstream. Please read/skim #789, the development of FlameShot is being rekindled under a new organization. The process might take a while, but I think your additions and improvements benefit everyone upstream.

[2020-08-15 10:58] in-in commented on #797
Flameshot already has a text tool, since version 0.60
![202281597488939](https://user-images.githubusercontent.com/8797432/90310993-47bfcb80-deff-11ea-8ee1-16a9cd1ad3c6.png)

[2020-08-15 11:47] xionjames commented on #646
Yes, the problem is with Wayland... Disabling it and use xorg, flameshot works.

[2020-08-15 21:19] mmahmoudian commented on #789
@LeBaux kindly pointed out that finding time/date with the current form is not ideal as participants are blind to others' answers before submitting the form, so in collaboration with @LeBaux we tested few online tools and at the end we settled with a [libre FOSS tool](https://github.com/hartwork/jawanndenn/) and we created the following poll which I will be thankful if you can kindly respond to:

[2020-08-15 22:35] borgmanJeremy commented on #789
What timezone are those times in? I can't seem to figure that out on mobile

[2020-08-16 05:43] LeBaux commented on #789
I assumed it is UTC. https://everytimezone.com/ helps to convert your timezone into UTC rather easily.

[2020-08-16 08:29] luiq54 commented on #801
I can confirm the above. When I run the app from KDE launcher (I also have it autostart at the start of the session) and try to save an image, it crashes instantly. Launching from terminal has no issues what so ever.

System: Arch Linux with KDE 5.19.4
Flameshot 0.6.0 (Compiled with Qt 5.14.1)
KDE Frameworks Version 5.73.0
Qt Version 5.15.0

[2020-08-16 11:09] lupoDharkael commented on #789
I'd prefer Jitsi for the webcall as I've used it before and it is reliable. I think we should prepare a list of what to talk about so we can optimize our time.

As I said I'm going to list some considerations about the community based development of Flameshot.
- Once we have everything tied I'll move the project to an organization.
- Fixes and issue management should be the initial priority of the

[2020-08-17 10:47] thepurple commented on #789
Here is a [fork](https://github.com/namecheap/flameshot/tree/master_nc) by Namecheap. Please note that it is not a final version and it needs some code refactoring before pushing it to the upstream. All new tested features and fixes are in the `master_nc` branch and are not merged into the `master` branch because of code still needs some refactoring.

You can find an [installation](https://github.

[2020-08-17 18:08] thepurple commented on #789
Hi!
We, from Namecheap side, also want to take a part in the discussion of the future of this project. We want to make all we could from our side to keep the project and community alive as our customer support now uses it. And of course we want to see our changes in the upstream  Please don't forget about us as you're gonna be scheduling the call.

Namecheap reps here: @thepurple @StyleT

[2020-08-18 15:22] ZTFtrue commented on #265
I set ```export QT_AUTO_SCREEN_SCALE_FACTOR=1``` on ```.xprofile```.

and use this script
[code]
make it auto start.

I use desktop file ```/home/username/.config/autostart```
[code]

[2020-08-18 15:30] ZTFtrue commented on #265
Model: Dell XPS 15 9570
OS: Manjaro Linux (Gnome Edition)
4K display
xorg

[2020-08-18 16:15] wazlecracker commented on #796
What I did to work around this since flameshot hasn't worked properly with hotkeys since Plasma 5.19 is I created a custom shortcut in System Settings > Shortcuts > Custom Shortcuts. Create a new global shortcut based on command/URL, set the trigger to Print and the action as the command `flameshot gui`.

[2020-08-18 16:33] mmahmoudian commented on #789
## Meeting details

I think it would be time to read the results from the forms as everyone who wanted to participate would have done it already.
Based on the poll I would like to suggest **"2020.08.19 16:00" UTC time** using Jitsi which got 71.4% vote. I do hope the time is also suitable to @lupoDharkael schedule. I will create the room about half an hour prior to the meeting and it should be acc

[2020-08-18 17:45] radoeka commented on #789
@mmahmoudian very good development.  To all meeting participants, make it a good and successful meeting.

[2020-08-18 18:59] MadddinTribleD commented on #610
I changed #732 to include the artifacts in the appveyor build.
So if this is still relevant you could get if from there.

It will only be up for 6 month thought. (Artifacts retention policy)

[2020-08-18 19:08] MadddinTribleD commented on #789
I change #732 to provide an artifact via appveyor. So the exe should be available for the next 6 month

[2020-08-19 08:16] mmahmoudian commented on #789
@MadddinTribleD Join the call as explained [here](https://github.com/lupoDharkael/flameshot/issues/789#issuecomment-675584497). The least you can get is to get to know what has been discussed, and in the ideal case you will get to know firsthand how to contribute.

[2020-08-19 08:23] pavel-the-best commented on #789
Am I right that the call has already passed?

[2020-08-19 08:28] Martin-Eckleben commented on #789
No.
It's scheduled for 19.08.20 16:00 UTC.
Right now its 19.08.20 08:26 UTC.
(which the first simple Google query shows)

[2020-08-19 08:28] mmahmoudian commented on #789
@pavel-the-best No it is in about 7.5 hours. The call will be at **"2020.08.19 16:00" UTC time** and the current UTC time is: https://time.is/UTC

[2020-08-19 08:37] pavel-the-best commented on #789
Ah, I see, thanks.
Turned out that I have problems with reading).
I thought it was on 16.08.

[2020-08-19 10:41] nyanpasu64 commented on #796
KDE Plasma 5.19.4. Importing didn't work, before or after unbinding Spectacle. But setting Print manually worked after unbinding Spectacle.

[2020-08-19 11:33] Tejeev commented on #666
I'm not sure if it's related but I periodically have my monitors glitch out and show me the flameshot overlay with an old image of my desktop overlaying my actual desktop, even though I've not hit the shortcut.  Updating windows will show through the grayed out screen when they update, and if I switch desktops and come back I can once more see my desktop... until it happens again.  I believe it ma

[2020-08-19 11:38] Tejeev commented on #681
https://github.com/lupoDharkael/flameshot/issues/726
https://github.com/lupoDharkael/flameshot/issues/763

https://github.com/lupoDharkael/flameshot/blob/master/docs/shortcuts-config/flameshot-shortcuts-kde

[2020-08-19 11:41] Tejeev commented on #763
xfce Desktop:
![image](https://user-images.githubusercontent.com/8906089/90630532-186bd000-e219-11ea-9987-e147ae594252.png)

[2020-08-19 15:58] FichteFoll commented on #771
Superseded by #789.

[2020-08-20 00:24] majormoses commented on #586
I think that might be missing https://formulae.brew.sh/formula/binutils doing a bit of sleuthing on a working linux instance:
[code]

I don't use or have a mac to test but thats my semi educated guess. It could also be that thats installed but in a different context and the app is looking for it elsewhere.

[2020-08-20 06:31] CowlingBanana commented on #200
Guys, any ideas on setting it on lubuntu?!

[2020-08-20 08:20] #771 closed

[2020-08-20 08:27] lupoDharkael commented on #789
I'd appreciate if we could have another one next week (probably 27 or 28 of this month), I wasn't able to be at a computer with internet for the first one. I have to stay out of home a lot so it is hard for me to attend a webcall before that date.

[2020-08-20 09:02] btdmaster commented on #789
Quick question @lupoDharkael -- could you pin this issue? It might more effectively clear up things.

[2020-08-20 09:24] StyleT commented on #789
Hi folks!
Here are the meeting minutes from the call that was kindly organised & scheduled by @mmahmoudian.
Meeting participants: @MadddinTribleD , @StyleT, @thepurple , @pavel-the-best , @szszoke, @mmahmoudian

Unfortunately @lupoDharkael wasn't able to attend the call.

## General discussions and roles
- Jeremy Borgman had to cancel in the last minute but he sent his points and comments before t

[2020-08-20 11:20] mmahmoudian commented on #789
As @lupoDharkael suggested, I created another webcall poll to find the proper time (The time is in [UTC](https://time.is/utc)):
https://jawanndenn.de/poll/3e8b77bfe497df11fa30363f5b958533617d7a22bc6fa67456abf1ff0dba3d6e

To help you choose the time I made this custom link to convert timezones:
https://www.worldtimebuddy.com/?pl=1&lid=658225,100,2950159,3117735&h=658225

I will also post the link o

[2020-08-20 11:59] vinsongnow opened #802 "I need map shortcuts"
It’s close to perfection, and it lacks a texture shortcut or texture command, which can improve my work efficiency

[2020-08-21 00:02] tymokvo commented on #635
Reproduced on fedora 32. Not working under Wayland, does work under X11.

[2020-08-21 07:12] oliveiraped commented on #635
HI Same Problem with Ubuntu 20.04 Focal, solved the issue by setting the following settings :
![image](https://user-images.githubusercontent.com/676000/90862909-0f4c4180-e386-11ea-9dfb-5a5f36fbe887.png)

[2020-08-21 11:49] amithiel opened #803 "Tray icon not changing with different packs"
**Flameshot version**
0.6.0

**Describe the bug**
The tray icon remains the default colorful icon, although i apply different packs which contain the "monochrome icon".
In the packs, the name of the file is: flameshot-tray.svg

**To Reproduce**
install papirus icon pack, or Korla. apply, refresh cache. start flameshot, the icon is the same everytime.

**Expected behavior**
it should change to the

[2020-08-22 13:26] blaueente opened #804 "when clicking on notification with new image, wrong folder is opened"
**Flameshot version**

0.6.0+git20191001-2(Debian)

**Describe the bug**

When clicking on notification with the newly created image, a wrong path is opened:
/home/<user>/Pictures/Screenshots/Pictures/Screenshots/<image>
Specifically, the Pictures/Screenshots prefix is added twice.

**To Reproduce**

1. create screenshot
2. click save button
3. get notification
4. click on notification
5. image vi

[2020-08-23 18:34] enricozb commented on #586
@majormoses @zecevic-matej

I'm not sure how this was able to build before but, I was able to get it to build by adding `#include <QPainterPath>` to the following files:

- `src/third-party/Qt-Color-Widgets/src/color_wheel.cpp`
- `src/tools/arrow/arrowtool.h`

Here's a [diff](https://gist.github.com/enricozb/e543f8c013f97270d945fa65eef4a072) for exactly where I added the `#include` statements.

[2020-08-23 19:03] enricozb commented on #586
Furthermore, here is a very stupid way of taking a screenshot from the terminal, given that flameshot is running.

Save this to `flameshot.scpt`:
[code]

Now you can do `osascript flameshot.scpt`

[2020-08-24 09:31] coyotefoxtrot opened #805 "Flameshot crashes on KDE Plasma when saving screenshot or trying to open "Configuration""
**Flameshot version**
v0.6.0

**Describe the bug**
When I try to save a screenshot, Flameshot crashes. It also crashes when I right-click the icon and select "Configuration". Selecting "Information" works fine, it opens the panel and doesn't crash.

**To Reproduce**
Open Flameshot through Application Launcher or the terminal, take a screenshot and select the save button or right-click the icon and

[2020-08-24 10:49] lr222gw commented on #554
Would be nice to be able to set this through GUI,
meanwhile this can be achived by modifying the .cfg file; **.config/Dharkael/flameshot.ini**
[code]

**Change uiColor from**;
#6e6e6e      <-- Some six digit hexvalue
**To**
#006e6e6e <-- Eight digit hexvalue; the first digits should be 00, this will set the opacity to 0%...

[2020-08-24 14:23] SecretAgentAgentX commented on #207
I'm on Garuda which isn't all that much different than Manjaro and when I do a full screen capture Flameshot saves to the clipboard. Problem is trying to copy the screens to any folder either doesn't work or I end up with unusable files. Really need Flameshot to have a proper option for saving the capture rather it's the entire screen or part of the screen to a location of the users choice.

[2020-08-24 16:35] mmahmoudian commented on #789
Based on the current responses to the poll, it is definitive that the meeting will be on 2020.08.28 sometime between 16:00 to 20:00 UTC time. Let's wait until end of tomorrow (2020.08.25 23:59 UTC) to give others a last chance to participate in the poll so that we can have more participation from the community. Then on 26th if there were still more than one suitable time, I will ask people on [Sla

[2020-08-26 00:38] CHN-STUDENT commented on #428
@lupoDharkael  hi, lupoDharkael. Could you tell me how can set copying screenshot automatically to Clipboard after run `flameshot gui`  ? Thank you!

[2020-08-26 03:20] craigstar commented on #785
I can not see this text option, don't know why. I've tried to compile source code and install with .deb. none of them have text option in config. I tried flameshot v0.6.0
my system is Ubuntu 18.04

[2020-08-26 04:18] heit0r opened #806 "Imgur save window never appears in the screen center"
![Captura de tela_2020-08-26_01-11-20](https://user-images.githubusercontent.com/38054654/91254661-55642500-e739-11ea-8678-a19215f4f71b.png)

The 'upload to imgur' window never appears in the center of the screen, so I have to drag it up. Is there a way to make it appear on the center or top of screen? Would be awesome to make it just upload to imgur and copy the link to clipboard without buttons

[2020-08-26 08:43] xstable commented on #554
Awesome Applikation.
Hope @lupoDharkael will find some time to merge some of the PR's.
I think it will boost the Applikation a lot. There is still no better Screenshot-App for linux out there.

[2020-08-26 09:31] pavel-the-best commented on #789
@lupoDharkael could you please join the slack and vote in the time selection poll?
Because, as @StyleT already said, we have a plan B to create a fork and move it to organization, but that is highly undesirable solution.

[2020-08-26 10:13] Martin-Eckleben commented on #789
Hey @lupoDharkael,

I personally think you should transfer repo maintainer rights to one of the people in the thread (probably @mmahmoudian or @StyleT) right away without the extra pressure of meetings and deadlines on your shoulders.

You seem to have enough of that already.

I understand that you want to ensure quality in the future but tbh. you let that argument slip for a while yourself.

Nobo

[2020-08-26 11:09] LeBaux commented on #789
@mmahmoudian contacted me outside of github and we talked about this project at length. He urged me to attend the calls because my topmost priority is keeping the FOSS spirit of the project. We share this particular interest when it comes to flameshot. My enthusiasm and energy quickly faded when my dad was diagnosed with ALS (no need to comment on this, I don't want to derail the discussion). And

[2020-08-26 11:25] karimmd commented on #797
I have tried and it works. Thanks for bringing such an awesome app with screenshot and photo-editing at the same time.

[2020-08-26 19:31] mmahmoudian commented on #789
As promised, after [the poll](https://jawanndenn.de/poll/3e8b77bfe497df11fa30363f5b958533617d7a22bc6fa67456abf1ff0dba3d6e) I figured that the date is clearly settled to be **2020.08.28** but there are more than one available time that is suitable to everyone participating. On Slack [I asked](https://flameshotworkspace.slack.com/archives/C018PU6V971/p1598429244002400) if anyone has any preference a

[2020-08-27 01:16] RevathiKannanGithub opened #807 "Flameshot not opening after changing notification"
**Flameshot version**

I am facing some issues with flameshot. It was working as good.. but when i entered into the application and removed checkmark against notifications (like tray icon, because i wanted to take quick screenshots but the tray takes sometime to go off on its own). After turning off notifications, now application itself not opening as usual by clicking..but applications is listed

[2020-08-27 01:23] RevathiKannanGithub commented on #807
Right now, i tried **flameshot config** from terminal. It opened notification setup page of flameshot. Now, the application is getting opened. Now, i have disabled desktop notifications to solve my issue. But earlier, i have unchecked 'launch at startup' and 'tray icon'.

[2020-08-27 01:23] #807 closed

[2020-08-27 11:08] lupoDharkael commented on #789
Hi everyone! I came back from my travel. See you tomorrow in the webcall 👍

[2020-08-28 08:05] dougiepunk commented on #563
I'm encountering this exact same issue in Ubuntu 20.04 LTE running Plasma KDE. Any solutions yet?

[2020-08-30 16:15] lupoDharkael commented on #789
The webcall took place and it served to decide the new route of the project. I'm going to move Flameshot to an organization and add 2 new contributors. They will start working on small things such as fixes, fixing build system and repo management. I'll be monitoring their work so I can see how they work and what they do. That way they can earn my trust.
A few weeks after that we will have another

[2020-08-31 10:02] Martin-Eckleben commented on #789
@lupoDharkael
Could you also please pin this issue?
So we can "collect" and keep everyone informed here?

Most of the discussion is done in Slack
(https://join.slack.com/t/flameshotworkspace/shared_invite/zt-h12voenk-ruupY9FT__akZc0einOEQQ)
to avoid spamming this thread.

[2020-08-31 12:20] amosbird commented on #11
Very nice. Can I have a hotkey to confirm and save the image with text?

[2020-08-31 14:11] amenat commented on #1
Yes. Installing `dunst` fixes this issue. But it should not be required right?

I agree with @piotrek-k , a check for presence of notification daemon is good idea.

[2020-09-01 12:32] joaoeudes7 commented on #675
[code]
This works, but this isn't possible set in installation?

[2020-09-01 18:24] FichteFoll opened #808 "Support enter key on numpad for submitting selection"
When making a selection (in raw mode `flameshot gui -r`), the return key can be used to submit the selection, but the enter key on the numpad does not work. Please add a binding for the enter key.

[2020-09-01 19:58] Djavano opened #809 "Pin image on the Desktop issue"
**Flameshot version**
v0.6.0

**Describe the bug**
If i press pin after creating the screenshot, the pin is fixed to the left of my main monitor and cannot be dragged.

**To Reproduce**
flameshot gui and select "Pin image on the desktop"

**System Information**
Fedora 32 - 3.36.5

[2020-09-02 07:38] craigstar commented on #785
**installed with**: `flameshot_0.6.0_bionic_x86_64.deb`, **system**: `Ubuntu 18.04.5 LTS`.
No Text Field in config. please help.
![image](https://user-images.githubusercontent.com/11722003/91948231-63660700-ed32-11ea-8122-7020ebf0fccc.png)

[2020-09-02 13:22] Martin-Eckleben commented on #789
Just to keep everybody up to date:

- @lupoDharkael moved the repo to the organization flameshotapp and renamed it flameshot-org
- first new maintainers under his supervision are appointed and it will start to become alive again

[2020-09-02 13:32] HW71 commented on #789
Awesome, thanks a lot everyone involved - and also for keeping us posted! :-)

[2020-09-02 15:35] borgmanJeremy commented on #749
Flatpack support will be added in the next release

[2020-09-02 16:09] #789 closed

[2020-09-02 18:16] Martin-Eckleben commented on #809
Can't confirm on Manjaro 20.0
Seems to be Fedora related?

[2020-09-02 18:18] marinho8bit commented on #749
excelent!

[2020-09-02 18:30] Martin-Eckleben commented on #806
Hey @heit0r :)
Thank you for your report!

"Without buttons or window" should be a separate issue and would probably need a decision first.
You can open one for it but please consider leaving us new maintainers some time to catch up first before making controversial decisions for new "features" :)

But window not centered is a probably a bug and should be analyzed in this issue.
Will soon label it

[2020-09-02 18:38] Martin-Eckleben commented on #804
Manjaro 20.0 Xfce4

For me it doesn't open any window :)

[2020-09-02 18:45] Martin-Eckleben commented on #802
Hey @pi-c,

what do you mean by "map shortcuts"?
You probably mean a configuration screen to configure which keyboard key does which action?

Please post only one feature per issue.
Consider creating new issues for "texture shortcut" and "texture command" but please leave us new maintainers some time to catch up with bugs and PRs before new features :)

[2020-09-02 19:44] borgmanJeremy commented on #777
After some more thought I think it would be best to allow the user to use their own imgur token, then the images can be managed directly through the imgur interface.

[2020-09-02 19:50] Djavano commented on #809
I disabled wayland and now works properly

[2020-09-03 01:12] ZetaoYang commented on #791
The readme already includes `libqt5svg5-dev`, please see https://github.com/flameshot-org/flameshot/blob/master/README.md#debian.

[2020-09-03 01:14] #791 closed

[2020-09-03 03:50] amosbird opened #811 "FR: Allow input methods (fcitx, ibus) when typing into text area"
Currently the text area cannot have IME activated, which limits its usage.

[2020-09-03 04:04] amosbird opened #812 "Hot key to commit text and image in one shot"
When typing in a text area, `<enter>` key doesn't commit but inserts a new line. I have to left-click on the image to first commit the text area, then press `<enter>` to commit the image. It would be more convenient to have a hotkey say `shift-<enter>` to insert newlines while keep `<enter>` key as the commit key.

[2020-09-03 11:12] wotmshuaisi opened #813 "can we have a RGB colour indicator?"
a RGB colour indicator can display colour information on current mouse cursor coordinate.

this is very helpful to developer.

![image](https://user-images.githubusercontent.com/16408269/92108242-f52b4e00-edde-11ea-978e-18826a2dccf5.png)

[2020-09-04 07:48] Martin-Eckleben commented on #813
I personally would vote for it but right now we have a lot of Bugfixes to catch up first :)
Please don't be upset that it will probably take a while to get to this and thank you for your participation.

[2020-09-04 07:58] Martin-Eckleben commented on #812
Hi @amosbird,

thank you very much for your proposal and participation.
Right now we have a lot to catch up to. Please don't be upset that it will take a while until we get to discuss it but it will happen eventually :)

Personally I'm undecided.
I hate ```alt-<enter>``` in most spreadsheet editors. It confuses most non computer people and I really often see them not doing any newlines which often

[2020-09-04 08:08] Martin-Eckleben commented on #801
Can't reproduce on

Manjaro 20.0
Xfce 4.14
Flameshot 0.6.0

Do you use Wayland or X.Org?
There seem to be issues with Wayland for other users.

[2020-09-04 08:11] Martin-Eckleben commented on #800
Hey @Massimo-B,
thank you very much for your proposal and participation.
Right now we have a lot to catch up to. Please don't be upset that it will take a while until we get to discuss it but it will happen eventually :)

[2020-09-04 08:17] Martin-Eckleben commented on #799
Thank you for your input!

Regarding the documentation:
please only one issue per... issue :)
Agree with you though - that should and surely will be improved.

[2020-09-04 08:20] #798 closed

[2020-09-04 08:23] amosbird commented on #812
Many IM applications uses shift-enter to insert newlines while sending messages by enter. for instance, telegram, discord, gitter, slack, etc.

[2020-09-04 08:57] mmahmoudian commented on #790
@Cloud-Mak do you have the flameshot open? I tested on my Ubuntu 18.04 and managed to run those commands when flameshot is running:

[code]

[2020-09-04 09:23] wotmshuaisi commented on #813
Thanks a lot, it's not urgent request to me, I'm just suggesting it. a vote would a great idea.

[2020-09-04 09:35] Cloud-Mak commented on #790
@mmahmoudian
Here is how I am launcing and using flameshot 0.5. Check below screenshot
http://i.imgur.com/HYZAzBN.png

even if flameshot is not running, the shortcurt CTRL+print starts it and I can start using it. This is what I wanted to do with 0.6
But its not allowing.

[2020-09-04 14:25] borgmanJeremy commented on #769
I just merged this. It will be present in the next release.

[2020-09-04 14:25] #769 closed

[2020-09-04 14:26] borgmanJeremy commented on #774
This is merged in and will be present in the next release.

[2020-09-04 14:26] #774 closed

[2020-09-04 14:26] borgmanJeremy commented on #121
This is merged and will be present in the next release.

[2020-09-04 14:26] #121 closed

[2020-09-04 14:28] borgmanJeremy commented on #239
Not intending to change this behavior at this time.

[2020-09-04 14:28] #239 closed

[2020-09-04 14:46] hosiet opened #815 "CMake-built flameshot did not install all data files needed"
**Flameshot version**
git HEAD

**Describe the bug**
The installation of flameshot on a UNIX-like system is not ONLY a `/usr/bin/flameshot`. There are much more
data files that needs to be installed as well.

Currently a `make install` will only install `/usr/bin/flameshot`. We need to add instructions in CMake buildsystem
to also install other data files.

A full list of data files:

[code]

[2020-09-04 15:03] MyriaCore commented on #702
OCR would be great honestly!

[2020-09-04 15:25] michaelskyba commented on #496
@magnus-gross

How can you save a screenshot as a .bpg? Typing in ".bpg" at the end of the screenshot name just saved it as "name.bpg.png"

[2020-09-04 15:29] #772 closed

[2020-09-04 15:29] #756 closed

[2020-09-04 15:29] #744 closed

[2020-09-04 15:30] #740 closed

[2020-09-04 15:31] borgmanJeremy commented on #725
We need to do some additional testing but should have a new release out soon!

[2020-09-04 15:31] #719 closed

[2020-09-04 15:32] borgmanJeremy commented on #711
Can you describe what you are asking for in more detail? How is Crayon different than pencil tool?

[2020-09-04 15:33] borgmanJeremy commented on #684
This is in the latest release.

[2020-09-04 15:33] #684 closed

[2020-09-04 15:34] borgmanJeremy commented on #591
Closing as duplicate. Working on a new release.

[2020-09-04 15:34] #591 closed

[2020-09-04 15:35] borgmanJeremy commented on #575
Added in new release with pixelate tool.

[2020-09-04 15:35] #575 closed

[2020-09-04 15:38] #472 closed

[2020-09-04 15:39] borgmanJeremy commented on #463
Working on a new release.

[2020-09-04 15:39] #463 closed

[2020-09-04 15:39] ben-kuhn commented on #711
If you notice the date on the feature request it was mostly a lighthearted attempt at humor after a coworker suggested that if I circle things in screenshots using crayon the intended recipient might understand better.

As far as what this might look like, the crayon tool would be wider and have varying line hardness and opacity.  The pencil tool is makes precise lines (like an actual pencil) and

[2020-09-04 15:39] borgmanJeremy commented on #452
Monochrome icon is supported in KDE now.

[2020-09-04 15:39] #452 closed

[2020-09-04 15:39] borgmanJeremy commented on #437
This works with the CTRL Key now.

[2020-09-04 15:40] #408 closed

[2020-09-04 15:41] #321 closed

[2020-09-04 15:41] #312 closed

[2020-09-04 15:42] borgmanJeremy commented on #244
This is merged to master as the new blur tool.

[2020-09-04 15:42] #244 closed

[2020-09-04 15:43] borgmanJeremy commented on #188
I think it the best solution is to have each user provide thier own API key. Thoughts?

[2020-09-04 15:43] borgmanJeremy commented on #187
Merged into master and will be in next release.

[2020-09-04 15:43] #187 closed

[2020-09-04 15:44] borgmanJeremy commented on #49
Duplicate. Will add flatpak in next release.

[2020-09-04 15:44] #49 closed

[2020-09-04 15:48] borgmanJeremy commented on #815
Working on this now. Do you know what the "lintian" in this path is for: /usr/share/lintian/overrides/flameshot

[2020-09-04 15:51] hosiet commented on #815
Oh please ignore the lintian override file, that is Debian-specific.

[2020-09-04 15:56] hosiet opened #816 "org.dharkael.Flameshot.service hardcodes binary file PATH"
**Flameshot version**
git HEAD

**Describe the bug**
https://github.com/flameshot-org/flameshot/blob/master/data/dbus/package/org.dharkael.Flameshot.service#L3

[code]

This file hardcodes the PATH to flameshot binary. When `$prefix` is not `/usr/`, this dbus service file will not work since it cannot find the proper flameshot binary.

I guess CMake should be responsible for the path manipulation

[2020-09-04 16:00] hosiet commented on #816
I just noticed that there is a `data/dbus/other-path/service-gen.sh` file handling this issue. This solution does not look so elegant though.

I believe CMake will have to handle this problem anyway when dealing with #815 .

[2020-09-04 16:05] Martin-Eckleben commented on #711
*chuckle

;) :))

[2020-09-04 16:05] #711 closed

[2020-09-04 16:11] Martin-Eckleben commented on #188
Pretty annoying for basic users but in bigger numbers I know of no alternative.

[2020-09-04 16:12] borgmanJeremy commented on #188
Do you know if we are close to hitting the imgur limit? If not we can leave the default key and just allow users to change it.

[2020-09-04 16:13] hosiet commented on #754
I do not believe one can find `QtSingleApplication` support in any community Qt 5 distribution.

If the `QtSingleApplication` you are referring to is this one (https://repology.org/project/qtsingleapplication/versions , or https://github.com/qtproject/qt-solutions/tree/master/qtsingleapplication), I have to point out that it is not packaged in any deb-based Linux distributions and Arch Linux-based

[2020-09-04 16:28] borgmanJeremy commented on #815
What about the man file? Not seeing that in the source tree.

[2020-09-04 16:37] hosiet commented on #815
Ah sorry this file is also Debian-specific. You can find a copy at https://sources.debian.org/src/flameshot/0.6.0+git20191001-2/debian/flameshot.1/ .

If you are willing to add this file in the upstream repo, please feel free to do so.

[2020-09-04 19:00] Creteil opened #817 "Debian packaging..."
Why does since the fork the directory « debian » removed from the repository ?

Regards.

[2020-09-04 19:11] hosiet commented on #817
I believe the `debian/` dir has been moved under the `data` directory. After #814 gets merged, you may move this directory back to top dir and do a packaging as usual.

[2020-09-04 19:19] Creteil commented on #817
@hosiet thanks for the hint, I check the build and report...

[2020-09-04 19:49] borgmanJeremy commented on #817
I moved it in the data directory because we also have rpm, flatpak and will add snaps and I did not want to clutter the root directory. If it is confusing or non-standard I can move it back to the root directory. I'm totally open to feedback and discussion on this.

[2020-09-04 19:50] Creteil commented on #817
debian build broken :

http://paste.debian.net/1162688/

[2020-09-04 19:53] borgmanJeremy opened #818 "Fix packages (rpm, deb, flatpak, snap)"
Moving to cmake broke the package builds. These need to be fixed and added to CI.

[2020-09-04 19:53] borgmanJeremy commented on #817
Opened #818 to fix all the packages and add to CI.

[2020-09-04 19:58] hosiet commented on #818
I am in charge of deb packaging in Debian official repository so let me know if you have any question in this area.

For current repo, deb packaging will be usable after merging #814 . After the PR is merged, one only need to move `/data/debian/` one level up to be `/debian/` and run the package building commands as usual.

[2020-09-04 20:02] borgmanJeremy commented on #818
Ok thanks for the help. I got that PR merged in and will restructure the folders after fixing the cmake install... Almost done with that (mostly get work done while the baby naps and at night).

[2020-09-04 20:20] Martin-Eckleben commented on #188
Today we have 1248 uploads left from max. 1250 (and I did one this morning If I remember correct :) ).
Probably we should monitor it but also should not waste time on it now as we have a lot to catch up.
We should postpone it I think?

[2020-09-04 20:21] Creteil commented on #818
It look like we cannot build debian package under 18.04 xenial anymore (cmake 3.13 required when xenial have 3.10).

[2020-09-04 20:27] Creteil commented on #818
I am newbie, but since now I always build from git repository with auto generating incremented version of package like this :

`DEBEMAIL="COLIN Stephane <bigbob.fun@gmail.com>" dch -b -v $(git --git-dir .git --work-tree . describe --always --tags | cut -c2-) "Update to latest GIT Version..." && sed -i '$!N; /^\(.*\)\n\1$/!P; D' debian/changelog ; head -10 debian/changelog`

It generate something l

[2020-09-04 20:31] borgmanJeremy commented on #818
OK let me see if we are compatible with 3.10. My intention is to support 18.04

[2020-09-04 20:31] hosiet commented on #818
That's also one issue that might worth consideration: the minimum version requirement for CMake.

| Distribution version  | CMake version | End-Of-Life date |
| ------------- | ------------- | ----------- |
| Debian 9  | 3.7.2  | 2022-06 |
| Debian 10  | 3.13.4 (with 3.16.3 in backports repo)  | 2024-06 |
| Ubuntu 16.04 | 3.5.1 | 2021-04 |
| Ubuntu 18.04 | 3.10.2 | 2028-04 |
| Ubuntu 20.04 | 3.16.

[2020-09-04 20:42] borgmanJeremy commented on #818
Turns out it requires a minimum of 3.13 due to https://cmake.org/cmake/help/latest/policy/CMP0076.html#policy:CMP0076

I am of the strong opinion that anyone building from source should be open to upgrading build tools like cmake since it is not a runtime dependency. Being stuck on old build tool versions can be really tedious.

If this isn't reasonable from a distro maintainer standpoint I can se

[2020-09-04 20:50] Creteil commented on #818
I agree...

[2020-09-04 20:56] hosiet commented on #818
I have no objection on using CMake 3.13's feature to ease the construction of buildsystem.

Since after all it's flameshot upstream providing the new prebuilt packages, the task is now about installing a new CMake when preparing the prebuilt package before new version release (e.g. 0.8.0) and this _might_ be able to integrate into CI/CD.

[2020-09-04 20:58] borgmanJeremy commented on #815
Checkout #819 I just realized I forgot the man page, I'll add that tonight and fix any other comments you have.

[2020-09-04 20:59] borgmanJeremy commented on #816
Hrmmm. Okay, I can fix this in another PR. I know it can be done in cmake but don't know offhand how to have it modify the file. I like the idea.

[2020-09-04 22:03] mmahmoudian commented on #790
How about you use this instead:

[code]

I know this is not a permanent fix, but it is a quick one. Let me know if it works.

[2020-09-04 22:07] mmahmoudian commented on #788
It is almost two weeks that we haven't heard from @yildirimsertbas , therefore, I close this issue for now. comment if the issue is still there with the latest version in apt.

[2020-09-04 22:08] #788 closed

[2020-09-04 22:13] mmahmoudian commented on #784
Can you confirm this on another window manager? Also just to be sure, what window would get the focus when Flameshot is done and does not have any window?

I'm not a bspwm user, but in dwm the master gets the focus (assuming you have set Flameshot to store the screenshot in clipboard or file). I agree with @borgmanJeremy that this is they way the window manager is behaving.

[2020-09-04 22:19] mmahmoudian commented on #778
Nice demonstration 👍 can you check the flameshot version you have:
1. Open terminal
2. `flameshot --version`

[2020-09-04 22:29] mmahmoudian commented on #681
This is not something that the Flameshot should do, this is the part that your window manager should handle (executing a software or command based on a shortcut key). @Tejeev has kindly provided some insight on how to configure it in xfce. It is almost the same in Gnome and KDE.

 I'll close this issue as it is not a feature request or bug.

[2020-09-04 22:29] #681 closed

[2020-09-04 22:31] mmahmoudian commented on #763
This is duplicate or #681 . I'm closing this as ut has been answered by @Tejeev and @ryanerwin .

[2020-09-04 22:31] #763 closed

[2020-09-04 22:33] mmahmoudian commented on #759
Please try the following in terminal and report back:

[code]

[2020-09-04 22:36] mmahmoudian commented on #749
@marinho8bit do you think this issue is addressed? if so, let me know to close it as the Flatpak is on it's way as @borgmanJeremy has already took care of it in the codebase.

[2020-09-04 22:39] mmahmoudian commented on #738
Can you confirm if the issue still persists? also would you please let us know the window manager you are using and also what command in terminal did you use.

[2020-09-04 22:48] marinho8bit commented on #749
resolved

Em sex., 4 de set. de 2020 às 19:36, Mehrad Mahmoudian <
notifications@github.com> escreveu:

[2020-09-04 22:51] #749 closed

[2020-09-05 00:31] borgmanJeremy commented on #815
Merged #819

[2020-09-05 00:31] #815 closed

[2020-09-05 01:43] #816 closed

[2020-09-05 02:56] ZetaoYang commented on #818
There are a few things I'd like to say about CI/CD in the flameshot previous qmake build system: it uses this python tool https://github.com/packpack/packpack to package RPMs & Debian based on docker images from different distributions with the I've forked the repositories to organization `flameshot-org`(previously called flameshotapp).
some related links:
- dokcer images: https://hub.docker.com/r

[2020-09-05 09:39] mmahmoudian commented on #782
@denven after the comment @borgmanJeremy wrote, do you still think you want to have this feature request active? If not, i can close this.

[2020-09-05 10:01] mmahmoudian commented on #776
This is something your window manager should do. in KDE this is how you can do it:

1. Pin the screenshot in Flameshot
2. From the application bar at the bottom of the screen, right click on Flameshot
3. Go to "Move to Desktop"
4. Select "All Desktops"

![image](https://user-images.githubusercontent.com/390889/92302709-e1b2eb00-ef76-11ea-8bce-94caded3747b.png)

[2020-09-05 10:04] #776 closed

[2020-09-05 10:11] mmahmoudian commented on #773
@karthikiyengar can you try the approach presented here:
https://github.com/flameshot-org/flameshot/issues/790#issuecomment-687416350

it seems in Ubuntu somehow one need to initiate the app (e.g via `flameshot &`) before running other flameshot commands (e.g  `flameshot gui`)

Please report back if this have worked for you.

[2020-09-05 10:19] mmahmoudian commented on #796
@nyanpasu64 I have the same KDE and it works fine for me (I initially imported it from the [flameshot-shortcuts-kde](https://github.com/flameshot-org/flameshot/blob/master/docs/shortcuts-config/flameshot-shortcuts-kde) file.):

![image](https://user-images.githubusercontent.com/390889/92303057-28561480-ef7a-11ea-95c8-2662dcc5d972.png)

[2020-09-05 10:24] mmahmoudian commented on #768
I changed the title to eliminate confusion with printscreen button on keyboard.

[2020-09-05 10:32] mmahmoudian commented on #767
There is [a Flameshot Translation instructions](https://github.com/flameshot-org/translation-instruction) page. It might be slightly out-dated but it should still work. Ask if you faced any discrepancies.
To download the latest `.ts` template, choose one of them from [here](https://github.com/flameshot-org/flameshot/tree/master/data/translations)

[2020-09-05 10:50] mmahmoudian commented on #695
I think this will be solved after what explained [here](https://github.com/flameshot-org/flameshot/issues/777#issuecomment-685957085) is implemented.

If you have other suggestions for improving the application, please post them. For now, I close this issue as it is addressed elsewhere. If you think this should stay open, please comment here.

[2020-09-05 10:50] #695 closed

[2020-09-05 11:35] pollekepol commented on #767
Thanks Mehrad,

I see there is some already busy with a dutch translation but it is
unfinished.
I can complete it, but I don see a download button to download the ts
file.
Regards Freek.

Mehrad Mahmoudian schreef op 2020-09-05 12:33:

Links:
------
[1] https://github.com/flameshot-org/translation-instruction
[2]
https://github.com/flameshot-org/flameshot/tree/master/data/translations
[3]
https://

[2020-09-05 12:26] borgmanJeremy commented on #818
This sounds like a great idea. I can work on this after fixing the packages. Or feel free to submit a pr if you have time.

[2020-09-05 13:23] mmahmoudian commented on #767
@pollekepol just save this file:
https://raw.githubusercontent.com/flameshot-org/flameshot/master/data/translations/Internationalization_de_DE.ts

[2020-09-05 13:47] Martin-Eckleben commented on #716
In my opinion should be described in

[code]

But would not change behavior as by far most people using it probably have system trays?

[2020-09-05 14:15] ZetaoYang opened #824 "Could not find SHOpenWithDialog under Windows 10 using mingw64(TGM-GCC)"
After flameshot building mechanism refactoring, I try run new code under Windows 10 using JetBrains Clion with mingw64(TDM-GCC 9.2.0). found in the file `src/tools/launcher/openwithprogram.cpp`, an error appears: `error: 'SHOpenWithDialog' was not declared in this scope`, as shown in the screenshot,
![image](https://user-images.githubusercontent.com/10769951/92306566-a50ce100-efc2-11ea-90ce-a7f788

[2020-09-05 14:46] Martin-Eckleben commented on #716
Will be improved by [https://github.com/flameshot-org/flameshot/pull/827](url).

Will close this issue.
If you think it should be discussed more in depth comment and I'll reopen it.

[2020-09-05 14:46] #716 closed

[2020-09-05 15:40] SuShY28 commented on #738
Hello, it's ok.

[2020-09-05 15:40] #738 closed

[2020-09-05 15:45] hosiet opened #829 "command line help string should be translatable"
**Flameshot version**
git HEAD

**Describe the bug**

When looking into #827 , I found that `helpText` in `CommandLineParser::printHelp` was not made to be translatable.

https://github.com/flameshot-org/flameshot/blob/8cf8cb9a652fb244246a5fca297de7a6ea31e003/src/cli/commandlineparser.cpp#L355-L358

 I believe these help texts should be made translatable to help users of different locales understa

[2020-09-05 15:55] borgmanJeremy commented on #829
Agreed. When a new string is added so you think the author should use Google translate to populate the translation? Or leave it unfinished.

[2020-09-05 15:55] mmahmoudian commented on #795
@Meister1593 do you use two or more monitors with different resolutions and even possibly connected to two different graphic cards? to me it seems that in the video you shared, it seems that you hit the printscreen button when your mouse is on another monitor and then you come back to the monitor you are recording from and start click+drag.

[2020-09-05 15:58] mmahmoudian commented on #786
@tawmoto please report back if the issue still persists after building from source, and if it is fixed, please close this issue.

[2020-09-05 15:58] hosiet commented on #829
Perhaps we can leave it blank. When the entire code is ready for release (let's say if we will release it one or two weeks later) we can refresh all .ts files, make a translation call and accept Pull Requests for translation update.

[2020-09-05 16:18] mmahmoudian commented on #760
I confirm the  @c29r3 statement. I reproduced the same behavior when the scaling in KDE Plasma is more than 100%.

My system info:
[code]

[2020-09-05 16:26] borgmanJeremy commented on #829
Yeah thats a good idea. With the changes will will had in #830 we can pass a cmake flag to update the ts files.

[2020-09-05 16:30] hosiet commented on #824
I just tried to build using a slightly different toolchain and the build was successful:

* System: Windows 10 v19041
* Mingw-w64 provided by MSYS2
* mingw-w64-Qt5 library provided by MSYS2
* Clion 2020.2

As a result I assume there might be some quirks in the mingw64 provided by TDM-GCC distribution.

[2020-09-05 17:03] Martin-Eckleben commented on #766
@meven I don't 100% get the downscaling part.
Did Plasma < 5.19 in combination with Wayland automatically downscale the screenshots it took?
Asking instead of testing to save time.

[2020-09-05 17:24] hosiet commented on #824
![图片](https://user-images.githubusercontent.com/8443926/92310280-ce098380-ef7a-11ea-85e0-9de63c162ea8.png)

Providing a screenshot of flameshot built with mingw-w64 with no special tweaks (just a plain CMake build). It looks like the major problem is that the program will always bring up a terminal. I think this should be solvable.

[2020-09-05 18:00] Martin-Eckleben commented on #7
This is why I started to get involved in Flameshot.
The oldest issue btw. :)
As I right now tried to reproduce it for a photo It does not happen anymore.

I'll definitely look into this!

[2020-09-05 18:38] Martin-Eckleben commented on #7
No ARandR padding for me.

![image](https://user-images.githubusercontent.com/1571683/92311484-b1d80780-efb7-11ea-99ab-a33c08db6318.png)

[2020-09-05 18:39] meven commented on #766
Yes, when the user has a scaling factor. (https://bugs.kde.org/show_bug.cgi?id=409762)

[2020-09-06 03:07] ZetaoYang commented on #824
Compilation results for different compiler environments:
- MSVC 2019 64 bits: compiled successfully, because `_WIN32_WINNT > 0x0600`. `ShlObj.h` include `ShlObj_Core.h`, see
  - https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/nf-shlobj_core-shopenwithdialog
  - https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/
  - https://docs.microsoft.com/en-us/windows/win32/api/shlo

[2020-09-06 06:11] lucasrdrgs opened #831 "Weird snapping behavior"
**Flameshot version**
v0.8.0 compiled with Qt 5.15.0
PS: I installed it through Manjaro's GUI package manager and also tried through cloning the AUR snapshot package, it seems that only `flameshot-git` has this problem.
(EDIT: apparently I no longer have this issue with regular `flameshot`, but it lacks the text tool)

**Describe the bug**
Taking screenshots works just fine as long as I never pres

[2020-09-06 08:00] Meister1593 commented on #795
Not sure what happened, but right now flameshot is working fine. Haven't seen such issue in like a 2-3 weeks.
Yes, i do have multiple monitors, but with same resolution and on one GPU.
I feel like this was Chromium issue (i used Vivaldi atm), because right now my Chromium is older, `chromium 84.0.4147.135-1` (i don't upgrade because of bug in 85 release with clipboard)

[2020-09-06 09:02] radoeka opened #832 "Unexpected configuration file / path name"
**Flameshot version**
flameshot-0.6.0

**Describe the bug**
The config file name: .config/Dharkael/flameshot.ini or .config/Dharkael.ini, etc is unexpected.

**To Reproduce**
Just install flameshot

**Expected behavior**
I would opt for, at least at linux system for: .config/flameshot/flameshot.ini or .config/flameshot.ini, etc is unexpected.
Even better might be:  .config/flameshot/flameshot.conf

[2020-09-06 09:50] mmahmoudian commented on #795
Having nondeterministic bug behavior makes is really hard to track down the issue and fix it.
Would it possible for you to do whet I suggested (quoted below) and see if you can reproduce the bug. Also if you suspect the issue is related to Chromium, run it once with chromium and once without to test the hypothesis.

[2020-09-06 10:19] mmahmoudian commented on #831
@lucasrdrgs there will be a new release soon and the improvements you have seen in `flameshot-git` AUR will be also available in community version as well.

Regarding this bug report, let see if we can reproduce it.

[2020-09-06 10:37] mmahmoudian opened #833 "Missing icon"
**Flameshot version**
Flameshot v0.8.0 (commit f34def6)
Compiled with Qt 5.15.0

**Describe the bug**
The "Set pixelate as paint tool" does not have icon, and it is an empty circle:

![IMG_20200906_132830](https://user-images.githubusercontent.com/390889/92324007-193c9880-f046-11ea-9d11-d92b47a2af13.jpg)

**Expected behavior**
Having an icon like other buttons.

**System Information**
Operating Sy

[2020-09-06 10:46] mmahmoudian commented on #753
@mystiquewolf There will be a release soon, but at the moment try to update the Flameshot as you are getting it from a build based on git.

-------

@AlexP11223 the Flameshot now has transformed into an organization with multiple maintainers and as you can see, the number PRs and Issues are reducing and soon there will be a release. In case you want to join the community, please visit [flameshotwo

[2020-09-06 10:50] AlexP11223 commented on #753
I did already :D

[2020-09-06 11:10] mystiquewolf commented on #753
Gnome 3.36 on Ubuntu 20.04. Was using x.org previously, but switched to Wayland. I have stopped sending the errors, i'll wait for the new release and then continue sending them. Just check the issues here: https://bugs.launchpad.net/ubuntu/+source/flameshot

[2020-09-06 13:29] Meister1593 commented on #795
I couldn't reproduce issue again, not even in Vivaldi. I also remember that this was issue also for Discord, but i can't reproduce it again with it.
Seems like chromium either fixed it, or something was broken->fixed in Arch with updates.

[2020-09-06 14:56] borgmanJeremy commented on #829
Looking into this it seems none of the text printing by the CLI parser is in the translation files. I think this is a good thing to add, but will be more work than that one string.

[2020-09-06 15:03] mmahmoudian commented on #795
Thank you for trying it. Feel free to open this issue if you face it again.

[2020-09-06 15:03] #795 closed

[2020-09-06 15:06] mmahmoudian commented on #753
I keep this issue open, but keep the label "unconfirmed bug". Please let us know if the issue persists after updating Flameshot.

[2020-09-06 15:26] borgmanJeremy commented on #832
Configuration files is something I want to look at refactoring but will not make it into the 0.8 release. I agree the behavior should be modified.

[2020-09-06 15:33] borgmanJeremy commented on #824
Good work on the investigation, I agree with the changes.

[2020-09-06 16:03] mmahmoudian commented on #507
Considering that Flameshot has migrated to [Github organization](https://github.com/flameshot-org/), the config path will be modified and the whole config part in the codebase [will be refactored](https://github.com/flameshot-org/flameshot/issues/832#issuecomment-687819491). Stay tuned 😉

[2020-09-06 16:03] #507 closed

[2020-09-06 16:06] mmahmoudian commented on #690
@GetCurious can you elaborate more on the idea? Perhaps even adding an example to show exactly what you mean.

[2020-09-06 16:08] mmahmoudian commented on #675
@ZetaoYang is this still a valid issue considering the recent changes?

[2020-09-06 16:11] pollekepol commented on #767
Thank you Mehrad for the file.

In return (attached) the Dutch Translation (100% finished)

Regards Freek Pol

Mehrad Mahmoudian schreef op 2020-09-05 15:23:

Links:
------
[1] https://github.com/pollekepol
[2]
https://github.com/flameshot-org/flameshot/issues/767#issuecomment-687610953
[3]
https://github.com/notifications/unsubscribe-auth/ALBG5EKIL4C36NWLZCIPJI3SEI3V7ANCNFSM4NYIG7AA

[2020-09-06 16:12] mmahmoudian commented on #670
I think this is out of the scope of this software. You can achieve this using [https://github.com/phw/peek](https://github.com/phw/peek) which is designed for this purpose:

![peek example](https://raw.githubusercontent.com/phw/peek/master/data/screenshots/peek-recording-itself.gif)

[2020-09-06 16:29] mmahmoudian commented on #767
@pollekepol It is not possible to attach a file to an issue. You can click on the following link and see for yourself:

[https://github.com/flameshot-org/flameshot/issues/767#issuecomment-687830334](https://github.com/flameshot-org/flameshot/issues/767#issuecomment-687830334)

I suggest you create a pull request as explained in [this YouTube video](https://youtu.be/rgbCcBNZcdQ) or [this article](h

[2020-09-06 18:32] mystiquewolf commented on #753
Do you mean after you release the update that you said you were planning to release and i receive it via "Software updater"? Or i need to do something else?

[2020-09-06 19:56] mmahmoudian commented on #753
Yes, please report back when you got the next release. you can either get it from your OS repo or Flatpak or compile it yourself. I appreciate the time you spent on this 👍

[2020-09-06 20:49] pollekepol commented on #767
A pull request is in spite on youtube and the article rather complicated to
understand
Here by the link to the translation file on google drive:
https://drive.google.com/file/d/1oDULcreIu0WZbvOKt-Ok2XsXrNS7xM9E/view?usp=sharing
Regards Freek.

Op zo 6 sep. 2020 om 18:29 schreef Mehrad Mahmoudian <
notifications@github.com>:

--
Vriendelijke groet,
Freek Pol.

[2020-09-06 20:49] hosiet opened #840 "The size of counter bubble should be adjustable"
A new tool (autoincrement counter bubble) was added in flameshot. However, the size of this tool cannot be adjusted. This is often not friendly for HiDPI users.

![图片](https://user-images.githubusercontent.com/8443926/92335002-ccb28680-f060-11ea-8c7e-44c394e19a42.png)

(Like in this screenshot, the sizes of bubbles are all the same.)

* * *

It would be better if the counter bubble can be adjusted

[2020-09-06 20:52] borgmanJeremy commented on #840
Good suggestion. While you are testing can you check if undo works? I have some issues with undo and the counter bubbles and I wonder if it is still there with HiDPI

[2020-09-06 20:57] hosiet commented on #840
I just saw bugs related to numbering:

* Count number 1, 2, 3, 4, 5
* Make an undo
* Insert counter bubble again: the new number is supposed to be 5 but actually the number will be 6

I believe we need some sort of "hook" with undo/redo and modify the global counter value whenever an undo/redo happens. Or the action of numbering should also memorize its number when logged into the history. The fin

[2020-09-06 20:58] joaoeudes7 commented on #675
Yeah, I use ArchLinux, I believe it is with the latest versions and it is not working yet

[2020-09-06 21:12] CEHitchens commented on #785
Same issue as craigstar.
Linux Mint 19.3 Cinnamon; purged the former flameshot version, deleted Dharkael folder in /.config/, installed the latest *.deb and I don't see an option to enable the text input after I run "flameshot configure".
Yes, in LM20 this works.

[2020-09-06 21:21] mmahmoudian commented on #675
@joaoeudes7 I just realized the issue: Sway WM. Actually it is not sway's fault but I probably know what is happening. the same thing happens with the current `flameshot-git` AUR. When you run `flameshot gui` or any other argument of flameshot, the main application does not get launched. To bypass this while we are investigating this follow:

https://github.com/flameshot-org/flameshot/issues/790#i

[2020-09-07 00:41] #824 closed

[2020-09-07 00:43] borgmanJeremy opened #842 "Counter Bubble and Undo"
When using the counter bubble tool, if you undo a bubble, the count does not decrement.

[2020-09-07 00:47] #652 closed

[2020-09-07 01:01] borgmanJeremy commented on #829
@Martin-Eckleben  fixed this in #839

[2020-09-07 01:15] borgmanJeremy commented on #805
I am unable to replicate this on KDE/Arch using the latest flameshot version. Could you try the latest version built from source? Or since you are on Manjaro you can try flameshot-git from the AUR.

Otherwise we will shortly have an official release out you can test from the official Arch repo.

[2020-09-07 01:19] borgmanJeremy commented on #818
If anyone is particularly good with snaps I could use help fixing the snap. I have a branch with the deb, rpm, and flatpak updated but am struggling to get the snap working properly.

[2020-09-07 01:21] #833 closed

[2020-09-07 01:41] borgmanJeremy commented on #840
I need to clean up the code but I think the bubble size feature is working. This also resolved a visual glitch related to undo on low dpi screens. Fixing the numbers will take a bit more thought. Let me know if this looks good to you and I'll get a PR submitted.

![Peek 2020-09-06 20-40](https://user-images.githubusercontent.com/46930769/92340816-58d4a600-f081-11ea-99f2-f6073ad46f1a.gif)

[2020-09-07 01:54] hosiet commented on #840
This effect should be good enough. Glitch is actually not a big problem and at least I can't see it in the animation above.

[2020-09-07 02:10] #840 closed

[2020-09-07 03:44] hosiet opened #844 "Proposed Changelog from 0.6.0 to 0.8.0"
With v0.8.0 not too far away, I was looking back and seeing what has changed since the v0.6.0 release. This is a list of identified important changes written in GitHub markdown and I believe such list should eventually appear in https://github.com/flameshot-org/flameshot/releases .

To prevent the references to individual issues from appearing, the text is wrapped in a blockquote for now.

[code]

[2020-09-07 06:47] pengux commented on #675
@mmahmoudian So I tried `( flameshot & ) && flameshot gui` and it launched flameshot, but it just show the notification `Unable to capture screen` whenever I try to take a screenshot. I'm using Sway and Arch Linux

[2020-09-07 06:50] mmahmoudian commented on #675
@pengux I'm so confused, it opened but throw an error? can you post a screenshot (or take a photo with your phone)?

[2020-09-07 07:01] pengux commented on #675
Yes, here's a screenshot. Is there a debug flag to get debug logs when launching flameshot?

![image](https://user-images.githubusercontent.com/2286687/92357720-9ae50280-f0e8-11ea-8675-bbc9b985091b.png)

[2020-09-07 08:07] thepurple commented on #410
Is fixed in our fork, will be merged a bit later.

[2020-09-07 08:16] thepurple commented on #241
I guess we should make it configurable and add hotkeys for different features. Different people wants different default behavior.

[2020-09-07 08:31] mmahmoudian opened #847 "Naming discrepancy in the menus and window titles"
**Flameshot version**
Flameshot v0.6.0
Compiled with QT 5.9.5

**Describe the bug**
When right-clicking on the tray icon, there is an item named "Information", clicking on it will open a window named "About" which mostly contains "Shortcuts"!

**To Reproduce**
Right-clicking on the tray icon.

**Expected behavior**
Have uniform names.

**System Information**
OS: Ubuntu 18.04.5 LTS
DE: Budgie

[2020-09-07 08:38] vvrein commented on #675
@mmahmoudian here some logs for @pengux screenshot:
[code]
1) I started flameshot from cli on sway
2) Flameshot icon appeared in the tray
3) On click on flameshot tray icon - I got same notifications as above
(actually I clicked 3 times, so there is 3 messages in terminal)

WM: sway
OS: Arch Linux
| flameshot -v
Flameshot v0.8.0
Compiled with Qt 5.15.0

[2020-09-07 08:40] mmahmoudian opened #848 ""Copy information" GUI button and CLI argment"
When reporting bugs on Github, people are not using a uniform format and usually miss to report every detail about their system. I propose having a button in the "About" window and also an argument in the CLI that prints a uniform format of the system information. I've seen other software having such a button to make the dev's life much easier.

The information I can think of are :

* OS and versi

[2020-09-07 08:41] ZetaoYang commented on #675
@mmahmoudian I confirm this is a bug, when I used flameshot on Fedora 32 Gnome with Wayland, this issue appears.But on Fedora 31 with Wayland, it can start normally .

[2020-09-07 09:11] ZetaoYang commented on #824
PR https://github.com/flameshot-org/flameshot/pull/849.

[2020-09-07 12:00] zorn-v opened #850 "flameshot gui does not launch app as before"
**Flameshot version**
Flameshot v0.8.0(git20200904,Debian)
Compiled with Qt 5.14.2

**Describe the bug**
Previously if you run `flameshot gui` with not prelaunched flameshot it launch app and then allow to take screenshot.
I set hotkey for "take screenshot" which run this command as I supopse and all works fine.
But some time ago flameshot was updated in Kubuntu 20.10 and if app not launched nothi

[2020-09-07 12:30] Martin-Eckleben commented on #829
Should be solved. Will close - if anybody disagrees comment and I'll reopen.

[2020-09-07 12:30] #829 closed

[2020-09-07 13:02] eancuta commented on #801
I think I'm using xorg. Is there a way I can check so I can let you know for certain?

[2020-09-07 14:48] ZetaoYang commented on #818
This PR https://github.com/flameshot-org/flameshot/pull/851 only for deb & rpm. For flatpak, snap and appimage need some time to resolve.

[2020-09-07 15:03] borgmanJeremy commented on #847
I propose changing the item to "About" to match the window title since "About" is a pretty standard menu name for bringing up hotkeys, version, etc.

[2020-09-07 15:15] borgmanJeremy commented on #817
#851 fixes debian and RPM packages. I will leave #818 open for universal packages.

[2020-09-07 15:15] #817 closed

[2020-09-07 16:15] hosiet opened #854 "Current buildsystem does not install flameshot.appdata.xml file"
**Flameshot version**
git HEAD

**Describe the bug**
Current `src/CMakeLists.txt` file did not install the `flameshot.appdata.xml` file. This file should be installed into `/usr/share/metainfo/` directory.

[2020-09-07 16:16] #850 closed

[2020-09-07 20:16] hosiet opened #858 "Side effect on D-Bus naming as org.flameshot-org.Flameshot"
**Flameshot version**
git HEAD

**Describe the bug**

I noticed there was a https://github.com/flameshot-org/flameshot/commit/60ef3f3e6f63be4fa2555bf810221623b2034cd6 . Compared to https://github.com/flameshot-org/flameshot/commit/18f18ce7ef319ebedf1e0adfd4a87eb4cd798e81 , the new commit forgot to tune the D-Bus name in `docs/shortcuts-config/flameshot-shortcuts-kde` , `src/core/flameshotdbusadapt

[2020-09-07 20:31] borgmanJeremy commented on #858
Is the official dbus name org.flameshot.Flameshot?

The reason I made the change was I noticed the cpp files were still org.Dharkael.Flameshot.

[2020-09-07 21:03] #854 closed

[2020-09-07 21:06] borgmanJeremy commented on #806
I was able to replicate this.

[2020-09-07 21:11] #858 closed

[2020-09-07 21:26] borgmanJeremy commented on #699
You need to use the scroll wheel in the other direction to decrease the size.

[2020-09-07 21:27] #699 closed

[2020-09-08 00:30] borgmanJeremy opened #861 "Host Releases On Github"
When the 0.8 version is released I would like to host the binaries on github. This will especially help out the windows users.

[2020-09-08 00:30] borgmanJeremy commented on #29
I opened #861 so that we will officially host the binaries on github after the next release. If there are still specific bugs after the next release lets file new reports.

[2020-09-08 00:30] #29 closed

[2020-09-08 00:41] borgmanJeremy commented on #743
@mmahmoudian  I agree this should be done for the 0.8 release especially since all the DBus names changed to flameshot. We just need to be really clear in the release notes so users know to move their config files.

[2020-09-08 00:46] borgmanJeremy commented on #743
Actually this is already completed due to the changes related to DBus and XDG.

[2020-09-08 00:46] #743 closed

[2020-09-08 00:57] borgmanJeremy commented on #766
@meven Can you checkout #862 ? I think this will comply with Plasma 5.20, thanks for the heads up.

[2020-09-08 01:02] borgmanJeremy commented on #801
@luiq54 Can you test using flameshot-git from the AUR? Or build from source? I am not able to replicate it on my arch install.

[2020-09-08 01:03] hosiet commented on #861
It seems that we need to provide binary packages on GitHub for the following systems:

* Windows
* Ubuntu 20.04 LTS
* Ubuntu 18.04 LTS
* Debian Testing/Sid (via Debian's official repository, not GitHub)
* Debian 10 (GitHub first, maybe Debian's official repository later)
* Debian 9
* Fedora 32
* Fedora 31

* * *

Actually the windows build is still at a very early beta stage and the whole toolchai

[2020-09-08 01:03] borgmanJeremy commented on #522
@grossherr Do you want to submit a PR with that fix? If not I can manually do it, I just don't want to steal your credit :)

[2020-09-08 01:06] borgmanJeremy commented on #861
Do you know if there is an issue with windows stability or just the toolchain to build it? I have it building in appveyor right now but I still need to tie it into github actions.

I am fine labeling it as a "beta" release for 0.8.

Thanks for identifying all the packages.

[2020-09-08 01:09] hosiet commented on #861
I don't see a stability issue; it's mostly about how to properly set up the toolchain and which toolchain should we be using (MSVC or MINGW).

The major part is that we will need to disable D-Bus part completely since Windows does not have D-Bus. I'm not sure how that will affect the stability of windows build. I believe #29 has discussion of last round's windows release of v0.6.0 and @ZetaoYang k

[2020-09-08 01:33] grossherr commented on #522
@borgmanJeremy No worries, go for it

[2020-09-08 02:48] zorn-v commented on #850
Just build with https://github.com/flameshot-org/flameshot/pull/852 merged - problem not fixed.

[2020-09-08 06:53] marcozaccari commented on #796
Kubuntu 20.04, Plasma 5.18.5

In the KDE settings, Shortcuts section, the Remote application should be `org.dharkael.Flameshot` instead of `org.flameshot.Flameshot`.
Searching by D-Bus Browser confirms this settings.

[2020-09-08 08:07] Porrumentzio opened #863 "Make the selection cross more visible"
Sometimes is very hard to find out where the selection cross is due to its thinness and unique color.

So my proposal simple: add an external white border to the cross; this way the cross will be seen in better in dark background and also good if the background transparency is very low¹, because the inner dark part of the cross would remain there.

¹ Many users use this as workaround to this probl

[2020-09-08 08:17] mmahmoudian commented on #796
@marcozaccari is correct for the current version if Flameshot (version 0.6), but as [it has been explained](https://github.com/flameshot-org/flameshot/issues/858#issuecomment-688501506), in the upcoming version, the dbus name is changed to `org.flameshot.Flameshot` for the upcoming release and also for the git builds. Stay tuned for the new release as it has quite a few bug fixes and new features

[2020-09-08 09:09] pymen commented on #506
still actul!

[2020-09-08 09:16] Martin-Eckleben commented on #506
Recently someone mentioned KDE < 5.19  + Wayland will compress screenshots as well.
Ill look into this but it will probably take some time because this repo has a lot to catch up to.

[2020-09-08 09:20] zw963 commented on #699
@borgmanJeremy , i think i knew it. the issue is, why the wheel control the width of all components?
e.g. i want to a more bigger font,  but with more narrow line, for this case, it give a bad experience.

consider try https://github.com/linuxdeepin/deepin-screenshot, it behavior as what i want.

Thank you.

[2020-09-08 09:41] pymen commented on #506
Looks like quality can be set via https://doc.qt.io/qt-5/qpixmap.html  (i am not a c dev)

[2020-09-08 12:39] #766 closed

[2020-09-08 12:53] borgmanJeremy commented on #844
* The config file location changed to ~/.config/flameshot

[2020-09-08 13:14] borgmanJeremy commented on #675
I can confirm this with sway on arch. Thanks for clarifying, It seems to work okay with KDE on Wayland.

[2020-09-08 13:14] hosiet commented on #782
I believe there's a trend of expectation that the size of different tools should not be a global variable; they should be recorded separately. It is kind of a feature request and the rationale behind is valid, but such needs contradicts with the low-level design of flameshot. If we are to fix it, it will largely change user interaction experience as well as introducing nontrivial code refactoring.

[2020-09-08 13:26] joaoeudes7 commented on #675
Using package flameshort-git works, but flameshort not.
https://www.archlinux.org/packages/community/x86_64/flameshot/

Thank you for your attention and commitment to the project

[2020-09-08 13:58] borgmanJeremy commented on #706
Can you post your exact setup? I've started looking into this issue. Specifically I am wondering what distro, KDE version, and if you are using xorg or wayland.

[2020-09-08 13:59] borgmanJeremy commented on #506
@pymen What screen resolution do you have? I am looking to reproduce the issue.

[2020-09-08 14:00] borgmanJeremy commented on #706
Seems to be duplicate of #506

[2020-09-08 14:21] pymen commented on #506
I do not have an issue, I just wanted to say that it will be nice to have some configuration to set the quality of the capture image, for example, if I need to post IMG to slack I do not need quality=10, 3 will be enough

[2020-09-08 14:25] borgmanJeremy commented on #506
Ohh ok, I was looking into an issue where people are saying Flameshot is compressing the image when they do not want it to.

[2020-09-08 15:42] ZetaoYang commented on #818
See PR https://github.com/flameshot-org/flameshot/pull/866

[2020-09-08 16:05] vvrein commented on #675
@joaoeudes7 what is your DE?
I'm still can not capture screenshot on sway (latest commit build a892766)

[2020-09-08 16:05] mmahmoudian commented on #782
@hosiet  I also personally prefer to have them separately as I have to remember what size I chose for each tool and then resize every tool manually.

@borgmanJeremy what do you think? Shall I create a feature request based on this issue?

[2020-09-08 16:11] mmahmoudian commented on #752
@violetu can you elaborate more on your idea? For example, you would like to give it the coordinates of the top-left corner and width and height or give it two coordinates (top-left, bottom-right)? Do you want it to show it in `flameshot gui` or you want it to be done and saved in a file (or clipboard) as an argument to `flameshot full`? just lay down your idea in more detail so that everyone can

[2020-09-08 16:13] borgmanJeremy commented on #782
Sure, I reopened the issue as I did not realize how popular it was to want different settings. We could potentially still use the scroll wheel for all tools, but store the thickness as a unique value for each tool rather than a shared value.

[2020-09-08 16:14] borgmanJeremy commented on #818
Thanks @ZetaoYang !

[2020-09-08 16:14] #818 closed

[2020-09-08 16:24] mmahmoudian commented on #782
use the scroll wheel for changing size/thickness of all tools, but store the thickness as a unique value for each tool rather than a shared value. 🤘🏼

[2020-09-08 16:30] #847 closed

[2020-09-08 16:33] joaoeudes7 commented on #675
Operating System: Arch Linux
KDE Plasma Version: 5.19.5
KDE Frameworks Version: 5.73.0
Qt Version: 5.15.0
Kernel Version: 5.8.7-arch1-1
OS Type: 64-bit

[2020-09-08 16:36] #842 closed

[2020-09-08 16:51] mmahmoudian commented on #718
@redxtech it has been a long time since this bug report, is the issue still persists? if so, please specify your current Flameshot version and also the repo you installed it from (AUR or community arch repo).

[2020-09-08 16:53] mmahmoudian commented on #712
actually there is a way: terminal
try the following commands:
- `flameshot gui`
- `flameshot config`
- `flameshot full`
- `flameshot --help`

[2020-09-08 16:55] #712 closed

[2020-09-08 16:58] Martin-Eckleben commented on #739
Maybe has to do with #7
(oldest issue)

Will definitely look into this!

[2020-09-08 16:59] mmahmoudian commented on #707
@Jalopyy then how do you define the area? To me this sounds similar to #752
Also please specify how do you want to define the area? Elaborate on your idea so that devs can completely understand the usefulness of your suggestion.

[2020-09-08 17:02] mmahmoudian commented on #705
It is clear that we do not have good documentation about windows builds. Flameshot works on windows, we just need to add that to readme and assets.

[2020-09-08 17:07] mmahmoudian commented on #703
@exapsy can you confirm if the issue still persists? Also, from where did you install Flameshot (AUR or community arch repo)?

[2020-09-08 17:20] mmahmoudian commented on #705
I asked @szszoke to kindly help with this issue and he kindly accepted my request. Unfortunately, I cannot assign this issue to him and as the result I have to use this comment as a form of assignment. I highly appreciate the help 👍🏼

[2020-09-08 18:01] pn2 commented on #782
The scroll wheel is fine but it would be great to have UI alternatives. For example, the scroll wheel may not be (easily) accessible on certain notebooks (it isn't on mine), and I often use graphics tablets or pens instead of a mouse for teaching. And it took me a while to understand that "active thickness" meant font size. Why not call it like this? There are also other UI elements that appear/di

[2020-09-08 20:54] hosiet opened #867 "Another bug with counter circle undo/redo"
**Flameshot version**
git HEAD

**Describe the bug**
I think there are still bugs with counter circle undo/redo.

**Reproduce the bug**
* Invoke counter circle 1, 2, 3, 4, 5
* Undo
* Undo
* Redo
* Redo
* Invoke counter circle again. It is supposed to be 6 but actually gives 4.

[2020-09-08 20:57] borgmanJeremy commented on #867
Good catch. I need to have redo emit the increments.

[2020-09-09 01:15] borgmanJeremy commented on #867
Thanks for all the testing on this new feature. Hopefully this is the last bug :)

The fix is not as elegant as I want it to be, but the UndoStack as provided by Qt uses strings instead of any other type of ID.

[2020-09-09 07:47] mmahmoudian commented on #782
It has been reported multiple times already that users with touch screens interfaces (generally no keyboard and mouse) cannot use Flameshot due to high dependency to keyboard shortcuts or mouse. I found these just by searching in issues:
#782 & #792

I think we should make Flameshot a bit more inclusive. For example by adding buttons + & - to the gui and/or <kbd>Ctrl<\kbd><kbd>+<\kbd> and <kbd>Ctr

[2020-09-09 10:42] mmahmoudian commented on #640
I didn't even knew the font can be changed!! Perhaps this should be properly documented.

Also it might be a nice touch to have right-click (or tap and hold) to each tool to see the corresponding settings of that tool.

[2020-09-09 12:31] #867 closed

[2020-09-09 12:40] ZetaoYang commented on #522
@borgmanJeremy I think this was fixed via yesterday new snap pakaging on github actions.

[2020-09-09 12:43] #522 closed

[2020-09-09 12:44] borgmanJeremy commented on #342
@ZetaoYang What do we need to do to publish the snap on the store once 0.8 is released?

Can we close this issue out?

[2020-09-09 12:45] borgmanJeremy commented on #555
I believe this is fixed with the new snap @ZetaoYang has worked on.

[2020-09-09 12:45] #555 closed

[2020-09-09 12:57] ZetaoYang commented on #342
@borgmanJeremy  First of all, an Ubuntu one account is required to publish the app on the snapstore (if you don't have one, you can register it), and secondly, the name `flameshot` is already taken, so if we take another name like `flameshot-org`, then the `name` in `snapcraft.yml` will have to be changed to `flameshot-org`, and the `desktop` file will have to be adjusted accordingly. By the way,

[2020-09-09 13:31] hosiet commented on #342
Let me make it clear: I have suggested this before, but now we should **seriously** consider taking over the name `flameshot` on snap store. We should not rename our project simply because others have taken that name -- we are the legimitate user of that name.

Please do consider following https://snapcraft.io/docs/registering-your-app-name and open a name dispute on the snap store.

[2020-09-09 13:33] borgmanJeremy commented on #342
@hosiet I agree. I think we should wait until the 0.8 release is official and tested so we can make sure we put out a high quality snap.

Once we have that release available I will submit a name dispute.

[2020-09-09 13:43] hurricanehrndz commented on #342
@hosiet @borgmanJeremy name disputes are pretty straight forward. You just need to do it from the forums. The process does take a week or two, so I would start that right away. I do not see any snaps available under the name flameshot. The user name flameshot might be taken, but that is a completely separate issue. Usernames are hard to dispute unless they are specifically being squatted.

[2020-09-09 13:47] borgmanJeremy commented on #342
@hurricanehrndz Ok great, I'll start it now and we can publish the snap once we tag the next version.

[2020-09-09 14:12] borgmanJeremy commented on #636
@mrpouletcurry Could you please explain in more detail what this request means?

[2020-09-09 14:17] ZetaoYang commented on #636
@mrpouletcurry Are you mean flameshot need "add a option to open with **_a custom command_**"? But I cannot understand what "open the capture with a Flatpak and/or Snap" means.

[2020-09-09 15:48] borgmanJeremy opened #872 "Merge all translation PR's"
Opening this issue to track issue related to the merging of translations PR's. Need to:

- [x] Merge all "new" languages
- [x] Fix paths and merge conflicts
- [x] Merge "updated" language PR's
- [x] Regenerate TS files.

[2020-09-09 16:54] borgmanJeremy commented on #872
#625 Is pulled in
#599 Is pulled in

[2020-09-10 00:23] #596 closed

[2020-09-10 00:24] #872 closed

[2020-09-10 00:29] borgmanJeremy commented on #796
@mmahmoudian Can we close this issue or is there more work to do?

[2020-09-10 00:30] borgmanJeremy commented on #832
This is actually resolved in the upcoming release due to general name consistency improvements. I was expecting to need to wait for a rework to the config system but it made it through in time. It will be at .config/flameshot/flameshot.ini

[2020-09-10 00:30] #832 closed

[2020-09-10 00:44] hosiet opened #877 "Configuration/about window should appear in the middle of screen"
**Is your feature request related to a problem?**
When opening the config window or the about window, users may feel somehow weird:

* The config window always somewhere near the top left corner of current screen.
* The about window seems to be appearing in the middle of current screen but it's actually not: the window appear near the center but not the exact center.

I guess we should unify the a

[2020-09-10 01:05] hosiet opened #879 "Please document the uncommon necessity of D-Bus in README"
Flameshot actually needs a working D-Bus session for a considerable part of its functions. For example, if D-Bus is not working on user's computer (e.g., the user is using a custom WM), all flameshot subcommands like `flameshot gui` or `flameshot config` will not work. All desktop notification will not work as well. It is at least the partial (if not the whole) reason behind #353 and #403 .

I bel

[2020-09-10 01:06] borgmanJeremy commented on #745
Yup! This will be in the upcoming 0.8 release.

[2020-09-10 01:06] #745 closed

[2020-09-10 01:07] borgmanJeremy commented on #736
Italian translation is now merged.

[2020-09-10 01:07] #736 closed

[2020-09-10 01:09] borgmanJeremy commented on #733
Confirmed this is still an issue for the upcoming release.

[2020-09-10 01:11] borgmanJeremy commented on #710
From the comments on the GPaste issue it seems like this happens with shutter too? If so I think we can close it from the flameshot side.

[2020-09-10 01:12] borgmanJeremy commented on #700
It's possible the config option "close after capture" was selected. Could you paste the contents of flameshot.ini?

[2020-09-10 01:13] borgmanJeremy commented on #697
Thanks, this is in the Readme now.

[2020-09-10 01:15] borgmanJeremy commented on #674
@ZetaoYang Can this be closed or is there a bug to track down?

[2020-09-10 01:17] borgmanJeremy commented on #643
Can you please test this using flameshot-git from AUR?

[2020-09-10 01:18] hosiet commented on #557
It's the characteristic of X Clipboard: there must be a running process left on the system holding the clipboard contents. If it's terminated (like the "Close after Capture" option here), the content will be lost.

Using "xclip" only circumvents but does not solve this problem: it's just the content holder is converted from flameshot to xclip. Users of xclip can take a try and you will surely noti

[2020-09-10 01:18] borgmanJeremy commented on #606
This is now merged to master and will be available in the upcoming 0.8 release.

[2020-09-10 01:25] borgmanJeremy commented on #594
The upcoming release will have incrementing number bubbles like greenshot. I think that with our arrow tool can accomplish this. Thanks for the feedback!

[2020-09-10 01:25] #594 closed

[2020-09-10 01:26] ZetaoYang commented on #674
@borgmanJeremy  I think this need to be enhanced, we can make an language setting on general tab, users can set the language to their liking. But for now, I think this issue could be closed.

[2020-09-10 01:26] borgmanJeremy commented on #587
This will be in the 0.8 release and can be tested on the master branch.

[2020-09-10 01:26] #587 closed

[2020-09-10 01:30] ZetaoYang commented on #674
@borgmanJeremy I don't think it's a bug in the current software, it's caused by the user switching languages incorrectly.

[2020-09-10 01:32] borgmanJeremy commented on #509
Yes most of our developers are on Linux but the project is cross platform. We are working on setting up a more robust windows CI.

Any contributions our windows users can offer are welcome :)

[2020-09-10 01:32] #509 closed

[2020-09-10 01:34] borgmanJeremy commented on #504
I am not a gentoo user but if you submit a PR with the gentoo instructions I can get it merged.

[2020-09-10 01:36] borgmanJeremy commented on #442
Can you please check the translation on the master branch? I recent merged a PR to support Czech

[2020-09-10 01:37] borgmanJeremy commented on #416
This is now present on the Readme. Thanks!

[2020-09-10 01:39] borgmanJeremy commented on #398
@hosiet is this corrected after the recent changes?

[2020-09-10 01:39] #379 closed

[2020-09-10 01:40] changchichung commented on #674
No , I didn't change the language setting "incorrectly" !!
as you can see my locale settings , there's no such zh_CN option , then how the software determine which language file should be used ?

[2020-09-10 01:42] #255 closed

[2020-09-10 01:42] borgmanJeremy commented on #245
We will be staying on github at this time.

[2020-09-10 01:42] #245 closed

[2020-09-10 01:46] hosiet commented on #416
@borgmanJeremy I believe the Repology badge is not in README file. This does provide some information but I am not quite sure whether we should add it in the README.

[2020-09-10 01:46] jorgicio commented on #504
I'll do, but I'm not maintaining this package anymore because it was merged to the Official Portage tree, so instructions may change.

[2020-09-10 01:49] ZetaoYang commented on #674
@changchichung Sorry I didn't look closely at that screenshot of yours. I need to know the steps you take to switch languages, can you tell us? I will be testing this in the ubuntu 20.04 virtual machine environment, give me some time.

[2020-09-10 01:50] borgmanJeremy commented on #416
I could have sworn I saw it today. Maybe it was in another repo.

[2020-09-10 01:59] hosiet commented on #398
I believe this is fixed by 961ce5f732505436c6691a842708b7a83c712584 but I am not sure when it will be reflected in gnome-software (or AppStream). Maybe we can keep it open and wait till after 0.8.0 release and see if there are any improvement.

[2020-09-10 03:30] #710 closed

[2020-09-10 04:33] denven commented on #782
Yes, I appreciate if you can implement this. I think this feature will provide more convenience.

[2020-09-10 06:56] Rmano commented on #710
This is (almost for sure) a GPaste bug. https://github.com/Keruspe/GPaste/issues/262. I had to go back to clipboard indicator, that has no support for images.

[2020-09-10 07:07] ZetaoYang commented on #674
@changchichung
My test environment is `WSL2 Ubuntu 20.04 i3wm X11`, I switched my language from `C.UTF-8` to `zh_CN.UTF-8` to `zh_TW.UTF-8`, and the `flameshot` interface language display is normal.
  ![image](https://user-images.githubusercontent.com/10769951/92690431-98e2a400-f373-11ea-8075-4dff65b5da98.png)

The steps I took to switch to the Ubuntu system language were:
1. **First check if the

[2020-09-10 07:48] mmahmoudian commented on #796
@borgmanJeremy there is one thing left to do which closes multiple issues. I discussed the bug with @ZetaoYang on Slack to make sure my understanding of it is correct.

At the moment many people are facing issues running Flameshot simply because `flameshot gui` fails if the Flameshot is not already open in the background (I personally tried it on 0.6 on Ubuntu 18.04, and on 0.8 Manjaro). For now t

[2020-09-10 07:58] danielrosehilljlm commented on #778
@mmahmoudian

Flameshot 0.6.0+git20191001-2(Debian)
Compiled with Qt 5.12.5

[2020-09-10 08:06] mmahmoudian commented on #778
out of curiosity, can you do something else after writing the text and before pressing enter to save? For example draw an arrow. I suspect that you are still in "edit" mode and the text it not finally applied to the screenshot when you save it. If my hypothesis is correct, we can quickly fix it, otherwise it needs few more back and forth to know how it happens.

P.s. a new version will be released

[2020-09-10 08:12] ZetaoYang opened #880 "Duplication of translation files"
**Flameshot version**
git.HEAD

**Describe the bug**
Some translation files name isn't friendly to case-**insensitive** Operation Systems(or file system). Conflicting names of translation files. Duplication of translation files.

e. g. On Windows 10
  ![image](https://user-images.githubusercontent.com/10769951/92699034-adc53480-f37f-11ea-81b3-bf501b97a16c.png)

  The letter "i" is used in two word

[2020-09-10 09:32] Martin-Eckleben commented on #782
Will implement + - button and Ctrl+ / Ctrl- this or tomorrow evening.

[2020-09-10 09:35] ZetaoYang commented on #767
see PR https://github.com/flameshot-org/flameshot/pull/881

[2020-09-10 10:00] mmahmoudian commented on #767
@ZetaoYang
I just compared the two:
https://quickdiff.net/?unique_id=F8EBC71D-AACE-0357-97CF-ECE701436F6E

The one on the left is @pollekepol and the one on the right is from PR #440

I don't know the language and therefore I don't know which one is more correct. What I can see is that some of the phrases in the #440 are marked as "unfinished" and we have the translation in #881 . The best way wou

[2020-09-10 10:34] pafri commented on #442
Checked.

[2020-09-10 10:51] CiderAndWhisky commented on #700
This was already several moths ago, but I think this was actually the option I changed to make it work again. Seems "Close after capture" is broken.

[2020-09-10 10:56] jandradas commented on #844
If at all possible, I would suggest not replacing the blur tool with the pixelate one... I would rather these both are offered or co-exist.  Blur could still be done as now if the "size" of the Pixelate tool is set to 0 (if set to 0, currently there is not pixelation I can appreciate now), and allow pixelating for other sizes.

[2020-09-10 11:12] GetCurious commented on #690
Sure... example when i paste a screenshot, i expect the red border to be there.
![image](https://user-images.githubusercontent.com/8876854/92722006-854a3400-f399-11ea-8306-b6ff5839efc8.png)

[2020-09-10 11:46] #674 closed

[2020-09-10 11:47] #442 closed

[2020-09-10 12:08] mmahmoudian commented on #879
I strongly suggest fixing this in the code in a way that when someone runs any of the subcommands (e.g`flameshot giu`), the software handles the possible missing D-Bus session and then proceed to execute the subcommand

[2020-09-10 12:23] borgmanJeremy commented on #880
Some old translation files had a lower case "i".  When I merged in the new translation files I fixed it so each translation file used a capital "I" to be consistent.

[2020-09-10 12:42] ZetaoYang commented on #880
@borgmanJeremy Yes, you're right.

[2020-09-10 12:58] hosiet commented on #796
Just as I said in #879 , I somehow disagree with the analysis above.

The reason behind having to run a plain "flameshot" first before running subcommands is fundamentally because the activation of flameshot via D-Bus somehow failed. There could be multiple reasons:

1. An invocation of "flameshot gui" will send a message on D-Bus telling the user session to do a "flameshot gui" thing and **have i