[2021-12-01 19:46] the-spyke opened #2136 "Enable lzo compression for Snap package"
### Feature Description

Current Snap package uses default `xz` compression which leads to very slow cold start times. Snap provides much better option:

[code]

1. https://snapcraft.io/blog/snap-speed-improvements-with-new-compression-algorithm
2. https://snapcraft.io/blog/why-lzo-was-chosen-as-the-new-compression-method
3. https://forum.snapcraft.io/t/how-to-switch-your-snap-to-use-lzo-compressi

[2021-12-01 21:13] Tealk opened #2137 "Gnome - Do you want to share this screenshot with the requested application?"
### Flameshot Version

v0.10.2 (cda5a0f1)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

EndeavourOS

### Description

When I try to take a screenshot a window comes up with the message "Do you want to share this screenshot with the requested application?"

### Steps to reproduce

Click on the flamesho

[2021-12-01 21:27] Idomo opened #2138 "Missing shortcuts for macOS"
### Feature Description

Hi,
It seems like such an obvious thing, but there isn't a shortcut for upload the screenshot to imgur (pressing <kbd>return</kbd> should do that, but it do nothing), only to save it on the computer with <kbd>Cmd + S</kbd>.
Also, it seems like there isn't any way to open the app's settings if I disable the tray icon (it just way too bold and distracting with these colors,

[2021-12-01 21:45] borgmanJeremy commented on #2137
Read the pinned issue.

[2021-12-01 21:45] #2137 closed

[2021-12-01 21:49] borgmanJeremy commented on #2138
Okay lots of separate things here:

- No shortcut for upload
  - This will be fixed in the next release, it was disabled due to a security issue (see release notes for 10.1 for details)
 - No way to change settings without the tray icon
   - Correct at this time you must use the tray icon to change the settings easily
   - You can also manual edit the .ini file, but do so at your own risk
   - Whe

[2021-12-01 21:49] #2138 closed

[2021-12-01 21:50] borgmanJeremy commented on #2138
Sorry didnt directly address the CLI not working. There is another issue open with lots of details, but tldr is the CLI was using DBUS which is not supported on Mac.

We have a PR with a MASSIVE refactor to solve this. It currently is seg faulting on MacOS so not ready for release yet. This is the main open item before releasing v11

[2021-12-01 22:48] Idomo commented on #2138
Thanks for the detailing!
So all I can say is that I’m waiting for V11 to be released ASAP (I would contribute, but I doesn’t familiar with C++ 🥲)

[2021-12-01 22:50] borgmanJeremy commented on #2138
One great way to help is beta test the pre release once it's ready. I can make sure to @ you once it's ready 😁

[2021-12-02 14:39] adrianbuck commented on #1386
I am having the same problem as everyone else with three monitors, each at a resolution of 2560x1440 and fractional scaling set to 125% on Kubuntu 20.04.
Flameshot doesn't work correctly when using two or three monitors but Spectacle does when I only use 2 monitors. Because I need three monitors, I installed the latest KDE neon on a seperate partition for testing. Flameshot did not work properly,

[2021-12-03 00:46] rylincoln commented on #1258
I had this issue where when I tried to take a screenshot it would swipe over to a new blank virtual desktop ... I had to go set permissions, then restart the app and it was fixed.  Not 100% if the permissions were the problem.  ymmv :)
![image](https://user-images.githubusercontent.com/741887/144525677-55fab64d-b06e-492b-96b9-98ee14bf61f4.png)

[2021-12-03 01:11] 201dreamers commented on #1622
Hi, seeing the same issue on v0.10.2. Manjaro
inxi
[code]
flameshot
[code]
flameshot --version
[code]

[2021-12-03 01:13] VitalyAnkh commented on #1622
Try running
```flameshot gui```

On Fri, Dec 3, 2021 at 9:11 AM Dmytro Hakman ***@***.***>
wrote:

[2021-12-03 01:13] 201dreamers commented on #1622
It launches gnome screenshot tool

[2021-12-03 01:15] 201dreamers commented on #1622
![image](https://user-images.githubusercontent.com/43473622/144527976-216a57d7-a259-410a-80aa-a65cb10ecafa.png)
It asks to share the screenshot with flameshot. When I press share, the flameshot itself starts

[2021-12-03 01:17] mdxe commented on #1622
that is expected with the new restrictions on wayland, unfortunately.

[2021-12-03 01:18] 201dreamers commented on #1622
Can I bypass this restrictions somehow? Or the only way is to use Xorg?

[2021-12-03 01:20] mdxe commented on #1622
last I heard is that they are working on having this permission asked only once per app

[2021-12-03 01:22] 201dreamers commented on #1622
It asks every time I start flameshot. Anyway thanks for your answers =)

[2021-12-03 01:25] mdxe commented on #1622
if flameshot gets it their way, I think that it would eventually ask for the permission only once

[2021-12-03 07:49] szymonk211 commented on #2055
The same problem is with the "copy the selection into the clipboard" button - it should not turn off the editor without the chance to restore it. The action is called "copy the selection into the clipboard", not "copy the selection and quit". Very misleading.

[2021-12-03 09:24] majkinetor commented on #2055
Indeed. It happened to me that I misclicked it, especially with dynamic button behavior.

I prefer that it turns off the editor, as it is obviously the last thing one would do intentionally. With option to return previous editing session I think it shouldn't be any changes (except in the tooltip as @szymonk211 noted).

[2021-12-03 09:36] C0rn3j commented on #2099
Probably because of https://github.com/flameshot-org/flameshot/issues/2107

I can't paste into Wayland apps(Telegram) but I can paste into XWayland apps(Chromium) fine.

[2021-12-03 10:23] C0rn3j commented on #2031
@veracioux The current git version seems to fix the issue for me

[2021-12-03 10:28] C0rn3j commented on #2107
It seems the current git makes it worse.

With 0.10.2 it at least copies to clipboard in a way where XWayland apps can access it, but native can't.

On current master it just doesn't work at all.

[2021-12-03 10:38] kanlukasz commented on #690
Yes, I miss this option too.
How can i use `dmenu_shot` with Flameshot on Windows 10 ?

[2021-12-03 10:38] veracioux commented on #2031
@C0rn3j If it's not too bothersome, can you try compiling from #2003 and seeing if something changes for you? These things can be difficult to debug.

[2021-12-03 11:23] chobanyukivan opened #2141 "Problems with the display 3440x1440 when scaling the interface 125%"
### Flameshot Version

0.6.0+git20191001-2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Ubuntu 20.04

### Description

when using a monitor with a resolution of 3440x1440 and scaling the interface of 125%, when I try to take a screenshot, the screen goes blank, then the image appears again, and this

[2021-12-03 11:43] chobanyukivan commented on #2141
Update: checked for updates and installed the latest version 0.10.2. The first time I started and grabbed a screenshot, the frame covered the entire screen and it looked like it should. When re-capturing a screenshot, the monitor flickers. If I uncapture and recapture, the frame does not cover the entire screen. But if I close flameshot through the tray, and restart the process, the screen capture

[2021-12-03 12:21] mmahmoudian commented on #2141
Isn't this duplicate of #1610 ?

[2021-12-03 12:32] chobanyukivan commented on #2141
yes, the problem is the same, thanks

[2021-12-03 12:38] mmahmoudian commented on #2141
Then I'll mark this as duplicated and close it in favor of #1610

[2021-12-03 12:38] #2141 closed

[2021-12-03 12:41] C0rn3j commented on #2031
I am using `AUR/flameshot-git` and just swapped the source line for `source=("git+https://github.com/veracioux/flameshot.git#branch=die_dbus")`

Clipboard on XWayland seems still broken(wayland was broken before already).

If you need help setting up Wayland, I can try to help.

[2021-12-03 13:08] veracioux commented on #2031
@C0rn3j It's more of a "finding the time to get around to it" type of problem, but thanks anyway 😄

[2021-12-03 13:53] matheusrdb commented on #1622
Same problem for me.
![report](https://user-images.githubusercontent.com/60233944/144613723-7dcf7843-3f02-4055-a605-b9fbd8061b8b.png)

[2021-12-03 14:39] wait-what opened #2143 ""flameshot gui" runs GNOME screenshot tool"
### Flameshot Version

Flameshot v0.10.1 (f5bbf73c)
Compiled with Qt 5.15.2
https://aur.archlinux.org/packages/flameshot-git/

### Installation Type

User repository (AUR)

### Operating System type and version

Arch Linux x86_64 / 5.15.5-zen1-1-zen

### Description

Running `flameshot gui` starts `gnome-screenshot` instead of the Flameshot GUI

### Steps to reproduce

1. Start GNOME 41.1 on Wayla

[2021-12-03 14:54] #2143 closed

[2021-12-03 15:22] wait-what commented on #2143
Would you mind to elaborate?

[2021-12-03 16:04] borgmanJeremy commented on #2143
This issue is pinned to the top of the issues and gets submitted as a duplicate like twice a day.

It's also NOT flameshots fault so it's driving me crazy.

[2021-12-03 16:06] wait-what commented on #2143
It doesn't mention anything about gnome-screenshot starting, but rather nothing happening at all.

I guess it's related then.

[2021-12-03 17:30] mmahmoudian commented on #2143
@wait-what in short, Gnome decided to treat their own applications as privileged and special and started limiting other applications. In the pinned post you can find a link yo their gitlab and the discussion under in which they say why they are doing this. In that thread you will read that they have made a private (read privileged) API for their own applications and are forcing all other softwares

[2021-12-04 01:13] zoe-codez opened #2144 "Setting to draw arrows pointer first"
### Feature Description

It'd be awesome if there was a setting to that let the arrows draw using the first click to set the pointer of the arrow, then being able to drag the tail where ever (reversing the current functionality).

The current tail first approach makes the arrow very difficult to use for more complex pictures (especially when doing screenshots of logs). Right now, I need to drop th

[2021-12-04 01:32] tilderain commented on #1278
I think I've found a way to reproduce it. It happens when you drag-click to make a selection box, but press enter to take the screenshot before letting go of the mouse button. I guess the selection only takes effect only after mouse up.

[2021-12-04 04:03] EchoGroot opened #2145 "use bash to start ,error"
### Flameshot Version

![image](https://user-images.githubusercontent.com/44628981/144696066-244bc5d3-4b8c-427d-af4d-4893f026f9f7.png)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

OS: Deepin 20.2.4  (base debian)

### Description

os:deepin(base on debian)
$ /opt/apps/org.js.flameshot/files/AppRun gu

[2021-12-04 04:08] EchoGroot commented on #2145
exist file :/opt/apps/org.js.flameshot/files/lib/x86_64-linux-gnu/libdbus-1.so.3

[2021-12-04 04:57] EchoGroot commented on #2145
no problem what download from github

[2021-12-04 04:57] #2145 closed

[2021-12-04 10:26] Eveldee commented on #2128
Same issue on Windows 10 x64 using flameshot V0.10.2.

If I power on my second screen after Windows (and so flameshot) has already started, it won't be recognized, I need to restart flamshot to take a screen on it

[2021-12-05 09:15] mmahmoudian commented on #1278
Yes, few months ago @veracioux  changed the code in a way to only accept the input keys after the mouse release. For this reason no keyboard shortcut works while you are dragging. That was done to handle similar PEBCEK error as user can be in hurry and do things in wrong order. If @non3mu can also confirm this was the source of the issue, we can close this thread.

[2021-12-05 20:22] gubareve commented on #1386
@borgmanJeremy Would it be possible to implement something like [this](https://github.com/ksnip/ksnip/issues/276#issuecomment-986057884). This effectively solves the issue, no qt bugfix necessary.

[2021-12-05 22:45] borgmanJeremy commented on #1386
Given that it's unlikely we find a true fix, yes I would accept this.

[2021-12-06 02:58] ihipop commented on #1386
disable `QT_AUTO_SCREEN_SCALE_FACTOR` and `QT_SCREEN_SCALE_FACTORS` only for `flameshot` is the simplest workaround

see: https://github.com/ksnip/ksnip/issues/276#issuecomment-986390341

[2021-12-06 08:33] MirtoBusico commented on #1386
@borgmanJeremy please can you give me the instructions on how to disable QT_AUTO_SCREEN_SCALE_FACTOR and QT_SCREEN_SCALE_FACTORS only for flameshot?

[2021-12-06 08:39] ihipop commented on #1386
1. make sure you have closed all `flameshot` instance
if not,  try run `killall flameshot` if you're not using a Appimage

1. run `QT_AUTO_SCREEN_SCALE_FACTOR=0 QT_SCREEN_SCALE_FACTORS="" flameshot`

1. if you got a very tiny UI, set a fixed font DPI which fit your scale level, if not , ignore this one

[2021-12-06 10:39] MirtoBusico commented on #1386
With your command line flameshot works correctly
<img width="1913" alt="flameshot-works" src="https://user-images.githubusercontent.com/11090934/144831939-959f644e-2060-4e69-b680-1812efbfdc1f.png">

[2021-12-06 15:29] makeworld-the-better-one commented on #2083
Updated my packages and this is now fixed.

[2021-12-07 09:28] AbdelrahmanMohamedDesoky commented on #2119
Is reporting false version info and trolling your users with auto update notification to update to 0.10.2 fun for almost a month?

This issue is not even reported/acknowledged yet on the release page (where you could at least tell users to ignore the auto update notifications) ?

I know you are all busy and have work and stuff, but these type of issues is what drive people crazy sometimes, especia

[2021-12-07 10:13] mmahmoudian commented on #2119
@AbdelrahmanMohamedDesoky thanks for your kind and considerate comment. The version 0.10.2 was just to fix some issues Gnome caused by changing their API. So this is NOT "false version" and is clearly NOT "trolling". Also this will take as much as it takes for us to get prepared for v0.11.0. Therefore, if you are annoyed you can do either of the following:
1. Update to v0.10.2
2. Press ignore on t

[2021-12-07 10:23] mmahmoudian commented on #690
@kanlukasz Sorry, the `dmenu_shot` is only meant for Linux.

I'm not Windows user. If you know your way around Powershell, perhaps you can create a fork for Windows users. I think the biggest issue is that dmenu is designed for Linux. Perhaps this post can help you find an alternative and then port the `dmenu_shot` to windows:
https://superuser.com/questions/267996/dmenu-alternative-for-windows

[2021-12-07 12:00] wanghuibin0 commented on #556
I have just encounter the same situation. wish this feature be implemented earlier

[2021-12-07 21:05] leandrocastro commented on #1035
This same problem continues for me.
Version 0.10.2
Ubuntu 20.04

[2021-12-07 22:08] GabrielVander commented on #2120
I'm facing the same issue. It only takes screenshots on the primary monitor. Other tools, like Lightshot, support multiple monitors. Running Windows 11 here.

[2021-12-08 09:27] mmahmoudian commented on #2120
@alainbelez and @GabrielVander can it be related to #2128?

What happens when you close Flameshot from the tray icon, connect your secondary monitor and then start Flameshot?

[2021-12-08 09:36] mmahmoudian commented on #2110
I have experienced this before while testing a PR made by @thepurple some months back, but as far as I recall it was fixed. I haven't tested it yet though.

[2021-12-08 10:19] mmahmoudian commented on #2110
I just tested it. You don't actually need to even open the sidebar, selecting the object normally would also have the same effect:

![2021-12-08_12-14](https://user-images.githubusercontent.com/390889/145191278-47eba0ac-30c1-4410-a552-3384603aa06c.png)

Flameshot v0.10.1 (203b5baa)
Compiled with Qt 5.15.2
linux: 5.14.18-1-MANJARO

[2021-12-08 10:28] thepurple commented on #2110
I'll take a look on it this week. Probably it was broken somehow again. I've found a few new issues after recent code refactoring.

[2021-12-08 11:00] mmahmoudian opened #2146 "Having `--reload` argument for the `config` subcommand"
### Feature Description

At the moment Flameshot does not reload the config file upon change. For instance when I set the `disabledTrayIcon=false` the tray icons didn't reappear, but when I ran `flameshot config --trayicon true` in terminal it popped up. The functionality is there and I think it would be a good addition to the CLI to have something like `flameshot config --reload`.

[2021-12-08 11:03] mmahmoudian commented on #2116
I cannot reproduce this using Flameshot v0.10.1 (203b5baa) on Manjaro KDE Xorg.

[code]

[2021-12-08 11:13] mmahmoudian commented on #1503
I just checked with the latest commit in master Flameshot v0.10.1 (203b5baa) and it seems this is resolved. At least it doers not happen anymore.

@dausruddin would you please check this as well

[2021-12-08 13:22] rizzini commented on #2116
For some reason, it's not happening anymore.

[2021-12-08 13:22] #2116 closed

[2021-12-08 14:25] dginovker commented on #1072
Fresh install of KDE Arch Linux has the issue, existing KDE Manjaro install doesn't -

Both have Flameshot v0.10.2, compiled with Qt 5.15.2

Happens regardless of activating `flameshot gui` via shortcut or command line.

Other Arch Linux specs:
* x86_64
* Linux zen kernel
* Plasma 5.23.4, KWin

[2021-12-08 18:30] lilalkor commented on #2091
Just wanted to second that request.
I'm using xbackbone to save screenshots, and to upload it uses that "Open with" tool (https://xbackbone.app/clients.html).
And it would be very nice to have it set once to save that additional click.

[2021-12-08 18:38] mmahmoudian commented on #1072
No it is not outdated. It is actually up to date. The reason behind having v0.10.1 instead of v0.10.2 is that the v0.10.2 was a cherrypicked release just for fix some stuff for Gnome 41 users. The AUR is what will eventually called v0.11.0 with few more things merged into it.

[2021-12-08 18:55] veracioux commented on #2146
@mmahmoudian In #2003 the tray icon is affected when the config file changes. In any case, the `--reload` option is unnecessary since changes can be reliably detected using Qt's filesystem watcher. As for applying changes like button colors, thickness, shortcuts etc in the GUI, it's not trivial to implement and therefore not worth it IMO.

[2021-12-08 19:18] #2146 closed

[2021-12-08 19:38] cosmincrihan commented on #629
I may have found the root cause. It's the **display compositor**.
I am using Debian 11 with XFCE and I tried to disable Display Compositing from Settings Manager -> Window Manager Tweaks.

Now, Flameshot works every time. The moment I enable it again, it starts not to work 50% of the times.

[2021-12-08 19:42] CWM030 opened #2147 "Flameshot Snap"
### Flameshot Version

0.10.1

### Installation Type

Snap from Snapcraft

### Operating System type and version

Debian 11 Cinnamon DE

### Description

Cannot select folder of choice

### Steps to reproduce

When changing the location to save screenshots
it just keeps asking you to pick a folder over and over again

For instance I want to use:
~/home/chris/Flameshot Screenshots
or
~/home/chris/d

[2021-12-08 19:46] mariano-dagostino commented on #629
@cosmincrihan Thanks!

I tried your theory and narrowed it down to this feature, setting:

![Screenshot_2021-12-08_16-44-23](https://user-images.githubusercontent.com/5313631/145273937-bace7118-45d6-42ec-bc33-38ae62f35343.png)

Unchecking this checkbox makes flameshot work all the time.

[2021-12-08 19:47] cosmincrihan commented on #629
Awesome! Thank you, @mariano-dagostino, works for me too!

[2021-12-08 19:52] elad2109 opened #2148 "apt install flameshot installs v. 10.1 and not 10.2"
### Feature Description

I try to install v. 10.2 with apt install flameshot, but it installs 10.1, why is that?

Then I downloaded 10.2 AppImage to ~/Applications/Flameshot
I get this error:
[code]

Plus, I'm not able to configure system custom shortcut for screenshoting via flameshot.

![image](https://user-images.githubusercontent.com/1093841/145274837-800521a1-66b5-437a-ab9e-159d04dc918d.png)

[2021-12-08 21:18] #1292 closed

[2021-12-08 21:18] #1480 closed

[2021-12-08 21:18] #1579 closed

[2021-12-08 21:18] #1673 closed

[2021-12-08 21:18] #1716 closed

[2021-12-08 21:18] #1771 closed

[2021-12-08 21:18] #1872 closed

[2021-12-08 21:22] veracioux commented on #1872
Perhaps the newest master (233c765b1fa82a2bfd92cfd7bfbb324464165efb) indirectly solves (or at least mends) this issue, as it invalidates the need for a daemon to run constantly. You can compile it or download from [here](https://flameshot.org/docs/installation/development-build).

[2021-12-08 21:22] veracioux commented on #1673
Please check if the newest master (233c765b1fa82a2bfd92cfd7bfbb324464165efb) helps with this issue. You can compile it or download from [here](https://flameshot.org/docs/installation/development-build).

[2021-12-08 21:23] veracioux commented on #1246
Hey, can you please check if the newest master (233c765b1fa82a2bfd92cfd7bfbb324464165efb) helps with this issue. You can compile it or download from [here](https://flameshot.org/docs/installation/development-build).

[2021-12-09 08:12] MR-Diamond commented on #1246
The issue is gone, but now the icon on the system tray no longer appears and so I can no longer access to settings; furthermore the setting file (`~/.config/flameshot/flameshot.ini`) is empty (0 byte).
I can only access to the settings by executing `flameshot config` in a Terminal window.

[2021-12-09 14:10] nick22985 opened #2149 "Support for uploading to gyazo"
### Feature Description

Hey,
Can there be a tool or option to upload to gyazo with your signed in api key for uploading. Sorry if this has been suggest before but couldnt find it

[2021-12-09 14:33] Spagett1 opened #2151 "Flameshot will not launch in wayland (specifically the "river" compositor."
### Flameshot Version

flameshot-0.10.2-1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Artix Linux

### Description

When trying to run `flameshot gui` nothing will happen. i have taken a look at https://github.com/emersion/xdg-desktop-portal-wlr/wiki/"It-doesn't-work"-Troubleshooting-Checklist and h

[2021-12-09 14:56] VixxiiPhantom commented on #1440
I have this on Windows 10 with 2 normal screens and a Wacom One.
The issue happens for me when my second screen has been turned off or on a different channel.

The workaround I'm currently using is:
Select closer to the edge on the second screen, it will show tools.
Then selecting what I want screenshotted.
The tools will show where the first selection was made.
The screenshot is saved correctly,

[2021-12-10 02:30] borgmanJeremy commented on #2148
Version 11 will be in beta testing by the weekend. Please see the pinned issue for the discussion, but I am not planning to fix the versioning issue on 10.2

[2021-12-10 02:30] #2148 closed

[2021-12-10 02:31] borgmanJeremy commented on #2136
Sure I have no problem with this change. However, our snap is currently failing to publish because we are using an "experimental" framework. I moved to this newer version of KDE framework to fix a few bugs. All in all snap packaging has been harder than I expected :(

[2021-12-10 02:48] borgmanJeremy commented on #2021
I've replicated this. Pinch does nothing and scrolling only makes it smaller.

[2021-12-10 02:48] borgmanJeremy commented on #2021
https://doc.qt.io/qt-5.12/qtwidgets-touch-pinchzoom-example.html

[2021-12-10 02:49] #2007 closed

[2021-12-10 02:51] #1826 closed

[2021-12-10 02:52] #1710 closed

[2021-12-10 02:54] borgmanJeremy commented on #1574
@mmahmoudian I believe this is fixed now with the work @veracioux  (at least I cant replicate it on mastert)

[2021-12-10 02:54] #1574 closed

[2021-12-10 02:55] borgmanJeremy commented on #1651
We now support those new formats so I will close this.

[2021-12-10 02:55] #1651 closed

[2021-12-10 02:55] borgmanJeremy commented on #1639
You can track the progress here: https://doc.qt.io/qt-5.12/qtwidgets-touch-pinchzoom-example.html

[2021-12-10 02:55] #1639 closed

[2021-12-10 03:00] borgmanJeremy commented on #1437
I believe this is working now, I do half my testing on a mac

[2021-12-10 03:00] #1437 closed

[2021-12-10 03:01] borgmanJeremy commented on #1410
I have no idea how we could solve this. I think the operating system is adding the animation

[2021-12-10 03:02] borgmanJeremy commented on #1259
This is fixed on the master branch now and will be part of version 11.

[2021-12-10 03:02] #1259 closed

[2021-12-10 03:03] borgmanJeremy commented on #1200
Im going to close this because its really a downstream packaging bug not handled by us.

[2021-12-10 03:03] #1200 closed

[2021-12-10 03:14] VG08 opened #2154 "Can't start flameshot"
### Flameshot Version

v0.10.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

arch linux

### Description

the problem I am having is that when i run `flameshot gui` it does nothing and exits instantly and when I do `flameshot` it gives me this error
`QSettings::value: Empty key passed
QSettings::value

[2021-12-10 07:56] mmahmoudian commented on #1639
@borgmanJeremy I believe it is related to #1929 as the imgbb.com is image sharing service.

@iMonZ would you please mention it in the #1929

[2021-12-10 08:08] mmahmoudian commented on #2154
@VG08 dwm does not ship with two important things: notification manager and systray. There is a patch for systray and for notification you can install something like dunst.

But if you really don't want to have these on your system, you can turn off the systray and notifications options in the Flameshot config before launching flameshot.

If you have sort them out (either by installing or disablin

[2021-12-10 08:16] kubaorlen opened #2155 "Flameshot icon is visible in tray area but when I click on it nothing happens"
### Flameshot Version

Flameshot 0.10.2-1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Arch Linux, Kernel Version: 5.15.5-arch1-1 (64-bit)

### Description

I followed the instructions from official site.

Link: [https://bin.snopyta.org/?7888e03143504f37#DMBtqbWjWzqnydMqk8MvToGxaWAwNMbnyCbScZ9DxvfQ](

[2021-12-10 08:54] mmahmoudian commented on #2155
I can't think of a reason why this is happening. What I can suggest is that you can try to install using AUR ([flameshot-git](https://aur.archlinux.org/packages/flameshot-git/)) as it builds from master branch of this git repo and you almost get what will be soon released in v0.11.0 (we are releasing it this weekend)

[2021-12-10 09:16] WRonX opened #2156 "Can't take screenshot on Ubuntu when on multiple screens with different resolutions with fractional scaling"
### Flameshot Version

v0.10.1

### Installation Type

Snap from Snapcraft

### Operating System type and version

5.11.0-41-generic #45~20.04.1-Ubuntu SMP Wed Nov 10 10:20:10 UTC 2021 x86_64 x86_64 x86_64 GNU

### Description

Previously working on 3 displays in horizontal config, each 1920x1080, Flameshot was doing fine. Problem started after changing one of displays to 4K (3840x2160) and set fr

[2021-12-10 09:21] mmahmoudian commented on #2156
I don't understand what issue is. Is it so that when you want to take screenshot the monitors flashes? Or there is something else?

[2021-12-10 09:25] mmahmoudian commented on #2151
Would you press try installing from AUR as it compiles from master branch of this repo which has more bug fixes for Wayland. Please let us know how it goes.

[2021-12-10 09:28] WRonX commented on #2156
Yes, that's exactly what happens. All monitors turn off and on with ~1s interval, each turn on all monitors with lower resolution the everything is scaled, up and down, can't see anything. Pressing Esc stops it, but sometimes Chrome stays in wrong scale and stops responding.

[2021-12-10 12:08] dausruddin commented on #1503
Sorry, a bit late. But I can confirm the issue is no more.

Thanks.

[2021-12-10 15:50] nick22985 commented on #2149
It does look like gyazo is bundled into that. Thank you for the info / response

https://github.com/ShareX/CustomUploaders/blob/master/gyazo.com.sxcu

[2021-12-10 15:50] #2149 closed

[2021-12-11 10:25] mmahmoudian commented on #1386
@borgmanJeremy seems in ksnip they solved this situation: https://github.com/ksnip/ksnip/issues/276#issuecomment-989497064

Considering that both softwares are C++ QT and facing the same issue, the workaround should be similar enough I assume

[2021-12-11 13:38] borgmanJeremy commented on #1386
No they just implemented a work around that lets users hardcode a Manual offset. On another thread i mentioned I'm good to add this workaround since we are not close at all to a true fix.

[2021-12-11 13:54] mmahmoudian commented on #1386
@borgmanJeremy considering that the 4k monitors are getting more and more adopted, and more people will end up using fractional scaling, I think it worth the effort to implement a "calibration" mechanism. The following is my suggestion:

For example we display an overlay and ask the user to scroll mouse while hovering on different monitors to align certain calibration lines. For instance assume we

[2021-12-11 14:19] borgmanJeremy commented on #1386
I really like that idea. Can you open a new issue with that and we can track it that way?

[2021-12-11 17:44] kubaorlen commented on #2155
I installed` flameshot-git` from AUR. After running command `flameshot gui` I get this output `qt.qpa.wayland: Wayland does not support QWindow::requestActivate()`

[2021-12-11 23:26] etircopyh commented on #2155
This doesn't have anything to do with your problem. It's just something Qt Wayland platform warns you about when you use wayland.

[2021-12-12 00:29] alainbelez commented on #2120
ohh. just tried it now, and it looks like the same issue as the one you linked

[2021-12-12 02:40] GabrielVander commented on #2120
Yup, that's exactly it. After restarting Flameshot it works fine. Thanks!

[2021-12-12 05:45] Laar3 commented on #2151
ive compiled the latest version from the aur, ive also gone back to base arch and have added the following lines to my autostart
[code]
running `flameshot gui` still just hangs, however running `flameshot` by itself returns
[code]
and then just hangs

[2021-12-12 06:49] mmahmoudian commented on #2120
@alainbelez and @GabrielVander thank you both. So now you have a solid work around to bypass the issue for the time being. I'll more close this issue in favour of #2128 as it has more clear explanation for the dev team.

[2021-12-12 06:50] #2120 closed

[2021-12-12 09:41] kubaorlen commented on #2155
Idk, no idea why program is not working.

[2021-12-12 09:41] #2155 closed

[2021-12-12 10:51] SicroAtGit commented on #246
I have now opened a discussion: #2158

[2021-12-12 11:07] mmahmoudian commented on #2155
@kubaorlen why did you close the issue? Is it resolved?

[2021-12-12 12:03] VG08 commented on #2154
@mmahmoudian so I have notifs through Dunst and no systray srtip

[2021-12-12 13:39] thep0y commented on #2107
Same here.
The screenshot is very blurry.

[2021-12-12 15:18] VG08 commented on #2154
@mmahmoudian I have dunst for for notifs no systray tho, I did what you said and flameshot gui opens up flameshot, I actually thought that `flameshot gui` runs without flameshot running in bg, also I used trayer to check for systray and flameshot shows up there, also sorry for late reply.

[2021-12-12 16:57] mmahmoudian commented on #2154
@VG08 in newer version the idea is to reduce dependency to dbus and therefore much much less need for background process.

[2021-12-12 19:02] proudmuslim-dev commented on #1962
Getting this issue with SwayWM on Arch Linux

[code]
Video (shows spike in CPU usage + delay): https://ttm.sh/e91.mp4

[2021-12-13 07:15] VG08 commented on #2154
oh ok thanks, imma put ```flameshot``` into my startup

[2021-12-13 10:33] ElHyperion commented on #334
So now that #2010 is merged, it could be easier to implement this feature into Flameshot? I propose a single or double-click function to the area selector to select the whole window underneath, and also a new global keybind to immediately printscreen and copy the active window, similar to how Windows handles Alt + PrtSc keypress. I'm coming from Spectacle and this is the only thing that bothers me

[2021-12-13 13:42] Drarig29 commented on #1214
Are you still working on this @borgmanJeremy?

[2021-12-13 13:56] johnrichardrinehart opened #2159 "`--version` out of sync against release tag"
### Flameshot Version

v0.10.2

### Installation Type

Compiled from source

### Operating System type and version

linux-x86_64

### Description

https://github.com/flameshot-org/flameshot/blob/8ab1ac0eaad8fa958d9d342fed9988e502013dc0/CMakeLists.txt#L4

### Steps to reproduce

1. `flameshot --version`
2. Should be `v0.10.2`, but is `v0.10.1`

### Screenshots or screen recordings

_No response_

#

[2021-12-13 13:59] borgmanJeremy commented on #2159
That version is released on a maintenance branch only. The main branch includes the same fix

[2021-12-13 14:05] johnrichardrinehart commented on #2159
I'm sorry. I don't understand. `2bf8a92e700781a36d2cd85d3c34dc275edf28a6` has `v0.10.1` in `CMakeLists.txt` but is `git tag`ged as `v0.10.2`. This is expected?

[2021-12-13 15:47] Drarig29 commented on #1214
I see you are working on other things so I made a PR.

[2021-12-13 15:56] Drarig29 commented on #1214
This custom shortcut is still a good idea though!

And I think it is easier to implement with my PR (#2162) because it would only consist in resetting `m_context.circleCount` (and show the notifier box to have a visual feedback).

[2021-12-13 19:40] mmahmoudian commented on #334
This part is already covered using the CLI arguments (see #1970)

Basically `flameshot gui --accept-on-select --clipboard` is all you need.

[2021-12-13 22:56] pavangayakwad commented on #2156
Same problem here on my pop_os too!

[2021-12-14 04:38] acheronfail commented on #590
Alright, I think I can reproduce it!

If `flameshot` is running, and then I switch my display configuration, if I trigger `flameshot` again this issue occurs.
Running `killall flameshot`, and then triggering `flameshot` again **fixes** the issue.

So I believe that `flameshot` must be saving the dimensions of the screen somewhere, and not updating them when the display configuration is updated.

F

[2021-12-14 06:13] mmahmoudian commented on #2107
@thep0y  that's not what others wrote in this thread, they said that the Flameshot buttons and other UI elements are blurry whereas you are saying that the screenshot is blurry. Would you press confirm if your Flameshot buttons are OK and only your screenshot is blurry?

@C0rn3j would you please confirm if your screenshot has good quality and only the UI is blurry?

[2021-12-14 09:51] C0rn3j commented on #2107
I didn't notice anything being blurry while I was testing, my issue was taking screenshots at all.

[2021-12-14 10:49] johnrichardrinehart commented on #1072
@dginovker #2159 and #2161 have been opened to address this version inconsistency (tagged release is `v0.10.2`, but source code hasn't been updated correspondingly so `--version` still outputs `v0.10.1`).

[2021-12-14 12:37] thep0y commented on #2107
flameshot:
![2021-12-14_20-32](https://user-images.githubusercontent.com/51874567/145999358-72bc2869-a974-4620-b3e2-c38ca577fda9.png)

actually:
![Screenshot_20211214_203408](https://user-images.githubusercontent.com/51874567/145999420-bc38b274-0a97-4fc8-9d7b-6b9d169eb014.png)

It seems that flameshot cannot correctly identify screen scaling.

[2021-12-14 13:09] mmahmoudian commented on #2107
From what I see both pictures have the same quality and neither of them are blurry. Am I missing anything?

[2021-12-14 13:55] thep0y commented on #2107
The second picture is not a real-resolution screenshot (from KDE's Spectacle), but it is much clearer than the first picture.
You can open the two pictures in a new tab respectively, and you will see the obvious difference in size.

[2021-12-14 14:52] ElHyperion commented on #334
Awesome! I suppose I'll just have to wait for a new release before it appears in official Manjaro repositories.

If it works correctly, I guess this issue can be closed.

[2021-12-14 14:53] ElHyperion commented on #334
@mmahmoudian
Awesome! I suppose I'll just have to wait for a new release before it appears in official Manjaro repositories.

If it works correctly, I guess this issue can be closed.

[2021-12-14 18:33] mmahmoudian commented on #334
@ElHyperion since you are on an Arch-based distro, you can install Flameshot from AUR (maintained by us) to get all these I mentioned. But detecting the focused windows in not implemented.

[2021-12-14 18:46] ElHyperion commented on #334
@mmahmoudian sorry my bad, misunderstood your reply.

[2021-12-14 21:30] ash-f opened #2164 "Gyazo upload support"
### Feature Description

Would be nice if you could support Gyazo which allows unlimited upload on the free plan.
https://gyazo.com/

API
https://gyazo.com/api/docs

[2021-12-14 22:13] up-to-you commented on #1259
It would be nice to install v11 this year !

Do i have a chance to ask about approximate release date ?

P.s. Definitely would be a contributor if it was written in Rust (no experience with segfault-free C++ 😁 )

[2021-12-14 22:18] borgmanJeremy commented on #1259
I'm a fellow rust enthusiast 😁 if the FFI between rust and c++ was a little cleaner I would consider writing the new upload feature in rust

I was planning to release the beta last weekend but some personal issues came up. Hopefully this week/weekend I can get it out. We already feature froze so only merging bug fixes until the release is out.

[2021-12-15 07:17] mmahmoudian commented on #2164
@ash-f isn't this a duplicate of #2149?

[2021-12-15 07:18] cellscripts commented on #1258
Perfect solution.

[2021-12-15 07:24] ash-f commented on #2164
Yes.

[2021-12-15 07:26] mmahmoudian commented on #2164
@ash-f thanks. Please always search in the issues to see if anyone else has suggested the feature or the bug you are reporting.

[2021-12-15 07:26] #2164 closed

[2021-12-15 09:13] up-to-you commented on #1259
https://github.com/google/autocxx is an insane tool as a C++/Rust glue.

P.s. just to increase chance for Rust integration one more percent 😁

[2021-12-15 18:29] isak102 opened #2166 ""Return" keybind to upload to Imgur does not work"
### Flameshot Version

flameshot 0.10.2-1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

5.15.7-arch1-1

### Description

As stated in the documentation you should be able to hit Return to upload the screenshot directly to Imgur, but this doesn't work for me. I can't see any entry to change the keybind

[2021-12-15 20:00] derdlok commented on #564
I actually set scaling to 125% in order to see text a bit larger on my laptop.
Changed it back to 100% and increased the dpi to 125, and its pretty much the same and screenshots work perfectly now.
Thanks!

[2021-12-16 08:53] GoodOldBatman commented on #643
I had the same issue with `Flameshot v0.8.5-4 (Debian) - Compiled with Qt 5.15.2`

I found a solution that worked for me by running this in the terminal:
[code]

Found it here https://archived.forum.manjaro.org/t/flameshot-disappears-when-saving-or-configuring/137510/2

[2021-12-16 12:51] krokofant commented on #1901
Any idea by how much the performance would improve for flameshot when it's migrated to Qt6?

Are those performance benefits smaller in comparison to the other changes discussed?

[2021-12-17 16:37] kmeekva opened #2167 "Alternate Hot Key Screen Capture needed for windows"
### Feature Description

Windows ships with snip and sketch bound to the PrtScr key.

Flameshot is programmed to bind to that key to launch graphical screen capture interface.

But this hotkey will not work if windows is already using it.

Therefore the only way  for me to take a screen shot is to click the icon in the windows tray to activate a screen grab.

While best solution would be to allow

[2021-12-19 20:36] veracioux commented on #2166
@isak102 Should be fixed in the newest master commit. You can download the newest build from [here](https://flameshot.org/docs/installation/development-build/).

[2021-12-19 22:12] veracioux commented on #2133
Your proposal can't really be applied to the newest development version of flameshot (which will be released in v11 soon). Right now when you call `flameshot gui` with one of the `--path`, `--clipboard`, etc options, the only thing you get is an accept button and corresponding shortcut (save, copy, upload etc don't even show up in the gui).

One thing you could do is use `flameshot gui -p <path> -

[2021-12-19 22:19] veracioux commented on #2123
@lygamac It seems to be a fairly common issue for people using window managers (I have this same issue in i3wm, maybe I forgot to change some config option). But it should be fixed in the newest development version of flameshot (and in the v11 release which is coming soon). You can test it out by installing `flameshot-git` from the AUR.

[2021-12-20 10:42] godalming123 opened #2172 "cannot grab color on linux"
### Feature Description

It appears that flameshot has a color grabber but as far as I can see there's no way to see the hex code of the color which is all I want to know. I open the tool by running ```flameshot gui``` then open the tool settings panel on the left and click grab color I click on the on screen color, see my color appear perfectly as the active color but with no obvious way to copy

[2021-12-20 16:13] ww7 commented on #2017
Bug with multiple monitors setup, icon flattened on non active screen
https://github.com/flameshot-org/flameshot/pull/2071#issuecomment-998003292

[2021-12-20 19:07] alpiua commented on #227
Have this bug with 3 monitors on last version, arch.

[2021-12-20 19:35] veracioux commented on #2172
@godalming123 The newest development version of flameshot (which will soon be released as v11) includes the hex code which you can edit or copy to clipboard, and the color grab mechanism is also improved. You can download a build from [here](https://flameshot.org/docs/installation/development-build/).

[2021-12-20 19:35] #2172 closed

[2021-12-20 19:37] borgmanJeremy commented on #2113
fixed.

[2021-12-20 19:37] #2113 closed

[2021-12-20 19:39] #2166 closed

[2021-12-20 19:41] borgmanJeremy commented on #2147
This is a bug in the version of Qt/GTK that is used in our base snap image.

I have already migrated the snap to a new base, but its still "experimental" so I can't actually release it on snapcraft. I'm honestly considering dropping snap as a supported package because it takes disproportional amount of maintenance compared to flatpak.

[2021-12-20 20:23] #2154 closed

[2021-12-20 21:13] CWM030 commented on #2147
Does the flatpak have the same issue as the snap?

Thanks,
Chris

⁣Get BlueMail for Android ​

On Dec 20, 2021, 1:41 PM, at 1:41 PM, borgmanJeremy ***@***.***> wrote:

[2021-12-21 02:16] #2114 closed

[2021-12-21 07:38] mmahmoudian commented on #2123
@lygamac would you please test the `flameshot-git` AUR (or build from source) and let us know if the issue is resolved?

[2021-12-21 15:06] #1755 closed

[2021-12-21 16:03] borgmanJeremy commented on #2147
I don't think so, but I dont run the flatpak daily

[2021-12-22 00:52] erlonbie commented on #429
I have the same issue.

OS: Ubuntu 20.04 LTS x64
WM: Qtile
Screen: 1920x1080

[2021-12-22 00:52] erlonbie commented on #429
has anyone found a solution?

[2021-12-22 08:35] mmahmoudian commented on #2147
@CWM030 I don't have Flameshot installed via either Snap or Flatpak, but one thing is certain, we never got any of such issues reported by Flatpak users.

[2021-12-22 09:03] xipeng156 commented on #2007
I Know ，thinks

[2021-12-22 16:51] 3vi1 commented on #1938
I'm seeing almost exactly the same thing, with a slight twist.  I was about to open an issue when I discovered this one.

I have the exact same problem in that the capture interface only opens on my secondary monitor.  The added twist is that, on my system, when it opens the capture interface it copies in the data from the first monitor... So I can only capture things that are on the primary scree

[2021-12-22 17:25] lygamac commented on #2123
@mmahmoudian the git version seems to work fine. Thanks

[2021-12-22 17:25] #2123 closed

[2021-12-22 17:48] borgmanJeremy opened #2181 "Closing pinned image closes the daemon"
### Flameshot Version

Built from latest master: 960710

### Installation Type

Compiled from source

### Operating System type and version

M1 Air Monterey

### Description

When I pin an image and close the pin, the daemon stops.

### Steps to reproduce

Run flameshot from CLI.
Pin an image
Double click to close pin

### Screenshots or screen recordings

_No response_

### System Information

Fl

[2021-12-22 20:56] mmahmoudian commented on #429
If you have not tried the latest version, please do so. At the moment the latest version is v0.10.2 and it is also available via Snap, Flatpak and also AppImage. We also provide the .deb package on our release page. The v0.6.x is not supported by any means.

[2021-12-22 20:57] #429 closed

[2021-12-23 11:28] deo002 commented on #1942
I would like to tackle this issue.

[2021-12-23 14:55] borgmanJeremy commented on #2181
@veracioux  I bisected the code and this was introduced in #2003 (203b5ba)

Any ideas what could be causing this? Copy and Upload do not cause the daemon to close, just closing the final pinned image.

[2021-12-23 15:07] veracioux commented on #2181
If you have `autoCloseIdleDaemon=true` in your config, then this is expected behavior.

[2021-12-23 15:21] borgmanJeremy commented on #2181
Shouldn't the same behavior apply to upload?

[2021-12-23 15:27] veracioux commented on #2181
@borgmanJeremy No. Upload is handled by the active gui instance, not through the daemon.

[2021-12-23 16:25] borgmanJeremy commented on #2181
Actually the bug is present irrespective of the setting. It is also reproducible on linux.
![Peek 2021-12-23 10-25](https://user-images.githubusercontent.com/46930769/147267468-0caa4e7e-161c-4373-a535-bab2afdd91f0.gif)

[2021-12-23 16:27] veracioux commented on #2181
Will take a look then.

[2021-12-23 17:01] borgmanJeremy commented on #2181
I think the bug is here. My sense is that the bug is related to the !instance() function, however, I need to step away for a few hours. I can come back to it later if you haven't already solved it.  I would expect the first if to be taken because m_persist is true, but need more time to figure out the intention of the instance() function.

[code]

[2021-12-23 18:33] veracioux commented on #2181
@borgmanJeremy I'll take a stab at it.

[2021-12-23 20:09] veracioux commented on #2181
The `instance` method is now documented.

[2021-12-23 21:07] #2181 closed

[2021-12-24 13:38] razzeee commented on #2119
The flatpak on flathub also says its 0.10.1

[2021-12-24 15:40] All3xJ opened #2186 "Due to recent GNOME 41 update, to take screenshot I need to click "Share" EVERY time."
### Flameshot Version

[code]

### Installation Type

User repository (AUR)

### Operating System type and version

ArchLinux

### Description

Due to this GNOME 41 update: https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970
flameshot and other "non-gnome" screenshot tools are forced to ask for permission and break the workflow, because we need to press "Share" EVERY time.
Here is an

[2021-12-24 16:01] borgmanJeremy commented on #2186
See the pinned issues. Complain about this upstream there is nothing I can do.

[2021-12-24 16:01] #2186 closed

[2021-12-24 19:49] mmahmoudian commented on #2186
@All3xJ to be extremely specific, take your complaints to Gnomes devs. Read the following and share your thoughts to them:

https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970

[2021-12-24 20:55] #2159 closed

[2021-12-25 01:43] drawanon commented on #1900
It's a shame it got removed. Luckily it's easy to add back for people, who still want to use it just by adding 's' to [this line](https://github.com/flameshot-org/flameshot/blob/da5d71c23c31e89db59006183a3572d35e3c85d1/src/utils/strfparse.cpp#L25)

i respect the decision to keep it more platform independent - this note is for people who may stumble on this and look for a way to add it back, for th

[2021-12-25 07:19] mmahmoudian commented on #2119
This was addressed in the #2161 PR, but since the release of v0.11.0 is imminent, it was decided that we just move forward with the release rather than a point-fix. That said, big thank you to @johnrichardrinehart for following up the case and create the PR.

I'll close this issue as the new version with fix it.

[2021-12-25 07:19] #2119 closed

[2021-12-25 09:07] johnrichardrinehart commented on #2119
Good job you guys!

[2021-12-25 10:57] vanheck commented on #2088
I have the same problem with Fedora 35 (gnome 41.2. with wayland), flameshot installed by `dnf install flameshot`.

[2021-12-25 12:38] Yajo commented on #1910
I'm using it from Flathub but it doesn't work 😕

[2021-12-25 12:59] yaayes commented on #1910
Hi, Thanks for this tool it help a lot. I really missed it after I've upgraded from Fedora 34 to 35. I still can't use it even with the version `v0.10.2`

[code]

OS:

[code]

[2021-12-25 14:47] Araly commented on #2127
I have this same issue.

If I run `flameshot` I get:
[code]

[2021-12-26 07:48] mmahmoudian commented on #1910
@Yajo @yaayes we just pre-released a new version (v11.0) and we will be testing it for the next few weeks. It would be nice if you can give it a try and see if you still have issues with running Flameshot.

[2021-12-26 09:10] All3xJ commented on #2186
Ok, I reported to gnome upstream: https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970#note_1341047
and here: https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/4895

[2021-12-26 09:55] dannykorpan opened #2192 "Latest V11.0 Beta does not start on macOS 12.1"
### Flameshot Version

V11.0 Beta

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

macOS 12.1 (21C52) - Apple Silicon M1

### Description

Latest Flameshot beta crashes upon start

Crash Report
[code]

### Steps to reproduce

1. Start flameshot

### Screenshots or screen recordings

_No response_

### Sy

[2021-12-26 10:30] yaayes commented on #1910
Hi @mmahmoudian, thanks for the working on this tool. It's a great tool. I just installed the pre-release, but the same error still occurred. I can help test this release until the issue is resolved, just ping me!

[code]

[2021-12-26 14:37] borgmanJeremy commented on #2192
Thanks I can replicate this. Strangely enough if I cd into /Applications/flameshot.app/Contents/MacOS
and run the binary from the CLI (or double click the executable from finder), it works fine.

[2021-12-26 14:39] borgmanJeremy commented on #2192
Also how did you generate that back trace?

[2021-12-26 15:59] dannykorpan commented on #2192
From the Console App. Finder -> Applications -> Utilities -> Console

[2021-12-26 19:24] mmahmoudian commented on #1910
@yaayes  thanks for treating the new pre-release. Let's then get some more information from you to better understand the situation. Please tell us the following:
1. How did you install it? (Using the rpm or snap or flatpak or AppImage it compile from source)
2. What is exactly the issue you are expecting (basically what works and what doesn't work)
3. Follow the following steps and let me know the

[2021-12-26 19:48] mmahmoudian commented on #2186
@All3xJ thanks for putting the time into sending those comments and raising concern. They up front refused to do it when we (software devs) asked them. Now it seems there is some movement on their side after one of their users (i.e you) have wrote those posts.

Also they [have said](https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970#note_1288434)

Which clearly is not true/correct as

[2021-12-26 20:39] borgmanJeremy commented on #2192
The offending commit is: 7199fd392

[2021-12-26 20:46] borgmanJeremy commented on #2192
Actually I think thats a red herring. I'm not sure whats going on now but its working fine for me. Do you mind posting your config file?

[2021-12-26 23:46] theitguynumber1 opened #2193 "Using gnome with HDMI Screen & Wayland with increased 150% scaled can capture only top-left 1/3rd of screen"
I installed fameshot on a PC with no display but connected to HDMI.
Increased display scare to 150%. Taking screenshot is only possible for the 1/9th (1/3rd from top and 1/3rd from left) of the screen.

Screenshot (taking with printscreen rather) of the normal screen:

![Screenshot from 2021-12-27 10-43-23](https://user-images.githubusercontent.com/33011744/147422628-0c8b05e3-7fcc-40a8-8b5d-1e37b4

[2021-12-26 23:50] theitguynumber1 commented on #2193
$ cat /etc/os-release
PRETTY_NAME="Ubuntu 21.10"
NAME="Ubuntu"
VERSION_ID="21.10"
VERSION="21.10 (Impish Indri)"
VERSION_CODENAME=impish
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=impish

$ un

[2021-12-27 00:18] borgmanJeremy commented on #2193
I'm on mobile so I dont have the issue number handy, but if you search "fractional scaling" in our issues you will find a detailed description of this issue and where we are at.

[2021-12-27 00:18] #2193 closed

[2021-12-27 00:28] theitguynumber1 commented on #2193
Yes - thanks.

https://github.com/flameshot-org/flameshot/issues/564

[https://github.com/flameshot-org/flameshot/issues/564](url)

[2021-12-27 09:11] dannykorpan commented on #2192
[code]

[2021-12-27 09:32] Yajo commented on #1910
I installed https://github.com/flameshot-org/flameshot/releases/download/v11.0.rc1/org.flameshot.Flameshot-11.0.rc1.x86_64.flatpak directly.

I ran your commands. In 1st term:

[code]

2nd terminal:

[code]

What happens under Wayland:

https://user-images.githubusercontent.com/973709/147457811-eef340b0-caad-4caf-85be-939a2ed64a0b.mp4

[2021-12-27 10:31] ethan-rod6 opened #2194 "Flameshot stucks in i3"
### Flameshot Version

v.0.10.2

### Installation Type

User repository (AUR)

### Operating System type and version

Arch Linux 2021

### Description

I have installed flameshot in Arch linux and it worked perfectly. But when I switched to i3 window manager I can't use clipboard feature. However I can use the other features. When I clicked on clipboard option my pc stucks. Any idea on this?

###

[2021-12-27 10:59] nielsdg commented on #2186
Hi @mmahmoudian, I disagree with your conclusion and I hope to clarify some things:

* Flameshot has used an _internal_ GNOME Shell API. There never was a promise of API stability, which is a necessary condition for making an API public in the first place.
* Cross-DE developers (like GNOME/KDE/XFCE/...) are bringing up a cross-DE effort to get common platform for certain API that clients might be

[2021-12-27 12:40] mmahmoudian commented on #2186
@nielsdg I prefer to use a personal account to express my personal opinions in details. In the hindsight I should've wrote my previous comment (which was also my personal opinion) on my mastodon account or my blog.

I wrote a lengthy reply to your comment and I might publish it somewhere.

[2021-12-27 12:54] borgmanJeremy commented on #2186
I'm going to follow the trend of the other projects and lock this before all the people arguing on those threads come here.

There's not much more to add, the path forward is identified and needs someone to spend time coding it.

[2021-12-27 12:56] borgmanJeremy commented on #2194
Try using the version 11 beta we just released. This sounds like you are missing a notification manager. We made this more optional in version 11.

Alternatively disable notifications in flameshot or install something like dunst.

[2021-12-27 12:58] borgmanJeremy commented on #1910
Do you have xdg-desktop-portal installed?

[2021-12-27 13:57] omkarnathsingh opened #2195 "Update release versions for Ubuntu 18 and 20."
### Flameshot Version

v 0.6.0

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Ubuntu 20

### Description

We have still v0.6.0 available from apt package manager for Ubuntu 20.04. Please update it to have latest stable versions.

### Steps to reproduce

_No response_

### Screenshots or screen recordin

[2021-12-27 14:26] borgmanJeremy commented on #2195
You need to file this with Ubuntu, we do not control what they ship. I recommend installing our flatpak.

[2021-12-27 14:26] #2195 closed

[2021-12-27 14:30] borgmanJeremy commented on #2192
Delete the following line and I think it will launch:
[code]
@veracioux I think before we release version 11 out of beta we need to fuzz test the config file to make sure even if it is corrupted or contains outdated options the program still launches.

[2021-12-27 14:38] borgmanJeremy commented on #2147
I checked again today and we still cant release the fix. The core20 kde-neon extension is still experimental, and I cannot enable this in their CI:

https://forum.snapcraft.io/t/this-extension-may-be-enabled-with-the-enable-experimental-extensions-parameter/27603/3

[2021-12-27 15:32] borgmanJeremy commented on #2192
Okay I am very close to fixing this. The issue is in main.cpp, we call Controller::getInstance(). This is the first time it is called, so the static begins initialization.

As part of the initialization, we parse the config file. On MacOs and Windows, if the config file has an error we send a message using.....Controller!!

When we try to get the handle for the controller, the static is not fully

[2021-12-27 16:07] dannykorpan commented on #2192
Thanks, now it's working!

[2021-12-27 16:08] borgmanJeremy commented on #2192
Great, thanks for helping us beta test! You found a very subtle nasty bug :)

[2021-12-27 17:36] CWM030 commented on #2147
On Mon, 27 Dec 2021 06:38:15 -0800
borgmanJeremy ***@***.***> wrote:

I see... Thanks for the follow up

Please keep me informed

Chris

[2021-12-27 20:00] veracioux commented on #2192
@borgmanJeremy

Great idea, I'll start working on it.

[2021-12-27 20:43] dannykorpan commented on #1932
For me it's now working with the latest beta of V11. Anybody can confirm this?

[2021-12-28 00:18] borgmanJeremy commented on #1932
@dannykorpan even if you attach the second monitor after starting flameshot?

[2021-12-28 00:39] borgmanJeremy commented on #2192
@veracioux I've used this as a starting point in the past: https://github.com/cpp-best-practices/cpp_starter_project/blob/main/fuzz_test/CMakeLists.txt

https://github.com/borgmanJeremy/strf_sanitize/tree/main/fuzz_test

[2021-12-28 08:01] Yajo commented on #1910
El lun, 27 de dic de 2021 a las 04:58:19 AM, borgmanJeremy
***@***.***> escribió:

Yes:

xdg-desktop-portal 1.10.1

[2021-12-28 09:11] xvitaly commented on #1910
And what about `xdg-desktop-portal-gnome`?

[2021-12-28 10:36] vittorio-c commented on #1563
Hello,

Still having this issue here.

Here are some logs:

**Start application from command line :**
[code]

**Select a region of the screen to capture, then press CTRL-S to save it as a file :**

[code]

The result is still empty file name.

---

Here are my informations :

[code]
[code]
[code]
[code]

[code]

[2021-12-28 10:41] vittorio-c commented on #1563
By the way, the workaround mentionned by @cjlewis999  is indeed working (thank you to him) :

- enable 'save image after copy' in the general config tab
- select your region of the screen to capture
- instead of saving the file directly (ctrl-S), copy it in your clipboard (ctrl-C)
- you'll have your file automatically saved with correct filename in the folder specified in the general config tab
-

[2021-12-28 10:51] Valeryan24 opened #2199 "Flameshot doesn't work on Ubuntu 22.04: Use QT_QPA_PLATFORM=wayland"
### Flameshot Version

Flameshot 0.10.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Ubuntu 22.04 development

### Description

Hi, thanks for this wonderful soft and all the work done. Sorry if the issue is linked to another one already opened, like #2107 :

I just upgraded to Ubuntu 22.04 developme

[2021-12-28 11:53] #1186 closed

[2021-12-28 12:34] mmahmoudian commented on #1186
@lxwulf now that it has been "solved" in mysterious way, let us know your Flameshot version. Perhaps and update of some kind have helped and I'm curious to know what

[2021-12-28 14:21] CubicrootXYZ commented on #1906
Same for me but it happens on every hover when waiting for a few seconds between them.

System:
Ubuntu 21.10
Gnome 40.4.0
X11
Flameshot 0.9.0+ds1-2 (from apt)

[2021-12-28 14:42] borgmanJeremy commented on #2199
I was able to replicate this and then fix it. In a clean VM I saw this issues, then I installed: ``` xdg-desktop-portal-gnome ```, and logged out and back in and it worked fine. This package is now required per #1910

I also installed ```bustle``` to debug any dbus issues, but i dont think this is what fixed it.

[2021-12-28 15:10] borgmanJeremy commented on #2127
Make sure you install xdg-desktop-portal and xdg-desktop-portal-gnome

Then logout and back in. Please let me know if that fixes it and I will get this merged into the documentation / arch wiki.

[2021-12-28 15:34] Valeryan24 commented on #2199
Thanks a lot, it works fine again !

It just adds a small step: when I run the screenshot, it does a capture of the entire screen, then I have to click on "Share", and it opens the normal Flameshot border selection, with all the options to save the image :)

[2021-12-28 15:35] borgmanJeremy commented on #2199
Yes see #1910 for why that is the case, its out of our hands. @hosiet Do you think we should make these packages required dependencies in the .deb?

[2021-12-28 15:41] mmahmoudian commented on #2199
We should add this to our Wayland documentation I guess if it is reproducible on a clean VM. @borgmanJeremy and @hosiet if you two agree on this, I will assigned this to myself to do it.

[2021-12-28 15:50] borgmanJeremy commented on #2199
It for sure is a requirement for gnome 41+ on wayland. The open question is if we should list it in the .deb file also.

[2021-12-28 15:51] hosiet commented on #2199
Please do so. Also note that xdg-desktop-portal-gnome is only for GNOME. For other Wayland-enabled desktop environment, they may need xdg-desktop-portal-gtk or xdg-desktop-portal-kde or xdg-desktop-portal-wlr for different DEs respectively.

[2021-12-28 15:52] borgmanJeremy commented on #2199
@hosiet is it possible to write the control file to be specific to the DE?

[2021-12-28 15:54] hosiet commented on #2199
I don't have opinions for upstream-provides debs. For distribution-provided packages, we already have this:

https://sources.debian.org/src/flameshot/0.10.2+ds1-4/debian/control/

[code]

Probably you may also use such format; it may have advantages and disadvantages. I don't have an ideal solution.

[2021-12-28 15:59] hosiet commented on #2199
Just FYI: conditional-depends (install A if B has been installed) is not supported in all known dependency resolvers since that will introduce unacceptable level of complexity.

[2021-12-28 16:42] godalming123 commented on #2172
have a great experience with flameshot 11 keep up the good work!

[2021-12-28 17:07] lxwulf commented on #1186
Hey @mmahmoudian

Sorry, didn't want to just close it without any information given – but at that moment I didn't really know what the problem was. Retroperspective I would say it was my gnome overlay I had. It was an extension which I installed to have something like tiling window desktop environment. I think there was the issue.

I'm sorry that I did not give more or specific information, in fut

[2021-12-28 17:23] xvitaly commented on #2199
Added to Fedora:

[code]

Should be fixed now.

[2021-12-28 17:23] xvitaly commented on #2199
RPM supports this since version 4.13: https://rpm-software-management.github.io/rpm/manual/boolean_dependencies.html

[2021-12-28 17:30] hosiet commented on #2199
Thanks for the info. In Debian, the `gnome-core` package already has a hard dependency on `xdg-desktop-portal-gnome`. I am not sure if future Ubuntu (22.04 LTS) would also do the same.

[2021-12-28 18:33] #2133 closed

[2021-12-28 18:34] borgmanJeremy commented on #2110
Merged in version 11

[2021-12-28 18:34] #2110 closed

[2021-12-28 18:34] #2109 closed

[2021-12-28 18:35] borgmanJeremy commented on #2090
Will not fix, version 11 is coming out shortly.

[2021-12-28 18:35] #2090 closed

[2021-12-28 18:35] #2054 closed

[2021-12-28 18:37] #1943 closed

[2021-12-28 18:38] mmahmoudian commented on #1186
@lxwulf no worries and there is absolutely nothing to be sorry about. I'm just curious because it might be a rare bug and would be nice to know what caused it. 😊

Thanks for reporting the bug initially and thanks for keeping us updated about the miraculous fixed situation. 👍🏼

[2021-12-28 18:39] borgmanJeremy commented on #1935
I believe this is all working properly now in version 11.

[2021-12-28 18:39] #1935 closed

[2021-12-28 18:42] #1769 closed

[2021-12-28 18:43] borgmanJeremy commented on #1607
Since this is fixed now I am going to close.

[2021-12-28 18:43] #1607 closed

[2021-12-28 18:44] borgmanJeremy commented on #1560
Since that change is now merged I will close this.

[2021-12-28 18:44] #1560 closed

[2021-12-28 18:45] #1542 closed

[2021-12-28 18:46] #1399 closed

[2021-12-28 18:46] #1410 closed

[2021-12-28 18:47] borgmanJeremy commented on #1302
Since flameshot is working perfectly fine on Rosetta I am going to close this.

[2021-12-28 18:47] #1302 closed

[2021-12-28 18:47] #1258 closed

[2021-12-28 18:48] #1139 closed

[2021-12-28 18:48] #1071 closed

[2021-12-28 18:49] #945 closed

[2021-12-28 18:49] #896 closed

[2021-12-28 18:50] borgmanJeremy commented on #805
flameshot for sometime emits and error and falls back to a default if no locale is set.

[2021-12-28 18:50] #805 closed

[2021-12-28 18:50] #792 closed

[2021-12-28 18:51] #751 closed

[2021-12-28 18:51] borgmanJeremy commented on #696
This cannot be added without an insane amount of work.

[2021-12-28 18:51] #696 closed

[2021-12-28 18:54] borgmanJeremy commented on #558
This is now possible in the version 11 beta.

[2021-12-28 18:54] #558 closed

[2021-12-28 18:56] borgmanJeremy commented on #508
This is now possible in the version 11 beta.

[2021-12-28 18:56] #508 closed

[2021-12-28 18:56] borgmanJeremy commented on #491
Its now possible to bind custom hotkeys.

[2021-12-28 18:56] #491 closed

[2021-12-28 18:57] borgmanJeremy commented on #417
This is now possible in the CLI in version 11 beta.

[2021-12-28 18:58] borgmanJeremy commented on #383
This is not really possible due to complexities in abstracting the underlying OS and DE.

[2021-12-28 18:58] #383 closed

[2021-12-28 19:00] #207 closed

[2021-12-28 19:00] #139 closed

[2021-12-28 19:01] borgmanJeremy commented on #100
This will not be added due to the complexity of supporting it on all platforms and DE's.

[2021-12-28 19:01] #100 closed

[2021-12-28 19:06] borgmanJeremy commented on #2105
Sorry but I dont think this is a flameshot bug. This seems to be from the underlying window manager.

[2021-12-28 19:06] #2105 closed

[2021-12-28 19:07] borgmanJeremy commented on #2099
Can one of you test the version 11 beta?

[2021-12-28 19:09] jeaye commented on #417
Thanks for the update, @borgmanJeremy! I don't think this issue should be closed, though.

The original request was:

The new CLI rework allows for a flag to specify w, h, x, and y, which is a great starting point. It's not quite the same as repeating the last shot selected by the GUI region selection, though; it's much more manual.

Do you foresee this becoming available in the GUI, so people don

[2021-12-28 19:10] borgmanJeremy commented on #417
Yeah I plan to include this in the graphical launcher. I can reopen this until that is complete.

[2021-12-28 19:28] wgorski commented on #2199
Same thing here. Is this the expected behaviour?

[2021-12-28 19:29] borgmanJeremy commented on #2199
Read the link, yes, it's gnomes decision

[2021-12-28 19:44] C0rn3j commented on #2099
Updated to latest git `fcadc02a`.

Can't copypaste in wayland Plasma in either X or Wayland apps.

Keyboard shortcuts work.

[2021-12-28 20:56] jchook commented on #1071
Still having issues on my end with the latest.

The first time I run `flameshot gui` I can use the type tool, but with subsequent invocations the type tool does not work.

[2021-12-28 21:00] borgmanJeremy commented on #1071
I closed it since no one else can reproduce it in a vm and other xmonad users don't have the issue.

To me it strongly suggests it's an issue on your system, and unless we can replicate the issue there's really nothing that we can do on our end.

[2021-12-28 21:24] veracioux commented on #2088
@FuGangqiang Can you try running `flameshot gui` using the latest version (v11)? I see your strace contains `Unknown Organization.conf`, which is part of a past issue that has been solved. This could very well be the cause of this issue for you.

[2021-12-28 22:16] mmahmoudian commented on #1071
@jchook can you reproduce it on a VM? It would be essential for us to have an environment that can reproduce this issue. Investigating this blindly is looking for a needle in a haystack. Considering that you are an Xmpnad user, it should be straightforward for you to create a VM, clone/copy your config and etc.

[2021-12-28 22:20] mmahmoudian commented on #2099
@C0rn3j what do you mean by "Keyboard shortcuts work"? Do you mean that when the copying is involved by keyboard shortcut it does copy, but when clicked it doesn't?

[2021-12-28 22:27] mmahmoudian commented on #2105
@c02y sorry I'm again on my phone without access to a computer. I believe there is a difference between the pinned window of Flameshot and the config and launcher (if not I think it should be a good idea to add it for facilitate window rules in difficulty WMs).

[2021-12-28 22:31] Leny1996 commented on #2099
@mmahmoudian @C0rn3j Installed latest version from git (`fcadc02a`) and I have the same issue.
Using Arch on Plasma Wayland. Copying via shortcut or by clicking on button does nothing.
[code]
Yea... it isn't in clipboard.

[2021-12-28 22:33] mmahmoudian commented on #696
@3xploiton3 basically implementing this would require too much work (if not impossible) to get a cross-platform solution.

[2021-12-28 23:15] C0rn3j commented on #2099
I mean just that, as they were broken recently when I was testing(no input was registered), clipboard is still broken with or without shortcuts

[2021-12-28 23:49] ethan-rod6 commented on #2194
I installed the version 11 now and still it's same. But I'm getting this error now.
`flameshot: error: The configuration contains an error. Falling back to default.`

[2021-12-28 23:50] borgmanJeremy commented on #2194
Open the config menu and it will tell you which line has the error

[2021-12-28 23:51] ethan-rod6 commented on #2194
I'm sorry. I dont know how to open it

[2021-12-28 23:56] borgmanJeremy commented on #2194
Right click the tray icon and hit config or from the cli type

flameshot config

[2021-12-29 00:03] ethan-rod6 commented on #2194
But it doesn't have any logs. I mean errors.

[2021-12-29 00:07] borgmanJeremy commented on #2194
![image](https://user-images.githubusercontent.com/46930769/147616010-f8963ba6-847a-4ad0-aa12-43c6555af18b.png)

[2021-12-29 00:08] ethan-rod6 commented on #2194
I don't have that option

[2021-12-29 00:10] borgmanJeremy commented on #2194
Hmmm you are sure it's version 21?

[2021-12-29 00:13] ethan-rod6 commented on #2194
yeah I installed it now, with yay

[2021-12-29 00:30] borgmanJeremy commented on #2194
ok weird, you can post your config and I'll look at it to see why that dialog is not appearing.

[2021-12-29 00:38] ethan-rod6 commented on #2194
This is my `flameshot.ini`, I guess this is what you want
[code]

[2021-12-29 00:45] borgmanJeremy commented on #2194
The offending line is setSaveASFileExtension

Not sure why you are not seeing that dialog box, I tested on the same commit as you and I see it.

[2021-12-29 00:58] ethan-rod6 commented on #2194
Urghhhhhhhhhhh. These days are bad for me. First this and now my wm isn't working properly

[2021-12-29 00:59] borgmanJeremy commented on #2099
Perhaps we need to do as spectacle does and use the specific KDE clipboard API: https://github.com/KDE/spectacle/blob/877744dfb824785e798ee7f322c4cc8b208a8aea/src/ExportManager.cpp#L545

[2021-12-29 01:04] borgmanJeremy commented on #2194
Sorry to hear that. Join the dark side on kde plasma 😁

[2021-12-29 03:58] spekulatius commented on #558
Thank you @borgmanJeremy

[2021-12-29 07:31] mmahmoudian commented on #2194
For those who have the same issue and didn't understand what to do, change this line:

[code]

To:

[code]

-------

@borgmanJeremy do you want to keep this open?

[2021-12-29 07:37] mmahmoudian commented on #2099
@borgmanJeremy considering the trend, perhaps because of Wayland, soon every WM/DE will end up having their own API and if Qt doesn't unify all that, we will end up with quite a bunch of if...else statements for every action.

But I think we should use the API before releasing the v11 as a stable one.

[2021-12-29 07:48] mmahmoudian commented on #1563
@vittorio-c we have had a major refactoring of the code and many similar issue has been fixed. Would you please check our new prerelease v11.0 and see if the issue still persists?

[2021-12-29 08:57] godalming123 opened #2201 "No support for screen recording"
### Feature Description

I think it would be nice if flameshot could take small screen recordings nothing fancy just say a 60 second capture that can be shown in you tray or a permenant capture that can also be shown and paused or saved from your tray.

[2021-12-29 10:46] mmahmoudian commented on #2201
I think that is out of the scope of Flameshot. There are already very good software (e.g peek) that you can use. Perhaps reinventing the wheel is not good at this point.

I'll keep this open and tag the following devs to know their opinion and then we can close it if everyone share the same opinion with me.

@borgmanJeremy @veracioux @ZetaoYang @hoiset @thepurple @Martin-Eckleben

[2021-12-29 10:48] mmahmoudian commented on #2201
@ho

[2021-12-29 11:20] thepurple commented on #2201
I think that it's out of scope now. I had such requests too, but current concept is far from video recording.
I think that the only possible option is to integrate some 3rd-party screen recording tool and to call it transparently from the Flameshot. But it will be a challenge to find and support a good cross-platform tool with ability to integrate it.

[2021-12-29 11:30] ZetaoYang commented on #2201
Maybe it can be achieved in flameshot plugins.

[2021-12-29 12:53] mmahmoudian commented on #2201
I agree with both points so far. Flameshot can get feature rich through plugins and the core can be/should get more stable and light weight. There is a narrow but perhaps a fine line that should be drawn and defined by devs. I personally am not a C++ developer and therefore I'll try to minimise my influence/voice in this context as more knowledgeable fellows are onboard 🤓

[2021-12-29 12:53] borgmanJeremy commented on #2194
I think it can be closed

[2021-12-29 13:22] #2194 closed

[2021-12-29 16:07] bksubhuti opened #2203 "Flameshot Ubuntu screen zoom 1.25%"
### Flameshot Version

0.9+ds1-2 debian
QT 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

gnome ubuntu 21.10

### Description

display size 100% works fine
display size 125% flashes black screen on and off.

### Steps to reproduce

set display size 125%
run flameshot

### Screenshots or screen r

[2021-12-29 16:26] borgmanJeremy commented on #2099
@mmahmoudian  Okay let me work with Qt upstream first. I made a minimal reproducible example. This works fine on X11, but does not work on Wayland.

https://github.com/borgmanJeremy/wayland_clipboard

[2021-12-29 16:44] Yajo commented on #1910
Also there:

[code]

[2021-12-29 17:07] mmahmoudian commented on #2203
Isn't this duplicate of #564?

[2021-12-29 17:17] Leny1996 commented on #227
Also the same on my side using X11 on latest KDE Plasma.
[code]
I have 4K display on left, FHD on right, global scaling set to 156.25%.
No issues with Spectacle with that setup.

[2021-12-29 18:57] godalming123 commented on #2201
I would agree I just didn't realise that there was simple alternatives to get the job done and flameshot defenately needs some more important features such as being able to copy the selected color as seen in flameshot 11

[2021-12-29 19:25] veracioux commented on #2201
@mmahmoudian

Absolutely agree. Flameshot should not be a screen recorder. Except in plugins, where all cards are on the table.

[2021-12-29 20:40] borgmanJeremy commented on #2099
Good news, no hacks required. I built that minimal example against Qt6 and it works fine. Since we are already working on making Flameshot compatible with Qt6, this will be solved with that migration. kon

[2021-12-29 20:42] borgmanJeremy commented on #2201
This is also a duplicate of #172

[2021-12-29 20:42] #2201 closed

[2021-12-30 00:48] bksubhuti commented on #564
me too.. Ubuntu 21.10 xorg 125%.. Looks like this will not be fixed anytime soon.
Now I have to look for another screen capture.

[2021-12-30 00:48] bksubhuti commented on #2203
yup

[2021-12-30 00:48] #2203 closed

[2021-12-30 01:34] alpiua commented on #227
That is awesome fix, thanks!

[2021-12-30 04:44] ak2766 commented on #417
How does one get to know the starting screen coordinates in order to be able to use the CLI options.  I can see lots of trial and error to get the region just right.

I've just started to use __flameshot__ and cannot find such an option to turn it on in the GUI.

In shutter, one can get this information from a popup window that shows not just the dimensions of the selected region, but also the coo

[2021-12-30 06:57] mmahmoudian commented on #564
@bksubhuti once again not searching in our issues gave you a suboptimal view of the project's progress. I highly encourage you to search the issue of this repository throughly.

Regarding your last message, feel free to find other software, but this is an issue that is not easy to solve for obvious reasons. @borgmanJeremy is already working on a workaround solution in which user has to calibrate s

[2021-12-30 07:01] bksubhuti commented on #564
yes.. did not search.  I hope you can fix it later.  I'm not sure about the font size fix...I will look into that and see what the results are.  I'm looking into deepin's screenshot.  I like flamshot the best.

[2021-12-30 08:03] mmahmoudian commented on #417
@ak2766 it is less complicated as you would think. You can use the `flameshot gui --geometry` to get the coordinates. If you use the version 11 you can get the location of the screenshot you selected and immediately save it to file or copy to clipboard. For example:

[code]

[2021-12-30 12:31] RiedleroD commented on #2109
Just freshly installed sway on my new laptop; can now reproduce. I'll send an update once I figure out which dependency I need to install.

[2021-12-30 13:12] omkarnathsingh commented on #2195
Even flameshot versions are not updated. Is there no control from dev side?

[2021-12-30 14:51] borgmanJeremy commented on #2195
No it's up to your software distributor (that's actually why it's called a distro, it's thier job to package and distribute the software).

Again you can install from flathub which I do keep up to date.

[2021-12-30 15:32] hosiet commented on #2195
I shall let you know that actually *no one* is controlling flameshot package in Ubuntu. I can partially influence the future Ubuntu versions by packaging in Debian side, but flameshot in published Ubuntu is not taken care of by anyone; we need a interested Ubuntu Developer to take care of them, which does not exist yet.

[2021-12-30 16:35] borgmanJeremy commented on #417
@veracioux  has also proposed displaying this in a popup in the upper right of the screen. Believe that is tracked on another issue.

[2021-12-30 16:56] borgmanJeremy commented on #417
Btw I think I can get the launcher change in version 11, it's almost done

[2021-12-30 22:48] RiedleroD commented on #2109
I GOT IT
IT DEPENDS ON GRIM WHAT THE FUCK

someone explain this to me.

[2021-12-30 22:51] borgmanJeremy commented on #2109
https://github.com/flameshot-org/flameshot/blob/master/docs/Sway%20and%20wlroots%20support.md

[2021-12-30 22:55] RiedleroD commented on #2109
wtf, didn't read that because that info is supposed to be in the package manager :/

[2021-12-30 23:09] stankovictab opened #2206 "Windows Config File Location in Docs"
### Feature Description

Would be nice to have the path `\Users\{USER}\AppData\Roaming\flameshot\flameshot.ini` in the docs,\
I'm sure it would help many who copy over their settings from one machine to another.

[2021-12-30 23:15] borgmanJeremy commented on #2109
Sorry we don't control the packaging for upstream.

[2021-12-30 23:16] borgmanJeremy commented on #2206
Great idea, you should submit a pull request with the change!

[2021-12-30 23:40] RiedleroD commented on #2109
ik, I'm sending the guy that packaged flameshot a mail rn

[2021-12-30 23:44] borgmanJeremy commented on #2109
I'm not sure how they would package it so grim is only requires on sway.

[2021-12-31 01:50] ak2766 commented on #417
@mmahmoudian

Thanks for that.  I had to compile flameshot from source to test as Ubuntu 20.04 provides a rather ancient version and I couldn't find a PPA that provides a newer version:

<details>
<summary>apt info flameshot</summary>
<p>

[code]

</details>

[2021-12-31 02:42] ak2766 commented on #417
OK - I see there's a newer version as a `snap` .  I purged my previous `apt` install and installed the snap version.  However, I'm unable to save screenshots to my home directory and there's no `--classic` option to override, so out it goes.  The snap concept is good but it still leaves a sour taste...

I'm going to have to contend with the `source compilation` and manage the updates to this packa

[2021-12-31 04:38] nlpsuge commented on #1563
@mmahmoudian

I installed flameshot-11.0.rc1-1.fc34.x86_64.rpm, and tested.

And the issue still persists, the filename is empty.

BTW. When I press the shortcut to capture the screen, It pops up an error notification 'The configuration contains an error. Falling back to default'.

[2021-12-31 05:12] #2206 closed

[2021-12-31 08:24] RiedleroD commented on #2109
as I said, optional dependencies. They can even add an explanation for each optdep. (and that's one reason why I think arch is better than debian ;P)

[2021-12-31 12:24] JackieMium opened #2210 "Copy to clipboard button or Ctrl+C"
### Flameshot Version

`flameshot-11.0.rc1-1.debian-11.amd64.deb`

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Debian sid with Xfce4 as DE

### Description

After upgrade from `flameshot-0.10.2-1.debian-10.amd64.deb` to `flameshot-11.0.rc1-1.debian-11.amd64.deb`, launching regional screenshot in terminal with `flameshot gui -r` o

[2021-12-31 13:22] vanheck opened #2211 "Cannot take a screenshot Fedora 35 (gnome 41.2) - wayland (non Latin characters in XDG path)"
### Flameshot Version

flameshot.x86_64 0.10.2-3.fc35

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Fedora 35

### Description

Hi, I have the same problem as @Yajo here: https://github.com/flameshot-org/flameshot/issues/1910#issuecomment-1001468663 - the issue is closed, but the problem remains.

htt

[2021-12-31 13:41] bksubhuti commented on #564
Seems to work again properly.  Not sure if something came with the installation of Deepin Screenshot or if it was changing the font size testing.. then putting normal font + 125%
Can this be verified?  Maybe there is something missing.
I'm a happy camper now. Flameshot is best.

[2021-12-31 14:27] mmahmoudian commented on #2109
In the AUR I have added GRIM ages ago as optional dependency (check line 103):

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=flameshot-git

[2021-12-31 14:41] hosiet commented on #2109
Adding optional depends similar to Arch is also always possible on debian via Recommends or Suggests fields since the very beginning. The only part missing is the conditional-depends feature, which I think won't be available in near future.

If package grim is useful to Sway users, we can update dependency fields in deb packages. The only question is that whether we should use the Recommends field

[2021-12-31 14:42] mmahmoudian commented on #417
@ak2766 there is no such thing [yet] and I don't think it will ever be. What you can do is actually simple through a bash file. Just pull from master, compare the latest commit with the last commit you have built against, if they were not equal, build it.

I'm planning to have a dedicated repo for "helper scripts" for Flameshot. One to do what I exactly explained to you (with some extra bells and

[2021-12-31 15:55] mmahmoudian commented on #2109
@hosiet I would go with "Recommends" as it is not a massive library.

[2021-12-31 15:55] borgmanJeremy commented on #2211
This is really confusing to me because it works fine for me in a clean VM. Have you tried rebooting after installing all the portals?

[2021-12-31 15:58] borgmanJeremy commented on #2210
When you say randomly, do you mean:

1.) It seems random which arguments cause copy to disappear?
2.) The same set of arguments will on occasion make the copy button to disappear?

[2021-12-31 16:02] JackieMium commented on #2210
@borgmanJeremy 2). Same sets of arguements sometimes lead to the issue and sometimes not.

[2021-12-31 16:10] borgmanJeremy commented on #2210
Okay, I'll get a debian unstable VM set up.

[2021-12-31 16:13] borgmanJeremy commented on #2210
Can you please also upload your config file at /home/<user>/.config/flameshot/flameshot.ini

[2021-12-31 16:15] JackieMium commented on #2210
@borgmanJeremy will do that tomorrow when I am with my computer.

[2021-12-31 16:34] ak2766 commented on #417
Awesome @mmahmoudian.  I didn't scroll far enough in the release to see the AppImage.  I'll go that route as I believe AppImages can do self updates if bundled with AppImageUpdate.

[2021-12-31 16:34] mmahmoudian commented on #1563
@nlpsuge to get to know what's wrong with your config file, right-click on the tray icon, then configure, and then from the top side of the window which tell you that there are errors, click on the button to open the log and see what's wrong. Fix those (or alternatively delete the config file from `~/.config/flameshot/flameshot.ini`, kill Flameshot and open it again) and see if this fixes the empt

[2021-12-31 18:01] hosiet commented on #2109
Thanks, I have implemented it in Debian's flameshot (version 11.0~rc1+ds1-2). Please also see the Pull Request at #2212 .

[2021-12-31 20:44] vanheck commented on #2211
Yes, ofcourse. I restarted the system multiple times. I upgraded the system from fedora 34. The flameshot doesn't work after the distro upgrade. :/

Is it possible to debug the problem (somehow)?

[2021-12-31 20:48] borgmanJeremy commented on #2211
Yes, usually what I do in this type of bug is first use "bustle" to log the DBus calls.

1. Launch flameshot
2. Start Bustle
3. Record Session Bus
4. Right click on tray icon and hit take screenshot
5. Stop Bustle recording

Then look for an error in the diagram and report what the error is.

I also just noticed you are using the flatpak and not the native build. I thought you were using the nativ

[2021-12-31 21:20] vanheck commented on #2211
I thought I use native build (not flatpack) - the software center confirms it:
![obrazek](https://user-images.githubusercontent.com/9953249/147839173-b4bde88f-0e64-44c7-a2e3-34222ae96253.png)

And errors in Bustle are in `org.freedesktop.portal.Request.Close` and `org.freedesktop.DBus.Properties.GetAll`, both errors are `org.freedesktop.DBus.Error.UnknownMethod`.
![obrazek](https://user-images.git

[2021-12-31 21:21] Araly commented on #2127
It works, though now it also requires me to click the share screenshot button of gnome. I imagine this is a wayland thing, improving security and the like so I won't complain, but I have to admit it feels less smooth than before.

Anyways, good job, it works now ^^

[2021-12-31 21:39] borgmanJeremy commented on #2211
In the gif you ran it with flatpak which is why I am confused. You may need to file this as a bug with fedora35 since it works fine on a clean install

[2021-12-31 21:47] vanheck commented on #2211
Apologize, the gif / or video file is from the previous comment (I refer to) (Originally posted by @Yajo in #1910 ) - just for the describtion of the same behaviour.

But in my machine is installed by `dnf install flameshot`.

[2021-12-31 23:50] elad2109 opened #2214 "Please allow screenshot 90/180/270 degree rotation"
### Feature Description

### Discussed in https://github.com/flameshot-org/flameshot/discussions/2213

<div type='discussions-op-text'>

<sup>Originally posted by **elad2109** January  1, 2022</sup>
As gmail doesn't support rotation, it will save lots of work rotating this on flameshot.</div>

[2021-12-31 23:51] elad2109 opened #2215 "Please allow saving as PDF"
### Feature Description

### Discussed in https://github.com/flameshot-org/flameshot/discussions/2205

<div type='discussions-op-text'>

<sup>Originally posted by **elad2109** December 30, 2021</sup>
Often time I have to save as a PDF.</div>

[2021-12-31 23:52] elad2109 opened #2216 "Please allow text rotation"
### Feature Description

### Discussed in https://github.com/flameshot-org/flameshot/discussions/2200

<div type='discussions-op-text'>

<sup>Originally posted by **elad2109** December 29, 2021</sup>
![image](https://user-images.githubusercontent.com/1093841/147619599-bd9f9b2b-75b5-4911-98ec-bd67584ad44c.png)

Would be very nice to rotate the text (freehand) so it can aligned to existing image.</d

[2021-12-31 23:54] elad2109 opened #2217 "Please allow freehand/elliptic selection for pinned capture"
### Feature Description

Today only rectangle pinning is possible.

[2022-01-01 03:34] nlpsuge commented on #1563
@mmahmoudian

I simply renamed `~/.config/flameshot/flameshot.ini`, killed Flameshot and open it again. Mentioned error is gone.

No luck. The file name is still empty.

[2022-01-01 03:37] JackieMium commented on #2210
I installed `flameshot-0.10.2-1.debian-10.amd64.deb` this morning and confirmed the issue doesn't exist, Then quit flameshot, delete `~/.config/flameshot/flameshot.ini` and upgraded to `flameshot-11.0.rc1-1.debian-11.amd64.deb` again, the issue appeared. This is `~/.config/flameshot/flameshot.ini` (should be default configs):

[code]

[2022-01-01 07:47] mmahmoudian commented on #1563
Then please do [as asked above](https://github.com/flameshot-org/flameshot/issues/1563#issuecomment-905869718):

[2022-01-01 07:57] nlpsuge commented on #1563
@mmahmoudian
[code]

[2022-01-01 08:06] mmahmoudian commented on #2127
@Araly nope, that is a Gnome 41 Wayland thing thanks to a decision their dev team made. Checkout the pinned issues in our repo for detailed information, and please take your complaints to Gnome devs (you can find the links in #1910 and #2186). If you don't want to see the "share" message, simply use KDE Wayland, or Gnome Xorg if you have to stick to Gnome. Literally any Wayland DE or Wayland windo

[2022-01-01 08:17] mmahmoudian commented on #2216
Duplicate of #1858

@elad2109 please search if your feature request or bug report is already discussed in another issue. Thanks.

[2022-01-01 08:17] #2216 closed

[2022-01-01 08:19] mmahmoudian commented on #2217
Would you please elaborate on the use case of such feature?

[2022-01-01 08:42] Yajo commented on #2211
FWIW I use Fedora Silverblue 35, not just Fedora 35. I guess it shouldn't matter, but just in case...

[2022-01-01 09:57] tkit1994 opened #2218 "xdg-desktop-portal-gnome core-dump under `arc-gtk-theme` when taking screenshots."
### Flameshot Version

flameshot 0.10.2-2

### Installation Type

Archlinux pacman

### Operating System type and version

Archlinux

### Description

xdg-desktop-gnome crash when taking screenshots.

<details>
<summary>Click to toggle output of `journalctl --user -u xdg-desktop-portal-gnome --no-pager`</summary>

[code]
</details>

### Steps to reproduce

Use flameshot to screenshot on gnome wayl

[2022-01-01 10:27] #2218 closed

[2022-01-01 12:24] veracioux commented on #2210
@JackieMium When using flameshot 11.0, and calling it as `flameshot gui -r` and with the other offending arguments (`-p`, `-c`, etc), does an *Accept* button appear? It looks like this:

![image](https://user-images.githubusercontent.com/29044423/147850477-7168d751-81bb-44a8-a3db-9d6d37d47803.png)

[2022-01-01 12:47] Catwaiix commented on #1080
Thanks for such amazing program!

**Flameshot version:**
Flameshot 0.10.2 (f81a971) compiled with Qt 5.15.2

**Describe the bug:**
Color picker still won't pick any colors from the screen (just the ones from the panel "Active color" label).

**To reproduce:**

1. Select a region to capture.
2. Hit spacebar.
3. Click on the button that lets you pick a color.
4. Hover the cursor and click on any col

[2022-01-01 13:18] xvitaly commented on #2211
As a Fedora maintainer, I can't do anything with this in downstream. It works fine on my VM with Gnome after installing the `xdg-desktop-portal-gnome` package.

You should ask GNOME upstream, I think.

[2022-01-01 13:22] vanheck commented on #2211
I filed the bug here: https://bugzilla.redhat.com/show_bug.cgi?id=2036411 and answer is to resolve the problem with Flameshot and Gnome dev :/

[2022-01-01 13:26] xvitaly commented on #2211
Sorry, but I will close it as this is not a packaging issue. It should be reported directly to GNOME/mutter.

https://gitlab.gnome.org/GNOME/mutter/-/issues

[2022-01-01 13:28] xvitaly commented on #2211
Ubuntu has the same problem: #2199.

[2022-01-01 13:32] borgmanJeremy commented on #2211
No that user simply didn't have the portals installed. I have no idea what's going on here. It works fine in a vm so until someone can explain to to make it occur there really is nothing I can do.

[2022-01-01 13:33] JackieMium commented on #2210
@veracioux  Yes, the *Accept* button does apear and seems to work (clicking it does copy screenshot to clipborad with `-c`, and save to file with `-p`). But both `-c` and `-p` arhuement result in garbage output in terminal like this:

![image](https://user-images.githubusercontent.com/12944832/147851752-5fb7951c-4b90-416b-b226-65c078b5a50d.png)

Looks like raw binary data or metadata to me.

[2022-01-01 13:44] veracioux commented on #2210
@JackieMium But the exact purpose of the `-r` option is to print the image to stdout, which is a binary datatype. So there is no problem there.

Also, in your comment you say the binary output appears when you use `-c -p`, but in the screenshot you use `-r -c`. Is that a typo?

[2022-01-01 13:46] veracioux commented on #2214
I'd personally prefer adding support in flameshot for user scripts/plugins that will implement this type of functionality.

[2022-01-01 14:35] JackieMium commented on #2210
@veracioux hah sorry, I misunderstood the meaning of `-c` before, it's working if I don't add a `-r` arguement now. So now the problem becomes: I have a keyboard shortcut calling `flameshot gui -p /path/to/screenshots` and I could still copy without saving a file in the past, but now version `11-rc` doesn't support that as the *Copy* button disappears with `-p`, and with `-c -p` there is only *Acc

[2022-01-01 14:45] veracioux commented on #2210
@JackieMium This is intended behavior. When you specify an action using the CLI options, you don't get to choose additional actions, only to accept the screenshot with the actions from the CLI. This behavior is due to some limitations in how flameshot works currently. I have been toying with some ideas to work around this, and I will propose to include them in the next release (v12).

[2022-01-01 14:48] JackieMium commented on #2210
@veracioux OK, got it. Thanks for your classification.

[2022-01-01 14:50] veracioux commented on #1080
@Catwaiix Can you try the flameshot v11 beta, because we recently reworked the color grabber? Please also check the additional functionality that is explained in the popup box that appears when you click the **Grab color** button. Btw, the hex value is also displayed (and editable) in v11.

[2022-01-01 16:08] mmahmoudian commented on #2210
@veracioux @JackieMium should we consider this issue closed?

[2022-01-01 16:17] JackieMium commented on #2210
@mmahmoudian Yes, please do that.

[2022-01-01 16:22] Catwaiix commented on #1080
@veracioux
Flameshot v11.0.0 (4680dcd) Compiled with Qt 5.15.2 on winnt 6.1.7601.2.1.0.256.48 windows: 7sp1

The color grabber doesn't work with mouse, it seems like the app misbehaves with the precise color selection (without holding left click) and closes.
Pressing spacebar, holding left click, using left or right click will close post-selection-box, open a new window with the magnified pixels a

[2022-01-01 16:52] elad2109 commented on #2214
Why this specifically?
Or in general the ability to add plug-ins?

But then, a user who is not tech savvy would be able to download the plug-ins?

[2022-01-01 17:05] veracioux commented on #2214
@elad2109 Because it would be easy to implement using scripts/plugins. And I think this doesn't have to be in the core of flameshot.

Yes of course.

[2022-01-01 17:06] veracioux commented on #1080
@Catwaiix Thanks for the insight. I will investigate this in a Windows VM.

[2022-01-01 17:07] #2210 closed

[2022-01-01 17:58] mmahmoudian commented on #2214
@elad2109 even without the plug-ins one can already do that if they are slightly tech savvy. For example in bash using ImageMagic on can do:

[code]

For more examples checkout:

https://stackoverflow.com/questions/14751011/how-to-rotate-an-image-without-changing-its-size

The whole point of a plug-in system is to make it easier for the non-tech savvy users to do what they want without bloating th

[2022-01-01 18:33] elad2109 commented on #2214
Never claimed it cannot be down outside of flameshot.
One can also paste it in editing app, rotate and save. It's all a matter of using less steps.

May I ask if all the current features are essentials (in order to keep flameshot as lightweight as possible)?
Taking this one step further, may I suggest to analyze user hot-zones to check which features can be factored out to a plug-in and which ones

[2022-01-01 18:57] mmahmoudian commented on #2214
@elad2109

So far we had the suggestions to add the following and they will end up in a plugin system:
- upload to google drive or Dropbox or any other place
- add border or shadow around the captured area
- trim and crop extra space around the photo
- add watermark
- resize the screenshot
- export to several file formats
- record video or gif

Please note that Flameshot will be shipped with some

[2022-01-01 19:40] vanheck commented on #2211
I've also try to `dbus-monitor --session sender=org.flameshot.Flameshot`, output is here:

[code]

[2022-01-01 20:45] mohad12211 opened #2221 "flameshot doesn't exit after uploading image"
### Flameshot Version

Flameshot v11.0.0 (9a5af9f1) (tested both on latest commit and flameshot-11.0.rc1)
Compiled with Qt 5.15.2
linux: 5.15.12-arch1-1

### Installation Type

User repository (AUR), Using the ready-made package from Github Releases

### Operating System type and version

test on my archlinux (dwm) and linux mint

### Description

if I run `flameshot gui` and select upload image,

[2022-01-01 20:47] veracioux commented on #2221
@mohad12211 I'm on it!

[2022-01-01 21:21] vanheck commented on #2211
I opened the issue also here: https://gitlab.gnome.org/GNOME/mutter/-/issues/2072#note_1344687

[2022-01-02 07:31] mmahmoudian commented on #2211
@vanheck

Aaaaand they closed it for you without even reading the basis of your report.

Thanks for taking the time to do this and report it upstream. Let's stay hopeful that they read your comment which you posted after they closed the ticket.

[2022-01-02 12:24] vanheck commented on #2211
Ok, probably its my laziness to use the other's video to preview similar behaviour. I didn't notice that output on the preview video is little bit different than in my case. Next time, I'll be better with filling the bug.

My video with the problem is here:
https://www.youtube.com/watch?v=s6Tbugr-QDw&ab_channel=JohnvanHeck

[2022-01-02 13:14] vanheck commented on #2211
Can be a trouble here? https://gitlab.gnome.org/GNOME/mutter/-/issues/2072#note_1344961

[2022-01-02 13:54] xvitaly commented on #2211
@vanheck Can you try another directory with only Latin characters?

[2022-01-02 14:02] vanheck commented on #2211
I'm not sure if I'm able to change this behaviour - the screenshot is saved into folder `/home/vanheck/Obrázky` imediately I click on the `Share screen` in the gnome dialog (this is probably default folder for gnome screenshots?). In Flameshot I have set the default path `/home/vanheck/Dokumenty`:

![obrazek](https://user-images.githubusercontent.com/9953249/147878254-26376cff-dc31-4959-a940-90a8f

[2022-01-02 14:12] vanheck commented on #2211
Yes, confirm, Flameshot works well if I change the default path with Latin characters only (in `~/.config/user-dirs.dirs`).

[2022-01-02 14:13] borgmanJeremy commented on #2211
Thanks for persisting and finding the root cause, that's something we can can fix.

[2022-01-02 14:18] vanheck commented on #2211
@borgmanJeremy you’re welcome. Please, let me know when will be the fix released.

[2022-01-02 14:30] vanheck commented on #2211
Another behaviour of Flameshot is: After `flameshot gui`, the screenshot picture is saved into `XDG_PICTURES_DIR` and when clicking on the `Cancel` button, the picture file persist in the `XDG_PICTURES_DIR`.

[2022-01-02 16:22] bboles commented on #1258
This issue is still present in version 0.10.2.  @borgmanJeremy is there some reason this was closed?

[2022-01-02 16:29] borgmanJeremy commented on #1258
Unless I'm mistaken it's just a permissions issue.

[2022-01-02 16:54] dannykorpan commented on #1932
Yes

[2022-01-02 19:01] ut-kr commented on #2211
Can confirm its not a Gnome issue. Only today i switched from Arch Gnome to Fedora Gnome, and just like you I'm getting same issues on my fedora machine. `flameshot gui` worked as it should on my arch built but is giving me same error as you.

[2022-01-02 21:53] cellscripts commented on #1258
It's just a permission issue in Mac

On Sun, Jan 2, 2022, 19:29 borgmanJeremy ***@***.***> wrote:

[2022-01-02 23:07] smarinel commented on #748
Just came by to report I have the same issue using Ubuntu 21.04 on a laptop with fractional scaling.

[2022-01-03 06:48] Yajo commented on #2211
Weird, I did the change from https://github.com/flameshot-org/flameshot/issues/2211#issuecomment-1003722214 and log out, log in under Wayland. It works also!

I can also see https://github.com/flameshot-org/flameshot/issues/2211#issuecomment-1003724687, before doing that.

What makes all this even more weird is that I configured a different save path that happens to not have non-ascii characters:

[2022-01-03 11:19] gormih commented on #2211
`$ dbus-monitor --session sender=org.flameshot.Flameshot`

[2022-01-03 11:51] gormih commented on #1910
[Not affected.](https://github.com/flameshot-org/flameshot/issues/2211)
Please reopen.

[2022-01-03 11:54] mmahmoudian commented on #1910
@gormih

You lost me. What is not affected? Please add a sentence or two to clarify your point.

[2022-01-03 11:57] gormih commented on #1910
$ dbus-monitor --session sender=org.flameshot.Flameshot

signal time=1641208268.285705 sender=org.freedesktop.DBus -> destination=:1.126 serial=4294967295 path=/org/freedesktop/DBus; interface=org.freedesktop.DBus; member=NameAcquired
string ":1.126"
signal time=1641208268.285761 sender=org.freedesktop.DBus -> destination=:1.126 serial=4294967295 path=/org/freedesktop/DBus; interface=org.freedeskt

[2022-01-03 12:01] mmahmoudian commented on #2006
@ElEd0 Shall we close this then in favor of #1903 or there are more to be added?

[2022-01-03 14:31] vanheck commented on #2211
@gormih
the better would be whole dbus log, not only for Flameshot, `dbus-monitor --session > dbus.log`

[2022-01-03 15:11] tamwile commented on #345
Any update on this ?

[2022-01-03 15:34] gormih commented on #2211
@vanheck
i try build the flameshot from current source code in this repository.
is worked normally.
I include video in in the near future

[2022-01-03 15:37] vanheck commented on #2211
@Yajo
I guess it is expected behaviour. Flameshot call the xdg API (`xdg-desktop-portal-gnome`) to take a screenshot and API capture screen then API save image in default path `XDG_PICTURES_DIR` and send the path to flameshot. Flameshot take the image on the path received from xdgAPI - create a new edited image and save on the path, you have set in the settings (and remove old picture from xdgAPI)

[2022-01-03 15:42] gormih commented on #2211
@vanheck https://youtu.be/2kzWYIeWv2I

[2022-01-03 15:51] vanheck commented on #2211
@gormih  please check https://github.com/flameshot-org/flameshot/issues/2211#issuecomment-1003714380  and https://github.com/flameshot-org/flameshot/issues/2211#issuecomment-1003722214

If you have in `XDG_PICTURES_DIR` Latin characters only (e.g. `/home/user/Pictures`), you have no problem with flameshot.

[2022-01-03 15:58] gormih commented on #2211
@vanheck  may be rename a title of issue with this fact?

[2022-01-03 16:01] borgmanJeremy commented on #345
If there were we would post it here :)

[2022-01-03 18:00] sbstnk commented on #2211
Just to clarify my comments from the gnome issue: the problem simply is that https://github.com/flameshot-org/flameshot/blob/master/src/utils/screengrabber.cpp#L53 does `remove(0, 7)` instead of using something like `QUrl::toLocalFile()`. To track things like this down, you can request the full `dbus-monitor --session` logs from the user, this makes it quite obvious what is going wrong without bei

[2022-01-03 18:15] borgmanJeremy commented on #2211
Thanks for summing it up nicely. We are going to ensure this is fixed before version 11 is released (currently in beta).

[2022-01-03 19:10] bboles commented on #1258
I also was able to fix by uninstalling, installing again and selecting flameshot again in the `Screen Recording` section.  For anyone else that may come across this issue in MacOS, depending on how you have Spaces configured in Mission Control you may only be able to activate flameshot on a particular external display by using the `shift+alt+cmd+4` hotkey.  Otherwise, flameshot will only activate

[2022-01-03 19:48] borgmanJeremy commented on #2211
@vanheck you can test the artifacts from #2222

[2022-01-03 20:28] borgmanJeremy commented on #564
@mmahmoudian

Actually I don't think we really need the workaround. I tested the fix posted by @attiks and its working fine. I think I'll just need to write a guide about properly setting those environmental variables.

[2022-01-03 20:30] vanheck commented on #2211
I've just built and test this branch... aaand... well done, it works. Thank you! .)

[2022-01-03 20:31] mmahmoudian commented on #564
@borgmanJeremy do you mean [this comment](https://github.com/flameshot-org/flameshot/issues/564#issuecomment-984448664)?

If it works, we should add it to the website as well. Perhaps we can have a separate section/page dedicated to fractional scaling.

I also wonder if this works on windows. Does Qt also reads environmental variables there as well?

[2022-01-03 20:32] borgmanJeremy commented on #2211
Great! I'll merge it. Thanks again for the deep dive. I often have a hard time finding these unicode bugs on my own.

[2022-01-03 20:32] #2211 closed

[2022-01-03 20:34] borgmanJeremy commented on #564
Yeah, I can test on windows another day, it is supposed to read those variables per: https://doc.qt.io/qt-5/highdpi.html

[2022-01-03 20:35] xvitaly commented on #2211
@borgmanJeremy Do you think I should backport this PR to 0.10.2 or just wait for the 0.11 release?

[2022-01-03 20:36] borgmanJeremy commented on #2211
I'm going to wait for v11. There's a couple of minor issues left but should be done by the weekend.

[2022-01-04 03:07] ut-kr commented on #1910
I've tried to run a few other screenshot utilities, like: Shutter, maim and xfce4-screenshooter, and can confirm [this](https://github.com/flameshot-org/flameshot/issues/1910#issuecomment-1001468663) is a Gnome issue and not flameshot issue.

[2022-01-04 03:54] hexh250786313 opened #2224 "Could NOT find Qt6Designer (missing: Qt6Designer_DIR)"
### Flameshot Version

try to run `yay -S flameshot-git`, then it logs `Could NOT find Qt6Designer (missing: Qt6Designer_DIR)` and build failed.

### Installation Type

User repository (AUR)

### Operating System type and version

5.10.89-1-MANJARO

### Description

try to run `yay -S flameshot-git`, then it logs `Could NOT find Qt6Designer (missing: Qt6Designer_DIR)` and build failed.

### Steps

[2022-01-04 04:31] hexh250786313 commented on #2224
It seems to be resolved after I ran `yay -S qt6-tools`. But I got a new error:

![image](https://user-images.githubusercontent.com/26080416/148009750-18b759d1-3c9d-4773-8ad6-73221c1a064d.png)

[2022-01-04 06:34] Racle commented on #1962
Same issue here. pop_os 21.10 and X11

[code]

My machine is VM running in VMWare in Windows host.

This has been issue for at least year for me.
Running `flameshot gui` has 5-6 second delay (got 2560x1440 + 5120x1440 px screens attached to this VM).

On my other machines it's instant.

My guess is that flameshot saves image to disk before showing up overlay, which takes lot of time. I could be wr

[2022-01-04 07:08] veracioux commented on #1962
Can you try the flameshot v11 beta? It has some major performance improvements and doesn't use DBus when launching the GUI.

[2022-01-04 07:12] Racle commented on #1962
Nope, same problem with `v11.0.0`.

[2022-01-04 07:44] attiks commented on #564
I switched to another method in the mean time, since I work from 2 different locations

[code]

and to reset

[code]

[2022-01-04 16:04] borgmanJeremy commented on #2221
@veracioux can this be closed now?

[2022-01-04 16:19] RawMew commented on #1341
Up for Windows.
Theme was opened one year ago, nothing changed since then

[2022-01-04 16:21] borgmanJeremy commented on #1341
This isn't helpful. Nothing changes unless you help do the work. There is a PR in progress on this.

[2022-01-04 16:24] mohad12211 commented on #2221
I tried to reproduce the bug after the latest commit and it was solved, we can close this, Thank you

[2022-01-04 16:49] johnrichardrinehart opened #2225 "v11.0.rc1 has the wrong version number in source"
### Flameshot Version

v11.0.rc1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

NixOS

### Description

https://github.com/flameshot-org/flameshot/blob/v11.0.rc1/CMakeLists.txt#L4 has the wrong version tag.

### Steps to reproduce

1. Build flameshot from source having had checked out `v11.0.rc1`.
1. `

[2022-01-04 21:13] mmahmoudian commented on #2224
I can confirm this on one of my Manjaro machines.

[2022-01-05 09:28] Racle opened #2227 "V11.0 beta, Copy to clipboard / save shortcut doesn't work with flameshot gui --path"
### Flameshot Version

Flameshot v11.0.0 ()
Compiled with Qt 5.12.8

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

pop_os 21.10

### Description

Copying to clipboard (`ctrl+c`) doesn't work when using `flameshot gui --path ~/Pictures/`. It works as expected if used without `--path`.
Also saving (`ctrl+s`) doesn't work. You have to

[2022-01-05 12:29] mmahmoudian commented on #629
@Zethson would you please try [what @mariano-dagostino shaed](https://github.com/flameshot-org/flameshot/issues/629#issuecomment-989141578) and see if it solves the issue for you?

[2022-01-05 12:30] Zethson commented on #629
I am very sorry, but I have since moved away from XFCE and therefore cannot help reproduce/validate anymore.

[2022-01-05 13:51] mmahmoudian commented on #629
@simonbcn @uLxy @Ovsyanka83 Would you please try [what @mariano-dagostino shaed](https://github.com/flameshot-org/flameshot/issues/629#issuecomment-989141578) and see if it solves the issue for you?

[2022-01-05 14:17] borgmanJeremy commented on #2227
That is intended behavior with the new version. Before it was nebulous which tasks worked when called from the CLI. If you want to copy to clipboard AND save to a path, call it with both arguments from the CLI

[code]
Also FYI if you want it copied to your clipboard make sure the daemon is running in the background.

[2022-01-05 14:18] borgmanJeremy commented on #2225
Thanks, this is caused by how I generated the beta. I will update our releasing documentation to make it more fool proof.

[2022-01-05 14:22] #2225 closed

[2022-01-05 14:24] borgmanJeremy commented on #2224
This is a weird issue where our embedded dependency defaults to Qt6, but flameshot defaults to Qt5 for now. The correct fix is to finish porting flameshot to Qt6.

This will not be done for version 11, so I will "hack" the embedded dependency to use Qt5 until we finish the migration.

[2022-01-05 14:28] Racle commented on #2227
That's the thing, I want to choose, I don't need both 99.99% of the time. Old behavior worked just fine, new way feels much more like downgrade. And it's slower to press button than press shortcut key.

I have `prnt scrn` mapped to `flameshot gui --path ~/my_folder`. And I'm used to press `ctrl+c` when copying, `ctrl+s` when I want to save to disk. Most of the time I just want it copy to clipboard

[2022-01-05 14:29] borgmanJeremy commented on #2224
Can you try building from this PR #2230 ? I can't replicate the problem on my Arch box so Im not sure that this fixed it.

[2022-01-05 14:31] borgmanJeremy commented on #2227
You could instead select this option to get what you want I think:
![image](https://user-images.githubusercontent.com/46930769/148234401-697b899a-1d07-4fd9-851f-047bd7ca3b15.png)

 And then change your script to use -c instead.

[2022-01-05 14:34] mmahmoudian commented on #2227
@borgmanJeremy to my understanding @Racle wants to do either copy or save at every given screenshot, and the only reason they set the `-p` is because their username on different machines are different. I think one way to handle this is to use an environmental variable, assuming that one ca use such variable inside the `flameshot.ini` for the `savePath`. I cactually don't know if it is already supp

[2022-01-05 14:37] Racle commented on #2227
@mmahmoudian is correct, I want to either save to custom path or copy to clipboard. I don't want images to waste my space when I do not need those. But I have situations where I cannot just paste image and need file.

That doesn't work. I tried to use `~/my_folder` and `$HOME/my_folder` earlier today.
If that gets supported, I could change my shortcut to be just `flameshot gui` and use `~` or `$HO

[2022-01-05 14:38] borgmanJeremy commented on #2227
I don't think we will be rolling the behavior back to the old way. I am really happy with the consistency this new design gives up.

We have also discussed a couple times about path expansion and decided that should be handled by the shell and not flameshot, so I don't think we will do environmental substitution.

[2022-01-05 14:41] Racle commented on #2227
@borgmanJeremy

Are you saying you will remove the working behavior also from `flameshot gui` (which still has working shortcut keys)?

[2022-01-05 14:42] mmahmoudian commented on #2227
@Racle I agree with @borgmanJeremy that the new/current behavior is much more consistent and way less confusing. Also he is absolutely correct that path expansion would be a security issue as it has been discussed numerous times.

How about having a small `sed` command in your dotfiles to replace the `savePath=${HOME}/Pictures` to the expanded version in each of your systems upon boot?

[2022-01-05 14:43] borgmanJeremy commented on #2227
No, its just when you call flameshot with a "terminal action" like copy to clipboard, save, pin, or upload.

When you use the CLI, you can list multiple of these. The old method was a tossup for what worked and what did not.

[2022-01-05 14:44] Racle commented on #2227
@mmahmoudian I'm just confused, keeping the shortcut keys in `flameshot gui` but not in `flameshot gui --path` is much more consistent and way less confusing?

I personally feel that might confuse other people, as you have keys in configuration file but those doesn't work every time.

[2022-01-05 14:44] mmahmoudian commented on #2227
No the `flameshot gui` works normally. The logic is when you define `--path`, ´--clipboard´, `--raw`, or `--upload`, you are selecting a final action. For that reason the faith of your screenshot is already decided and therefore there is only one "Accept" button.

[2022-01-05 14:52] mmahmoudian commented on #2227
@Racle

You are the second person since we have pre-released the version 11 that has brought this up and in the previous case the user had a setup in which he could easily adopt the change (didn't have path expansion complication). But I agree that there will be some initial confusion, but perhaps that can be upfront explained to the user.

Also as @borgmanJeremy mentioned, you can use any combina

[2022-01-05 14:53] borgmanJeremy commented on #1962
Yes, if you are using Wayland the image is saved to the disk. We cannot do anything about this because the only way to take a screenshot on gnome wayland is to use the XDG portal. The portal is what saves the image to the disk. https://github.com/flatpak/xdg-desktop-portal/blob/6241c5e8bfb60502ac3c7bc3babede22d35f3b1c/data/org.freedesktop.portal.Screenshot.xml#L30

[2022-01-05 14:53] borgmanJeremy commented on #2227
I will also update the release notes to make this more clear

[2022-01-05 14:59] Racle commented on #2227
@mmahmoudian That still does make it feel like downgrade rather than upgrade. Probably good thing that there isn't a ton of people who use it like I do, so that change doesn't affect so many people.

Changing config per machine is doable for me, I just need use `sed` on my initial installation script, so it shouldn't be too much trouble (first I need flameshot to generate config (ex. start daemon

[2022-01-05 15:07] Racle commented on #1962
I assume same thing goes for X11, which I use, and  it have same delay. Pop_os 21.10 doesn't have wayland support yet.

If not, is there way to debug this behavior so it could be fixed for X11?

[2022-01-05 15:07] mmahmoudian commented on #2224
@borgmanJeremy yeap it seems it works on my machine

[2022-01-05 15:28] Racle commented on #1962
Just to add, I tested `gnome-screenshot` (40.beta was installed by OS)

[code]

It took screenshot of all my windows and wrote image to disk (2.5mb filesize). So flameshot does something extra to that as it takes 7 times longer to show image.

[2022-01-05 15:32] borgmanJeremy commented on #1962
If you are able to do more detailed debugging you can check out this thread for collecting performance data: https://github.com/flameshot-org/flameshot/issues/1901

[2022-01-05 18:33] veracioux opened #2231 "Allow users to add multiple final actions in the GUI"
### Feature Description

Some users have complained/were confused about the new CLI options to specify final actions, specifically being unable to add additional actions using the GUI:
- #2210
- #2227

I suggest the following:

**When some final actions were specified in the CLI**
- Show the *Accept* button if enabled in config
- Enable the keyboard shortcut if enabled in config
- Also show the ot

[2022-01-05 18:35] veracioux commented on #2227
@Racle What do you think about #2231?

[2022-01-05 19:11] mmahmoudian commented on #2231
Seems interesting. I'll try to build it tomorrow.

I suggest by default be enabled

I suggest by default be disabled

The above two suggestions are merely suggestions, and are based on my personal opinion that this way it would be more intuitive. Of course ultimately I'm fine with either.

[2022-01-05 19:14] Racle commented on #2227
So instead of running action immediately, you could toggle on/off your actions?

Good addition, personally I'll probably just change path with `sed` and run only `flameshot gui` as it's faster to press shortcut and finalize the action immediately that way (I rarely/ever need image to both disk and clipboard and I would be doing `ctrl+s` + `ctrl+c` a lot if they were toggle options with `-p`).

But

[2022-01-05 19:17] veracioux commented on #2231
@mmahmoudian

This is an issue, not a PR :D. It's not implemented yet. We'll have to leave this for the next release.

[2022-01-05 19:19] mmahmoudian commented on #2231
😂 sorry, on my phone app they both show up in the same place and the only difference is the icon which I overlooked 😅 Regardless, sounds like an interesting approach, although Ville said that he would go with sed for the time being.

[2022-01-05 19:21] mmahmoudian commented on #2227
@Racle voinko lopetta tämä issue?

[2022-01-05 19:22] #2227 closed

[2022-01-06 02:30] hexh250786313 commented on #2224
@borgmanJeremy It works for me

[2022-01-06 08:04] darxmurf opened #2232 "[Debian testing] flameshot: error: The configuration contains an error. Falling back to default."
### Flameshot Version

Flameshot 11.0~rc1+ds1-2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Linux Debian testing - bookworm/sid

### Description

Minor bug after debian update this morning (flameshot:amd64 (0.10.2+ds1-3, 11.0~rc1+ds1-2))
Launching flameshot was throwing: flameshot: error: The config

[2022-01-06 12:24] johnrichardrinehart commented on #2225
@borgmanJeremy No worries!

[2022-01-06 13:03] ilovefreesw opened #2233 "Set an Image Editor as Default Application in App Launcher"
### Feature Description

Right now, we have to select an app explicitly after opening a screenshot in an editor program, for example Kolourpaint. I always use this, so it would be nice/faster to open the current screenshot in Kolourpant in 1 click, means I only have to set it once, so the intermediate dialog window(to choose an application) won't appear.

![image](https://user-images.githubusercon

[2022-01-06 13:13] veracioux commented on #2232
You can open the configuration menu and you'll see a "Show errors" button. Clicking on this button will show you exactly what the error is. Alternatively, you can run `flameshot config --check` for the same effect.

[2022-01-06 13:23] darxmurf commented on #2232
Good to know thanks ! 2 errors then.

$ grep -Ei "drawThickness|setSaveAsFileExtension" flameshot.ini
drawThickness=0
setSaveAsFileExtension=JPEG file (*.jpg)

replaced by
drawThickness=1
setSaveAsFileExtension=.jpg

and it works

[2022-01-06 15:08] wsalmeida opened #2234 "Error starting application"
### Flameshot Version

11.0

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Debian

### Description

When trying to launch an application through its graphical interface, application not executed generating an error message

### Steps to reproduce

run flameshot launcher

### Screenshots or screen recordings

![Captura de tela_2022-

[2022-01-06 18:22] borgmanJeremy commented on #2234
Click the show errors button at the top. The config file specification changed for this version.

[2022-01-06 18:36] borgmanJeremy commented on #2224
Thanks for confirming! merged.

[2022-01-06 18:36] #2224 closed

[2022-01-06 19:14] rockstorm101 commented on #2232
Had a very similar issue. I run Debian GNU/Linux bookworm/sid. Flameshot version 11.0~rc1.
[code]
As suggested by @darxmurf, the following change in `flameshot.ini` does the trick:
[code]

[2022-01-06 23:26] wsalmeida commented on #2234
The issue was resolved after I removed the configuration file there was some configuration conflict before the application was updated to a new version.

[2022-01-07 02:33] igorsantos07 opened #2235 "Flatpak requires KDE?"
### Flameshot Version

most recent?

### Installation Type

Flatpak from Flathub

### Operating System type and version

Linux Mint 20.2.0, Mate version

### Description

Flatpak command requests installation of KDE runtime

### Screenshots or screen recordings

[code]

### System Information

- Linux Mint 20.2.0
- Mate version

[2022-01-07 02:44] borgmanJeremy commented on #2235
Yes we use the kde runtime

[2022-01-07 03:03] igorsantos07 commented on #2235
And that's a requirement for the flatpak? I installed it from the Ubuntu repos apparently without any KDE suggestions... But I do see it depends on Qt stuff. I guess on Ubuntu it installs just the required pieces, while with Flatpak it seems to require more stuff?

Bottom-line: it might be useful to have some disclaimer explaining this "KDE runtime" requirement, which could confuse non-KDE users (

[2022-01-07 03:12] borgmanJeremy commented on #2235
This is just how flatpak works. It's not related to flameshot particularly. I'm on mobile so sorry for the brief reply.

[2022-01-07 03:14] igorsantos07 commented on #2235
Got it. I'm not sure if I'm just new to Flatpak stuff, but if my suggestion
doesn't make sense, I guess you can close the issue :)
Otherwise, a note on KDE requirements being just the Qt stuff could be
helpful on the install guides where Flatpak is mentioned. Not sure how to
better phrase it within the docs, so I won't open a PR.

On Fri, Jan 7, 2022 at 12:12 AM borgmanJeremy ***@***.***>
wrote:

[2022-01-07 03:27] mohad12211 commented on #2221
this commit [883e55c](https://github.com/flameshot-org/flameshot/commit/883e55c52db375a77b1343311f0f39a6a78cc600) introduced a new bug, the url is not copied correctly to the clipboard

[2022-01-07 07:37] mmahmoudian commented on #2232
@darxmurf shall we close this issue?

[2022-01-07 07:45] mmahmoudian commented on #2234
@wsalmeida you can always use `flameshot config --check` to see what has caused the error.

[2022-01-07 07:47] mmahmoudian commented on #2233
Isn't this duplicate of #2091?

[2022-01-07 07:55] #2235 closed

[2022-01-07 10:07] wsalmeida commented on #2234
yes close the problem this is not a bug but a configuration error thanks
for your attention.

Em sex., 7 de jan. de 2022 04:45, Mehrad Mahmoudian <
***@***.***> escreveu:

[2022-01-07 10:08] #2234 closed

[2022-01-07 11:19] ilovefreesw commented on #2233
Oh yeah... funny I did search for it and it didn't show up. Sorry...will close this.

[2022-01-07 11:19] #2233 closed

[2022-01-07 14:49] rockstorm101 commented on #2232
IMHO the issue persists and would require investigating before being formally closed. Please forgive my ignorance of the software but I did not deliberately write "Portable Network Graphic file (PNG) (*.png)" for the `setSaveAsFileExtension` option in the configuration file. However, between flameshot versions 0.10.2 and 0.11.0.rc1 something in the code has changed that triggers the  "The configur

[2022-01-07 16:35] darxmurf commented on #2232
I quite agree.
It looks like there is something wrong in the updater or something changed in the new version.
It should automatically correct the conf file during the update as we did not change anything by hand in there.

[2022-01-07 16:37] borgmanJeremy commented on #2232
I don't like the idea of it "fixing" the issue. The reason is we will forever need to maintain that in the code, and add to it everytime we make a breaking change.

Instead I think we should simply remove the offending line. Thoughts?

[2022-01-07 16:57] mmahmoudian commented on #2232
@rockstorm101  That wrongful png part was added in version 0.10.0 due to a mistake and now in v11 that is is fixed. This **was** (past tense) a bug. Not anymore.

@borgmanJeremy I don't know how comfortable are you with this, but we can add a temporary code to fix this particular issue if it happens. Once we release the v12 we can remove that temp code.

[2022-01-07 17:11] borgmanJeremy commented on #2232
@mmahmoudian i don't think that will be sufficient because many distros skip releases

[2022-01-07 17:13] hosiet commented on #2232
I am wondering whether we should provide a button to **nuke** the user configuration file whenever a config error is detected. This is simple, effective and does not add history extra burden. User may lose their custom config, but this can be made optional (ask before deleting user config file) so they have the choice and do not need to bother with manually fixing the config file.

[2022-01-07 17:22] mmahmoudian commented on #2232
@hosiet that is not necessary as Flameshot already loads with a fallback config which essentially does what you suggest.

[2022-01-07 17:25] hosiet commented on #2232
@mmahmoudian The key issue is that this error keeps showing up unless manually fixed. This will definitely bother users, especially those who have no idea about how to fix the problem.

[2022-01-07 18:48] snide commented on #1246
Came across this issue. Can confirm that building from master resolves the issue and uses the correct theme. Can also confirm that building from master does not show the tray icon as it used to.

TY for building such a wonderful program.

[2022-01-07 19:01] veracioux commented on #1246
@snide Can you post your config?

[2022-01-07 19:25] veracioux commented on #2232
@borgmanJeremy @mmahmoudian @hosiet Currently if the config contains an error we just fall back to defaults across the board. How about we modify the "Config Window -> Show errors" function such that it displays a list of offenders with a checkbox next to each one that says "Reset to default value" (currently it just prints a list of offenders in plain text). Also add a nuke button here as @hosiet

[2022-01-07 19:59] mmahmoudian commented on #2232
Sounds awesome imho. This would still give enough space to user to learn and also provide fast and quick solution

[2022-01-07 20:02] mmahmoudian commented on #1246
@snide @veracioux the tray icon not showing is probably because the `flameshot gui` have been used without having the daemon running, so Flameshot opens and do what it does and then its process terminates.

[2022-01-07 20:12] borgmanJeremy commented on #2232
In my experience so far, we are going to get a billion issues submitted if there is user intervention. Why not just delete the offending line?

[2022-01-07 20:16] mmahmoudian commented on #2232
@borgmanJeremy probably then we will get some bug reports titled "why every time I set this setting it vanishes" 😉

I think part of solution is also in education and documentation.

[2022-01-07 20:21] borgmanJeremy commented on #2232
Well it wont vanish everytime they set it, just once in the migration.

[2022-01-07 21:24] veracioux commented on #2232
@borgmanJeremy

I don't think we will get issues submitted if we tell the user exactly what they have to do, by displaying the popup immediately before the GUI is launched, blocking any features until the user confirms that they want to reset the offending options.

I don't like deleting the offending line because:
1. With the way QSettings works, I don't think it is possible
2. Doing any config-f

[2022-01-07 21:34] veracioux commented on #1246
@MR-Diamond @snide To elaborate further on what @mmahmoudian said, the recent versions of flameshot (including the v11 beta that's currently up) don't need the daemon to run in order to take screenshots. Therefore `flameshot gui` will not auto-launch the daemon, because it doesn't have to. The daemon will only be launched if you:
1. pin a screenshot to the screen (because it must persist somehow e

[2022-01-07 22:50] snide commented on #1246
Yep. Confirmed. It works perfectly fine without the tray, and folks can still get to settings from the settings overlay that shows when you take a screenshot. Mostly just figured I'd comment on the issue so you can close it.

I'm using arch with gtk3, setting qt5 with `export QT_QPA_PLATFORMTHEME="gtk2"`

Again, ty for building / contributing to such a fantastic lib.

[2022-01-07 23:07] veracioux commented on #1080
@Catwaiix Please check if pull request #2226 fixes the issue for you. You can conveniently download a pre-built binary by clicking "Artifacts" [here](https://github.com/flameshot-org/flameshot/runs/4744412123).

[2022-01-08 11:26] MR-Diamond commented on #1246
I'm fine with this behaviour; so this ticket can be closed 👍️

[2022-01-08 11:26] #1246 closed

[2022-01-08 15:05] borgmanJeremy commented on #2232
Okay, @veracioux sounds like your plan has the best consensus and I support it too.

[2022-01-08 15:43] veracioux commented on #2232
@borgmanJeremy Are we going to include it in the v11 release?

[2022-01-08 15:47] borgmanJeremy commented on #2232
Yeah I think as is we are going to get lots of negative feedback

[2022-01-08 18:04] AndreaMarangoni commented on #489
Can I take this?

[2022-01-08 18:31] docop opened #2236 "Close instead of saving and background for text as textbox"
### Feature Description

Hi  So the new version do look to work quite fine.. Just the icon itself in the taskbar, when load.. it show a missing icon (circle red). Menu item are accessible.
 And as new version, perhaps a small enhancement could be done quickly. As when you do edit, annotate... you then go to save to file :
 But no, you end up closing the soft totally.      Very annoying. if you can

[2022-01-08 22:18] All3xJ commented on #2099
I have the same bug. I can't copy to clipboard on KDE Wayland, while on GNOME Wayland I can.
KDE Plasma v5.23.5
KDE Framework v5.89.0
QT v5.15.2

Flameshot v11.0.0 (744bcd66)
Compiled with Qt 5.15.2

[2022-01-09 01:59] cmidkiff87 commented on #2107
Adding `XDG_CURRENT_DESKTOP=sway` to your environ list fixes the "copy to clipboard" issue.  It works on KDE Plasma at least.  It still runs on XWayland though.

I have this script set to launch on login, which takes care of setting the env variables.  (I swap between plasma on Wayland and XWayland, which is why the `is_wayland()` check is there)
[code]

[2022-01-09 04:05] Catwaiix commented on #1080
Flameshot v11.0.0 (9fe0690) compiled with Qt 5.15.2 running on windows 7sp1 (winnt 6.1.7601)

Indeed, the color grabber works now, I can pick a color successfully and the magnifier works properly allowing me to choose precisely any pixel. Idk if you may close this issue now.

I'm pretty happy, thanks for everything!!

[2022-01-09 06:24] haosdent commented on #2156
Same to me, anything I could help to speed up the address for this issue? @mmahmoudian

[2022-01-09 06:25] haosdent commented on #2156
Didn't see any abnormal log from flameshot's stdout/stderr

[code]

[2022-01-09 07:42] veracioux commented on #1080
@Catwaiix You're very welcome!

[2022-01-09 07:42] #1080 closed

[2022-01-09 08:58] mmahmoudian commented on #2156
@haosdent @WRonX would you please test with the new pre-release (version 11) and see if it behaves correctly?

Considering the abstraction layers of Snap, Flatpak and AppImage (they are shipped with most necessary libraries), I suggest compiling it first:

https://flameshot.org/docs/installation/source-code/

And then if it doesn't work, try the AppImage and see if that works. With way we can narr

[2022-01-09 11:54] mmahmoudian commented on #1246
@snide @MR-Diamond I myself load the daemon on startup as I like to have the icon in the tray area. The good thing is now users can choose and have it according to their preference.

Let us know if you have any suggestions for the improvement of the software.

[2022-01-09 17:42] mmahmoudian commented on #2236
I would appreciate it it you post each idea in a dedicated separate feature request.

As for the close button, you can remove the button from the settings of Flameshot. This way you will never accidentally click on it. Note that you can still access the functionality through the keyboard shortcuts even when the button is hidden/removed.

I'll keep this feature request open for others devs to comme

[2022-01-09 17:49] mmahmoudian commented on #2099
@All3xJ this might solve you clipboard problem on KDE Wayland:

https://github.com/flameshot-org/flameshot/issues/2107#issuecomment-1008211812

[2022-01-09 18:00] All3xJ commented on #2099
@mmahmoudian
tried, but nope :/ it doesn't even work with Spectacle (copy to clipboard).. sometimes in Spectacle works, sometimes not. With flameshot, never.

[2022-01-09 19:00] thegreyshadow commented on #2099
I want to have an update. There's been a lot of updates in Slackware-current to both KDE/Plasma and Wayland.

Right now we're at Plasma 5.23.5 and Frameworks 5.89, Wayland 1.20 and XWayland 21.1.4.
Clipboard pasting works now, but inconsistently. Most of time it works, but sometime it doesn't.

[2022-01-09 19:22] AndreaMarangoni commented on #489
PR [#2237](https://github.com/flameshot-org/flameshot/pull/2237)

[2022-01-10 09:01] philus88 commented on #1643
Would also like to see this on Windows.
I know a similar tool which has the option to STRG+P and directly open the printer prompt.

Please consider this not a niche use case, as i know a lot of people haveing this as "killer" feature.
Coding wise, would this be a big effort ?

[2022-01-10 10:11] AndreaMarangoni commented on #604
I gave this feature a go in this [PR](https://github.com/flameshot-org/flameshot/pull/2238).
(BTW Getting the icon from a standard cursor with `QCursor` is not possible it looks like. So getting the icon from X11. If anyone has a better approach let me know that I can implement it.)

[2022-01-10 16:23] martinszeltins commented on #604
@AndreaMarangoni good job, hope it gets merged into master!

[2022-01-11 08:40] A7I7BEK commented on #2192
Deleting `~/.config/flameshot/flameshot.ini` before install, helped me

[2022-01-11 10:12] xstable commented on #511
@martianzhang I had modified your suggestion to be able to analyse any still taken image (which inside xclip) for qr-code:
[code]
In my case, I do add it straight to the Klipper (KDE) as action:
![image](https://user-images.githubusercontent.com/1778068/148922958-f0cac4fe-f2cd-48cd-9110-fb71c0bb98d3.png)

![image](https://user-images.githubusercontent.com/1778068/148923567-aca3a0c0-4863-4879-af69-

[2022-01-11 10:25] data-man commented on #511
I think `zbarimg - | sed "s/^QR-Code://g"` can be replaced to `zbarimg --raw -q`.

[2022-01-11 15:16] mmahmoudian commented on #511
@xstable

In this case we simply could create an entry "qr-codeScanner" and put the zbarimg-stuff into it.

This is already possible since version 8 if I don't make mistake. You can use `flameshot gui --raw` to output to stdout and pipe it to whatever you want. Some months ago I wrote a blog post in which I used this for reading barcode:

https://mehrad.ai/posts/20210702-extracting-payment-info-in

[2022-01-11 15:24] xstable commented on #511
@mmahmoudian Ok, but I don't mean to create an own script which only use flameshot, I mean a section inside flameshot which do a predefined action based on the current made image.

For example there could be a button "A" for "Actions" and if you click on it, you can choose between the scripts you entered.

It's more handy in my opinion, as to have a shortcut on OS-Layer for each script, which fina

[2022-01-11 15:26] mmahmoudian commented on #1643
@philus88

The whole idea of keeping the issue open is allow users to vote for the features they feel are really lacking. As you can see so far during the past 8 months you and @layolayo have shown support for this feature.

But fear not, it has been actively discussed to bring in a plugin systems so that users can develop plugins for such post-capture tasks. When that is implemented, it is just a

[2022-01-11 15:33] mmahmoudian commented on #511
@xstable there have been active discussions about adding plugin support to Flameshot. If you are interested, I suggest searching them in the issues and discussions and also join our Matrix room to know the most recent discussions over there (#flameshot-org:matrix.org)

[2022-01-11 19:57] goodwid opened #2239 "App switches to empty Spaces desktop before activating in MacOSX 11.6"
### Flameshot Version

Flameshot v11.0.0 (4680dcd)
Compiled with Qt 5.15.2

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

darwin: 20.6.0 osx: 11.6

### Description

I have two external monitors connected, plus the main screen active on my MacBook Pro.  Also, I use additional Spaces desktops extensively.

In addition to the below st

[2022-01-11 20:21] mmahmoudian commented on #2239
Have you checked if you issue is mot similar to #1805 and #1658 ?

[2022-01-12 01:22] velocity-ed opened #2240 "Ability to hide GUI for live annotations"
### Feature Description

I think it would be great if we could hide the GUI to allow live screen annotations.
It would be useful during screen recording and screen casting, as the GUI always hides some part of the screen.
The ability to select text and drawing tools while the GUI is hidden is essential.

[2022-01-12 04:10] theitguynumber1 commented on #564
Using larger font works OK but problem is not every application switches to large fonts. For example, if you launch notepad++ (via wine), notepad++ still shows small fonts whereas with proper display setting, you can increase everything on display.

[2022-01-12 07:31] mmahmoudian commented on #2240
Isn't this a duplicate of #273?

[2022-01-12 12:47] mmahmoudian commented on #1358
@kpcee yeah, we are still on Qt 5 and perhaps for the next version we will migrate to Qt 6 if I remember correctly from the discussions.

[2022-01-12 16:10] washbin commented on #1672
Woah, sorry for the really late response.
I swtiched to bspwm due to some work related issues on sway.
Recently remembered this and today installed sway to try again.
This looks a little weird to me, but there is no response on the terminal. It is blank and nothing really happens when i click on the tray icon. Tried right clicking the tray and clicking on take screenshot as well, still no response

[2022-01-12 18:03] Semnodime opened #2241 "snap stored at snapcraft.io is out of date"
### Flameshot Version

none

### Installation Type

Snap from Snapcraft

### Operating System type and version

none

### Description

snap stored at snapcraft.io is out of date

### Steps to reproduce

1. snap install flameshot --edge

### Screenshots or screen recordings

![image](https://user-images.githubusercontent.com/19511852/149196545-620f3643-94f0-41d0-8c55-13b9020b1e8b.png)

### System I

[2022-01-12 18:07] Semnodime commented on #2241
![image](https://user-images.githubusercontent.com/19511852/149197099-a5be755f-fecc-475f-a7dc-f9f100103192.png)

[2022-01-12 18:08] borgmanJeremy commented on #2241
Yeah the build is broken until they enable the new kde framework on core20 or allow custom flags during build

[2022-01-12 18:13] Semnodime commented on #2241
Maybe then omit the 'Update available' note or make it say 'Update available (no snap support yet).

[2022-01-12 18:18] borgmanJeremy commented on #2241
Well there is an update it's just not available via snap. When we do the version 11 release I plan to upload the .snap to the store which should also mitigate the notification.

[2022-01-12 19:15] wael444 commented on #5
is this a thing yet or am i blind?

[2022-01-12 19:24] stefanocudini commented on #511
I think this would be a great idea
![image](https://user-images.githubusercontent.com/47107/149207879-1f7145a3-3cac-441b-9afb-b6fa757fef4c.png)

[2022-01-12 20:28] Semnodime commented on #1814
I just made a quick test myself, using opencv 4.5.5.62 and quick'n'dirty rectangle detection.
I turns out, detecting rectangles is quite easy when they are large, fully observed and also provide plenty of contrast to their background.
As soon as I use dark-themed window managers, choose not to use window borders, disable window shadows etc, the results are poor and algorithmic complexity (and prob

[2022-01-12 20:40] Semnodime commented on #1814
Additionally, making the solution pixel-precise is close to impossible without spending plenty of time working on the algorithm.

[2022-01-12 21:23] borgmanJeremy commented on #1814
My thought was we could use opencv to like help "snap" to the corners. I'm not sure there is any other option unless qt implements it under the hood.

It's not going to be feasible to support this without a platform independent solution.

[2022-01-13 01:13] velocity-ed commented on #2240
Yes, I'm sorry I must have searched for the wrong terms.
I'll close this and my vode to the original issue.

Thanks

[2022-01-13 01:13] #2240 closed

[2022-01-13 01:21] velocity-ed commented on #273
+1 for this.
Please add native hide gui support for flameshot.
This would be great to work out of the box without having to apply this hack.
Please add an option in preferences or a start up parameter in the CLI.
The benefits are huge for live screencasts so the presenter can annotate WITHOUT a distracting GUI.

[2022-01-13 07:21] mmahmoudian commented on #1672
@washbin which Flameshot version have you used in this last round?

[2022-01-13 07:41] mmahmoudian commented on #5
@wael444 no it is not a thing yet. You can follow some if the discussions in #1814

If you want this now and you are on Linux and using X11, you can use this wrapper tool I wrote to do it:

https://codeberg.org/mehrad/dmenu_shot

Basically when you use the "Select_Window" it will allow you to click on one of your open windows and then it automatically handles the dimension of the selection.

[2022-01-13 07:58] washbin commented on #1672
I tried with the flameshot version from pull request #2003,  as suggested by veracioux.

[2022-01-13 08:42] alexamy commented on #108
There is so many issues for fractional scale bugs, so I leave my report here.
I had two identical monitors with fractional scaling set to 175% on both.
On flameshot build from [current](https://github.com/flameshot-org/flameshot/commit/c13270b7e5354b057ba33e2768c3711d5adcb7b6) master I had right screen moved to the center.

Normal state:
![20220113_111919](https://user-images.githubusercontent.com

[2022-01-13 12:24] ad-on-is opened #2242 "Flameshot shortcuts not working when pop-shell tiling mode is active"
Flameshot usually closes when a selection is copied to the clipboard CTRL-C or when the ESC-key is hit. This however does not work, when pop-shell tiling mode is active.

## Steps to reproduce
- Enable tiling mode in pop-shell
- Open flameshot to take a screenshot
- Press ESC to exit flameshot (does not work)
- Select an area and press CTRL-C to copy the selection to clipboard (does not work)

Whe

[2022-01-13 12:53] RafaelMoreira1180778 commented on #2242
This behavior started to appear to me as well since this morning, not sure what has changed tho.
Came here to open an issue but I am glad that someone else has this problem as well.

[2022-01-13 13:53] shufflebits opened #2243 "The configurator for buttons is disabled"
Version v0.10.2 (Qt 5.12.8)
Installed on Ubuntu Mate 20.04

It seems you can no longer configure the available buttons. The checkboxes are all grey.
![image](https://user-images.githubusercontent.com/5569252/149342651-8351e5f7-ff18-4b49-936a-236c50fe67be.png)

[2022-01-13 13:59] goodwid commented on #2239
I followed those steps and was unable to restore the functionality, however this morning my machine had rebooted after a crash, and when flameshot started it asked for permissions again, and now all is well.  Thanks!

[2022-01-13 13:59] #2239 closed

[2022-01-13 14:01] ad-on-is commented on #2242
@RafaelMoreira1180778 I also reported the issue to pop-shell.
https://github.com/pop-os/shell/issues/1315

TBH, I used pop-shell on and off, but don't know whether it used to work or not.

[2022-01-13 14:05] RafaelMoreira1180778 commented on #2242
@borgmanJeremy yes, it stopped working for no apparent reason. Maybe it's due to POP-Shell updating or something because I can see they release [an update](https://github.com/pop-os/shell/releases/tag/1.2.0) yesteday and I keep my OS updated on a daily basis so I must have that update.

@ad-on-is thank you for that, I went ahead and reacted to it, let's see if they can fix it, it's a bummer becaus

[2022-01-13 14:31] joepie91 opened #2245 "Provide an option for making the toolbar location fixed"
### Feature Description

Note: this is *technically* a partial duplicate of #573 - but I am deliberately filing this as a separate issue, to propose a concrete way to improve it that will likely be low-effort to implement. The discussion over in #573 seems to lack focus, and I'm concerned that the issue's scope is preventing an easy win here.

Currently, the toolbar icons are 'wrapped around' the

[2022-01-13 14:34] mmahmoudian commented on #2242
@RafaelMoreira1180778 as a side note, I just realized that you are using an ancient version of Flameshot. You might want to consider updating to the latest version.

[2022-01-13 14:42] mmahmoudian commented on #2243
I would be thankful if you report potential bugs using the bug Report form. The reason is that you have not provided us the information we need to investigate this issue. Information like the method you have installed Flameshot is missing.

![image](https://user-images.githubusercontent.com/390889/149349991-0abc6398-09eb-4626-9c14-28fba9139dbd.png)

Also, it would be nice if you can provide us you

[2022-01-13 15:11] veracioux commented on #2192
Please test the #2244 pull request with a config that contains an error and tell us if you find the behavior satisfactory.

[2022-01-13 15:12] veracioux commented on #2232
Please test the #2244 pull request with a config that contains an error and tell me if you find the behavior satisfactory.

[2022-01-13 15:25] mmahmoudian commented on #2245
I agree with this point. I believe the current behavior of Flameshot is super intuitive for our general audience and new users and it should be kept as such as the default, but adding an option to toggle the UI to a toolbar mode would be a welcome change. I'm not 100% sold on the collapsible top-left bar since multi-monitor users will start to complain, but at the moment I cannot think of a more c

[2022-01-13 15:30] dandv commented on #1070
I still see this issue with Flameshot-0.10.2.x86_64.AppImage on a laptop+external monitor X11 setup, when the selected area is entirely on the external monitor. [Video](https://www.youtube.com/watch?v=LZkWgGHyXj4).

[2022-01-13 16:47] ad-on-is commented on #2242
I just updated to the newest version of pop-shell which was released yesterday, and it solved the issue for me.

[2022-01-13 16:47] #2242 closed

[2022-01-13 17:07] RafaelMoreira1180778 commented on #2242
@mmahmoudian Just tried to install flameshot using `apt` and got the elder version again:

[code]

Not sure why this is happening, snapcraft.io version is also elderly and Flatkpak version is 0.10.1 and not 0.10.2.

@ad-on-is how may I check my pop-shell version and possibly update it? Also can you share what Flameshot installation you currently have?

[2022-01-13 17:18] veracioux commented on #2221
@mohad12211 Does #2246 fix it for you?

[2022-01-13 17:25] ad-on-is commented on #2242
I'm on Arch Linux (EndeavourOS), and installed both, flameshot and pop-shell, from the Arch/AUR repo.

[2022-01-13 19:10] veracioux commented on #2243
@shufflebits Can you try the flameshot version 11 beta (you can download it from github releases)? We have introduced a large number of changes, v0.10.2 feels ancient :D The issue you experienced was probably fixed in the meantime.

[2022-01-13 19:17] mohad12211 commented on #2221
@veracioux yes it fixes it.

[2022-01-13 19:19] #2221 closed

[2022-01-13 22:01] #2232 closed

[2022-01-14 00:10] luisalvarado commented on #1840
If this helps, the moment I unchecked the JPG option it worked. The following image is from flameshot by pasting on Google Chrome directly after copying it

![image](https://user-images.githubusercontent.com/29236/149428669-d1b74e06-b970-4121-b926-550f7e5c0d09.png)

[2022-01-14 07:24] egisz commented on #675
I had same problem with Ubuntu impish 21.10 when installed flameshot using snap (via Ubuntu Software app)
I followed proposed [route](https://github.com/flameshot-org/flameshot/issues/675#issuecomment-774472057), but I hate make making modifications on system I don't understand, so I removed snap version it and installed using
```apt install flameshot```
 and voilia - it works fine now :)

[2022-01-14 09:25] mmahmoudian commented on #2099
@All3xJ

This is not a helpful comment! That AUR if from 33kk fork which is almost a year old fork. The whole point of that fork is,as clearly explained in the AUR page: "with custom command uploader".

Please do not encourage others to use an out-dated code/fork.

[2022-01-14 09:39] #520 closed

[2022-01-14 09:42] mmahmoudian commented on #331
@xstable Although this issue was posted first, but considering the discussion in #2011 I suggest we close this issue in favor of the other one and keep track of this feature request there.

[2022-01-14 09:43] #331 closed

[2022-01-14 09:56] mmahmoudian commented on #2239
@goodwid I'm glad that it got resolved, and thanks for reporting it. This way other users would know that restarting their MacOS might help resolving permission issues. :+1:

[2022-01-14 10:11] mmahmoudian commented on #1672
@washbin considering that #2003 was merged and 78 commits after that, I would be thankful if you try the most recent commit. You can do that either by the same method as @veracioux said by going to [the run for the latest commit](https://github.com/flameshot-org/flameshot/actions/runs/1695083417) or you can try to download all the artifacts for each platform from:

https://flameshot.org/docs/insta

[2022-01-14 10:15] eazyAlf commented on #2217
I think what he asks for is to be able to make a freehand or eliptic selection from your screenshot and pin that to your screen instead of pining the whole rectangle screenshot

[2022-01-14 10:21] eazyAlf opened #2251 "More functionalities for pinned items (edit, change opacity)"
### Feature Description

Hi there,

I think it'd be very useful to be able to work reopen pinned items and edit them.
Currently it's really easy to accidentally close them and then they're gone.

Also to be able to lower the opacity of them so you can see through pinned items (to compare things visually or if you dont have space to let a screenshot float around)

[2022-01-14 10:30] elad2109 commented on #2217
exactly

[2022-01-14 11:20] philus88 commented on #768
@borgmanJeremy  what do you mean with ##"hitting "open in external app"## i cannot find that button in the flameshot gui. I would consider this as a good feature to select a button for a default image viewer (or an option to select an image viewer to use)

[2022-01-14 12:02] philus88 commented on #1868
On Windows the the windows for app selections is empty too. where does flameshot look for installed apps in windows environment. using Beta 11
![image](https://user-images.githubusercontent.com/97436295/149512577-fee19aae-b08a-4343-80fd-b01c27f6301c.png)

[2022-01-14 12:10] philus88 commented on #768
@borgmanJeremy what do you mean with ##"hitting "open in external app"## i cannot find that button in the flameshot gui. I would consider this as a good feature to select a button for a default image viewer (or an option to select an image viewer to use)
edit:
i found the button in the beta 11 - but does not work in windows see #1868

[2022-01-14 14:12] washbin commented on #1672
@mmahmoudian  i tried from the latest development-build as suggested, Unfortunately there were no changes to the output from last round.
However, one new thing that i noticed was, whenever i try with my network connection down, i get a failed to get information about latest version message. Is this just related with checking for autoupdates ? or could it point to somewhere ?
![scrn_2022_01_14_07_5

[2022-01-14 14:28] mmahmoudian commented on #2251
The pinned images are not saved anywhere. So if they are closed, they are gone for good. There is already a feature request for opening the files in Flameshot (#1100). Perhaps you can follow this part there.

About the opacity you can either continue here or discuss it in #954

[2022-01-14 14:36] mmahmoudian commented on #1672
@washbin

You got it right, it is trying to check for updates.

[2022-01-14 15:05] pinsard commented on #2031
Wait a minute. I think it is not exclusively related to Wayland as it also happens on my Pop!_OS install. As you can see from my inxi output, it is Xorg. I've tried installing 0.9, 0.10, even 0.11 which is currently in RC-1, all versions either Debian, Ubuntu debs, or AppImage, present the same behavior.

[code]

[2022-01-14 17:07] Lunatik00 opened #2252 "Multimonitor screenshot"
### Flameshot Version

Flameshot v0.10.2(cda5a0f1)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Arch

### Description

when i try to take a screenshot it moves my screens so i am not seeing the same image, i have 2 monitors, it appears to be that the center of both my monitors is moved to the center

[2022-01-14 17:19] pinsard commented on #2031
I found the problem with Pop!_OS: the tiling extension. When the tiling extension is active, Flameshot's tools shortcurs aren't captured. Damn... I switched to Pop exactly because their take on tiling was very good, but I depend on Flameshot a lot more, so I guess it's time to move to i3 or the likes.

[2022-01-14 17:22] borgmanJeremy commented on #2031
If it's tiling there was a bug filed yesterday. It seems it's an upstream pop issue that's already been fixed. On mobile so I don't have the link but you can find it by searching our issues.

[2022-01-14 17:29] pinsard commented on #2031
Borg, already helped a lot. Will look for the bug report and check with System76.
However, what the OP claimed, that the problem is related with Wayland, could probably also be related with some other aspect of his system, just like mine was. In my case, it is obviously not caused by Flameshot, but by something in Gnome tiling extensions intercepting keys etc.

[2022-01-14 17:30] All3xJ commented on #2099
ok, but at least it works. When I have some time, I'll try downgrading flameshot archlinux repo package to a version that works, and I'll let you know

[2022-01-14 17:42] veracioux commented on #1481
@mmahmoudian Is this now unnecessary as of the new "Accept capture" mechanism?

[2022-01-14 17:44] mmahmoudian commented on #1481
Tbh I don't remember my reasoning behind it. I think we can consider it closed👍🏼

[2022-01-14 17:44] #1481 closed

[2022-01-14 18:09] veracioux commented on #642
This feature is implemented in flameshot version 11 (run `flameshot gui --clipboard --accept-on-select`).

[2022-01-14 18:09] #642 closed

[2022-01-14 20:12] Elaborendum opened #2253 "Text in Shortcut settings is cut off"
### Flameshot Version

v0.10.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Windows 10

### Description

If the description of a keyboard shortcut is too long, it's cut off and the column can't be expanded, either. You can only read it when you increase the width of the entire window, but it's reset

[2022-01-14 23:17] borgmanJeremy commented on #2136
Fixed in #2250. Will make it to the stable channel tonight or tomorrow.

[2022-01-14 23:17] #2136 closed

[2022-01-14 23:18] borgmanJeremy commented on #2147
Good news. I learned now to manually upload a snap built with the proper extensions. There is a partial working version on the edge channel but version 11 will make it to stable tonight or tomorrow.

[2022-01-14 23:18] #2147 closed

[2022-01-14 23:19] borgmanJeremy commented on #1144
Good news, this is fixed now and will make it to stable in a day or so. This dragged on because the snapcraft build service did not let me append CLI arguments. I learned I can manually upload a .snap to the store.

[2022-01-14 23:19] #1144 closed

[2022-01-14 23:51] borgmanJeremy commented on #1637
This should be fixed on the --edge channel. Will make it to stable tonight or tomorrow.

[2022-01-14 23:51] #1637 closed

[2022-01-15 03:18] ampcpmgp commented on #1961
I'm having this problem too.

[2022-01-15 03:42] WeiquanWa opened #2257 "New release 11.0 in two screen mode"
### Flameshot Version

Flameshot 11.0

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Windows 10 x64

### Description

Hi team, I'm using two screens connected to a machine. When launching the flameshot app, the texts are displayed on the border between two screens. Also, Ctrl+C to copy to clipboard doe

[2022-01-15 07:25] zw963 opened #2258 "https://github.com/hluk/CopyQ/issues/1878"
### Flameshot Version

Flameshot v0.10.2
Compiled with Qt 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Arch linux

### Description

Please check following issue, i describe detailed there, thank you.

https://github.com/hluk/CopyQ/issues/1878

### Steps to reproduce

https://github.com/hluk/Co

[2022-01-15 07:25] mmahmoudian commented on #1961
@andyfore & @ampcpmgp we released a new stable version less than 12 hours ago (v11.0) please try that as it has undergone massive code refactoring and comes with tons of bug fixes and packed with tons of new features.

Please open a new issue if the problem still exists with this new version and please also mention this issue in the description as well. Thanks.

[2022-01-15 07:27] mmahmoudian commented on #2257
@WeiquanWa would you please post your config file and your monitor setup (from system settings).

[2022-01-15 07:57] All3xJ commented on #2099
UPDATE:
Basically, flameshot versions after 0.10.1-1 do not work. Copy to clipboard does not copy anything, and there's also the problem that ctrl+c does not work, so I have to manually click on copy button (which again, does not actually copy anything).

to make it work, if you have archlinux you can go here: https://archive.archlinux.org/packages/f/flameshot/ copy the link and paste in terminal

[2022-01-15 08:11] eshagh79 opened #2259 "The Persian translation is not in the final Flameshot package"
### Flameshot Version

Flameshot V11.0.0

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

ubuntu 21.10

### Description

Hello
Persian language has been completed on weblate for more than five months, but is not yet in the flameshot package.
I think this is because the Persian translation has not been added to the "flameshot / src /

[2022-01-15 12:17] Git-Fal7 opened #2260 "adding .zsync files for appimages"
### Feature Description

It would be good to add ``.zsync`` files with appimages when a new release comes, as it will be used for updating the appimage file.

[2022-01-15 13:49] ampcpmgp opened #2261 "Windows 11: "Print Screen"-button do not work!"
### Flameshot Version

Frameshot v11.0

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Windows 11 Home & 21H2 & 22000.434

### Description

Pressing "Prt Sc" on Windows 11 calls windows standard printscreen saving function.
(Right click on "Create screenshot" in context menu does work as expected)

Same

[2022-01-15 13:54] borgmanJeremy commented on #2257
Could you also please post a picture so I fully understand the problem? I tested on windows 10 before the release and it worked for me.

[2022-01-15 16:56] borgmanJeremy commented on #2258
This does not seem at all like a Flameshot bug if you can see the image in the copyQ clipboard.

[2022-01-15 16:58] borgmanJeremy commented on #2252
This is a duplicate of #564 related to fractional scaling.

[2022-01-15 16:58] #2252 closed

[2022-01-15 16:59] #2192 closed

[2022-01-15 16:59] borgmanJeremy commented on #1847
This is solved in the latest snap release (at least during my testing).

[2022-01-15 16:59] #1847 closed

[2022-01-15 17:00] borgmanJeremy commented on #1865
The latest snap released yesterday solves this problem.

[2022-01-15 17:00] #1865 closed

[2022-01-15 17:03] borgmanJeremy commented on #2241
Fixed yesterday

[2022-01-15 17:03] #2241 closed

[2022-01-15 17:03] borgmanJeremy commented on #1656
Can you try the snap that was released yesterday?

[2022-01-15 17:04] borgmanJeremy commented on #1563
Digging through this I think the original issue was present in the snap package which was resolved yesterday with version 11.

[2022-01-15 17:04] #1563 closed

[2022-01-15 17:05] borgmanJeremy commented on #1260
This should be fixed in the snap released yesterday. Can you try it?

[2022-01-15 17:09] zw963 commented on #2258
All right, thank you!

[2022-01-15 17:09] #2258 closed

[2022-01-15 17:57] Lunatik00 commented on #2252
Thanks, so, setting the screen to 100% instead of 125% is a workaround, I didn't expected that was the source of the problem

[2022-01-15 18:04] borgmanJeremy commented on #2252
One of the major changes in the next release will be a workaround for this.

[2022-01-15 18:22] veracioux commented on #2215
I'm not against adding this as an option, if the implementation is not too difficult (right now I don't have a sense if it is or isn't). If you know C++ and Qt, you are welcome to contribute. @mmahmoudian @borgmanJeremy What do you think?

[2022-01-15 18:34] mmahmoudian commented on #2215
I personally think we severely lacking vector graphics output (SVG, PDF, ...). This has been discussed before and NC was also in favour of it. I just don't know how much extra work it needs to have both SVG and PDF.

[2022-01-15 18:43] borgmanJeremy commented on #2215
SVG is a good idea since it would be a good format to resume editing. Pdf is a bit annoying because it's a hack onto the way we populate other file's.

It would be better to add printing and let the system handle print to pdf so we do t need to start talking about page size, rotation, scaling, etc

[2022-01-15 19:46] mmahmoudian commented on #2215
I guess when we have the svg, turning that into pdf would be straightforward either by us, through printing, or by a plugin.

[2022-01-15 20:13] mmahmoudian commented on #2259
Thanks for reporting this. It seems you are right.

ممنون بابت کمک در ترجمه 👍🏼

[2022-01-15 20:19] tva94 commented on #2257
Have same problem

But I have two screens 1366x768 and 1920x1080 in extend mode, same dpi, scale in system 100%. OS is Win10. Info box appears near right bottom corner of first screeen (maybe good solution is show box in center of each screen).

Also strange size of  left toolbox menu, when I open in by click it contains bottom scroll)- maybe need to solve in new issue.

Aslo problem with change s

[2022-01-15 20:20] borgmanJeremy commented on #2257
Can you please post an image?

[2022-01-15 20:25] tva94 commented on #2257
![image](https://user-images.githubusercontent.com/24491769/149636613-b30081e0-195a-4126-ab28-635b06f570e0.png)

![image](https://user-images.githubusercontent.com/24491769/149636639-4a970351-2585-4679-abbb-e36d8c2bd065.png)

![image](https://user-images.githubusercontent.com/24491769/149636667-8c88e8f1-4cfe-42ed-9000-85007e30eba8.png)

[2022-01-15 21:25] mystiquewolf commented on #1656
Since then i've switched to Arch. Flameshot icon shows when i open it, but trying to take a screenshot doesn't work.

[2022-01-15 21:26] mmahmoudian commented on #1656
@mystiquewolf how have you installed it?

[2022-01-15 21:29] mystiquewolf commented on #1656
See the update above, i edited the comment.

sudo snap install flameshot

[2022-01-15 21:30] borgmanJeremy commented on #1656
I did not test the snap on KDE + wayland, I did all the snap testing on Gnome so its probable there is an issue

[2022-01-15 21:32] borgmanJeremy commented on #2215
Based on this discussion I think we should close this as there is already an issue for adding a printer. The more I think about PDF the less I want to add it because of the number of other features that need to go along with it.

[2022-01-15 21:32] mystiquewolf commented on #1656
And i haven't tested from the repos...

[2022-01-15 22:37] ryan77627 opened #2264 "Plasma on Wayland Multi-monitor issue"
### Flameshot Version

Flameshot v11.0.0 (fe30810e)
Compiled with Qt 5.15.2

### Installation Type

User repository (AUR)

### Operating System type and version

Arch

### Description

Running flameshot using Wayland under the latest Plasma (I have 5.23.5 installed right now) using two monitors causes one monitor to actually be captured and then that screenshot is displayed on the other screen. I'

[2022-01-15 23:04] borgmanJeremy commented on #2264
Wayland or x11?

[2022-01-15 23:30] Idomo opened #2265 "Typing numeric size issues"
### Flameshot Version

Flameshot v11.0.0 (ad1bf28)

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

macOS 12.1

### Description

First of all, thanks for this great upgrade!
I've noticed 2 issues with the new feature `Thickness of tools can now be set with the keyboard. Simply type a numerical value like "15" and you will see the ind

[2022-01-16 00:06] borgmanJeremy commented on #2265
Thanks! I replicated this on linux too so its not platform specific. We often have a point release to fix minor issues after a major release and this can get resolved there most likely.

[2022-01-16 00:15] borgmanJeremy commented on #2264
Did it used to work and it broke with this update?

[2022-01-16 00:23] ryan77627 commented on #2264
Yes-- It worked with v0.10.2 and this update happened to break it. I've been looking through some past commits and have a feeling I know what happened. I see that v0.10.2 used the xcb launch option to run under XWayland, which broke copying to the clipboard (which this update fixed) and keybindings (also fixed). I'm gonna do some testing to see if that's the case.

[2022-01-16 02:35] WeiquanWa commented on #2257
sorry for the late posting the image.
here is a photo to capture my issue with two scree.
![IMG_20220116_022855](https://user-images.githubusercontent.com/88868948/149645111-7550ebdc-1db9-40e2-bd28-24a563e465bb.jpg)

[2022-01-16 02:36] WeiquanWa commented on #2257
also Ctrl+C to take the screen to clipboard doesn't work

[2022-01-16 03:29] ryan77627 commented on #2264
Yup, launched using `QT_QPA_PLATFORM=xcb flameshot` and that indeed brings back the original behavior, with the unintended side effect of breaking the copy to clipboard feature and the keybindings again.

[2022-01-16 08:23] mmahmoudian commented on #2257
Kinda makes sense I guess. My hypothesis is that the message box is located at the 25% of the total width and 50% of the total height. What I mean is that the two monitors create a large canvas and Flameshot sees there are two monitors, and simply divide the width to two. In the case that both monitors have the same dimensions you wouldn't see the issue (as 25% of width would be exactly in the cen

[2022-01-16 09:02] mmahmoudian commented on #2215
@borgmanJeremy how about SVG? Adding layered SVG support would partially solve #2055 and #1515

[2022-01-16 09:21] elad2109 commented on #2215
Jודא

[2022-01-16 09:22] elad2109 commented on #2215
BTW SVG sounds a game changer. But how can it help the PDF printing? It sounds parallel to me. No?

[2022-01-16 13:07] borgmanJeremy commented on #2215
SVG I want to think about carefully as an save/resume format

Pdf will not be added natively due to the complexities I outlined above.

[2022-01-16 13:08] #2215 closed

[2022-01-16 14:15] ricardoseriani opened #2267 "Flameshot v11.0.0 is marked as rc for linux"
The current release of flameshot is marked as RC for linux, but not for windows.

Is the release for linux really RC, or this is a bug in the release filename ?

[2022-01-16 14:45] borgmanJeremy commented on #2267
Which package is marked rc? It should not be

[2022-01-16 14:51] veracioux commented on #2267
@borgmanJeremy All the linux assets on the github release page contain rc1 in their name.

[2022-01-16 14:57] borgmanJeremy commented on #2267
Ok I'll rename them later today. I fixed it for the snap I uploaded.

If you look in the snapcraft file you can see the hack I did there. The current CI sorts the tags and puts the rc ahead of the non rc.

I think if you run flameshot --version it should be right

[2022-01-16 16:22] borgmanJeremy commented on #2267
Thanks I fixed it.

[2022-01-16 16:22] #2267 closed

[2022-01-16 16:56] Histmy opened #2268 "Launching takes very long time"
### Flameshot Version

Flameshot v11.0.0 ()
Compiled with Qt 5.12.8

### Installation Type

AppImage, Using the ready-made package from Github Releases, Compiled from source

### Operating System type and version

Linux Mint 20.3 Cinnamon

### Description

First I have tried installing Flameshot from deb package from GitHub release. When I ran command `flameshot gui`, it would say: `qt5ct: using q

[2022-01-16 17:09] borgmanJeremy commented on #2268
After thinking a bit my gut says the version of qt your system provides has a bug that results in poor performance. When you use the appimage you are using a newer version of qt with the bug fixed.

That's my best guess.

[2022-01-16 17:10] borgmanJeremy commented on #2268
Actually could you also post your config file? I wonder if turning off update checking will fix it.

[2022-01-16 17:13] Histmy commented on #2268
What config file do you mean?

[2022-01-16 17:17] borgmanJeremy commented on #2268
It's located in ~/.config/flameshot/flameshot.ini

Also go into the config menu and disable update checking.

[2022-01-16 17:27] Histmy commented on #2268
[code]
This is my config.ini. And the update checking has no effect on performance in the build nor in the appimage.

[2022-01-16 18:08] leanjunio commented on #2099
Can confirm that this works on Manjaro KDE Plasma 21.2.1.

[2022-01-16 20:23] j-tai commented on #2268
I am also experiencing this after upgrading to v11.0.0. It takes around 2 seconds to start a screenshot, *even when Flameshot is already running in the system tray*, compared to <0.5 seconds from v0.10.

I am using the Flatpak version (from Flathub), and using the PrtSc key which is bound to `flatpak run org.flameshot.Flameshot gui`.

Monitor setup:

![image](https://user-images.githubusercontent.

[2022-01-16 20:29] j-tai opened #2269 "Flameshot window is not focused until it is clicked"
### Flameshot Version

Flameshot v11.0.0 ()
Compiled with Qt 5.15.3
linux: 5.15.11-76051511-generic
org.kde.Platform: 5.15

### Installation Type

Flatpak from Flathub

### Operating System type and version

Pop!_OS 21.10

### Description

When taking a screenshot with the `flameshot gui` command, Flameshot is not automatically focused. Thus, it does not respond to keypresses until you click with

[2022-01-16 20:31] borgmanJeremy commented on #2268
@j-tai what distro and DE?

[2022-01-16 20:32] j-tai commented on #2268
Pop!_OS 21.10, GNOME 40.

[2022-01-16 20:33] borgmanJeremy commented on #2268
Do you have nvidia graphics? I'm trying to find a commonality

[2022-01-16 20:41] j-tai commented on #2268
Yes I do, but it still seems to be slow (1 to 1.5 seconds) if I switch to integrated graphics (nvidia card is disabled).

[2022-01-16 20:43] j-tai commented on #2269
Weird, I can't reproduce this anymore...

[2022-01-16 20:45] mmahmoudian commented on #2269
Do you use tiling of the PopOS DE?

[2022-01-16 20:46] j-tai commented on #2269
Yes. Though I never experienced this issue with v0.10.

[2022-01-16 20:48] mmahmoudian commented on #2269
Then you are experiencing a known issue. It has been reported few times already, one of which is:

https://github.com/flameshot-org/flameshot/issues/2031#issuecomment-1013311033

I think someone even opened an issue in PopOS repo. I should search in the issues to find it though.

[2022-01-16 20:51] j-tai commented on #2269
Actually, yeah I had that issue a few days ago! But I've already updated Pop Shell which fixed that.

This seems to be different since it is fixed after clicking anywhere, and it only happens sometimes.

[2022-01-16 23:51] borgmanJeremy commented on #2268
Does the speed change for either of you if you only use 1 monitor?

[2022-01-17 00:31] borgmanJeremy commented on #2268
i looked at this for an hour and cannot replicate it in multimonitor VM's.

[2022-01-17 01:51] Rastem88 commented on #1875
@DifficultDerek You may need to install khotkeys. That should bring back the custom shortcuts menu.

[2022-01-17 02:44] j-tai commented on #2268
The issue still occurs with 1 monitor.

[2022-01-17 07:34] mmahmoudian commented on #2268
@borgmanJeremy I have also experienced some lag in KDE Plasma Xorg, both for when starting Flameshot and for when I try to save on disk, but it behaves in a non-deterministic way, so I don't know in what circumstances it happens.It feels like process race for diskio, but when it happens it is too late to check the diskio. I'll keep a closer look at io to see if I can spot it.

[2022-01-17 08:12] mellon85 opened #2270 "Saving screenshot is the wrong format (the one above in the list)"
### Flameshot Version

Flameshot v11.0.0 (ad1bf28)
Compiled with Qt 5.15.2
darwin: 20.6.0
osx: 11.6

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Big Sur 11.6.2

### Description

When saving a screenshot and I have to select the format it's always off-by-one. Starts with tiff selected and if saved it

[2022-01-17 09:57] nettum opened #2271 "Some Configuration settings not getting respected in v11.0.0"
### Flameshot Version

Flameshot v11.0.0 ()
Compiled with Qt 5.15.3
linux: 4.15.0-166-generic
ubuntu-core: 20

### Installation Type

Snap from Snapcraft

### Operating System type and version

Ubuntu 18.04.6 LTS

### Description

Seems like at least the settings "preferred save file extension" and "Filename Editor" is not getting used when trying  to save a file.
I would expect that the filename

[2022-01-17 10:12] nettum commented on #2271
And here is my `flameshot.ini`:

[code]

[2022-01-17 10:42] krokofant commented on #2261
Works for me on Windows 11 Enterprise / 21H2 / 22000.376 with Flameshot v11.0.0

[2022-01-17 10:43] swartex commented on #2268
I have the same problem with version 11.
rolled back to 0.10.2 and everything works fast

[2022-01-17 11:08] krokofant opened #2272 "Update to QT 5.15.8 to correctly identify Windows 11"
### Flameshot Version

v11.0.0

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Windows 11

### Description

Windows 11 can't be detected correctly, so issues might be labeled incorrectly if information is copied directly from the about window.
[code]

Seems to be fixed in [QT 5.15.8](https://bugreports.qt.io/browse/QTBUG-99225)

Rel

[2022-01-17 13:58] borgmanJeremy commented on #2268
@swartex what gpu and distro? By long time do you mean 1 second or 10seconds

[2022-01-17 14:08] swartex commented on #2268
10 - 15 seconds

GPU - Iris Graphics 540 (integrated graphics)

distro - Linux Mint 20

[2022-01-17 14:56] matteo-bloomandwild opened #2274 "v11 breaks screen capture shortcut"
### Flameshot Version

v11

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

MacOS Monterey 12.1

### Description

Since I upgraded to v11, my pre-existing shortcut (cmd + opt + shift + 4) stopped working.
Trying to re-set it in the configuration, represents it with `$` instead of `4` (as shown in the picture), and does not work.
![im

[2022-01-17 15:45] borgmanJeremy commented on #2268
Ok so that rules out Nvidia, it seems that there are two different issues here @mmahmoudian and @j-tai report a small performance regression (1-2 seconds) I do not want to discuss that on this thread anymore as I think its a seperate issue.

@swartex and @Histmy report a very long regression >10 seconds and are both on Mint + Cinnamon. I would like to keep this thread focused on that.

I cannot re

[2022-01-17 16:10] borgmanJeremy commented on #2272
Thanks for reporting. Unfortunately appveyor does not support that version of Qt. In the next release I will complete the transitivity to QT6 which should also fix the issue:

We must use appveyor for the windows release because that's how we tie into the code signing service.

![image](https://user-images.githubusercontent.com/46930769/149803901-a8a4e033-a454-478c-828c-bd76a6e6801f.png)

[2022-01-17 16:15] borgmanJeremy commented on #2274
Thanks for reporting. I can duplicate the problem However if you use a combo that does not involve the numbers / symbols you can work around it for now. For example command+shift+p

[2022-01-17 16:18] borgmanJeremy commented on #2270
Thanks, I can confirm this.

[2022-01-17 16:22] borgmanJeremy commented on #2271
I am unable to replicate this in an Ubuntu VM with the snap install. Can you try deleting the whole config file and see if that resolves it?

[2022-01-17 16:37] nettum commented on #2271
Sure! Just tried to delete it and then change the preferred extension. The config file now just looks like this:
[code]
But it did not have any effect. I will try on another Ubuntu version to check if it works as expected there.

[2022-01-17 16:38] borgmanJeremy commented on #2271
Okay thanks, I tested on 21.10 but I can stand up a vm to match your version later.

[2022-01-17 16:45] ca-scribner commented on #2156
Maybe I got my settings wrong as this is a new computer/install, but I have the same scaling problem when running `flameshot gui`.  I tried building from source as described, and after that `flameshot gui` takes a fullscreen snapshot anyway (although does not have the scaling issue).  If I hit options->area grab I can grab an area and don't have the obvious scaling problem, but also don't get the

[2022-01-17 17:32] nettum commented on #2271
I just tested this on 20.04 and it remembers the PNG extension when opening the save dialogue, but not the filename pattern.

That being said, I may have misunderstood how the settings should work.
If I set `savePathFixed=true` and takes a screenshot it will save the file according to `savePath`, `filenamePattern` and `saveAsFileExtension` correctly :+1:
But if I set `savePathFixed=false` I was th

[2022-01-17 17:54] Histmy commented on #2268
I thought I downloaded all needed dependences but when I tried to run the script I got error: `perf: command not found`. I tried to install it with `sudo apt install linux-tools-common` but now when running the script it seems to open `man` page for perf command. Do you know what I could have done wrong?

[2022-01-17 18:44] socketbox opened #2275 "Clipboard and Save to File buttons no longer appearing"
### Flameshot Version

Flameshot v11.0.0 (ad1bf28)
Compiled with Qt 5.9.5
linux: 5.4.0-70-generic
linuxmint: 19.3

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Linux Mint 19.3 (based on Ubuntu 18.04)

### Description

In Flameshot 10, there were two buttons available to me that are not appearing in this most recent version of Flam

[2022-01-17 18:47] borgmanJeremy commented on #2275
This is an intentional change. See this thread for details

https://github.com/flameshot-org/flameshot/issues/2227

[2022-01-17 18:47] #2275 closed

[2022-01-17 20:38] pizzadude opened #2276 "v11 breaks copying screenshot to clipboard in kde wayland"
### Flameshot Version

v11

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Fedora 35 KDE

### Description

After latest update to Flameshot v11, when I try to copy a screenshot to clipboard either by using the button or keybind, the screenshot is not copied to the clipboard at all. I use Fedora 35 KDE Wayland. Downgrading to version

[2022-01-17 21:01] borgmanJeremy commented on #2271
Yeah that is not the behavior I see:
![image](https://user-images.githubusercontent.com/46930769/149836514-f23b3477-e76d-4ba0-a5d7-21c70e8b4773.png)

[2022-01-17 21:09] borgmanJeremy commented on #2276
version 10.2 ran on XCB, but users reported this caused hotkeys to break: https://github.com/flameshot-org/flameshot/pull/2131

So we reverted it to run on actual wayland. KDE Wayland isn't as stable as gnome yet and tends to have more issues with flameshot. It's really hard at this time to understand if its a flameshot, plasma wayland, or Qt issue

[2022-01-17 21:10] borgmanJeremy commented on #2276
Hopefully it is resolved with QT6 https://github.com/flameshot-org/flameshot/issues/2099, my focus will be on Qt6 before triaging this issue.

[2022-01-17 21:16] nettum commented on #2271
All right, good to know. That is the same behavior that I got at 20.04, so probably something with the system I'm running 19.04 on. I can test with a clean VM, but this is just a minor thingy.

But how about the `filenamePattern` if you had that config set? Should that be added as the suggested filename (along with the extension) in the "Name"-input from your screenshot?
I _may_ remember wrong, bu

[2022-01-18 05:04] mmahmoudian commented on #2275
@socketbox

The logic is when you define `--path`, `--clipboard`, `--raw`, or `--upload`, you are defining the final action. For that reason the faith of your screenshot is already decided and therefore there is only one "Accept" button. This brings the possibility of defining multiple final actions at once. For instance you can do

[code]

To save the screenshot, upload it to imgur, and copy it t

[2022-01-18 05:15] mmahmoudian commented on #2156
@ca-scribner

I don't understand what you mean by "option" and "area grab". We don't have such buttons or command line arguments.

If you want to take a screenshot and annotate it, you should use `flameshot gui` if you want to take a screenshot from all monitors, use `flameshot full`. For more information about the command line checkout this page:

https://flameshot.org/docs/advanced/commandline-o

[2022-01-18 08:22] xvitaly commented on #2276
Fedora's 0.10.2 had backported patch from this commit. If he said that everything worked fine, then the problem is something else.

[2022-01-18 08:39] pizzadude commented on #2276
I'm the one who reported that issue, and I used Fedora's package with that commit backported, and it worked right. So I agree with xvitaly, it has to be something else.

[2022-01-18 08:40] gfrein commented on #1563
Still not working for me on Fedora 35, GNOME 41.3 (Wayland).

I tried both the rpm from the Fedora repos (v11.0.0) and the flatpak from Flathub (v11.0.0). Deleting the config folder (`~/.config/flameshot/`) didn't help either. Filename is still empty.

[code]

[code]

[2022-01-18 08:55] wolandtel opened #2277 "Flameshot doesn't run by D-Bus call"
### Flameshot Version

Flameshot v0.10.1 (11.0~rc1+ds1-2 Debian)
Compiled with Qt 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Debian GNU/Linux bookworm/sid

### Description

After the last update hotkey configured in KDE for flameshot stopped working.
Configuration is shown on the screenshot.

[2022-01-18 10:04] Gil80 opened #2278 "Installing from snap doesn't provide the same options if installing from Ubuntu store"
### Flameshot Version

Flameshot v11.0.0 ()
Compiled with Qt 5.15.3
linux: 5.13.0-25-generic
ubuntu-core: 20

### Installation Type

Snap from

### Operating System type and version

Ubuntu VERSION_ID="21.10"

### Description

Expected behaviour: to work like flameshot that was installed from ubuntu store.
Examples: prtsc keyboard shortcut used to work. Taking region screenshot provides options to

[2022-01-18 10:11] mmahmoudian commented on #2277
No, that is depricated. In version 10 we were still using `org.flameshot.Flameshot` but in version 11.0 we have tried to move away from DBus. You can find the working set of commands for hotkeys here:
https://github.com/flameshot-org/flameshot/blob/master/docs/shortcuts-config/flameshot-shortcuts-kde.khotkeys

[2022-01-18 10:15] mmahmoudian commented on #2278
@Gil80 how are you running Flameshot? I have a feeling that you are running Flameshot with the `-p` argument and your issue is the same as  #2275.

[2022-01-18 10:20] nlpsuge commented on #1563
Still not working for me too on Fedora 35, GNOME 41.3 (X11).
[code]

[2022-01-18 10:21] mmahmoudian commented on #2271
As far as I can see, it still is:
https://user-images.githubusercontent.com/390889/149918640-b1208b7d-dc47-45e6-a700-d438da58d568.mp4

[2022-01-18 10:23] nettum commented on #2271
Awesome, thanks! I will test on different clean Ubuntu VMs then to see if I can replicate the bug(s) there!

[2022-01-18 10:33] ryan77627 commented on #2264
Actually, for whatever reason, I can't get the clipboard to work as per #2276. I'm not sure why I thought it was working for me, sorry about the noise regarding that. If I get it to work I'll update, but the main purpose of the bug report (multi-monitor issue) is still valid when running under wayland and not xcb.

[2022-01-18 10:49] matteo-bloomandwild commented on #2274
Hi, thanks for your reply!
I tried your suggested keybinding
![image](https://user-images.githubusercontent.com/93405661/149923163-acf1dd08-514b-4f05-a783-ae05fd310126.png)
Which displays as expected, but for some reason pressing it does not trigger a screen capture anyway for me. Could I be forgetting something in my OS configuration that is preventing it to work, or do you think this is part of

[2022-01-18 11:17] wolandtel commented on #2277
Thanks a lot.

[2022-01-18 11:17] #2277 closed

[2022-01-18 12:18] Gil80 commented on #2278
@mmahmoudian I just launch the app from the GUI of Ubuntu.

[2022-01-18 13:28] nettum commented on #2271
Getting the same behavior with missing filename and extension on a clean Ubuntu 18.04.
Will test on 20.04 and 21.10 a bit later.

https://user-images.githubusercontent.com/798156/149946061-bc02779e-74de-423f-9594-cc8c6d6982e0.mp4

[2022-01-18 13:35] socketbox commented on #2275
@borgmanJeremy
@mmahmoudian

Thanks for the assistance and apologies for not reading the Release Notes.

I removed the path argument from the key binding and selected the checkbox that keeps the application from prompting for a path. ![image](https://user-images.githubusercontent.com/1593835/149946999-029e60a2-ac64-4772-b751-5a95fe6cbfa2.png)

Now, behavior is much as it was for me in v10.

Thank

[2022-01-18 14:23] nettum commented on #2271
Clean Ubuntu 20.04, file extension are working, but not filename:

https://user-images.githubusercontent.com/798156/149955087-ac2a2169-046b-40eb-b1f0-e090d713764b.mp4

[2022-01-18 15:11] borgmanJeremy commented on #2276
I tested this on a hacked flameshot built against Qt 6.2.2 and the issue is still present. I might be hitting a dead end with this, any ideas on how to troubleshoot the clipboard?

[2022-01-18 15:21] pizzadude commented on #2276
I'm not a dev but something tells me it might be related to getting rid of d-bus support?

[2022-01-18 15:22] borgmanJeremy commented on #2276
I updated my comment with steps to make it work and fail

[2022-01-18 15:32] pizzadude commented on #2276
I can't try those steps because wl-paste -l hangs when I copy from flameshot and I tried the workaround without using wl-clipboard and it didn't cause it to work correctly.

[2022-01-18 16:32] h0nus commented on #2276
Having same issue on Fedora 35 updated.

Flameshot v11.0.0 (-)
Compiled with Qt 5.15.2

OS: Fedora Linux 35 (Workstation Edition) x86_64
Kernel: 5.15.14-200.fc35.x86_64
DE: GNOME 41.3

Flameshot seems to be broken

if i start normally with `flameshot` no data nor output is given

with `flameshot gui` the GUI opens, but when i save it to clipboard nothing is saved,
same goes with `full -c` and `scr

[2022-01-18 16:45] h0nus commented on #2276
Yep
[code]

[2022-01-18 16:58] borgmanJeremy commented on #2276
Iets move the gnome discussion to its own issue. I'm going to moderate this thread to only focus on KDE.

[2022-01-18 16:59] borgmanJeremy commented on #2276
I dont think there is one yet

[2022-01-18 17:06] h0nus opened #2279 "Flameshot seems to not working on Gnome 41.3"
### Flameshot Version

Flameshot v11.0.0 (-)
Compiled with Qt 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Fedora Linux 35

### Description

If I start it from terminal by typing: `flameshot`, no output is gave.
with `flameshot gui` the GUI starts but it won't save the screenshot to clipboard

[2022-01-18 17:17] borgmanJeremy commented on #2279
Do you have the daemon running in the background?

[2022-01-18 18:45] AndreaMarangoni opened #2280 "Tool Preview shows ugly red rectangles"
### Flameshot Version

Flameshot v11.0.0 (3aca8c3)

### Installation Type

Compiled from source

### Operating System type and version

darwin 21.2.0 (Monterey)

### Description

When selecting a tool I can see the tool preview as a bright red rectangle. When increasing the tool size also the red rectangle increases in size.
![2022-01-18-093603_1920x1080_scrot](https://user-images.githubuserconten

[2022-01-18 19:43] leoluk commented on #2279
Same with i3 on Xorg - I can take a snapshot but it's not actually copied to the clipboard.

[2022-01-18 20:44] AndreaMarangoni commented on #2270
I can take this

[2022-01-18 20:44] borgmanJeremy commented on #2270
Great thanks for the help

[2022-01-18 21:56] mmahmoudian commented on #1563
@borgmanJeremy do you have a VM to test this? If not I can spin up one and test it tomorrow

[2022-01-18 22:06] mmahmoudian commented on #2278
Would you please record a video of your screen and show this bug? If you don't have a tool to record a video, I suggest [peek](https://github.com/phw/peek)

[2022-01-18 22:15] mmahmoudian commented on #2271
Nope, this is because of the change Gnome people did in Gnome 41 Wayland. Checkout #1910 they have limited all applications other than their own apps from using the API, therefore users should go through multiple hoops. Anyways, we will no do anything for that as it is an upstream issue and you should take your complaints to gnome devs (all necessary links in #1910)

As for your other two videos,

[2022-01-18 22:21] mmahmoudian commented on #2280
I don't understand what the problem is. Would you please explain a bit moread/or provide a video recording

[2022-01-18 22:26] veracioux commented on #2280
@AndreaMarangoni The tool preview is supposed to be a red rectangle because the red color is selected. The only unintended behavior is that the rectangle is not a square, which I can indeed reproduce on MacOS Big Sur.

[2022-01-18 22:31] nettum commented on #2271
Got it, thanks for clarifying! Will check that issue. Let me know if I should do some more testing.
For the record, according to neofetch a clean Ubuntu 21.10 are running gnome 40.5.
![image](https://user-images.githubusercontent.com/798156/150028791-778dbaf6-5f82-4782-a48f-d94deb86fb78.png)

[2022-01-18 23:53] cmidkiff87 commented on #2264
This might be related to an issue that I've been trying to solve with [FreeRDP](https://github.com/FreeRDP/FreeRDP/issues/7181) on wayland.  Wayland (nor the xdg extensions) support a single wl_surface that full-screens across monitors (outputs).
I dunno if Qt5 or Qt6 have solutions to this. If my guess is correct, the reason this works when you set the `QT_QPA_PLATFORM=xcb` is that it forces Flam

[2022-01-19 00:36] 0lhi opened #2282 "Request: Invert the color of the "Leave the capture screen" button"
### Feature Description

Sometimes Fireshot is pressed on accident, and finding the close button can take a bit. Having it distinguished from the others would save some time.

[2022-01-19 00:37] borgmanJeremy commented on #2282
You can hit the esc key instead

[2022-01-19 09:25] vanheck opened #2283 "Crash after adding text area and clicking on the any other tool."
### Flameshot Version

[code]

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Fedora 35 + Gnome 41.3 (wayland)

### Description

Crash after adding text area and clicking on the any other tool.

### Steps to reproduce

1. `flameshot gui`
2. select area to take the screen
3. Click on the button Add text

[2022-01-19 11:31] borgmanJeremy commented on #2259
Weblate should have all the strings later today, i merged the changes but there is usually some delay to propagate.

[2022-01-19 11:31] #2259 closed

[2022-01-19 11:33] h0nus commented on #2279
Yes I have it:

[code]

Strangely, after some time without using PC, i've just tried to `killall flameshot` then tried with my custom keyboard shortcut that invokes `flameshot gui` and seems working again.
I wonder why

[2022-01-19 11:54] Gil80 commented on #2278
I tried using peek but the GIFs it generates are all black screen and it only shows the mouse cursor.

[2022-01-19 12:24] ZetaoYang commented on #2272
Qt 5.15.8 LTS is under commercial license. flameshot uses community license(LGPL), they are available on https://download.qt.io/official_releases/qt/5.15/.

- https://www.qt.io/blog/commercial-lts-qt-5.15.8-released

[2022-01-19 12:43] vanheck commented on #2283
Not sure if its the right command, but here is some locale settings:
[code]

[2022-01-19 14:55] mmahmoudian commented on #2283
I can reproduce this in a clean VM

[2022-01-19 15:02] pavangayakwad commented on #2156
@mmahmoudian It would be nice if I get deb package to install, test and confirm. 👍️ compiling from source has its own bit of challenges always..

![image](https://user-images.githubusercontent.com/1834890/150156710-4290d318-e4d3-452a-b88a-b5d3d17145f2.png)

[2022-01-19 15:22] MathiasVandePol commented on #2274
I am experiencing the same as @matteo-bloomandwild . Tried setting it to any other key combination but didnt work.