[2021-08-10 12:08] #1816 closed

[2021-08-10 12:11] mmahmoudian commented on #1816
I think you might find this interesting:
https://github.com/flameshot-org/flameshot/issues/1814#issuecomment-895660648

We should definitely push this forward, but I don't think we merge this in the next version or two as we have already a backlog of features and bugs to fix. In case you can  or know someone who can do the final touches on this opencv branch, it might even get to the next release.

[2021-08-10 12:19] mmahmoudian commented on #1816
I myself use Flameshot for some presentations and I need to have the cropping happens precise and fast (#1490), so I ended up putting together a dmenu script which I have showcased what it can do:
https://codeberg.org/mehrad/dmenu_shot/src/branch/main/docs/actions.md

perhaps this can also help you for the time being until we implement this in Flameshot.

[2021-08-10 17:38] edgimar opened #1817 "command line flag to silence notifications"
It would be nice if there were `-q` or `--quiet` command line flags that would silence any system notifications that would otherwise be generated by flameshot when using it via a script.

[2021-08-10 19:59] veracioux commented on #1740
Perhaps you are right about the overhead. I think your proposition is good.

I don't think this is necessary. IMO the options already have pretty descriptive names. And if someone wonders what an option does they can open the graphical menu to check. Besides, I don't know if QSettings lends itself well to this feature.

I meant to check if someone adds a config option that isn't recognized by flam

[2021-08-10 20:45] borgmanJeremy commented on #1817
100% agree

[2021-08-10 20:49] borgmanJeremy commented on #1814
I'd like to implement this with the openCV method rather than native window management. OpenCV will work much better for cross platform.

[2021-08-11 07:23] mmahmoudian commented on #1740
@veracioux

I agree that the names are descriptive enough. What I meant was to guide the user what type of input is acceptable. i.e `true`/`false`, hexadecimal color code, numeric, there is no `Enter` but rather `Return`, Ctrl, Shift, Del, ... should be capitalized, etc.

I agree that if it is not easy, we should not even go to that direction. But if it was easy and we wanted to automate it, we sh

[2021-08-11 07:37] mmahmoudian commented on #1765
@borgmanJeremy  iff (if and only if) you find my previous comment flawless (very unlikely 😅):

I quickly checked the #1812 and as I cannot vouch for the coding quality and style (out of my expertise), I can say that it kinda goes towards the direction I was aiming at. If I have understood the code correctly, it adds the double-click in parallel to the <kbd>Ctrl</kbd>+<kbd>c</kbd> and also the doub

[2021-08-11 09:02] Kolyunya commented on #170
1. You can not say that a memory leak is not a bug because it's present in some other program.
2. Notification widgets are an optional module of the OS. The program *must not* malfunction, when this particular module is not installeded in the OS.

[2021-08-11 10:00] veracioux opened #1818 "IRC or some other form of chat"
Recently I have been engaged in a few lengthy discussions and I have the feeling that it would be more efficient if we used some form of chat for some on-the-fly discussions and debugging. Also, sometimes I have a small question and don't know where to ask it. Opening an issue seems like a waste.

I suggest that we register an IRC channel. I have a hunch that a lot of the developers are familiar w

[2021-08-11 10:10] veracioux commented on #1817
@borgmanJeremy In that case I think it would be appropriate to add a `--config` option that allows you to choose a config file to which `flameshot config` applies. Actually, the `--config` option should be available to any subcommand and to the daemon.  Many CLI programs provide such an option.

[2021-08-11 10:56] zell-mbc commented on #651
I got the same on one of my machines. The Flameshot UI stays in English even though KDE and system settings are set to German:
[code]

Platform:
- Arch + KDE
- Flameshot v0.10.1

On this particular machine there seems to be an additional issue because the print button doesn't launch Flameshot even though I can see the dbus command coming through in journalctl. But for that I may need to open anoth

[2021-08-11 12:18] V0ldemrt commented on #170
But this is specific to KDE, and KDE is a Desktop environment and it has a panel by default

[2021-08-11 12:25] Kolyunya commented on #170
@V0ldemrt it does have a panel but it does not have notifications system by default.

[2021-08-11 12:28] borgmanJeremy commented on #1818
Right now we have a slack workspace . If we want to move away from slack I would prefer matrix.

[2021-08-11 12:30] borgmanJeremy commented on #170
You can also disable notifications from the config menu.

[2021-08-11 13:05] veracioux commented on #1818
@borgmanJeremy Sorry, I somehow missed that there is a slack workspace. Looking at [RFC.md](https://github.com/flameshot-org/flameshot/blob/2f087980729231b9d3c3d866e6b4a1cba1ec1f2f/docs/RFC.md), it seems that the URL doesn't work. Could you post a valid URL?

I would personally prefer IRC to slack, and matrix has a way to [bridge](https://matrix.org/bridges/#slack) them together.

[2021-08-11 13:23] borgmanJeremy commented on #1818
Yeah I actually bridge to slack through my matrix home server.

Here is the link: https://join.slack.com/t/flameshotworkspace/shared_invite/zt-kx50keyc-H2GHTjQmmC4X2oRgSeDIVg

[2021-08-11 14:14] mystiquewolf commented on #1656
Does this bug have to be reproduced by maintainers before its status can be set to "confirmed"?

[2021-08-11 14:29] mmahmoudian commented on #1656
@mystiquewolf it should be reproduced or reported by at least one other user other than the OP.

[2021-08-11 14:32] mmahmoudian commented on #1818
I have also made a Matrix channel for Flameshot:

https://matrix.to/#/#Flameshot:feneas.org

[2021-08-11 15:09] mmahmoudian commented on #170
@Kolyunya

If the application is designed that way then it *can* require user to have notification daemon. Really that simple 😉

You can not turn off the notification requirement in the Flameshot's config file. I hope it helps

The OP has mentioned that they use KDE Plasma, and KDE Plasma by default and by design do ship with panel and notification daemon.

To address the issue, other than the fla

[2021-08-11 15:30] V0ldemrt commented on #170
And thats what I said to enable notifications,

I didnt understand exactly, are you agreeing with me or disagreeing?

[2021-08-11 16:11] slondr commented on #170
@V0ldemrt This issue (ie this GitHub Issue) is specific to kde. This issue (ie the actual problem) is not specific to kde.

[2021-08-11 16:53] V0ldemrt commented on #170
Yes, but the root problem is fixed through my solution
Which is to enable notifications

The problem is not only in copying to clipboard, but other options like save as well
Whenever it tries to send notifications, if there is no daemon to handle notifications it will crash

[2021-08-11 16:54] borgmanJeremy commented on #170
You can also disable flameshot notifications as I stated above.

[2021-08-11 21:33] ScriptyChris commented on #1172
Just wanted to share that i had similar problem and found even simpler way by using custom shortcut assignment (at least it works in Linux Mint Cinnamon 19.3). Inspired by [this](https://www.cyberciti.biz/faq/what-does-the-sleep-command-do-in-linux/) and [that](https://flameshot.org/advanced/command-line-options/#usage:~:text=open%20GUI%20with%20a%20delay%20of%202%20seconds):

1. Open `Keyboard` a

[2021-08-11 22:23] AnaJuliaSilvaOliveira opened #1819 "It doesn't take screen shots with the "print screen" button in Win64 version 0.10 (most recent). Good app."
**Flameshot version**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**System Information**

[2021-08-11 22:24] AnaJuliaSilvaOliveira commented on #1819
It doesn't take screen shots with the "print screen" button in Win64 version 0.10 (most recent). Good app.

[2021-08-11 22:28] #1819 closed

[2021-08-12 00:29] homemmakako commented on #1755
Also having the same problem: Flameshot works but only opens the GUI on one monitor. (In my case, only the secondary monitor)

<details>
  <summary><b>System and Version Info</b></summary>

**Wayland Protocols**: 1.21-1
**OS**: Manjaro (KDE)
**Kernel**: Linux 5.13.8-1
**Flameshot**: 0.10.1 (Compiled with Qt 5.15.2)

</details>
<details>
  <summary><b>Logs</b></summary>

[code]

</details>

[2021-08-12 01:49] ZetaoYang commented on #1235
@mmahmoudian Is this a legacy? https://opencollective.com/flameshot

[2021-08-12 05:59] mmahmoudian commented on #1235
@ZetaoYang interesting! It never came up in my searches. It is definitely a legacy account and we should close it. As I have also mentioned on Slack, I have opened an account for Flameshot on Rysolv and we are testing it. The idea is to use donations to directly improve the software and to reduce some of load from the main devs.

https://rysolv.com/repos/detail/2ce10839-c350-47b1-89a4-2ee9cf0e0678

[2021-08-12 06:53] vacri commented on #1751
Not just a "potential" for incidents - I just doxxed myself to imgur right now due to this problem. I've been using flameshot for quite a while now, and took a screenshot of a purchase receipt page (print to pdf wasn't working). I accidentally clicked the small white blob icon with an up arrow (upload) instead of the small white blob icon with a down arrow (save to disk), saw a window pop up I've

[2021-08-12 07:29] thegass commented on #564
same issue on pop_os 21.04 on my 4k screen with 125% scaling.
screen flashes wildly between resolutions and either stays then on 200% or only the topleft corner of the screen is selectable.
makes this great tool unusable on thist screen.

[2021-08-12 09:32] mmahmoudian commented on #1751
@vacri simply right-click on the tray icon, then click on "Latest uploads" and if it is uploaded, you can find the link and even delete it.

![image](https://user-images.githubusercontent.com/390889/129173983-6fcdbf39-1edf-4a58-91d2-fa5be0a109da.png)
![image](https://user-images.githubusercontent.com/390889/129174133-2a557a00-3edc-4c4f-9b3f-64e9a69434fa.png)

[2021-08-12 10:26] erlisdhima opened #1820 "Error when starting from cli (flatpak)"
When starting flameshot (flatpak version) from cli, I get this error:
[code]

This could also be related to another issue I'm having when switching to different screens.
Flameshot works fine when I have my laptop connected to an external screen. Once I disconnect to that screen and try to take a screenshot, it messes up my laptop screen resolution (everything is zoomed in).
But when I try to open

[2021-08-12 14:03] anishmittal2020 opened #1821 "Rotate screenshot before saving"
Would be useful if its possible to rotate the rectangular selection box, by **arbitrary angle**, before saving the screenshot?

[2021-08-12 16:57] mmahmoudian commented on #1820
Basically when you run Flameshot without arguments, all you are doing is running the daemon. You should then try to run Flameshot with `gui` argument from another terminal

[2021-08-12 17:45] mmahmoudian commented on #1821
To my understanding it is a very niche use case and slightly out of the scope of a screenshot tool as usually everything is aligned on a screen. That said, I can see that it can be a module, sort of like when one click on the handles on an object in Inkscape or LibreOffice. So I mark this as enhancement and let the community show their support 👍🏼

[2021-08-12 18:48] rm-greenzie opened #1822 ""Open the Capture" Feature Doesn't List All Programs"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.9.5

**Environment**
Ubuntu 18.04

**Describe the bug**
Not all of my programs show up when I try to choose a program to edit the capture. The program in question was install via snap.

**To Reproduce**
- Install Inkscape via snap.
- Use flameshot to take a screenshot.
- Try to open the capture with inkscape

**Expected behavior**
That it

[2021-08-13 01:37] vacri commented on #1751
@mmahmoudian Thanks for the support response - I did find the uploads list after poking around a bit more. I usually left-click on the tray icon so don't play much with the config or right menu button.

In my case, the image is not in the list for me to remove. When the upload popup happened, it took me a moment to realise what it was, then when I realised it wasn't going to offer a confirmation p

[2021-08-13 05:52] GongHeng2017 commented on #1765
![image](https://user-images.githubusercontent.com/32997802/129311115-3707fc93-b208-4d89-95b2-76a0710e9aa7.png)
@mmahmoudian    Change like this is ok?

[2021-08-13 06:18] mmahmoudian commented on #1765
@GongHeng2017 thank you for the comment and your PR. It is great to have the community coming up with solutions and PRs.

We usually have to discuss features that drastically changes how user interact with Flameshot. This case though is a borderline one as it potentially doesn't change the previous approach, but rather creates an alternative. As I'm not experience enough with C++, others especiall

[2021-08-13 06:33] mmahmoudian commented on #1751
@vacri the reason I put that comment despite of your "update", to your previous comment was to help users to find the answer if Google brings them to this thread. I'm sorry that it was not direct answer to your concern.

About the upload and closing window, I'm not familiar with the codebase to the extent to tell you if closing that window will interrupt the upload or that window is just symbolic

[2021-08-13 09:12] erlisdhima commented on #1820
Hi @mmahmoudian , yes, providing the argument `gui` worked fine. Thanks!
Is it possible to show the help info by default, instead of throwing those errors?

For the resolution, I was able to get a screenshot using the default ubuntu screenshot tool.

![image](https://user-images.githubusercontent.com/7734108/129333726-dde550a5-20ce-46de-82ef-a5512e77fb02.png)

See the flameshot area is not full sc

[2021-08-13 20:06] mmahmoudian commented on #1820
@erlisdhima running `flameshot` only starts the daemon, in other words it starts a service and if you have tray area it shows the icon there (stupidly enough gnome has removed the tray bar but there is an [easy solution on our website](https://flameshot.org/guide/troubleshooting/#linux)) users should run the Flameshot in the background first (for example via `flameshot &` or using the startup or t

[2021-08-13 20:24] erlisdhima commented on #1820
Both screens have a 1920x1080 resolution. I usually disable the laptop screen and use external screen only when connecting to the external screen.
The issue happens when disconnecting from the external screen.
When trying to take a screenshot using shortcuts, Flameshot zooms in the entire screen, and keep "refreshing" the screen, and it ends up in high CPU usage. Until I cancel, kill the running f

[2021-08-14 05:50] ircsasw commented on #635
Same problem: won't copy to clipboard

Flameshot:

[code]

System:

[code]

Config:

[code]

[2021-08-14 06:18] mmahmoudian commented on #635
@ircsasw There is a part in your config file that is wrong (a bug that has been fixed already: #1796). just change the value of `setSaveAsFileExtension` to `setSaveAsFileExtension=.png`

Now, back to your issue: how have you installed Flameshot? I just wonder if the issue is reproducible with the latest version. Is it possible for you to install the latest Flameshot version using either `.deb` fil

[2021-08-14 07:05] ircsasw commented on #635
@mmahmoudian ...

Remove:

`sudo apt remove flameshot`

Download `.deb` and install:

`sudo dpkg -i Descargas/flameshot-0.10.1-1.debian-10.amd64.deb`

Problem persists...

Uninstall, download `.sanp` and install:

`sudo snap install --force-dangerous Descargas/flameshot-0.10.1-1.amd64.snap`

Problem persists...

Uninstal, install `.deb` with right-clic "Software".

Probelm persists...

Flameshot:

[2021-08-14 08:18] mmahmoudian commented on #635
@ircsasw

1. Did you kill Flameshot after before uninstalling (e.g using `pkill -i flameshot`)?
2. Also, considering that you are using Gnome and you have `disabledTrayIcon=false` in your config file, do you happen to have systray and also do you see Flameshot tray icon?
3. Does the other part of Flameshot work for you? for example `flameshot full --path ~/Pictures/`  or if you have ImageMagic `fl

[2021-08-14 20:55] santilococo opened #1824 "Broken cursor after screenshot"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
Every time I launch the flameshot gui, my terminal cursor breaks.

**To Reproduce**
Just launch flameshot gui and copy to clipboard.

**Expected behavior**
Normal behavior: https://i.imgur.com/rsvKvRH.png
Unexpected behavior: https://i.imgur.com/tFLDpKT.png

**System Information**
Linux archLinux 5.13.9-arch1-1

[2021-08-14 23:12] nullobsi commented on #1705
i implemented proper scaling support for the screenshot gui on sway/Wayland, but I only tested it with one 2x screen and one 1x screen

my guess is that the fractional scaling may confuse the devicePixelRatio and so Qt doesn't scale the image to fill the entire window
https://github.com/flameshot-org/flameshot/blob/2f087980729231b9d3c3d866e6b4a1cba1ec1f2f/src/utils/screengrabber.cpp#L108

[2021-08-15 06:29] mmahmoudian commented on #426
Other than the one about appending the name of the application under the cursor, everything else is already implemented. I'm also not sure how such naming using the application can be useful. Somehow feels like a very small niche use case.

[2021-08-15 16:38] mmahmoudian commented on #1824
I remember that this was mentioned in another thread but after 10 minutes of searching I couldn't find it.

Anyways, there are few more things that I need you to report as this is not reproducible on my Manjaro machine

Tell us:
- that shell do you use (e.g bash, zsh, fish, nushell)
- what terminal application do you use and if you have the GPU processing enabled in it
- are you on X11 or Wayland

[2021-08-16 10:30] santilococo commented on #1824
Hi!

- zsh shell
- alacritty (with GPU processing) and st terminal (dont know if it is enabled or not)
- X11

The cursor will be broken throughout the life of the terminal. If I open vim, it will be like this as well https://i.imgur.com/tFLDpKT.png and it will not change when going to normal mode or insert mode for example. It is really annoying.

[2021-08-16 10:46] veracioux commented on #1824
I have the same problem. (Arch, alacritty)

The problem seems to be  that after flameshot closes, alacritty does not receive focus again. I would have to click on another window and then on alacritty again to focus it properly.

I have a suspicion that this is caused by the window manager (i3 in my case), specifically because it is a tiling one.

@mmahmoudian @santilococo Which WM/DE do you use?

[2021-08-16 15:21] ircsasw commented on #635
What I did was uninstall, restart the system and install the application version 0.10.1 from the `.deb`; with that now it's working.

Thanks @mmahmoudian

[2021-08-16 15:42] santilococo commented on #1824
Hi. I also use a tiling window manager (DWM).

[2021-08-16 15:50] mmahmoudian commented on #1824
I use KDE Plasma on one computer and AwesomeWM on the other and on both I use Alacritty and on Plasma I also use Yakauke and Konsole as well. On Plasma I definitely do not have this issue. I will re-check AwesomeWM and post here, but as far as I can recall i don't have any issue there with Alacritty either.

[2021-08-16 18:06] santilococo commented on #1824
OK. TY.

[2021-08-16 18:13] santilococo commented on #1824
@veracioux Indeed. It seems to be a 'focus' problem. If I manually focus the terminal, the cursor will fix.

[2021-08-16 23:06] R3FR4G commented on #1822
Same here, i'm trying to use Pinta to open the capture but it is not in the list and it doesn't seem like you can manually specify a command.
In my case, i built Pinta from source

[2021-08-17 09:54] rjousse18 opened #1826 "Warning: QT_DEVICE_PIXEL_RATIO is deprecated."
0.10.1

When I launch flameshot I have this error :
Warning: QT_DEVICE_PIXEL_RATIO is deprecated. Instead use:
   QT_AUTO_SCREEN_SCALE_FACTOR to enable platform plugin controlled per-screen factors.
   QT_SCREEN_SCALE_FACTORS to set per-screen factors.
   QT_SCALE_FACTOR to set the application global scale factor.

**Expected behavior**

**System Information**
Zorin 0S 16 Beta (Ubuntu 20.04)

[2021-08-17 10:48] kerossin commented on #1386
I have the same problem on openSUSE Tumbleweed KDE and only on the Wayland session, X11 works perfectly.
Flameshot v0.10.1
Compiled with Qt 5.15.2

Laptop with a 1920x1080 screen on the left and a 2560x1440 monitor on the right. If I try to take a screenshot it always opens on the monitor but it has the view of what is on the laptop screen, it doesn't matter if I launch it from being on laptop scr

[2021-08-17 19:03] borgmanJeremy commented on #1826
My guess is this is an issue with the Zorin WM setting the wrong QT variables.

[2021-08-18 02:50] fsevenm commented on #1559
My workaround,

![image](https://user-images.githubusercontent.com/29963765/129828586-dc8bd073-295c-4f9b-aad6-d5609ea6669a.png)

Set `Enter` as a shortcut for copy to clipboard instead of `Ctrl` + `C`.

![image](https://user-images.githubusercontent.com/29963765/129828867-20308fd4-6b09-4ef6-9e22-d0c01f2925c8.png)

Call `flameshot gui`, hit `Enter`, and there you go.

[2021-08-18 09:56] mmahmoudian commented on #1386
@kerossin I believe your issue is not related to this thread. But to be sure, would you please provide some example of what Flameshot should capture and what it really captures. Also please include the command you use (e.g `flameshot gui` or `flameshot screen` or `flameshot full`).

[2021-08-18 10:00] mmahmoudian commented on #1822
@R3FR4G Considering that Pinta is available everywhere (snap, flatpak, AUR, official repos, ...), I wonder how have you installed Pinta, and also what OS you are using.

[2021-08-18 15:24] R3FR4G commented on #1822
I used the instructions in Pintas README file (running autogen.sh, make, make install) and I'm on Mint 20.2 Cinnamon.
The versions distributed on flatpak and snap doesn't seem to be the latest ones and as the original message says, it would most likely be better for Flameshot to either list all applications or let you type the command to be executed

[2021-08-19 00:47] njminchin commented on #417
This is a must-have feature - I can't use Flameshot without it :( back to Greenshot for now

[2021-08-19 02:31] matheusfillipe opened #1827 "Option to remember last region"
Flameshot could optionally remember the last region/rectangle that was used. It could be an option with the `flameshot gui` command.

[2021-08-19 06:07] gaduaxe commented on #1543
I got same issue here: cannot Check on "JPG using" and also output file cannot be "JPG"

Plz fix

[2021-08-19 06:24] mmahmoudian commented on #1827
@matheusfillipe  Isn't this exact duplicate of #1509?

[2021-08-19 06:26] matheusfillipe commented on #1827
Yes it is. Sorry for duplicating!

[2021-08-19 06:26] #1827 closed

[2021-08-19 06:27] mmahmoudian commented on #1509
I think this is featured request is also related to #417

[2021-08-19 06:32] mmahmoudian commented on #1827
@matheusfillipe no worries, keep sending your nice ideas 👍🏼

[2021-08-19 12:16] veracioux commented on #1543
@gaduaxe Are you using the version of flameshot from the latest commit on master? Or at least from [this commit](https://github.com/flameshot-org/flameshot/commit/b2ecb70e386c51315d25fd1ab5b45a7bfc9e04a9). Also, you might have to close the flameshot daemon if it was running previously.

[2021-08-19 16:08] mmahmoudian commented on #1822
@R3FR4G do you have .desktop file for pinta then?

[2021-08-19 23:03] Creteil opened #1828 "Ubuntu 21.04 deb package building from source fail with error..."
**Flameshot version**
latest commit 0.10.1-25-g39afd66

**Describe the bug**
Trying to build using the « packaging/debian » from repository fail.

**To Reproduce**
[code]

**Expected behavior**
debian package created.

**System Information**
Ubuntu 21.04 hirsute

Building package process fail with error :

[100%] Built target flameshot
make[2] : on quitte le répertoire « /home/bigbob/tmp/Building/

[2021-08-20 02:20] ZetaoYang commented on #1828
The bold part of the error message is translated into English,
**make[3]: *** [external/singleapplication/CMakeFiles/SingleApplication_autogen.dir/build.make:74 : external/singleapplication/CMakeFiles/SingleApplication_autogen] Error 255
make[3]: we leave the directory " /home/bigbob/tmp/Building/flameshot/flameshot/obj-x86_64-linux-gnu "
make[2]: *** [CMakeFiles/Makefile2:305 : external/singleapp

[2021-08-20 04:39] websitevirtuoso commented on #1622
@mmahmoudian
1 terminal

viktord@blade:~$ pkill flameshot
viktord@blade:~$ flameshot --version
Flameshot v0.10.0
Compiled with Qt 5.15.3
viktord@blade:~$ flameshot
QSettings::value: Empty key passed
QSettings::value: Empty key passed
QSettings::setValue: Empty key passed
QSettings::value: Empty key passed
QSettings::setValue: Empty key passed

In the second terminal I did command
flameshot gui
and

[2021-08-20 04:43] websitevirtuoso commented on #1622
Still doesn't work, I even can't use a second monitor. Don't know why. But wayland doesn't work for me((

[2021-08-20 05:53] mmahmoudian commented on #1622
@websitevirtuoso  how have you installed Flameshot on you KDE Neon?

[2021-08-20 06:02] websitevirtuoso commented on #1622
I build it by instruction on github. To use latest version

[2021-08-20 06:06] websitevirtuoso commented on #1622
Build
After installing all the dependencies, finally run the following commands in the sources root directory:

mkdir build
cd build
cmake ../
make

[2021-08-20 06:10] websitevirtuoso commented on #1622
I even tried to remove it and install via apt-get install flameshot. but the same error

[2021-08-20 07:22] gaduaxe commented on #1543
Hi @veracioux

Im using version https://github.com/flameshot-org/flameshot/releases/tag/v0.10.1

I am an end-user so cannot myself build a custome version - just download & use the official version

[2021-08-20 09:08] veracioux commented on #1543
@gaduaxe That version was released before this issue was fixed. Besides, you don't have to build it yourself - each commit on master contains a built version of flameshot that you can download. All you have to do is click on the check mark next to the [commit](https://github.com/flameshot-org/flameshot/commits/master) you want, and do the following:
1. Click the check mark next to it and from the

[2021-08-20 13:55] jflambert commented on #1440
Using Ubuntu 18.04, dual monitor with exact same geometry (Dell 23" 1920x1080)

When I use Flameshot on the primary monitor, everything works well

When I use it on the secondary monitor, the tools don't show up and right-clicking to choose color doesn't work.

[2021-08-20 14:51] OrkunTokdemir commented on #1259
it will make it configurable.

[2021-08-20 14:54] AShuba commented on #1144
Flameshot v.0.10.1
Compiled with Qt 5.12.3
Ubuntu 20.04

Same issue.

$cat ./135/.config/flameshot/flameshot.ini
[General]
contrastOpacity=188
copyPathAfterSave=true
disabledTrayIcon=false
drawColor=#ff0000
drawThickness=2
saveAfterCopyPath=/home/shuba/Pictures
savePath=/run/user/1000/doc/af195290

[2021-08-20 20:48] zdmitchell opened #1830 "Strange controls behavior with multiple monitors on Windows 10"
**Flameshot version**

0.9.0 installed using scoop

**Describe the bug**

These are my displays:
![image](https://user-images.githubusercontent.com/51836911/130290244-49a6845d-5bfb-4f06-ad1a-40b65a3ff43f.png)
The right display is my main display.

<details>
<summary>When capturing an image on the left display, everything works great.</summary>

![screenshot1](https://user-images.githubusercontent.

[2021-08-20 21:15] borgmanJeremy commented on #1830
This is fixed in the latest version. The scoop package is out of date but we don't directly maintain that.

[2021-08-20 21:59] firefoxlover opened #1831 "Doesnt react after opening save location menu"
**Flameshot version**
stable, 25.07.21 flatpak

**Describe the bug**
When I open the settings and want to edit the save location (to not directly /media/$USER/pictures but like /pictures/screenshots) it just doesn't react anymore and I have to close it in the task manager. I cant click anything, not even the close-"x".

**To Reproduce**
Open settings, click on change location

**Expected behavior*

[2021-08-21 01:48] ZetaoYang commented on #1830
Update https://github.com/lukesampson/scoop-extras/pull/6669

[2021-08-21 03:51] ZetaoYang commented on #1828
I tried to build flameshot on https://labs.play-with-docker.com docker environment Ubuntu 21.04, here is my steps,
1. login play-with-docker via ssh, ssh -i C:/Users/your user name/.ssh/play_with_docker_rsa ip172-18-0-35-c4g66pnnjsv000ehlmo0@direct.labs.play-with-docker.com
2. `docker pull packpack/packpack:ubuntu-hirsute`
3. `docker run --name build -it packpack/packpack:ubuntu-hirsute`
3. instal

[2021-08-21 12:02] R3FR4G commented on #1822
Oh that's what it's looking for, i created one and now it works, thanks!

[2021-08-21 21:50] Creteil commented on #1828
OK, fixed it with :

[code]

Then building process end without error :

[code]

Hope it help...

[2021-08-21 23:53] #1828 closed

[2021-08-22 02:50] mhalano opened #1833 "`flameshot gui` always save in the clipboard"
**Flameshot version**
v0.10.1

**Describe the bug**

I try to capture a selection of the screen and save to a file, but it always went to the clipboard. I'm using the command `flameshot gui --path /tmp`. Since I'm using --path the screenshot should be saved there. II use other commands like `flameshot screen --path /tmp` and works fine.

**To Reproduce**

1. Execute `flameshot gui --path /tmp`
2.

[2021-08-22 08:01] mmahmoudian commented on #1440
@jflambert what is your DE? Are you on Xorg or Wayland? If you need help figuring out how to get these, check out [here](https://flameshot.org/guide/issue-reporting/)

[2021-08-22 08:06] mmahmoudian commented on #1831
@firefoxlover would you please record a video for us to understand the situation better?

You can use [peek](https://github.com/phw/peek) and select MP4 from the top left button of peek. You can the upload the MP4 directly to GitHub.

Please keep it short and without personal information

[2021-08-22 08:09] mmahmoudian commented on #1833
@veracioux considering that you recently worked on adding `--clipboard` to `flameshot gui`, you might have a fresh memory of the codebase and if this issue is related or not.

[2021-08-22 08:13] mmahmoudian commented on #1822
@rm-greenzie would you please also confirm this? Basically is there any app that has a `.desktop` file but does not show in the listed apps? These files should be at `/usr/share/applications/` or at `~/. local/share/applications/`.

[2021-08-22 08:17] mmahmoudian commented on #1830
@zdmitchell shall we close this issue?

[2021-08-22 09:56] dragonlayout opened #1834 "CLI flag to pin screenshot right after capture"
**Is your feature request related to a problem?**
No. Just a use case

Before I use flameshot, I used Snipaste on windows(see the gif below) and Snappy on macos, both have a kind of shortcut for take a screenshot and automaticlly pin the image on the screen.

The action is press down PrtSc, enter screenshot mode, after mouse press down and up choosing the area, the image automaticlly pin on the sc

[2021-08-22 10:00] firefoxlover commented on #1831
Uploading flameshot_fileselection_doesnt_react.mp4…

[2021-08-22 10:36] veracioux commented on #1833
I could not reproduce the issue on ubuntu 20.04 (snap, v0.10.1).
And I do not see which part of the code could cause the issue.
@mhalano Could we see your flameshot configuration?

[2021-08-22 12:34] mhalano commented on #1833
@veracioux I was doing more tests today and found Snap isn't very functional, at least for me, so I got the Deb package from Debian (it has the latest version) and installed on Ubuntu 21.04. I think I misunderstood how to use the tool: After I execute `flameshot gui --path /tmp`, I can select part of the screen, but I couldn't save when pressing Enter (that was said in pop-up, to press Enter to ca

[2021-08-22 12:34] #1833 closed

[2021-08-22 12:43] mhalano opened #1835 "Enter doesn't save the screenshot during a selection"
**Flameshot version**

 v0.10.1

**Describe the bug**

I'm unable to press enter to save the capture of a selection of the screen. I have to click in the save icon (the diskette) to save. I think that is not the desired procedure because the pop-up message specifically said to click enter to save the capture.

**To Reproduce**

1. Execute Flameshot: `flameshot gui`(but could be any other way to sa

[2021-08-22 12:44] mhalano commented on #1833
I opened this bug which, I think, is the correct one #1835

[2021-08-22 13:34] #1818 closed

[2021-08-22 13:37] veracioux commented on #1835
This is the same issue as #1813.

[2021-08-22 13:38] veracioux commented on #1813
I volunteer to implement this :)

[2021-08-22 21:49] slightlyfaulty opened #1836 "Screenshots not saved to Save Path"
**Flameshot version**
41ca51bc
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
Saving a captured area always saves directly in my home folder. It does not use the **Save Path** set in the configuration GUI.

**To Reproduce**
Change **Save Path** to something random. Capture an area of the screen and click save. The screenshot file is saved under `~/`.

**Expected behavior**
Screens

[2021-08-22 21:55] slightlyfaulty commented on #1835
It does not say that. Is says "Press Enter to **capture the screen**", which is exactly what it does.

In any case you can assign a shortcut to save the capture instantly.

[2021-08-23 05:01] mmahmoudian commented on #1834
Such automated sequence of actions are typically done via command line in the software I use (as a keyboard shortcut can be configured to run a specific command). That said, no we don't have a command line flag to pin the selection.

World such command line flag (e.g `flameshot gui --pin`) be satisfactory?

[2021-08-23 05:04] mmahmoudian commented on #1836
@slightlyfaulty would you please provide your config file (`~/.config/flameshot/flameshot.ini`)

[2021-08-23 05:06] mmahmoudian commented on #1834
If such cli flag is implemented, I believe #1531 would become even more important.

[2021-08-23 06:12] dragonlayout commented on #1834
Yes, conmand line flag could be a good option.

[2021-08-23 06:20] zdmitchell commented on #1830
Yes. Thanks for the help everyone!

[2021-08-23 06:20] #1830 closed

[2021-08-23 13:25] balazsorban44 commented on #1738
Having the same issues, even when I am not on Wayland:
![](https://i.imgur.com/3kgNVpr.png)
![](https://i.imgur.com/IIMJ8Ij.png)

[2021-08-23 13:31] arunjoys commented on #2
I was also facing

I was also facing the issue. I made other monitor as my primary monitor and Issue resolved

[2021-08-23 14:12] phillips321 opened #1837 "Feature Request - Save file AND copy to clipboard"
Is there a way to save the screenshot and copy to clipboard at the same time?

[2021-08-23 15:45] speakradmin commented on #1769
Can confirm this is also happening for me. Fedora 34 on Wayland. Just get an error saying "unable to capture screen"

[2021-08-23 16:40] rm-greenzie commented on #1822
So inkscape I found a few .desktop files for inkscape
[code]
but added them to `~/.local/share/applications/` only had partial success. The Good: inkscape did show up as an application to choose on the menu. The Bad: clicking on it didn't actually open inkscape.

Not sure if this is a one-off issue with the inkscape .desktop file or not. I can open .png files with inkscape normally

[2021-08-23 17:37] slightlyfaulty commented on #1836
<details>
<summary>flameshot.ini</summary>

[code]

</details>

[2021-08-23 17:39] Markkop commented on #1259
Hey, there! What if it's possible to trigger the capture action by biding a shortcut in this Keyboard Config?
<img width="632" alt="image" src="https://user-images.githubusercontent.com/16388408/130492170-e6be1abd-3c0a-4a56-8ac3-717fe510dd5b.png">

[2021-08-23 18:00] kossa commented on #1259
It does not work for me

[2021-08-23 19:00] veracioux commented on #1836
@slightlyfaulty When you click save, do you get a file dialog first? Does the dialog open in the configured directory?

Using your config on my system (Arch, i3wm), the save function works correctly. Except for a weird file name showing up in the dialog, but you can fix that:

Just change the config line
`setSaveAsFileExtension=Portable Network Graphic file (PNG) (*.png)`
to
`setSaveAsFileExtensio

[2021-08-23 19:13] veracioux commented on #1837
@phillips321 There is a configuration setting called *Save image after copy*. If you enable it, every time you copy the screenshot, it will be saved to the default save path you have configured. You can change this setting in the configuration window, under the *General* tab.

[2021-08-23 19:17] slightlyfaulty commented on #1836
I changed that setting to `setSaveAsFileExtension=.png` but it hasn't made any difference to the save location. In a previous version I noticed the filename bug, but it seems like it's fixed in the latest commit.

Saving a screenshot does not open a file dialog anymore since updating to the latest commit. Now it saves instantly and shows a nice desktop notification. This is a welcome improvement,

[2021-08-23 19:44] veracioux commented on #1836
@slightlyfaulty Can you kill the flameshot daemon (e.g. using `pkill flameshot`) and try that again? Sometimes issues can be caused by a version mismatch between the daemon and the `flameshot gui` command.

[2021-08-23 20:38] slightlyfaulty commented on #1836
@veracioux No change unfortunately.

For reference, this is the desktop notification that pops up after clicking save on a screenshot:

![screenshot-20210823-212057](https://user-images.githubusercontent.com/2036475/130516053-d7e97f6d-cfcf-47cc-b066-f09002ea8d7a.png)

[2021-08-23 22:07] veracioux commented on #1836
@slightlyfaulty I'm sorry, due to my clumsiness I wasn't using the correct flameshot version so I wasn't getting the bug. I have identified the error and fixed it in a pull request. Please install flameshot from the PR and let me know if everything works as expected.

[2021-08-23 23:33] metruzanca commented on #1121
I am also not able to copy to clipboard. I have xclip installed and I'm fairly certain I have the notification daemon as I get a notification when I start flameshot. I am able to save screenshots but not copy them to clipboard.

[2021-08-23 23:49] metruzanca opened #1840 "Flameshot isn't copying to clipboard"
**Flameshot version**
0.10.1

**Describe the bug**
After selecting an area, ctrl+c or clicking the copy icon. Flameshot is telling me that something is being copied to clipboard but running `xclip -sel clip -o -t image/png` shows that nothinb was added to the clipboard.

EDIT: seems like disabling `useJpgForClipboard` fixes the issue, which is quite strange. Is that option bugged?

**Expected beha

[2021-08-24 00:08] veracioux commented on #1840
@metruzanca Perhaps the issue was that you were using `-t image/png` while the output was in jpg format?

[2021-08-24 00:12] slightlyfaulty commented on #1836
Yup, works perfectly! 🥳

[2021-08-24 00:20] slightlyfaulty commented on #1836
Oops I may have spoken too soon. My cwd was the same as my configured save path, so it looked like it worked. But I'm actually still seeing the same issue.

[2021-08-24 00:25] veracioux commented on #1836
@slightlyfaulty Make sure that both the running daemon and `flameshot gui` use the same flameshot version. If that doesn't work, I'll look into it tomorrow because I have to go sleep now :)

[2021-08-24 00:26] slightlyfaulty commented on #1836
Nope I just cloned the wrong branch. It's working 😆

I did like the dialog-less saving previously. But I guess that wasn't intended...

[2021-08-24 00:31] veracioux commented on #1836
@slightlyfaulty That's what the `--path` option is for.

[2021-08-24 04:41] troy-lamerton commented on #1259
This GitHub issue has many participants so please keep off-topic discussions to a minimum.

The collaborators have already pointed out where to change the hard-coded value.

I would propose this:

- Change [hard-coded shortcut](https://github.com/flameshot-org/flameshot/blob/v0.10.1/src/core/controller.cpp#L95-L96) to something easy
- `⌘ + shift + X` is recommended in comment https://github.com/fl

[2021-08-24 04:48] metruzanca commented on #1840
@veracioux Ah, yeah thats a dumb missight on my part.

Also the actual reason I made this issue (*which probably should have been mentioned, sorry*) was that for some reason screenshots copied to clipboard with `useJpgForClipboard` weren't pastable in other apps e.g. signal-desktop or discord for some reason. This isn't an issue with those apps as if I copy [this jpeg](https://onlinejpgtools.com/i

[2021-08-24 05:11] ctaetcsh commented on #1259
Seeing these updates, it's hard not to get somewhat frustrated because as far as I can tell this is what we've learned:
* The key combination can be set to basically anything and have it work fine
* The code and UI work to change key shortcuts is there
I can't be the only one who feels like the solution here is fairly straight forward. Telling people to "go do the work and open a PR" isn't helpful

[2021-08-24 05:23] mmahmoudian commented on #1840
Either a duplicate of #1738 or very much related to it (similar issue with pasting in Discord). The difference I see is that in this thread because of xclip the user have Xorg but in the other one they have Wayland.

[2021-08-24 05:32] mmahmoudian commented on #1836
@slightlyfaulty & @veracioux should we consider this closed as @veracioux was super kind, investigated and created a PR?

[2021-08-24 05:36] mmahmoudian commented on #1840
@metruzanca considering you [other comment](https://github.com/flameshot-org/flameshot/issues/1121#issuecomment-904203971), would you please check if you are on Xorg or Wayland? If you don't know how, please visit [here](https://flameshot.org/guide/issue-reporting/)

[2021-08-24 07:32] metruzanca commented on #1840
@mmahmoudian I'm using X version 1.20.13 & plasmashell version 5.22.4

[2021-08-24 07:34] metruzanca commented on #1840
To clarify, my response from earlier `-t image/jpeg` does indeed show that content was added to che clipboard, but other apps don't seem to recognize it as valid for pasting images.

[2021-08-24 08:04] slightlyfaulty commented on #1836
Fine by me. #1838 fixes the issue.

[2021-08-24 08:24] function2-llx commented on #564
Is there any progress since then? Wondering we have to use Qt6 to resolve the issue according to this topic on Qt forum.

[2021-08-24 10:17] #1836 closed

[2021-08-24 12:16] veracioux opened #1842 "Deleting the config file leaves me with no keyboard shortcuts"
If I delete the config file, I am left with no keyboard shortcuts. This means that new users will have to manually add the shortcuts. I think I remember that a previous version of flameshot would fall back to default shortcuts in that case. Was that feature removed intentionally or is it a bug? It is also possible that I have introduced the bug while working on some bug fixes :)

I would like to i

[2021-08-24 12:26] borgmanJeremy commented on #1842
Yes it used to come up with default. I would bisect the code to see where it was introduced.

We disabled image upload hotkeys until we add a confirmation dialog to uploads. We had too many instances of users accidentally uploading data.

[2021-08-24 13:24] borgmanJeremy commented on #1259
There's no contention on changing this to be configurable. I don't have easy access to a Mac to do testing on so I am prioritizing other issues with my limited free time.

[2021-08-24 14:07] jflambert commented on #1440
@mmahmoudian

[code]

Incidentally, my version of inxi is 2.3.56-00 (2018-01-17) and the options on your issue-reporting page (--system and --graphics) don't seem to be supported.

[2021-08-24 17:22] veracioux commented on #1842
I started bisecting the code from v0.10.1 where the feature worked. But it didn't work as well as I would like it to. If I deleted the file while the daemon was running, the default shortcuts would not work. So I implemented the fix myself, using the opportunity to refactor a little.

[2021-08-24 17:57] #1842 closed

[2021-08-24 18:16] ctaetcsh commented on #1259
Thank you.

[2021-08-24 21:37] veracioux commented on #1559
Can this be closed now?

[2021-08-25 01:08] #1559 closed

[2021-08-25 01:19] Mobuos commented on #207
Seems then that the culprit at least in my case was the [custom shortcuts for kde](https://github.com/flameshot-org/flameshot/blob/master/docs/shortcuts-config/flameshot-shortcuts-kde) that I imported into kde, which passes `'Pictures/Screenshots' 0 0` to flameshot, overwriting user configs?

[2021-08-25 06:08] mmahmoudian commented on #1769
@speakradmin To me it does not seem that your issue of the same as the one that is discussed in this thread, as there is no mention of the "unable to capture" error in their post.

Regardless, would you please try the solution suggested by another user and see if it temporarily solved your problem:
https://github.com/flameshot-org/flameshot/issues/1673#issuecomment-864451074

[2021-08-25 06:12] mmahmoudian commented on #1822
@rm-greenzie i think the .desktop files you found are not formatted correctly. Would you please put here the content of the one that you copied in `~/.local/share/applications/`

[2021-08-25 06:39] rajeshisnepali opened #1844 "Tool bars issue in Dual Monitor"
![2021-08-25_12-06](https://user-images.githubusercontent.com/23610013/130739016-8042e101-e636-48c1-8b25-29f0afb9b598.png)

I've two monitors. One is 1080p & another 720p. My main monitor is 1080p. When I try to capture screenshots, it uses all monitors as screenshot areas and since I've 720p, I guess it's pushing those toolbars in my 1080p.

Any idea (feature) to enable/disable monitor as screens

[2021-08-25 08:20] speakradmin commented on #1769
Tried a few of the suggestions there and no luck. Still get the error. When launching from the terminal I get:

Qt: Session management error: None of the authentication protocols specified are supported

In any event, I've switched to RPM which is a few versions behind but works as expected

[2021-08-25 09:30] xvitaly commented on #1769
Fedora has the latest version of Flameshot. I'm Fedora maintainer by the way.

[code]

[2021-08-25 09:33] speakradmin commented on #1769
Ah my apologies, I just based that on what I saw in Gnome Software. I didn't think to check the actual RPM version

![image](https://user-images.githubusercontent.com/39113729/130766573-dc108248-83be-4a70-a6f9-4149373332f9.png)

[2021-08-25 09:39] xvitaly commented on #1769
It looks like you are still using Fedora 33. Please upgrade to Fedora 34 as soon as possible.

[2021-08-25 09:43] speakradmin commented on #1769
Strange I am on 34. Gnome Software also appears to be latest.
![image](https://user-images.githubusercontent.com/39113729/130767786-bfb06f60-b4e2-42a9-87b7-f220a8d52a7b.png)

![image](https://user-images.githubusercontent.com/39113729/130768068-5261c749-ac47-496f-b548-00f6b62c834d.png)

[2021-08-25 09:51] xvitaly commented on #1769
Please open terminal window and run `rpm -qa flameshot` (it will show installed version).

[2021-08-25 09:53] speakradmin commented on #1769
Yep that's all good now I can see I'm on the latest RPM thanks.
`flameshot-0.10.1-1.fc34.x86_64`

 It's most likely just the changelogs on Gnome Software that aren't reflecting correctly

[2021-08-25 10:03] xvitaly commented on #1769
Yes, it looks like Gnome Software is broken again for `fedora-updates` repository.

[2021-08-26 16:49] allabright opened #1846 "Quick Screenshot Feature"
I'm not sure if this exists already, but it would be good to have a command line argument to take a quick screenshot, i.e.

- Hit hotkey to run command
- GUI window comes up
- Highlight portion of page required
- Screenshot is automatically copied to clipboard and saved to screenshot directory
- GUI closes

This would be useful for taking many repetitive screenshots that don't require edits, such

[2021-08-26 21:23] Mango0x45 opened #1847 "Screenshots not saving to the directory specified by my config"
**Flameshot version**
[code]

**Describe the bug**
I have my flameshot configuration (configured via the GUI) to save my screenshots to a screenshots directory I have. This has worked for most of the time using this tool but recently (not sure when) it stopped working entirely.

I attempted to create a new config but was confused when it spat out a `flameshot.conf` file instead of a `flameshot.ini

[2021-08-28 00:31] Horuyuki commented on #1840
So to this problem.

I actually posted system information with screen shot showing it is X11

I don't know why it is labeled as wayland but whatever.

Like OP said, turning formats to PNG made it work again. (when pasting into apps like discord)

[2021-08-28 05:48] mmahmoudian commented on #689
@Cr4ckC4t considering that you have already went through the trouble of writing the code and get it working, I would be thankful if you create a pull-request and also mention this thread in the description.

Since you asked for suggestions, it would be interesting to have also some option to do other color modifications (sepia, black-and-white). For example after clicking this button, the sidebar

[2021-08-28 06:02] mmahmoudian commented on #1846
Just out if curiosity, do you know that you can press <kbd>Ctrl</kbd>+ <kbd>c</kbd> to copy and <kbd>Ctrl</kbd>+ <kbd>s</kbd> to save?

[2021-08-28 06:06] mmahmoudian commented on #1846
Btw, isn't this duplicate of #526?

[2021-08-28 06:14] mmahmoudian commented on #1847
@luisalvarado did you install it from Snap? Also please check if you can change the path to a path that does not have . in the name. For example `~/Pictures`

[2021-08-28 07:48] gaduaxe commented on #1543
Tks it works :)

[2021-08-28 08:38] allabright commented on #1846
Yes, I'm aware of the Ctrl-C and Ctrl-S shortcuts, thanks.

And yes, it looks like that's the same feature being requested, I didn't spot that.

[2021-08-28 09:07] gaduaxe commented on #1543
Hi @veracioux

NEW issue when I used your build's commit: after Checked to user JPG as default clipboard -> I can't paste screenshot to anything else (Chat application, Office apps...). Saved screenshot in local disk (PNG format) still ok

Can you take a look?

[2021-08-28 09:32] sitepodmatt commented on #1840
I had to turn it JPG then restart it and then back to PNG, it was originally on PNG and was broke at that point. perhaps some setting writer has changed?

[2021-08-28 10:10] mmahmoudian commented on #16
@snakeru Actually since few versions ago, you don't need to hold, just right-click, then left-click on the color you want. But as you said the color should be selected before drawing.

**BUT** there is now (v0.10.1) a feature that let user to modify annotations after they have been drawn. Simply click on the tool button again to deselect it (if it is already selected), then left-click on the objec

[2021-08-28 10:37] mmahmoudian commented on #1738
I can confirm that with "Flameshot v0.10.1 (b2ecb70e)" still the issue exists on Xorg and I cannot paste the jpg even to this github thread.

<details>
<summary>The "Use JPG format for clipboard" is OFF</summary>

</details>

<details>
<summary>The "Use JPG format for clipboard" is ON</summary>

</details>

[2021-08-28 10:42] mmahmoudian commented on #1840
I think this is highly related to #1738 as @Horuyuki pointed out as well

[2021-08-28 11:28] mmahmoudian commented on #1543
@gaduaxe I believe it is related to #1840 and #1738

[2021-08-28 11:30] mmahmoudian commented on #1846
@allabright then would you please close this issue and in case your idea is not fully presented there, you add a comment and write a complementary post?

[2021-08-28 16:11] mmahmoudian commented on #108
@worace I'm not sure if the issue is resolved in the latest version of Flameshot, but one thing is certain, your flameshot version is very old. It would be nice if you can update to the latest version (at the moment of writing this it is v0.10.1) and see if you still have that issue. Additionally, would be useful to know your monitor arrangements and if you are on Wayland or Xorg as we are trying

[2021-08-28 16:14] worace commented on #108
Got it. Thanks for the response. I  am pretty sure I just installed it out of apt which I assume is how I got the old version. Will update and report back.

[2021-08-28 16:18] veracioux commented on #1840
Disclaimer: the following applies to my system, YMMV.

I have done a fair bit of testing and looked at other issues and I have concluded that there is no reason to believe there is a clipboard bug in flameshot. When "Use JPG format for clipboard" is disabled, the clipboard works in basically every app I tested. This is because in that case the image is copied in a bunch of formats. If the option i

[2021-08-28 21:48] metruzanca commented on #1840
@veracioux

I went ahead and tried this on my machine too and I can confirm this works for me as well.

Interesting, I was not aware that the clipboard worked like this. (*infact, now I'm pretty sure the clipboard works nothing like I expected*)

[2021-08-29 05:26] Optimoos commented on #1840
The X11 clipboard can be a peculiar beast. Flameshot has been working fine for me for some time, but I'd struggled to make it function initially and suddenly those issues re-appeared this week. When I found this thread I thought it was describing exactly what I was experiencing, but unfortunately I didn't have Use JPG enabled and enabling it and disabling it didn't change anything. However, the xc

[2021-08-29 09:16] mmahmoudian commented on #1840
@Optimoos would you please also specify how you have installed Flameshot and also right-click on the tray icon of Flameshot, click on About and then the copy button and the bottom of the window and paste the content here (I'm interested in the git hash that is in the version number as in rolling release distros v0.10.1 can mean anything from any commit after that tag in git).

Also thank you for i

[2021-08-29 09:48] Optimoos commented on #1840
Using the package in the community repository - https://archlinux.org/packages/?name=flameshot

Currently have 0.10.1-1 installed.

There doesn't appear to be a git hash on the about screen:
![image](https://user-images.githubusercontent.com/1445030/131246163-d01967c0-04c7-433b-b68b-2ea9af54a020.png)

[2021-08-29 09:50] mmahmoudian commented on #1840
@Optimoos cool, because if you installed through AUR it would have the git hash in the parentheses instead of `(-)`.

[2021-08-29 14:51] usman5251 opened #1850 "Graphics distortion issue when using flameshot"
**Flameshot version**
[code]

**Describe the bug**
On my new hardware, there are some graphics distortions when I use flameshot. It works just fine but graphics is pixelated and menu is also distorted until I hover over it ( Screenshots Attached )

**To Reproduce**
Maybe its just hardware related Issue

**Expected behavior**
Of course, no pixelation, I've used it before.

**System Information**
Li

[2021-08-29 17:00] aha999 opened #1852 "Change the dimensions of placed objects after placing them"
**Is your feature request related to a problem?**

Currently we can't change the placement/size/dimensions of placed objects, like square, arrow, circle etc. and it's annoying because you have to place it perfectly the first time from all sides, or undo and try again.

### Solution
After placing whichever item, show resize icons in each edge that can be moved, so we can move each side of the objec

[2021-08-29 18:55] majkinetor opened #1854 "Add shortcuts in the tooltip"
It would be great to show current shortcuts in the tooltip

For example, instead

- Set arrow as a paint tool

use

- Set arrow as a paint tool (A)

[2021-08-29 18:58] majkinetor commented on #1852
You can change placement and color of objects by selecting  the object in the sidebar. While it is open you can click on the object in the picture and move around, change color etc.  Resizing doesn't seem to be possible.

[2021-08-29 19:25] veracioux commented on #1854
@majkinetor Already implemented in [this commit](https://github.com/flameshot-org/flameshot/commit/2f087980729231b9d3c3d866e6b4a1cba1ec1f2f) :)

[2021-08-29 20:50] majkinetor commented on #1854
Ah nice, looked for issues and not MRs. Thanks.

[2021-08-29 20:50] #1854 closed

[2021-08-30 03:40] GriffinCodes commented on #251
This was added a while ago

[2021-08-30 03:40] #251 closed

[2021-08-30 08:03] aha999 commented on #1852
yes, the directional resizing (if that's what is called) should imo show little circles to resize the item on each side, after placing an item/shape.

[2021-08-30 08:06] majkinetor commented on #1852
Not only directional resizing but also rotating.

[2021-08-30 13:38] #1593 closed

[2021-08-30 15:59] luisalvarado commented on #1847
My fault @mmahmoudian  for not adding that info in. So yes, I am using the snap one

flameshot                v0.10.1+git0.4e406ec  135    latest/stable    borgman-jeremy  -

The above is what snap list says about it. for the path, the issue is that it does not matter what folder I change it to. For example I tried to change it to ~/Pictures as suggested and ended up like this:

https://imgur.com/

[2021-08-30 16:11] #217 closed

[2021-08-30 16:11] #478 closed

[2021-08-30 16:11] #1224 closed

[2021-08-30 19:01] RyonMB commented on #595
@brizzbane I have the same

[2021-08-30 19:44] borgmanJeremy commented on #1847
@luisalvarado Snaps have this issue....see #1144

[2021-08-30 21:31] worace commented on #108
OK I updated to the latest:

[code]

I think the issue has changed a bit (not getting some of the whole screen flicker-to-black) behavior I was seeing before, but I still have trouble selecting across the whole screen with flameshot. It brings up the initial "greyed out" opacity view, but then the area which you can actually select is constrained to part of the screen.

I initially guessed this ha

[2021-08-31 03:54] j-tai opened #1855 "Dragging outside the selection moves it instead of starting a new selection"
**Flameshot version**
master e4f067b

Does **not** happen on the latest stable version, only on master.
Bisect returned the commit ac3e91896098049d24f840b0d57c19db5617bfc5.

**Describe the bug**
With no tool, dragging outside the current selection should start a new selection. However, it actually just moves the selection around.

**To Reproduce**
1. Take a screenshot
2. Drag to start a selection

[2021-08-31 05:02] mmahmoudian commented on #251
@GriffinCodes thanks for as spotting this. There are so many backlogs that we sometimes forget to close all related issues.

[2021-08-31 05:10] mmahmoudian commented on #1852
Thanks to @majkinetor this issue got a good direction and shape. Considering the last comments what you are asking for are:
1. Displaying resizing handles (those small points at the corners and middle of the edges)
2. The ability to rotate the object (possibly by some sort of clicking on the corner handles)

If my above understanding is correct, then I believe this is duplicate of #1712

@aha999 a

[2021-08-31 05:15] majkinetor commented on #1852
@mmahmoudian its duplicate regarding point 1, not regarding point 2.

[2021-08-31 05:20] mmahmoudian commented on #108
@worace it still would be useful to know your monitor arrangements and if you are on Wayland or Xorg as we are trying to improve our Wayland support.

[2021-08-31 05:30] mmahmoudian commented on #1852
Yeap, you are right, rotation was not mentioned in that thread. I propose closing this issue and create a new one in which we extend the #1712 about rotation

[2021-08-31 09:11] veracioux commented on #1855
@j-tai I have introduced that bug. I will reverse it shortly.

[2021-08-31 09:42] eval-exec opened #1857 "All windows are hiden when an external display monitor is conneced"
**Flameshot version**
[code]

**Describe the bug**
when i have only one display monitor: my laptop's initial monitor, flameshot works.
but, all windows are hiden and only desktop wallpaer is show when i launched flameshot  after I connected a external
 display monitor:

**To Reproduce**
1. connected an external display monitor
2. launch flameshot
**Expected behavior**

**System Information**
[code

[2021-08-31 10:01] majkinetor opened #1858 "Option to rotate the object"
After initial placement object is impossible to resize (#1712) and rotate, which is a typical operation in majority of picture editors.

Discussed with @mmahmoudian at https://github.com/flameshot-org/flameshot/issues/1852#issuecomment-908904270.

[2021-08-31 10:26] aha999 commented on #1852
I believe it is a duplicate, yes.

[2021-08-31 10:26] #1852 closed

[2021-08-31 10:27] mmahmoudian commented on #1858
@majkinetor I hope you don't mind my edit to the first part of your text.

I also made a short video to demo what we discussed and what feature is being asked here. I put two of the programs I frequently use to demo this:

https://user-images.githubusercontent.com/390889/131486828-b48cb0bb-f0ed-4c76-b496-64e8dd14f223.mp4

[2021-08-31 10:34] veracioux commented on #1740
Alright, first draft ready - and it is a hefty one: #1859. Sorry it took me so long, had some trouble with QSettings.

Please read the notes in the PR as well.

## Amendments
I have done a few things differently than agreed upon, either because it was
easier to implement or came more naturally.
1. I have added a file watcher.
    But I have implemented it to have as little  overhead as possible -

[2021-08-31 14:22] luisalvarado commented on #1847
Thank you yes, that is what is happening. Let me mark this as duplicate.

[2021-08-31 14:22] luisalvarado commented on #1847
Okay I cant or dont have access to the duplicate option.

[2021-08-31 16:50] quicksketch commented on #327
Thanks @mmahmoudian for the improvements (and space bar trick)! I agree with @boogiefromzk that the font-size to line thickness ratio is too much, where the lines are disproportionately thick. I have to adjust the font size on every screenshot I take.

But I think that may be subjective as to what the right ratio is. What I would love to see as an alternative is to separate font-size from thicknes

[2021-08-31 17:25] mmahmoudian commented on #327
@boogiefromzk and @quicksketch the issue you raised about the "Ratio between text size and tool size" has been reported in #665 which was somehow addressed in #782 and it is already available in our latest version (v0.10.1). You can see what is your settings in your config file:

![image](https://user-images.githubusercontent.com/390889/131546732-387edc15-1b7d-4beb-8895-780814002df7.png)

But to b

[2021-08-31 17:38] mmahmoudian commented on #1740
Yes I think if the path does not exists it should throw an error. The fallback for example can be `~/Pictures`, `~`, `/tmp` in this order.

I believe it should throw error.

I agree. we should **not** automatically correct anything. In my opinion, we can create a `errorLog.txt` file in the config folder right beside the config file. Additionally, we should also send the errors to stdout of the dae

[2021-08-31 17:47] mmahmoudian commented on #1740
## Notes about Qt's QSettings

Fair enough

Would be fine, but I think users can be confused if there are two instances and they miss seeing one, then they think there is a bug.

This is fine but if someone version-control the config, they will get annoyed a bit until they commit the sorted version

Then nothing can be done. Right?

[2021-08-31 17:59] veracioux commented on #1740
@mmahmoudian I would postpone logging for the time being. My understanding from looking at the code is that logging is not implemented. I could implement some makeshift solution just for the purposes of the config checker, but I think it is better to wait for it to be implemented properly. Stdout is also a bit problematic, but I think I could implement it.

For example `flameshot config --check` t

[2021-08-31 18:24] borgmanJeremy commented on #1740
For logging I was planning to use spdlog, I kind of just add it in as I go. We can instead use the QT logging framework.

[2021-08-31 20:01] #1837 closed

[2021-08-31 20:02] borgmanJeremy commented on #1822
Is it okay to close this? Flameshot is just looking for .desktop files to find external programs.

[2021-08-31 20:03] mmahmoudian commented on #1847
I wonder if the OP ( @Mango0x45 ) also agrees that this is a duplicate as as far as I can understand they compiled from source and didn't install via Snap.

[2021-08-31 20:03] borgmanJeremy commented on #1821
I agree with @mmahmoudian  that this is out of scope for flameshot.

[2021-08-31 20:03] #1821 closed

[2021-08-31 20:07] mmahmoudian commented on #1822
@borgmanJeremy considering that we have got some open issues with mime types, I wonder if this is related to that or not. I'm going to assign this to myself and if it opened in my Inkscape we can the conclude that the issue lies somewhere in the .desktop file

[2021-09-01 05:11] Dragonizedpizza opened #1861 "[Question] How to create a keybind for Windows?"
There's no option to create a keybind on windows, is there any way I can do so?

[2021-09-01 05:41] boogiefromzk commented on #327
Thank you! For me on Linux there is no `drawFontSize` in the file after installation of version 0.10.1, but after I added it to the file manually it did the trick!

[2021-09-01 11:48] #1070 closed

[2021-09-01 11:51] Cr4ckC4t commented on #689
@mmahmoudian I think this issue can be closed now. The inverter tool was added in the PR from above (#1849).

[2021-09-01 13:03] #689 closed

[2021-09-01 13:04] mmahmoudian commented on #327
@boogiefromzk glad it helped. We are also working on a config validator and when that rolls out, the config file will be much better organized and you will get proper error if there is a mistake in the config.

[2021-09-01 13:11] mmahmoudian commented on #1861
@Dragonizedpizza Flameshot by default uses <kbd>PrintScreen</kbd> on Windows. Is that what you wabt to change?

[2021-09-01 13:42] Dragonizedpizza commented on #1861
Yes

[2021-09-01 13:42] Dragonizedpizza commented on #1861
To alt shift s

[2021-09-01 15:26] dennisTGC opened #1863 "flameshot does not work correctly with 3 displays with 4k"
Hi,

I'm a big fan of the tool but it looks like it has some problems with 3 screens if they are on 4k each. Flameshot only targets the half of the side screens and the full main screen.

I'm working on a Dell precision 3420 workstation with Ubuntu 20.04.1 with KDE.

[2021-09-01 16:06] borgmanJeremy commented on #1863
Are you using fractional scaling?

[2021-09-02 07:19] dennisTGC commented on #1863
yes I did, I turned it off and flameshot worked as expected, it took all 3 screens. Seems an error with fractional scaling indeed (https://github.com/flameshot-org/flameshot/issues/1296), thanks borgman!

you can close this issue as an duplicate

[2021-09-02 09:35] Mango0x45 commented on #1847
Sorry for the late reply, I wouldn't call this a duplicate. The issue here seems to be that @luisalvarado cant just specify a folder to save images in and it forces him to select a file. I was able to select a folder, my images just werent getting saved.

[2021-09-02 10:03] #1863 closed

[2021-09-02 11:57] keslerm commented on #1808
Random but I was just wondering if flameshot did this today

[2021-09-02 12:09] veracioux commented on #1808
@keslerm I did start working on it a while back, but I ran into some issues, so I postponed it a bit. I'll continue work on it soon. Nice to see interest in the feature :)

[2021-09-02 12:41] idarlund commented on #748
I also have a similar issue. Wayland with 1.25 fractional scaling. When starting flameshot gui to take a screenshot, my screen zooms in so the bottom part and the right part of the screen is "outside" of the monitor.

[2021-09-02 12:44] luisalvarado commented on #1847
Thank you correct. And also it looks like it is bound to snap installations only. I tried the deb package and it is working as it should. Although I believe we have the same issue. I can't save the images. Like I can't save them nor copy them with ctrl c and paste them here with ctrl v. It works im other apps like telegram where I do all my work. It pastes correctly but not here nor it saves the f

[2021-09-02 13:47] mmahmoudian commented on #1847
@Mango0x45 Thanks for your answer. I reverted my changed to the labels. Can you copy the image? for example by using <kbd>Ctrl</kbd>+<kbd>c</kbd> and then paste in Gimp. Also would you please check if `flameshot gui --raw > test.png` really save it to the `test.png`.

[2021-09-02 13:49] mmahmoudian commented on #1847
@luisalvarado I think your situation is very different. You **can ** copy, but you cannot paste in certain places. Make sure you have the this optioned disabled before taking the screenshot and copying it and put it in Github or Discord.

![image](https://user-images.githubusercontent.com/390889/131855432-4afc9e0a-58a7-4da5-a999-360911e2b344.png)

[2021-09-02 15:58] worace commented on #108
[code]

Here's the display setup (2 monitors side by side with 1 in portrait):

![Screenshot from 2021-09-02 08-57-19](https://user-images.githubusercontent.com/1227440/131877228-65eb9303-9df8-4f07-ac18-bcd52939f31f.png)
![Screenshot from 2021-09-02 08-57-30](https://user-images.githubusercontent.com/1227440/131877230-080c6093-b236-448c-afb1-7123bcab05ba.png)

[2021-09-02 16:12] worace commented on #108
Ha ok I don't know if this continues to be helpful or not, but I tried to make a screen recording using gnome's built-in screen recorder (Ctrl-Alt-Shift-R) and miraculously the process of recording the screen seems to somehow make it work:

https://www.dropbox.com/s/3o0gyk3dueyveny/Screencast%20from%2009-02-2021%2009%3A03%3A36%20AM.webm?dl=0

So unable to think of a better option I also recorded a

[2021-09-03 04:57] alculete commented on #1683
I'm able to to capture now...

[2021-09-03 05:26] ZetaoYang commented on #1830
0.10.1 is available, https://github.com/lukesampson/scoop-extras/blob/master/bucket/flameshot.json

[2021-09-03 05:55] mmahmoudian commented on #1683
@alculete do you know what has changed since then that you got it working?

[2021-09-03 07:28] spxak1 opened #1864 "Flameshot will not paste into Kami on Chrome >91 in Ubuntu/Pop (20.04/21.04) but works on Fedora/Manjaro"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.12.8

**Describe the bug**
Pasting images on Kami running on Chrome version greater than 91 does not work.
You can paste on Google Docs on Chrome, and on Gimp, but not on Kami.
If you delete the user files ```.config/google-chrome``` and start again, it will work for the first launch, but not after.
Even if you only open Chrome once, and c

[2021-09-03 07:37] spxak1 commented on #1864
Additional info:

* Flameshot "Use JPG format for clipboad" makes no difference.

* ```xclip -o -t TARGETS -selection clipboard``` when using flameshot gives
[code]

* when using ctrl+shift+prn gives
[code]

Again, both paste fine on Gimp and Chrome with Google Docs.

[2021-09-03 07:38] spxak1 commented on #1864
Also interestingly enough (and this just happened now), if I use ctrl+shift+prn and then ctrl+v in this box,

it does this (I have actually only pressed ctrl+v for this):

![image](https://user-images.githubusercontent.com/29977030/131968554-01b5d7c5-b5f5-4dc1-9ff4-f662518992a9.png)

But if I use flameshot, ctrl+v does nothing.

[2021-09-03 08:51] spxak1 commented on #1864
No need to try Kami.

The problem occurs right here on github too!!!

Images paste fine when acquired with ctrl+shift+prn, but nothing with flameshot.

If I clear user files, the first time Chrome launches, it works again, stops after that.

[2021-09-03 12:16] stepanselyuk opened #1865 "Screenshoting not working on kernel 5.14 Ubuntu 21.04"
**Flameshot version**
[code]

**Describe the bug**
When I click "Take screenshot" nothing happening. Tried to install with --classic mode, nothing changed.

**To Reproduce**
Install on Ubuntu 21.04 with kernel 5.14

**Expected behavior**
Should work.

**System Information**
Ubuntu 21.04 with kernel 5.14
[code]

[2021-09-03 13:23] kryshac commented on #1850
I have the same problem

[2021-09-03 14:00] soichih opened #1866 "Change text font"
It looks like flameshot is defaulting to use a fixed-width font for the text tool.

Is there a way to change it to Sans-Serif font?

[2021-09-03 14:11] borgmanJeremy commented on #1866
yes, if you hit spacebar to open the sidebar you can change the font.

[2021-09-03 16:08] usman5251 commented on #1850
what's your system specs?

[2021-09-03 16:14] erlisdhima opened #1867 "Screenshot gets copied multiple time into the clipboard"
When hitting <kbd>Ctrl + C</kbd>, the image is copied several times into the clipboard.
This happens only when using the shortcut. It doesn't happen when you click the copy icon from the flameshot gui.

Also, when using the shortcut to copy the screenshot, it will keep that screenshot into the clipboard and will not copy new screenshots. Basically it will be locked into the initial screenshot you

[2021-09-03 17:38] TouchOdeath opened #1868 "'App Launcher' not listing any apps and also not launching either (Xorg)"
**Flameshot version**
Flameshot v0.10.1 (Flatpak)
Compiled with Qt 5.15.3

**Describe the bug**
Take a screenshot, click 'App Launcher'.
Bug#1. No apps are listed
Bug#2. After I fix Bug#1, the second bug is, when clicking an app, it literally does nothing.

**To Reproduce**
1. Install Zorin OS 16 Core
2. Open 'gnome-software' and install latest version of flameshot from the store.
3. `/usr/bin/fla

[2021-09-03 19:15] soichih commented on #1866
Ah! I did know you can do that!

However, the sidebar seems to be truncated?

![2021-09-03_15-13](https://user-images.githubusercontent.com/923896/132055499-5929a0ef-8c44-4137-b78d-08876d039899.png)

Is there a way to *save* the current font selection / size so I don't have to keep resetting them?

[2021-09-03 19:57] sebw commented on #784
I've experienced this issue on i3wm for quite some time and I'm currently moving to bswpm and face the same issue.

In both desktop environment my way of getting the focus back is switching desktop/workspace.

[2021-09-03 20:10] kryshac commented on #1850
![image](https://user-images.githubusercontent.com/19764133/132060676-9702fbe6-f072-46fc-8e72-4d586adb0ba6.png)

[2021-09-03 20:35] usman5251 commented on #1850
Hmm it seems like this is not related to Intel UHD Graphics 750. Maybe new kernel from Manjaro 21.1.1 ?

[2021-09-03 21:11] kryshac commented on #1850
I downgraded to version 21.0.7-1, but the same behavior persists
`OS: Manjaro 21.0.7 Ornara`

[2021-09-03 21:28] kryshac commented on #1850
![image](https://user-images.githubusercontent.com/19764133/132066728-520154b5-f5c2-4071-b61d-09621e391c57.png)
I made a rollback for the xorg packages and the error disappeared
![image](https://user-images.githubusercontent.com/19764133/132066946-7fe51efa-d21e-44db-a449-e1075054763d.png)

[2021-09-04 06:20] quicksketch commented on #327
@mmahmoudian Thanks all that info is awesome! I incorrectly assumed that `sudo apt install flameshot` would use the latest version (I'm on Ubuntu 20.04, the latest at this time), but it only installs `0.8.5-4`. Using the latest release from https://github.com/flameshot-org/flameshot/releases fixes everything. This is perfect. I don't care for adding a "ratio" feature. IMO it's best to keep the val

[2021-09-04 06:53] boogiefromzk commented on #327
Ratio was a 1-char-quick-fix suggestion, separate values are awesome!

[2021-09-04 07:37] mmahmoudian commented on #1865
I'm not sure what you mean by Take Screenshot but I guess it is from the launcher.

Does the normal gui way work? For example left-click on the tray icon.

[2021-09-04 07:41] mmahmoudian commented on #1867
I assume you have a software like CopyQ installed from which you realized it will copy to clipboard multiple times, right?

[2021-09-04 07:44] stepanselyuk commented on #1865
@mmahmoudian yes, the normal GUI is working fine. When I click on the left button on the icon in tray, it shows the menu, and then I click on "Take screenshot" and nothing happens. Same as I click on "Open launcher", the launcher window opens, but it's not doing a screenshot then (after click on the button).

[2021-09-04 08:24] tq-bit commented on #200
If anyone is looking for a solution on Ubuntu 20.04: This one worked for me

1. System settings -> Shortcuts -> Custom Shortcuts
2. Under KMenuEdit -> Create new entry
3. Set a trigger ( in my case print button ) and type in `flameshot gui` (just like in the other comments above)

![image](https://user-images.githubusercontent.com/69204418/132088103-f3f8871b-8977-43a3-9e96-d772b7822403.png)

[2021-09-04 09:23] gaduaxe commented on #1738
I got the same issue...

[2021-09-04 09:23] gaduaxe commented on #1840
I got same issue (Windows 10, latest flameshot...)

[2021-09-04 13:17] veracioux commented on #1808
Implemented the preview widget with a 0.5 second timer.
Still have to implement the hex code preview that @mmahmoudian suggested.

**The feature in action:**

https://user-images.githubusercontent.com/29044423/132095615-f654a217-b16c-40e9-a99b-8e2c1a547ba6.mp4

**Testing:**
- test all the scenarios you can think of
- I would appreciate it if someone could test it on MacOS
- also test with multiple

[2021-09-04 15:14] mmahmoudian commented on #1865
I cannot reproduce this on AUR install Flameshot v0.10.1 (ec70df10).

@stepanselyuk what is your Window Manager and your Display Manager?

[2021-09-04 16:12] mmahmoudian commented on #1866
@soichih add this to your config with whatever font you want:

[code]

About the truncation, as far as I can remember, there was a bug and it was solved some versions ago. Which version are you using?

[2021-09-05 07:12] fre-ac commented on #1378
Slackware 15 Xfce 4.16 , Flamesnot v.0.10.1 -
![flameshot_icon_xfce416](https://user-images.githubusercontent.com/85880630/132118659-fa5234c2-e067-420e-b4ee-1a5e2cf22f53.png)
the flameshot tray icon is still incorrect

[2021-09-05 11:39] stepanselyuk commented on #1865
@mmahmoudian
[code]

[2021-09-05 11:43] mmahmoudian commented on #1865
@stepanselyuk sorry, I'm not familiar with this output. Does it means that you are on Xorg?

[2021-09-05 12:10] stepanselyuk commented on #1865
I have a default Ubuntu 21.04 installation :-)

[2021-09-05 13:06] shu7bh opened #1870 "Set cursor theme not shown on flameshot, Gnome X11 Manjaro"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
The cursor which shows up in any flameshot related window is the gnome cursor (Xcursor-breeze). The cursor I am using though is 'Volantes Light'.
The problem is that, it is very difficult for me to see this cursor on the GUI when I am selecting an area.
This bug only exists on X11 for me. On Wayland, it works as

[2021-09-05 13:25] mmahmoudian commented on #1870
Might be related to #1659

[2021-09-05 13:25] anmsh commented on #328
+1  I love this on greenshot and would love to see on flameshot now. Another vote for this.

[2021-09-05 13:42] mmahmoudian commented on #1865
I actually don't know what Ubuntu uses in their 21.04. Would you please give me the output of the following command:

[code]

Or check this page:

https://flameshot.org/guide/issue-reporting/

[2021-09-05 15:39] mmahmoudian commented on #328
@veracioux considering that you have implemented the zoom thing for the color selection, and considering the suggestion of @borgmanJeremy to have a key pressed for loading the zoomed part, can we use these elements to implement this?

I'm bot saying that this feature request should be done, I'm just saying that I think the elements are there and can potentially be combined.

[2021-09-05 16:05] mmahmoudian commented on #1378
@fre-ac how have you installed Flameshot?

[2021-09-05 18:47] stepanselyuk commented on #1865
@mmahmoudian
[code]

[2021-09-05 19:21] fre-ac commented on #1378
Compilation from source. But running as root, it shows the correct icon.
![flameshot_as_root](https://user-images.githubusercontent.com/85880630/132138888-c74361c4-7040-45b6-bfc4-8d8999472ed7.png)

[2021-09-05 19:33] fre-ac commented on #1378
I also ran the Flameshot-0.10.1.x86_64.AppImage file, but it doesn't save the screenshot (the window disappears quickly). Shows only the English language, not my locale.

[2021-09-06 02:58] alculete commented on #1683
I'm not sure, thee only core snap that updated on my system as snapd

[2021-09-06 06:03] mmahmoudian commented on #1378
@fre-ac what if you turn off the welcome message? In [the first post of this thread](https://github.com/flameshot-org/flameshot/issues/1378) it is mentioned that this only happens when the welcome message is on and it would work as expected if you turn it off.

[2021-09-06 06:11] mmahmoudian commented on #1683
@benwinding do you still have this issue with v0.10.1?

[2021-09-06 06:17] mmahmoudian commented on #108
@worace would you please try to turn off scaling on your monitor (set it to 100%) and see if the flickering issue is resolved? There was one frame in the video you took with your phone that the button of the left side-bar was in the right-half of the monitor and that prompted me that this might be some sort of scaling issue.

[2021-09-06 06:23] fre-ac commented on #1378
Yes, I know that disabling the welcome message will display the correct icon. It works for me.

[2021-09-06 06:26] fre-ac commented on #1378
Appimage also doesn't show the icon

[2021-09-06 06:57] mmahmoudian commented on #1378
Ok, considering that it is the same issue on the same DE but just a different distro, I think we should reopen this issue.

@borgmanJeremy do you have any quick guess about this?

[2021-09-06 13:36] kangaroo72 opened #1871 "Assigning a key for "Take Screenshot"?"
Hi team,

maybe I did not see it, but isn't it possible, to add a key (like print screen) to the "Take Screenshot"-Function?

Thank you,

-Tom-

[2021-09-06 23:43] benwinding commented on #1683
@mmahmoudian
I'm just using `0.9.0` on mac at the moment, no issues, no need to upgrade
![image](https://user-images.githubusercontent.com/11782590/132266047-b06efe75-f5e5-476d-8db9-6a00067552bc.png)

[2021-09-07 05:22] mmahmoudian commented on #1871
@kangaroo72 I guess you missed [this part of the documentation](https://github.com/flameshot-org/flameshot/#global)
On Windows it automatically maps to the PrintScreen key. On Linux you have to configure it.

If you have any issues with mapping it in linux, just post here your operating system and your Desktop Environment and I'll help you.

[2021-09-07 05:25] mmahmoudian commented on #1683
@benwinding of course one perk of updating is to get the new features and bug fixes.😉

Anyways, should we close this issue then?

[2021-09-07 05:53] #1683 closed

[2021-09-07 06:43] cmprmsd commented on #446
I think the grim and slurp code might help you to implement screenshotting on Wayland.

Is there a way to give Flameshot an input file? We could work around that with taking the screenshot in Wayland native tools first.

[2021-09-07 06:47] rahmadsandy opened #1872 "Flameshot can't reopen after quit application on Mac"
Flameshot cant reopen after quit application on Mac, when i tried to running from terminal `/Applications/flameshot.app/Contents/MacOS/.flameshot`

[code]

Mac OS version: Big Sur 11.3.2 Apple M1

[2021-09-07 10:20] mmahmoudian commented on #1872
@rahmadsandy Please specify your Flameshot version (possibly through `--version` argument via terminal)

[2021-09-07 10:26] mmahmoudian commented on #446
@cmprmsd No, at the moment Flameshot does not accept images as input but there is an open feature request (#240) for that.

Regarding reading other source-codes to learn how to better handle Wayland, I believe @borgmanJeremy and @veracioux are the best people to answer.

[2021-09-07 10:31] mmahmoudian commented on #751
@veracioux haven't you already implemented this in #1815? Because it was part of the `path_option.sh` if I recall correctly.

[2021-09-07 10:41] mmahmoudian commented on #496
@borgmanJeremy

Can this issue be closed as #1790 is merged?

[2021-09-07 10:48] mmahmoudian commented on #1651
@Darkcast Flameshot now support saving is many more formats. Does this satisfy your feature-request?

![image](https://user-images.githubusercontent.com/390889/132332406-b7da7ad2-2254-4365-b9ba-b6c11049bfb6.png)

[2021-09-07 10:56] mmahmoudian opened #1873 "Use Mozilla JPEG Encoder (MozJPEG) for JPEGs"
I have heard many good things about [MozJPEG](https://github.com/mozilla/mozjpeg) and I wonder if it is feasible and practical to it (potentially optionally using a checkmark in the config) for the JPEGs.

[2021-09-07 11:06] veracioux commented on #751
It was already implemented before. But it was of the format `screenshot_1`, `screenshot_2`, etc. The numbers were not padded with zeros to a fixed width. I just left it as it was.

[2021-09-07 11:16] veracioux commented on #446
@mmahmoudian Sorry, I'm not familiar with Wayland at all.

[2021-09-07 11:20] veracioux commented on #328
@mmahmoudian Sure, I can try to extend the feature some time. But I am really busy lately so I'll have to put it on hold or someone else can try to adapt my code from the color grabber.

[2021-09-07 11:28] mmahmoudian commented on #751
So to sum up, at the moment the counter will be appended to the end of the file name without any leading zeros.

@thepisu & @DavertMik & @davidfelipeb  & @chockie Would this be suffice or you would like to be able to have the leading zeros (e.g `_005` in case of `_%NNN`) and/or you want to be able to specify where on the name the counter appears (e.g `screenshot_%NN_%F_%H-%M`)?

[2021-09-07 11:48] tinywrkb commented on #446
@cmprmsd since the v0.10.0 release, Wayland capturing in Sway, and most likely in every other wlroots based compositor, is working correctly.
If there's something wrong, then it's probably the user's fault for not setting `XDG_CURRENT_DESKTOP` var for `xdg-desktop-portal-wlr`, or updating the user dbus session's environment (e.g. by sourcing `/etc/sway/config.d/50-systemd-user.conf`).
When Gnome 4

[2021-09-07 11:57] kangaroo72 commented on #1871
Thanks so much for your help...
I'm on Ubuntu Budgie 21.04 (Gnome)
I tried that, but after pressing "Print" Key, it's just making a full screen screenshot...

[2021-09-07 12:01] mmahmoudian commented on #1868
I'm not sure if `%U` is correct use since it should be in `file://` format as explained [here](https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s07.html). Please try changing the `%U` to `%F` for the `eog` and see if it works.

 There is also a chance that this is because of the Flatpak packaging and permissions. I'll try to reproduce that

[2021-09-07 13:27] mmahmoudian commented on #1871
So you did all the following:

![image](https://user-images.githubusercontent.com/390889/132352417-887b12a5-ea56-460a-a1c7-e0d9eba7061a.png)

and then when you pressed the PrintScreen key, did you see the following message?

![image](https://user-images.githubusercontent.com/390889/132352824-bef9dd98-82c7-4149-89fe-ef6f8b7844bf.png)

[2021-09-07 13:28] #496 closed

[2021-09-07 13:40] mmahmoudian commented on #446
There is a brief documentation about Wayland for Flameshot which explains how to setup your computer:

https://github.com/flameshot-org/flameshot/blob/master/docs/Sway%20and%20wlroots%20support.md

@tinywrkb I'm not a Wayland user and am not aware of some of the setup steps. What you mentioned about "updating the user dbus session's environment" has made me confused. Would it possible to add the i

[2021-09-07 13:44] cmprmsd commented on #446
Thank you both! I will try it this evening 😍🥳

[2021-09-07 13:47] kangaroo72 commented on #1871
Yes, I did that...
![image](https://user-images.githubusercontent.com/6906390/132355845-04c611e1-a14a-470b-a3ea-c3ef8cb7a871.png)
But no effect.
When pressing the key, the screen just flashes, and a full screenshot is saved by Ubuntu.

[2021-09-07 13:48] kangaroo72 commented on #1871
Wait ... now it works - let me do a reboot...

[2021-09-07 13:48] mmahmoudian commented on #1857
@eval-exec Thanks for the error report. Please provide answer to the following questions:

1. How have you installed Flameshot? is it from Flatpak or from official Arch repo?
2. Are you on Xorg or Wayland?
3. Which windows are getting hidden? those on your laptop monitor or the external monitor or both?

[2021-09-07 13:50] kangaroo72 commented on #1871
Yeaaaah - it's reboot-resistant - thanks a lot!!!

[2021-09-07 13:51] mmahmoudian commented on #1871
a typical "turning it off an on again" situation 😉

https://www.youtube.com/watch?v=nn2FB1P_Mn8

[2021-09-07 13:51] mmahmoudian commented on #1871
@kangaroo72  Shall we close this issue then?

[2021-09-07 13:53] kangaroo72 commented on #1871
For that case, yes. I'm still working on a autostart-feature.
I have to start FS, once, if the machine has rebootet...
The Option is activated for autostart.

[2021-09-07 13:56] mmahmoudian commented on #1871
![image](https://user-images.githubusercontent.com/390889/132357178-3e725dae-be48-4684-85e5-b07cad563b4b.png)

[2021-09-07 13:58] #1871 closed

[2021-09-07 14:01] tinywrkb commented on #446
@mmahmoudian see [here](https://github.com/swaywm/sway/wiki#gtk-applications-take-20-seconds-to-start), it's needed to get `xdg-desktop-portal.service` start up correctly when using Sway or wlroots based compositor.
On Arch Linux, the package maintainer of Sway added this in `/etc/sway/config.d/50-systemd-user.conf`, so the user just need to source the file.

[2021-09-07 14:02] kangaroo72 commented on #1871
Now print screen doesn't work anymore :-(

[2021-09-07 14:02] kangaroo72 commented on #1871
Is the snappy version maybe a problem?

[2021-09-07 14:05] kangaroo72 commented on #1871
This happens, while pressing print screen...
https://cloud.escher.cc/s/F2bEi3LCFa3KeWX

[2021-09-07 14:28] borgmanJeremy commented on #1871
It might be an issue with the snap, unfortunately that package seems buggier than the .deb release. It requires a total rebase and when I last checked the newer KDE base was not ready .

[2021-09-07 14:29] mmahmoudian commented on #1868
I can confirm that the flatpak version of Flameshot does not read the `.desktop` files in `/usr/share/applications/`.
I can also confirm that regardless of `%U` or `%F` in the .desktop file, the flatpak does not open the file in `eog`

[2021-09-07 14:29] kangaroo72 commented on #1871
I will replace it with *.deb

thx

[2021-09-07 14:57] mmahmoudian commented on #1868
I also checked snap and it has worse issue. it does not even read the `~/.local/share/applications`

[2021-09-07 15:35] hosiet commented on #1873
I don't see much benefits of introducing yet another dependency solely for jpeg handling:

* Flameshot uses PNG by default, and only part of the users explicitly choose jpeg.
* Mozjpeg is not in the official repo any of the major Linux distributions (deb, fedora, Arch). Using it complicates building process for packagers as well as buildsystem for flameshot.
* Mozjpeg, as a drop-in replacement of

[2021-09-07 15:59] KyleStiers commented on #1258
Any fix on this? I'm on macOS BigSur (M1 macbook pro) and use a single mirrored monitor and when attempt to use flameshot it goes to a screen where I only see my background image (Desktop) and nothing else. Using version 0.10.1 of flameshot.

[2021-09-07 16:06] TouchOdeath commented on #1868
Thank you for the reply.  After reading your post, I decided to install the appimage.  https://github.com/flameshot-org/flameshot/releases/download/v0.10.1/Flameshot-0.10.1.x86_64.AppImage

The AppImage does list all my apps, which is an improvement.  When I try to open it with an 'Image program', it does nothing.

Below is my log:
xyz@zorin:~$ /home/xyz/Downloads/Flameshot-0.10.1.x86_64.AppImage

[2021-09-07 16:08] thepurple commented on #1258
Try please to restart a Flameshot and use hotkeys.
In some cases, after going to sleep or connecting/disconnecting an external monitor, the Qt library may lose other displays and I didn't find a way to refresh displays list.
Possibly it is fixed in the Qt6 (didn't check it yet), but have no time to migrate to Qt6 now.

[2021-09-07 16:18] mmahmoudian commented on #1873
@hosiet well put. I have no strong feelings about this and I've never used it myself either. Since their repo is well maintained I thought it might be a good choice. I should have checked the repos though before making the suggestion. 😅

Anyways, perfect logic and explanation 👍🏼

[2021-09-07 16:18] #1873 closed

[2021-09-07 16:52] gfrein commented on #1563
I can confirm this for Fedora 34, Gnome 40.4.0 (Wayland).

[code]

[code]

I tried switching to `en_US.UTF-8` completely and also replacing the default filename pattern with random letters, but the problem persists.

[2021-09-07 19:21] TouchOdeath commented on #1868
I also tested Ristretto, I get the same error messages minus the 'eog' warnings.  It does the same thing which is... nothing.

[2021-09-08 05:51] rahmadsandy commented on #1872
hello @mmahmoudian noting verbose result through terminal
![image](https://user-images.githubusercontent.com/57087446/132453669-960dcfe7-4d28-45d9-9579-f0ab7969f1c1.png)

but in GUI version
![image](https://user-images.githubusercontent.com/57087446/132453715-3cc7c61d-465e-4829-a194-47573185f3a8.png)

[2021-09-08 05:58] mmahmoudian commented on #1872
@rahmadsandy would you press give me the output of this command:

[code]

[2021-09-08 08:25] mmahmoudian commented on #1864
@spxak1 You repeatedly mention "ctrl+shift+prn" but I don't know what that keybinding is bound to. Would you please dig out that information that what is running when you press "ctrl+shift+prn" ?

[2021-09-08 08:47] rahmadsandy commented on #1872
here @mmahmoudian
![image](https://user-images.githubusercontent.com/57087446/132477431-647c5ac0-a011-4615-af57-3a2fe2680fb1.png)

i installed flameshot troughs homebrew

[2021-09-08 08:57] mmahmoudian commented on #1872
in that case you had an extra `.` in the command you ran:

[code]

I don't have Mac, but I suggest following either of these instructions:
- https://support.apple.com/guide/terminal/execute-commands-and-run-tools-apdb66b5242-0d18-49fc-9c47-a2498b7c91d5/mac
    - ```sh
      open -a flameshot.app
[code]

[2021-09-08 09:01] rahmadsandy commented on #1872
its same error result with issue description above
![image](https://user-images.githubusercontent.com/57087446/132479637-53ea9ad5-7ef1-4c70-b60f-25d28e16112b.png)

[2021-09-08 09:08] spxak1 commented on #1864
Sorry, that's gnome-screenshot.

I have replicated the issue in 5 systems. Clean 21.04 install, flameshot from apt or github, Chrome 91 works fine, anything later (92 or greater won't).

I can see the point there. Please see if you can replicate the issue to confirm.

Thank you for your time looking into it.

[2021-09-08 09:53] jriddell opened #1874 "Use newer kde frameworks snap in snap package"
The snap package uses the older core18 and kde-frameworks-5-core18 content snaps.  This has a problem e.g. https://forum.snapcraft.io/t/possible-compatibility-issue-with-kde-frameworks-5-core18-and-centos-7/26433

I've a newer one kde-frameworks-5-qt-5-15-3-core20 that uses core20. If you were interested in using this I could request it be made useable by 3rd party snaps.  Is that interesting?

[2021-09-08 11:28] seahindeniz commented on #1144
`savePath=~/Pictures` also does the job

[2021-09-08 12:11] mmahmoudian commented on #1874
@jriddell As far as I can recall, @borgmanJeremy has mentioned in a comment (I should search and find it) that he is in fact planning to move to the new KDE core for the Snap.

[2021-09-08 12:20] mmahmoudian commented on #457
@vokamut If I have correctly understood your point, this is the way window management works as the focus is taken away the context menu is closed upon unfocus event.

I don't think this is a bug as @farseerfc also kindly pointed out.

I close this issue but feel free to comment and suggest re-opening it.

[2021-09-08 12:20] #457 closed

[2021-09-08 12:23] mmahmoudian commented on #666
@c29r3 I believe that Ctrl+z glitch was solved already. Would you please try with the version v0.10.1 or newer

[2021-09-08 12:26] jriddell commented on #1874
ok request sent https://forum.snapcraft.io/t/allow-global-auto-connect-for-kde-frameworks-5-qt-5-15-3-core20/26470

[2021-09-08 12:29] mmahmoudian commented on #1139
I believe this is resolved by #1859

[2021-09-08 12:38] vokamut commented on #457
@mmahmoudian Thanks. Yes, now I use the hotkey `Ctrl+Prt Sc` with a delay of 3 seconds

[2021-09-08 13:16] borgmanJeremy commented on #1874
Yes moving to core20 should resolve many of our problems, but when I last checked there wasnt a release of kde-frameworks with core20.

[2021-09-08 13:57] jriddell commented on #1874
It's here and hopefully it'll get global auto connect soon so 3rd party apps can use it
https://snapcraft.io/kde-frameworks-5-qt-5-15-3-core20

[2021-09-08 13:58] jriddell commented on #1874
Oh and the kde-neon extension uses it https://snapcraft.io/docs/kde-neon-extension

[2021-09-08 16:33] KyleStiers commented on #1258
Using the `shift+alt+cmd+4` hotkey? That doesn't work. Sorry should've mentioned I tried that when seeing it suggested above.

[2021-09-08 16:52] borgmanJeremy commented on #764
I've started working on this but haven't had time to finish it. I need to add skin tone selection and then integrate the widget in Flameshot proper.
![emoji](https://user-images.githubusercontent.com/46930769/132551570-845f7110-5f74-4713-8139-f20501f33f05.gif)

[2021-09-09 07:15] rapiz1 opened #1875 "The shortcut to take a screenshot is broken on KDE"
**Flameshot version**

 0.10.1-1

**Describe the bug**

Pressing the shortcut to take a screenshot doesn't work on KDE.
**To Reproduce**

1. Open KDE Settings / Shortcuts
2. Add Flameshot
3. Set "Take a screenshot" with key PrintScr
4. Press PrintScr. Nothing happens.

**Expected behavior**

A screenshot will be taken
**System Information**

Operating System: Arch Linux
KDE Plasma Version: 5.22.5

[2021-09-09 07:51] mmahmoudian commented on #1875
Would you please post here a screenshot of the command tab of the shortcut you created?

[2021-09-09 07:57] rapiz1 commented on #1875
![Screenshot_20210909_155703](https://user-images.githubusercontent.com/20105061/132646423-7e0aa0d9-64c6-4ad2-9cf6-13469b7dc842.png)

[2021-09-09 07:59] rapiz1 commented on #1875
BTW, it was working until recently update, like 3 months? However, I'm not using Arch much during that time so I'm not sure which update broke this.

[2021-09-09 10:43] mmahmoudian commented on #1875
Try this:
![image](https://user-images.githubusercontent.com/390889/132672031-dc720b56-008b-47dc-9d5b-42aaf8c1e063.png)

[2021-09-09 20:53] alexfornuto commented on #1840
This issue started recently on my system as well:

[code]

I was using the latest deb package, 0.3.x, which did not have the option to choose format. I upgraded to the 0.10 flatpak (which causes other problems not finding `flameshot` in the CLI), and switched the format back and forth between jpg and png, with no resolution.

[2021-09-09 21:01] mmahmoudian commented on #1840
I believe this is related to #1864

[2021-09-09 21:05] alexfornuto commented on #1840
I just tested, and yes it works in FF. I'll follow that thread for resolution, thanks.

[2021-09-10 05:04] rapiz1 commented on #1875
Thanks. This works.
However, I think some users may still face the original issue.

[2021-09-10 05:17] mmahmoudian commented on #1875
I don't know why that issue happened to you as we don't/can't create global shortcuts for the window managers (e.g KDE Plasma).

But since sunrise you had that, I don't see why it has stopped working as we haven't had any breaking changes in our CLI. If you open a terminal and run `flameshot gui` it should work and this form of command has existed perhaps since versions < 0.5.x

[2021-09-10 05:21] mmahmoudian commented on #1875
Since this is the first time such thing is reported and as it is not clear hire such simple thing has gone wrong, I suggest closing this issue for now. If anyone faces the same issue, they can reopen this thread and add a bit more information so that we can track is down and fix it if it is Flameshot's issue.

[2021-09-10 05:37] nanggo commented on #1258
On my macbook pro 16" also doesn't work multiple desktops.

When I using hotkey for capturing, flameshots start capture on new desktop (empty screen).

[2021-09-10 06:23] thepurple commented on #1258
Unfortunately, I don't have a MacBook right now, I'll try to reproduce it when it appears.
Actually Flameshot doesn't detect the active screen in MacBook terms, in Qt5 there is no such option. The active screen for Flameshot is the display where the mouse cursor is placed in.

[2021-09-10 08:34] StoyanDimitrov opened #1876 "New shortcuts suggestion"
I'm proposing the following new shortcuts:

It could be 10 or other amount of pixels. Configurable or fixed.

This way without touching the mouse one can move the selection faster and then fine-tune the size and position if need be.

[2021-09-10 08:41] mindyourlifeguide commented on #1875
I also ran into a similar one. But I decided it myself using the solution described earlier.

[2021-09-10 09:06] mmahmoudian commented on #1875
@mindyourlifeguide would you please explain your experience. Basically I want to know how was your system and when and how it got broken. Please also include your OS, Desktop Environment, Window Manager, Flameshot versions and etc.

[2021-09-10 09:36] mattbdc commented on #1840
Can confirm at the times when broke it does continue to work in Firefox. Random guess, chrome has become more picky about clipboard contents.

[2021-09-10 09:38] mattbdc commented on #1840
https://bugs.chromium.org/p/chromium/issues/detail?id=1247919&q=clipboard&can=2

[2021-09-10 09:42] mattbdc commented on #1840
It's hard to say if this is indeed a shortterm reliable workaround but as the developers are talking about Ozone here, I ensured screenshots into Chrome from flameshot were broke, opened chrome://flags search ozone, disabled ozone, fully closed and restart chrome (careful if you have chrome to run in background - default setting iirc) and now flameshot is working fine (no restart of flameshot). ym

[2021-09-10 09:45] mmahmoudian commented on #1840
@mattbdc interesting. Thanks for digging into this. This an alarming change in Chrome imho!

[2021-09-10 10:20] Abhijnan-Bajpai commented on #1876
Hey @mmahmoudian, I would like to work on this suggestion. Could I be assigned?

[2021-09-10 10:32] mmahmoudian commented on #1876
@Abhijnan-Bajpai Considering that this feature request is very new and is not fully discussed by the dev team, there is a chance that the devs have some comments about it. Personally I think it is a nice addition to Flameshot. I just will tag @borgmanJeremy, @veracioux, @ZetaoYang and @hosiet to know their opinion

[2021-09-10 10:42] Abhijnan-Bajpai commented on #1876
Sure, I'll keep working on it meanwhile. Hoping for the best!

[2021-09-10 10:48] Abhijnan-Bajpai commented on #1876
Also @mmahmoudian since its my first time working on this code-base, could you point me towards the right direction within the repository where I can start working for implementing these features.

[2021-09-10 11:15] mmahmoudian commented on #1876
@Abhijnan-Bajpai I'm not that familiar with the codebase either as I mostly handle documentation and triage in this project (kinda sorta like a community manager). But if I want to monkey my way into C++ world, some quick [ripgrep](https://github.com/BurntSushi/ripgrep) into the source code shows:

[code]

This shows the `configshortcuts.cpp` is where the keys are configured. From that we can get

[2021-09-10 11:30] veracioux commented on #1876
I would personally change the proposal a bit.

I would keep the shortcuts that come by default: `Up`, `Down`, `Left`, `Right` for move; `Shift+...` for resize. But we should make it so that when the move tool is active, pressing the size increase/decrease buttons changes the move/resize amount. This would require adding a new config option, e.g. `moveResizeAmount`, so that the setting can be indep

[2021-09-10 11:43] Abhijnan-Bajpai commented on #1876
Okay, I'll wait for the suggestions. Also thanks for the suggestions!

[2021-09-10 11:50] mmahmoudian commented on #1876
@Abhijnan-Bajpai It also worth to mention that you can also express your opinion about how this should potentially work. Don't think about it programmatically, but rather logically. What is the most intuitive way for a user to use this feature. My go-to approach is to open some other tools (e.g Inkscape, Gimp, LibreOffice) and play around and see how they have implemented such resizing shortcuts.

[2021-09-10 11:51] ZetaoYang commented on #1876
I prefer below,
`←` - Move selection left 1 pixel
`→`- Move selection right 1 pixel
`↑` - Move selection up 1 pixel
`↓` - Move selection down 1 pixel
`Ctrl + ←` - Resize selection left 1 pixel
`Ctrl + →` - Resize selection right 1 pixel
`Ctrl + ↑` - Resize selection up 1 pixel
`Ctrl + ↓` - Resize selection down 1 pixel

[2021-09-10 11:54] veracioux opened #1877 "Feature: Change tool size by entering number"
Here's a state diagram, assuming for convenience that the size indicator has a timeout of 1 sec:
- You press the size increase/decrease button.
- The size indicator shows up in the top left corner
- While the size indicator is active, you press numbers on your keyboard:
  - You press `1` => the size changes to 1 (size indicator's timeout is prolonged by 1 sec)
  - Then you press `2` => the size ch

[2021-09-10 11:55] mmahmoudian commented on #1876
@ZetaoYang So you oppose the 10 pixel resize and move feature?

At the moment `[←→↑↓]` moves by 1px and `SHIFT + [←→↑↓]` resizes by 1px.

[2021-09-10 12:01] ZetaoYang commented on #1876
In general, yes.
10 pixels control is too rough, although it can be configured, but I think less configuration is better for users. Set it to 1pixel, you can control the speed of movement by long pressing the `[←↑↓→]`, and this speed can be made to increase linearly with the long press time.

[2021-09-10 12:08] mmahmoudian commented on #1877
This is very useful esp. when I want all my arrows to be 4 but all the rectangles to be 2. At the moment I should scroll every time. and try to get it right.

The only thing I'm not very fund of is the 1sec delay. imo it is too long of waiting.

[2021-09-10 12:10] veracioux commented on #1877
@mmahmoudian It was just for illustration purposes. I was just too lazy to check what delay is currently implemented :)

[2021-09-10 12:11] veracioux commented on #1876
@ZetaoYang But if we add the `moveResizeAmount` config option and  set the default config value to 1px, users who don't want to configure anything will not even notice it. And the linear speed increase you propose can be added in addition to this.

Also  please look at #1877. That would make changing the move/resize amount even easier.

[2021-09-10 12:11] jesuslalvaro opened #1878 "imgur upload still bug in AppImage"
When trying to upload to imgur the old
[code]
message appears

**Flameshot version**
10.1  AppImage

**Describe the bug**
Uploading to imgur is not possible.
It happens only in the AppImage version
If I install it from .deb package it works fine.

Once installed both. AppImage version still does not work so
I suspect that some dependencies included in AppImage are missing or old

**To Reproduce**

[2021-09-10 12:17] mmahmoudian opened #1879 "The "copy to clipboard" button keeps the margin of the selected annotation"
**Flameshot version**
Flameshot v0.10.1 (ec70df10)
Compiled with Qt 5.15.2

**Describe the bug**
The copy function does not deselect the selected item and then copy and the dotted line would remain the screenshot. This behavior is also present in the `--raw` but does **not** happen with save.

Also interestingly enough, the <kbd>Ctrl</kbd>+<kbd>c</kbd> doers not even save the screenshot but Flames

[2021-09-10 12:23] mmahmoudian commented on #1878
I can reproduce this issue with AppImage v0.10.1 (4e406ec)

Perhaps that is also why we also get the following:

[code]

[2021-09-10 13:02] mmahmoudian commented on #1822
For those who are reading this thread to find a solution, I should point out that applications like `sxiv` and `feh` have `NoDisplay=true` in their .desktop file which prohibit them from showing up in applications listing including the list of applications in KDE plasma and also in Flameshot. Simply deleting that line would make them appear in the list.

[2021-09-10 13:23] borgmanJeremy commented on #1878
Do app images require explicit permission to use networking?

[2021-09-10 13:26] borgmanJeremy commented on #1877
Yeah this seems like a great idea.

[2021-09-10 14:08] mdxe commented on #1743
I had the same issue for a couple of days and it also was fixed after a restart of Flameshot.

[2021-09-10 14:09] veracioux commented on #1808
Question: Should the overlay message be displayed regardless of `showStartupLaunchMessage`? My opinion is that we should display it regardless.

Because a user can use flameshot for a long time before ever having to use the color grabber (me). By that time they could be annoyed by the startup help message and disable it, but they would have no way to find out all the features that the color grabbe

[2021-09-10 14:11] borgmanJeremy commented on #1808
Yes I agree it should always be shown.

[2021-09-10 14:13] mmahmoudian commented on #1808
I also believe that it should be displayed regardless. I myself was the first user who didn't read the message in the overlay and as the result missed w beautiful and useful functionality with the spacebar.

[2021-09-10 14:21] borgmanJeremy commented on #1710
Is this effort still underway?

[2021-09-10 14:22] mmahmoudian commented on #1743
@mdxe & @mohad12211 hope have you installed Flameshot?

[2021-09-10 14:22] #1648 closed

[2021-09-10 14:25] mdxe commented on #1743
@mmahmoudian I didn't need to re-install it to fix the issue. I just killed the background process and started the Flameshot program again.

[2021-09-10 14:26] Correct-Syntax commented on #1710
@borgmanJeremy yes, it is. We have just been chatting via Element and haven't updated the current progress here. 😄

We ended up deciding to try using Zola static site generator.
The latest news is that after some trial and error, the landing page is now working. My forked repository: https://github.com/Correct-Syntax/flameshot-org.github.io and the deployment: https://correct-syntax.github.io/flam

[2021-09-10 14:26] thepurple commented on #1879
I can reproduce it too, will try to find some time to fix it.

[2021-09-10 14:28] mmahmoudian commented on #1710
@borgmanJeremy yes, the issue is that neither me nor @Correct-Syntax manages to integrate this to the current mkdocs. So we decided to try to bring up the website using Zola. @Correct-Syntax started a repo with that and so far it looks great:

https://github.com/Correct-Syntax/flameshot-org.github.io

We should just work on it and add the md files to the new system and get it to work

[2021-09-10 15:23] thepurple commented on #1879
@mmahmoudian please this fix: https://github.com/flameshot-org/flameshot/pull/1881

[2021-09-10 15:26] mmahmoudian commented on #1743
@mdxe I understand that, but I wonder if for example snapd has somehow screwed up or AppImage mount got to some problems

[2021-09-10 15:39] mdxe commented on #1743
@mmahmoudian I use Arch Linux and I don't think that Flameshot is a snap or an appimage... I installed it using pacman, the package manager.

[2021-09-10 22:17] veracioux commented on #1877
Done. I also reduced the notifier box timeout from 1200 to 600 milliseconds. And greatly improved the performance of the thickness update.

[2021-09-11 03:31] ZetaoYang commented on #1878
I tried `Flameshot-0.10.1.x86_64.AppImage --appimage-extract`, then run `Apprun`, it works

![](https://user-images.githubusercontent.com/10769951/132934775-b5c2e261-5dec-432c-ba3a-14d0ab1df408.png)

[2021-09-11 03:57] ZetaoYang commented on #1878
The root cause is building appimage with docker option: `--security-opt apparmor:unconfined`
https://cloud.google.com/container-optimized-os/docs/how-to/secure-apparmor
![](https://user-images.githubusercontent.com/10769951/132935557-4b68318d-5222-41a2-872f-97356ac389cf.png)

[2021-09-11 04:35] ZetaoYang commented on #1878
`Flameshot-0.10.1.x86_64.AppImage --appimage-mount`, then `cd` mount directory, run `AppRun`
![](https://user-images.githubusercontent.com/10769951/132936308-62420ef9-ab2c-443c-99d7-a67ba0418070.png)

[2021-09-11 05:05] mindyourlifeguide commented on #1875
OS: Arch Linux x86_64
Kernel: 5.14.2-arch1-2
DE: Plasma 5.22.5
WM: KWin
Flameshot: 0.10.1-1

I reinstalled the system as I was changing the file system. After that I downloaded the list of hotkeys for KDE from github and imported it. And they did not work, although it worked with the last installation (about a year and a half ago)

[2021-09-11 06:48] mmahmoudian commented on #1875
@mindyourlifeguide it should work. I'll look into it.

[2021-09-11 10:22] thepurple opened #1883 "Completely broken feature "Take Screenshot" for multiple monitors with different resolution"
**Flameshot version**
Flameshot v0.10.1 (04793d7)
Compiled with Qt 5.12.8
linux: 5.11.0-34-generic
ubuntu: 20.04

**Describe the bug**
"Take Screenshot" captures wrong area for multiple displays.
In general it is completely broken by the commit:
908d9187162f75f7f380af4fee6e151504ec2b61 Refactor code related to CaptureWidget (#1801)

Please rollback this update. We cannot rollback this commit becau

[2021-09-11 11:31] dragarok commented on #1754
I am having simiilar issues in i3 from about a month. I tried changing the config as well but it didn't work.

[2021-09-11 11:51] borgmanJeremy commented on #1754
That sounds like you don't have a notification manager.

[2021-09-11 12:13] veracioux commented on #1883
I think I have identified a small chunk of code that causes your issue:

https://github.com/flameshot-org/flameshot/blob/908d9187162f75f7f380af4fee6e151504ec2b61/src/widgets/capture/capturewidget.cpp#L134-L138

In the refactor commit I added the preprocessor directives to prevent flameshot from overriding the WM to make debugging easier (on linux). I assume that you compiled flameshot in a debug c

[2021-09-11 13:27] thepurple commented on #1883
@veracioux this fix returns the previous behavior, great, thx.
Everything fine with FullHD+4k scaled to FullHD

And the issue with not similar displays resolution or if they are not in a line (as we had before):
![fullhd+4k](https://user-images.githubusercontent.com/15923484/132948930-c6f3b420-981f-4a71-b3ab-34b36f84a687.png)

@veracioux thanks for really fast reaction and I feel myself as a fool,

[2021-09-11 13:31] thepurple commented on #1883
@veracioux thanks and sorry for such reaction from my side. It was a hard day.
And send please a PR with this fix for Debug mode anyway.

[2021-09-11 17:11] veracioux commented on #1883
@thepurple It's fine, we all make mistakes. I changed it so that you have to explicitly pass a `-DFLAMESHOT_DEBUG_CAPTURE` option to `cmake` to enable the debugging tweak. Is that ok?

[2021-09-11 17:19] thepurple commented on #1883
It looks great, thx.

[2021-09-11 17:54] #1883 closed

[2021-09-11 17:55] #1879 closed

[2021-09-11 17:57] #1877 closed

[2021-09-12 04:11] dragarok commented on #1754
That was quick. Thanks a lot !! :smile:

[2021-09-12 07:52] rapiz1 commented on #1875
After some digging, the shortcut comes from `/usr/share/applications/org.flameshot.Flameshot.desktop`
[code]

I wonder why there's a delay here. After removing it, the shortcut works again.
BTW, run `flameshot gui --delay 500` from console always work.

@mmahmoudian Any changes about the delay parameters?

[2021-09-12 09:12] mmahmoudian commented on #1743
@borgmanJeremy I quickly checked the [imgur API documentation](https://apidocs.imgur.com/#7db0c13c-bf70-4e87-aecf-047abc65686d) and there is no where that we can use this format in out GET or POST requests:`https://api.imgur.com/3/image?title=flameshot_screenshot&description= 2021-09-10_11-43`. As far as I can understand we should use imageHash (`https://api.imgur.com/3/image/{{imageHash}}`) in th

[2021-09-12 09:39] #1808 closed

[2021-09-12 09:45] rapiz1 commented on #1875
@mindyourlifeguide Can you test the workaround I gave?

[2021-09-12 10:21] mohad12211 opened #1886 "A new window is opened when taking screenshot"
Taking a screenshot will open a new window instead of showing an overlay.
Flameshot v0.10.1 (d8d428f)

https://streamable.com/hkovpn

latest commit Flameshot v0.10.1 (c3dd1ce5):

https://streamable.com/o4a3os

compiling with d8d428f will result in the expected behavior, with c3dd1ce5 it will open a new window. I took a quick look at the last 4 commits and I still don't understand why this happens.

[2021-09-12 10:35] Allypost commented on #1857
I have a similar (probably the same) issue.

My PC has two monitors connected.
With the most recent version when I try to take a screenshot of my **primary** monitor (Xorg) it displays Flameshot overlay but shows the screen of the **secondary** monitor. Screenshotting on the secondary monitor works as expected.
The overlay also only ever appears on one screen (the one which was focused when the co

[2021-09-12 11:01] mmahmoudian commented on #1875
@rapiz1 Interesting! Your comments made me to dive into the rabbit-hole of finding the source of the issue and finally managed to find why the KDE shortcuts does not work. I'm creating a PR for the fix and I will update this post.

[2021-09-12 11:42] mmahmoudian commented on #1875
@rapiz1 I believe the delay in the line below is now unnecessary:

https://github.com/flameshot-org/flameshot/blob/c3dd1ce5e6b5919cfa2394b05788293ab3ea018b/data/desktopEntry/package/org.flameshot.Flameshot.desktop#L84

Based on [the definition of actions in the freedesktop.org](https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html#extra-actions):

So basically as

[2021-09-12 11:48] mmahmoudian commented on #1857
@Allypost github says the mp4 is "corrupted". would you please upload it again?

![image](https://user-images.githubusercontent.com/390889/132986401-b2b74bce-fb83-420a-bd77-67af82abd7c8.png)

[2021-09-12 12:13] mmahmoudian commented on #1886
I cannot reproduce [that effect](https://streamable.com/o4a3os) you showed, but I faced another issue!! when the `flameshot gui` starts, my whole monitor shifts down  and the above half of the screen will be filled with a black color:

https://user-images.githubusercontent.com/390889/132987022-4c7251bc-6ada-4aee-8ad9-39abcfff7064.mp4

My monitor setup in case it is relevant:
![image](https://user-

[2021-09-12 13:36] veracioux commented on #1886
#1888 should fix both your issues.

[2021-09-12 13:47] mohad12211 commented on #1886
after some investigations I knew it was a problem in the WM hints and I was wondering why it wasn't applied. your PR fixed it.

[2021-09-12 15:10] StoyanDimitrov commented on #1876
...

It is rough and that's why the main key (some arrow) is used with *modifier*. So you get some sort of *modified behaviour*. In our case increased amount of pixels move/resize.

Every graphic package I've touched recently (be it vector or raster) as well as similar applications (dedicated or even browser extensions) have at least two (Inkscape has three) levels of selection/object movement spe

[2021-09-12 20:17] mindyourlifeguide commented on #1875
@rapiz1 This did not fix the current issue

[2021-09-12 21:18] maguilara commented on #1875
I'm facing the same issue myself, but I think mine was working until a few months ago (I just came back to my arch partition). I tested a new key combo, and then I reverted to the same key (PrntScr), and I think just then it started to fail. I use the KDE shortcut with the action `flameshot gui`

[2021-09-12 21:32] maguilara commented on #1072
I'm facing the same issue myself, but I think mine was working until a few months ago (I just came back to my arch partition). Today I tested a new key combo, and then I reverted to the same key (PrntScr), and I think just then it started to fail. Not really sure if after setting the new key combo it started to fail since I haven't taking too many screenshots recently but it feels that way. I use

[2021-09-12 21:59] Allypost commented on #1857
Weird, it's using very standard codecs.

Here's a (slightly lower quality) reupload:

https://streamable.com/y6noge

[2021-09-13 00:16] mdxe commented on #1743
@mmahmoudian It doesn't help, same error, 2 days later

[2021-09-13 06:52] fre-ac commented on #1378
Is there an idea to fix the problem?

[2021-09-13 08:49] kryshac commented on #1850
today I updated again to version 1.20.13-3 and the problem no longer persists I think it was another package on which xorg-server was dependent. I think this issue can be closed

[2021-09-13 09:29] mmahmoudian commented on #1875
@mindyourlifeguide would you please try importing [this file](https://github.com/flameshot-org/flameshot/blob/4405f9ae72c3b978b878e6244b18bbef036a0363/docs/shortcuts-config/flameshot-shortcuts-kde) into your KDE shortcuts and see if it has fixed it for you. The file is from https://github.com/flameshot-org/flameshot/pull/1887/files

[2021-09-13 09:32] mmahmoudian commented on #1857
@eval-exec would you please check if the issue you are facing is the same as https://streamable.com/y6noge

[2021-09-13 10:23] jath03 opened #1889 "Touchscreen won't work after saving a screenshot"
**Flameshot version**

Observed on both:
flameshot 0.10.1-1
flameshot-git r1425.c3dd1ce5-1

**Describe the bug**

My touchscreen stops working (with flameshot) after using it to finish taking a screenshot.  Flameshot works perfectly with my touchscreen for the first screenshot, moving the box around, drawing, everything, but If I tap on the copy to clipboard button or any of the other "finishing"

[2021-09-13 11:35] mmahmoudian opened #1890 "Tool Settings button does not get de-selected"
**Flameshot version**
Flameshot v0.10.1 (ec70df10)
Compiled with Qt 5.15.2

**Describe the bug**
when the sidebar is opened by clicking on the Tool Settings button, it does not unfocus that button. This means that when user closes the sidebar and take the mouse over the Tool Settings button, without any clicking, it can be dragged around and the only way to stop if from following the mouse is to m

[2021-09-13 12:39] mmahmoudian commented on #1850
@usman5251 what do you think? is it also resolved for you after upgrading the xorg-server?

[2021-09-13 13:08] usman5251 commented on #1850
I am using Manjaro 21.1.2 which came with xorg-server 1.20.13-3, I have not yet tried downgrading-upgrading it!

[2021-09-13 13:14] #1886 closed

[2021-09-13 14:00] mohad12211 commented on #784
this issue is still there and it wasn't fixed. it's not annoying. but I can notice it with certain apps. here's a video:

https://user-images.githubusercontent.com/51754973/133095865-d0b05764-b4ed-4a06-b19d-edf35e4106d3.mp4

this is dwm. and I also tested it on bspwm.

you can see that when my terminal is focused. the terminal cursor is white. when it's out of focus, it has a white outline only.
a

[2021-09-13 14:09] #1890 closed

[2021-09-13 14:13] borgmanJeremy commented on #1079
This is now merged in thanks to @veracioux

[2021-09-13 14:13] #1079 closed

[2021-09-13 14:16] borgmanJeremy commented on #1495
I don't 100% follow this request. @mmahmoudian can this be closed in favor of the color picker rework?

[2021-09-13 14:21] borgmanJeremy commented on #1798
@mmahmoudian seeing as we just merged the rework for the color picker and we kept it in the sidebar, I think it is unlikely we will add it to the tool list. Should we close this?

[2021-09-13 14:23] borgmanJeremy commented on #1576
I don't think we will add this since you can already just hit a hotkey to save or copy the image.

[2021-09-13 14:23] #1576 closed

[2021-09-13 14:52] mmahmoudian commented on #784
@borgmanJeremy should we reopen this issue?

[2021-09-13 14:55] mmahmoudian commented on #1495
@borgmanJeremy yes I believe this is fulfilled by the color grabbing feature we just added.

[2021-09-13 14:55] #1495 closed

[2021-09-13 15:23] mmahmoudian commented on #1798
@borgmanJeremy I kinda also see some merit into this and would be nice if we can have a bubble in the right-click color wheel to call that color grabber that @veracioux just developed. Basically I'm not the one who should decide as you and @veracioux  know the code based and if it is easy to integrate. Otherwise I believe we should close this feature request although we have not fulfilled it.

[2021-09-13 15:38] borgmanJeremy commented on #784
No I don't think we can really fix this from Flameshot

[2021-09-13 15:43] #1356 closed

[2021-09-13 16:28] felipe3dfx commented on #1865
@mmahmoudian

Same error but is installed with apt

`$ loginctl show-session $(loginctl show-user $(whoami) -p Display --value) -p Type --value`
`x11`

[2021-09-13 16:51] mohad12211 commented on #784
fair enough. actually I found a good workaround.
[code]
this wrapper script should  work on all window managers, it will restore the focus to the original window if the focus didn't change after taking the screenshot.
it should execute after taking the screenshot so I added the -g flag to make `flameshot gui` wait for the screenshot to be taken. I think this is the only way to make `flameshot gui`

[2021-09-13 16:57] worace commented on #108
@mmahmoudian sorry it took me a bit to finally test this...I had not been working at the machine that is having the issue for a few days.

That was a good hunch, because as you suspected it does work normally at 100%. And on another hunch, I also tested at 200%, which _also works ok_. So it seems that it's something about the fractional scaling in particular that is not playing nice with it. I rec

[2021-09-13 16:59] veracioux commented on #1798
@mmahmoudian @borgmanJeremy
I designed the interface for the color grabber to be embeddable anywhere (anticipating a PR for #328 in the future). Or, at least it should be with small tweaks. And adding a button to the color picker pie shouldn't be too hard if I'm not mistaken.

I'm not a touchscreen user so I can't particularly endorse this feature. But I do think the pie would be the most logical

[2021-09-13 17:52] mfauvain commented on #1798
I agree.. It's a great tool as it is and using it quite extensively now. Thx

[2021-09-13 19:56] borgmanJeremy commented on #1216
I looked into it and there isnt a way to detect if a specific font should be RTL or LTR. However, I added the ability to manually set the alignment. Let me know what you think:
https://github.com/flameshot-org/flameshot/pull/1892

[2021-09-13 21:54] ManInTheSuit opened #1893 "Flameshot screenshots entire screen if ctrl+C is hit while using the snipping tool (flameshot gui)"
**Flameshot version**
v0.10.1

**Describe the bug**
Flameshot screenshots entire screen if ctrl+C is hit while using the snipping tool (flameshot gui) - what I mean is **while dragging the selection over the screen**, not just "being in flameshot gui".

**To Reproduce**
Start flameshot gui, and when dragging the screenshotting rectangle, press ctrl+C to copy before finishing and voila.

**Expected

[2021-09-14 01:22] veracioux commented on #1893
#1894 should fix the issue. Please confirm.

[2021-09-14 01:52] #1861 closed

[2021-09-14 01:55] borgmanJeremy commented on #1840
So if I am following all this, its an upstream chromium issue?

[2021-09-14 02:03] borgmanJeremy commented on #1786
I looked into this and it is not possible to move a widget off screen on X11  :( . https://forum.qt.io/topic/106141/move-qwidget-offscreen-on-linux I also independently tested this by hard coding negative coordinates.

We can probably do some sort of cropping operation to give the illusion of moving it off the screen, but not sure how complicated that will be yet.

[2021-09-14 02:24] borgmanJeremy commented on #1786
Actually much easier than I thought.... Will get the PR put in tomorrow.
![Peek 2021-09-13 21-23](https://user-images.githubusercontent.com/46930769/133184266-e5b8eda5-abfa-436a-9f05-e9b2640e77e7.gif)

[2021-09-14 05:59] mindyourlifeguide commented on #1875
@mmahmoudian did not fix

[2021-09-14 06:49] mmahmoudian commented on #1786
@borgmanJeremy is it intentional to get cropped at a fraction of the rate of mouse movement (the mouse position drastically changes with respect to the pinned image)?

[2021-09-14 06:53] mmahmoudian commented on #1875
@mindyourlifeguide would you please send me some screenshots from your KDE Plasma shortcuts for Flameshot. Also please Export them and give me a link to download it.

[2021-09-14 07:05] roynico commented on #472
Wow... glad to have found this thread: I used to use flameshot (that I like very much), and I had the impression that in the past it was possible to choose the color... and at some point I was not able anymore to find how ! :D right-click ... yes ... why didnt I think about it !

[2021-09-14 07:12] mindyourlifeguide commented on #1875
![image](https://user-images.githubusercontent.com/35348648/133211674-5156c046-0061-4ff3-93c7-fa8708cd1354.png)
![image](https://user-images.githubusercontent.com/35348648/133211706-fafb7f8f-fe20-4e03-b845-644ffc18b1d1.png)
![image](https://user-images.githubusercontent.com/35348648/133211717-76145e5c-b4e8-4141-84b7-564f71910249.png)
![image](https://user-images.githubusercontent.com/35348648/1332

[2021-09-14 07:16] mattbdc commented on #1840
I think it's best to wait until others confirm that disabling ozone works

[2021-09-14 08:12] adrianvg commented on #387
Will look into those, thanks.

[2021-09-14 08:24] FSund commented on #472
In my experience few users read a welcome screen, they usually want to get straight to using the app. Questions about more complex operations will typically arise after using an app for a while, at which point the welcome screen is long forgotten.

I do agree the UI has a lot of elements already, so I am not sure if a perfect solution exists.

[2021-09-14 10:40] mmahmoudian commented on #472
@roynico as @FSund kindly pointed out, it is very common that our users skip reading the following message that appears every single time in the middle of the screen on which on the 3rd line explains the color picker 😃 :

![image](https://user-images.githubusercontent.com/390889/133242836-e41c404e-4cff-4253-a562-05907ae020aa.png)

There is perhaps a need for some UI improvements but they should be

[2021-09-14 10:46] MohamadKh75 opened #1895 "Add more colors"
**Is your feature request related to a problem?**
No

**Description**
Let's have more colors on the wheel! like white, black, or even some RGB or HEX color input!

[2021-09-14 11:11] mmahmoudian commented on #1895
@MohamadKh75 there is already a button in the color picker that opens the sidebar for you to access the color wheel. Alternatively you can click the "Tool Settings" button or <kbd>Space bar</kbd> to open the sidebar.

![image](https://user-images.githubusercontent.com/390889/133247061-c7ee4e87-588e-4546-b2fa-099ba1117874.png)

[2021-09-14 11:12] mmahmoudian commented on #1895
Should we close this issue?

[2021-09-14 11:51] FSund commented on #472
I must admit I've never read any further than "Select an area with the mouse", and usually just hastily select the area I want to capture when using Flameshot.

The best tools are tools that don't need any explanation, and are intuitive to use. Flameshot is 99% of the way there for me, with the color picker being the only thing that is missing something.

[2021-09-14 12:13] MohamadKh75 commented on #1895
Oops! I didn't know that option would do that!
Thanks 😁

[2021-09-14 12:13] #1895 closed

[2021-09-14 12:20] mmahmoudian commented on #472
@FSund Missing what? Suggest/contribute that 1% 😉

[2021-09-14 13:16] #1893 closed

[2021-09-14 13:17] borgmanJeremy commented on #1786
Nope, thats the bug I need to fix before merging :-)

[2021-09-14 14:05] dkasak opened #1897 "Keyboard shortcuts not working"
**Flameshot version**

Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**

The keyboard shortcuts (e.g. <kbd>Enter</kbd> for capturing the image or <kbd>Esc</kbd> for exiting the capture are not working for me when I start `flameshot gui`.

**To Reproduce**
Not sure why this is the case, so not sure what the exact steps are to reproduce. However, when I press those keys, they do not p

[2021-09-14 14:07] borgmanJeremy commented on #1897
Please post your config file.

[2021-09-14 14:16] dkasak commented on #1897
[code]

Okay, so from this it appears the Enter and Escape or actually *not* the shortcuts I'm looking for. This is mildly surprising since I haven't customized anything apart from the colour of the icons using `flameshot config`.

However, further testing shows that keyboard shortcuts (as listed in the config file) only *sometimes* work: there are runs where they work as expected and runs where t

[2021-09-14 14:18] borgmanJeremy commented on #1897
Can you describe a run where they work and do not work?

IE are you launching from the system tray, cli, shortcut key...If cli what command, if shortcut how is it set up?

[2021-09-14 14:44] dkasak commented on #1897
I'm running it one of those ways:

1. Running `flameshot gui` from a shell.
2. From a keyboard shortcut (<kbd>Ctrl</kbd>+<kbd>PrtScr</kbd>) which is bound to `flameshot gui` in xmonad's config.

For case 1, I get it working sometimes, I'd say about 40% of the time, without a discernible difference between runs. For case 2, it seems to never work.

[2021-09-14 14:58] alexfornuto commented on #1840
Disabling Ozone fixed the issue for me on Pop_OS and Google Chrome 93.0.4577.63.
![image](https://user-images.githubusercontent.com/2349184/133281744-dac287c7-a880-4164-b6af-c2710437cce6.png)

[2021-09-14 15:03] veracioux commented on #1897
Enter is not bound to anything, so the initial message is misleading. (see #1813)
Escape should close the capture, so I don't know what's wrong with that.

I also have an issue that could be related (I use i3 window manager).
- I start flameshot capture (via WM shortcut or CLI, both produce the same behavior)
- I press a WM shortcut that closes the active window
  Now, because flameshot capture ov

[2021-09-14 15:11] veracioux commented on #1897
May be related to #773 and #550 as well.

[2021-09-14 16:20] borgmanJeremy commented on #1786
@mmahmoudian what do you think the behavior should be in a multimonitor setup?

We can either start truncating the pinned image when it moves past the edge of a screen (Easy)
We can move the pinned image to adjacent monitors and only clip when it hits the furthest edge (Harder)

[2021-09-14 19:03] mmahmoudian commented on #1786
@borgmanJeremy at least on Plasma I can already move the pin from one monitor to another and I actually use that alot when I want to have side-by-side comparison. So I think I have missed what you are asking here.

[2021-09-14 19:16] borgmanJeremy commented on #1786
It's okay, I think you answered my question

[2021-09-14 19:36] mmahmoudian commented on #1786
@borgmanJeremy but isn't that managed by the window manager?

[2021-09-14 19:51] borgmanJeremy commented on #1786
So the goal here is to create the illusion that the pinned image is moving off screen. We have to create this as an illusion because on the X11 window manager the widget cannot move outside the screen:
![image](https://user-images.githubusercontent.com/46930769/133323724-15ca20f7-b859-42cd-9d73-8657214fe920.png)

In order to accomplish this, I am cropping the pinned image as it moves "past" the ed

[2021-09-14 20:55] kachapman commented on #675
I get this issue on Pop!OS 21.04 in wayland. Is there a work around yet for debian/ubuntu distros?

[2021-09-15 00:47] unwelt commented on #1864
I've encountered this problem too. Ubuntu 20.04, Google Chrome Version 93.0.4577.63. When I'm taking a screenshot by Flameshot I can't paste a result on, for example, Github. I pressed ctr+v and nothing happened. But, when I'm trying to paste a result to social network vk.com, I see an error in Chrome Developer Tools. Maybe It will help you to catch the problem
![image](https://user-images.githubu

[2021-09-15 03:29] alexfornuto commented on #1864
[This solution](https://github.com/flameshot-org/flameshot/issues/1840#issuecomment-916774959) worked for me.

[2021-09-15 06:35] unwelt commented on #1864
Thank you! It worked for me too.

[2021-09-15 07:04] mmahmoudian commented on #1786
@borgmanJeremy I'm not aware of the limitations, so here is just my possibly flawed understanding: in X11 all monitors together create a large rectangular "canvas" (showed as light gray dashed lines) and at the moment the pin window can move between monitors and also can practically go outside of the monitor region if and only if another monitor has expanded the "canvas". I think all we need to do

[2021-09-15 08:08] spxak1 commented on #1864
Thank you for the suggestion. How do I go about disabling Ozone? Sorry for the naive question.

[2021-09-15 08:18] FSund commented on #472
@mmahmoudian I was thinking about what we are discussing in this issue, that the color picker itself is easy to oversee/forget about, and doesn't have an immediately obvious way to bring up.

[2021-09-15 10:43] ExceptionGit opened #1900 "Unix Timestamp in the filename pattern: %s"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
Pattern `file%s`, doesn't work now.

**To Reproduce**
1. Set the filename pattern to screenshot: `file%s`
2. Take a screenshot
3. `file%s.png`

**Expected behavior**
Should work.

**System Information**
Arch Linux

[2021-09-15 11:59] borgmanJeremy commented on #1900
We support the format specifiers defined here: https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/strftime-wcsftime-strftime-l-wcsftime-l?view=msvc-160

The msvc compiler only supports a subset of the flags that gcc does.

[2021-09-15 13:06] mmahmoudian commented on #472
@FSund We are thinking about adding a welcome page and possibly a "tip of the day". I might also record some YouTube/Odysee tutorials if/when I have time. If you have any suggestion about non-disruptive non-destructive way to tell user about features, let us know

[2021-09-15 13:09] mmahmoudian commented on #1900
@borgmanJeremy is this something that we are planning to solve if the issue is upstream? In other words should I mark it as Enhancement or close the issue?

[2021-09-15 13:34] borgmanJeremy commented on #1900
I would close the issue. MSVC is not planning to change the compiler.

I specifically added in filters a while back to only support the "intersection" of all the different format specifiers to prevent crashes.

[2021-09-15 13:53] #1900 closed

[2021-09-15 13:55] mmahmoudian commented on #1900
@ExceptionGit Hope this get resolved in upstream so that we can also have this flag

[2021-09-15 16:12] borgmanJeremy commented on #1786
@mmahmoudian Can you confirm that that is how it works on X11? I dont have a mixed monitor setup.

[2021-09-15 16:36] mmahmoudian commented on #1786
@borgmanJeremy I did that before making the figures. The full pink rectangles are where I can already position the pin (Manjaro KDE Plasma)

[2021-09-15 17:15] mmahmoudian commented on #1824
I confirm that this is the issue with AwesomeWM and Alacritty and Konsole,

**Alacritty:**

https://user-images.githubusercontent.com/390889/133479266-8f024520-6f98-4677-b427-26bc062ecee8.mp4

**Konsole:**

https://user-images.githubusercontent.com/390889/133479262-01db2486-caea-4e3c-b00c-1557d86fac48.mp4

[2021-09-15 17:17] mmahmoudian commented on #1824
This might be also related to #1694

[2021-09-15 17:21] mmahmoudian commented on #1694
For others reading this thread, it seems there is some solution in AwesomeWM end and it is [confirmed by OP of this thread](https://github.com/awesomeWM/awesome/issues/3379#issuecomment-886065784).

[2021-09-15 17:42] mmahmoudian commented on #1875
@mindyourlifeguide Considering the version number, I believe for the time being the fastest solution for you is to define some command shortcuts (e.g `flameshot gui`). In the long run, we should see if the newer versions of Flameshot work as expected. For example if you are willing to install the AUR (maintained by us) or alternatively download AppImage of the [latest commit](https://github.com/fl

[2021-09-15 17:47] mmahmoudian commented on #784
@mohad12211 This is definitely related to #1824. Checkout [my comment](https://github.com/flameshot-org/flameshot/issues/1824#issuecomment-920212860) there.

[2021-09-15 17:48] borgmanJeremy commented on #1824
So this sounds like an upstream issue with awesomeWM?

[2021-09-15 17:57] jfly commented on #784
As a reminder, disabling `Qt::BypassWindowManagerHint` made this problem go away for me: https://github.com/flameshot-org/flameshot/pull/731#issuecomment-719767364, which is why this PR: https://github.com/flameshot-org/flameshot/pull/1300 closed this issue. Unfortunately, it did result in problems on multi-monitor setups, which caused @borgmanJeremy to revert it here: https://github.com/flameshot

[2021-09-15 19:04] rainbowjose commented on #1622
Exactly the same problem, Ubuntu 21.04 Wayland. Tried snap and flatpak versions.

Apt and deb working properly.

[2021-09-15 19:08] mmahmoudian commented on #1824
@borgmanJeremy I don't know. If we manage to reproduce this is any other WM (other than DWM and AwesomeWM), then that proves the bug is on us I guess

[2021-09-15 19:58] mohad12211 commented on #1824
#784, #1694, and this issue are all the same problem for sure. focus is not set correctly after exiting. both me and @santilococo are dwm users and confirm this issue. also I faced it on bspwm. @sebw in #784 mentioned that he used bspwm. as a start I would like people to try this [wrapper script](https://github.com/flameshot-org/flameshot/issues/784#issuecomment-918382722). you need xdotool instal

[2021-09-15 20:20] sebw commented on #1824
I have the problem in both i3wm and bspwm.

[2021-09-16 01:14] Nils-Trinity commented on #1875
I had the same issue earlier and managed to fix it by deleting the "false" in the arguments. I see people above messing with delay settings but I didn't touch those
![image](https://user-images.githubusercontent.com/23055329/133532837-896feb76-926f-42bb-b022-2de7db5af624.png)
instead of
![image](https://user-images.githubusercontent.com/23055329/133533490-a6ae97ae-a010-4537-b535-c5b0f085f71d.png)

[2021-09-16 03:40] ExceptionGit commented on #1900
@borgmanJeremy In old version `Flameshot v0.9.0` it's work and `%s` used in Spdlog. Can you post a commit where this behavior is changed?

@mmahmoudian I don't think this get resolved in upstream if the MSVC compiler in priority.

[2021-09-16 07:26] mmahmoudian commented on #1875
@Nils-Trinity the `false` is a new addition and it should only be used for users with Flameshot >v0.10.1 or those who are using the latest AUR or compile from source. We have added a new flag to DBus recently and it is not in any released version yet but it is merged in the master branch (hence the AUR and compiling from source)

[2021-09-16 10:42] rfaile313 commented on #241
Just noting here that this already seems to be the case. Demonstration:

![ezgif-7-f0e33de986bf](https://user-images.githubusercontent.com/13829168/133598347-5f3d9d48-95c2-4138-9fe0-482155729d43.gif)

Can probably close this issue?

[2021-09-16 12:15] thepurple commented on #241
It was implemented a long time ago.
It should be closed.

[2021-09-16 12:17] #241 closed

[2021-09-16 12:22] borgmanJeremy commented on #1900
I changed the behavior in this PR to commonize the behavior across all platforms: https://github.com/flameshot-org/flameshot/pull/1415

[2021-09-16 13:47] syeopite opened #1901 "Painful performance with multiple high resolution displays"
**Flameshot version**

Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**

Flameshot has horrible performance with multiple high resolution displays. For reference, I have four 4k monitors powered by an RTX 2080 TI — so the hardware shouldn't be causing this:

https://user-images.githubusercontent.com/70992037/133621874-005a2621-7ecd-48fd-abec-2ec126d17d90.mp4

If it helps this was ex

[2021-09-16 13:58] borgmanJeremy commented on #1901
Are you by any chance a c++ developer? It would be great to get some profiler information as I don't have the hardware to replicate this.

[2021-09-16 14:19] syeopite commented on #1901
Unfortunately not, my skills are limited to crystal and python. Though if you could provide some instructions, I'll be happy to try.

[2021-09-16 15:17] slococo commented on #784
Thanks @mohad12211, but strangely it didn't work for me. I had to change windowactivate to windowfocus for it to work (using dwm). TY! It's a nice workaround.

[2021-09-16 17:12] adrianvg commented on #387
@mmahmoudian
I seem to somehow have managed to install both the snap and "normal" packaged version of flameshot on my Kubuntu.
I might've forgotten at some point that I already had the snap installed while trying to figure out the icon problem.
After uninstalling both I installed the packaged version from the regular Ubuntu repos to try out, and behold, the icon shows!

Thanks for your assistance!

[2021-09-16 17:19] mohad12211 commented on #784
actually yes. `windowactivate` worked for my custom dwm because of a patch I think. I changed it to `windowfocus` now and it works on my dwm. I tried the script with `windowfocus` on awesome and bspwm as well. worked on both of them after the change.

[2021-09-16 18:43] borgmanJeremy commented on #1901
Here is a script that will build flameshot and run it under a profiler for 30 seconds. You will need to install the flameshot build dependencies first (from the README).

You can see it runs for 30 seconds before terminating but feel free to tweak that. When its done can you upload two files?

1. tmp/Flamegraph/out.perf-folded
2. tmp/Flamegraph/perf.svg

This might not capture the issue but its a

[2021-09-16 21:29] sersorrel commented on #784
both `windowactivate` and `windowfocus` work for me on i3 4.19.2, thanks!

[2021-09-16 22:36] Kaperios commented on #1738
I'm encountering a similar problem, although I'm not 100% sure it's the same one. I found out that if the screenshot is small enough, you can paste it without any problems. The problem is when the file size gets too big. If they're too big you can't paste it to for example Discord and pasting it into GIMP shows that the screenshot is clearly corrupt.

Output of `flameshot --version`:
[code]
Arch w

[2021-09-16 22:56] ExceptionGit commented on #1900
Thanks, i will change this behavior for my case and keep it upgradeable.

[2021-09-17 00:26] syeopite commented on #1901
Here you go, the results are in the attached zip.

[results.zip](https://github.com/flameshot-org/flameshot/files/7181659/results.zip)

[2021-09-17 03:55] yinxiulong opened #1902 "Intercept active window"
How to intercept the active window? Instead of choosing your own area！

[2021-09-17 05:01] mmahmoudian commented on #784
@borgmanJeremy can [this workaround](https://github.com/flameshot-org/flameshot/issues/784#issuecomment-918382722) be implemented using some QT functions? For example using `QApplication::activeWindow()` and `QWidget::setFocus()`?

[2021-09-17 05:08] mmahmoudian commented on #1902
I assume by "intercept" you mean take a screenshot from. When you run the command `flameshot gui` you will have the option to select the region (of course you can use <kbd>Ctrl</kbd>+ <kbd>a</kbd> to select all of the active monitor), if you want to capture one monitor you can use `flameshot screen` and if you want to capture everything in all monitors you can use `flameshot full`.

[2021-09-17 05:28] yinxiulong commented on #1902
I just want to select a window, not the whole screen.

[2021-09-17 07:03] mindyourlifeguide commented on #1875
@mmahmoudian The latest version (r1474.d1428889-1) still does not work via hotkeys. But if you check through a call, then it works. If via d-bus, it does not work.
Also, even if it was possible to call the screenshot window, copying to the clipboard via ctrl + c does not work

![image](https://user-images.githubusercontent.com/35348648/133739119-87ada80a-c07b-4e78-9e88-6ab8d7511261.png)

[2021-09-17 07:50] mohad12211 commented on #784
btw this is the [code ](https://github.com/jordansissel/xdotool/blob/53d3d347e4be785829d1ec73c8efdebefa01133a/xdo.c#L413)for `windowfocus`. they use xsetinputfocus. which is an x11 function. I hope that it might help.

[2021-09-17 08:42] eugenesvk opened #1903 "Show selection window's position coordinates in addition to its size"
Currently flameshow only shows the size/dimensions of the selection rectangle.
It'd be nice if it would also show the coordinates, e.g. top-left corner of the selection window is at `X,Y`, might be a bubble located at the top-left corner screen
This helps with repeated screenshots, e.g. if you've missed a few pixels in your original selection, you can remember the position of the previous selectio

[2021-09-17 08:55] eugenesvk opened #1904 "Auto-select windows on hover"
Currently, if I wanted to select a **window** of some app **precisely,** I have to manually move&adjust the selection window to match the app's window, which is not easy to do perfectly
It would be great if flameshot could **auto-identify** and auto-select the window **on hover**

Below is an example screenshot of another screenshotting app's process that does exactly this: note the orange dashed

[2021-09-17 11:08] mmahmoudian commented on #1904
Isn't this a duplicate of #1814 ?

[2021-09-17 11:28] eugenesvk commented on #1904
It's close to how ZetaoYang understood it https://github.com/flameshot-org/flameshot/issues/1814#issuecomment-895660648, though I believe that the hover method proposed here vs a shortcut mentioned in the issue you linked is more convenient

Though now I've just found another feature request that is like mine with the mouse hover (https://github.com/flameshot-org/flameshot/issues/1816, apologies f

[2021-09-17 12:03] fre-ac commented on #1378
I compiled the Github version on September 17th, and I have to say that now the tray icon is displayed correctly :)
![xfce_416_flameshot_tray_icon](https://user-images.githubusercontent.com/85880630/133779581-c78e5a92-e9b2-4c0e-b1a1-f9cf2e2316f7.png)

[2021-09-17 16:36] borgmanJeremy commented on #1901
Thanks, for both our reports it seems we are spending a crazy amount of time copying data. Since your resolution is so much higher i suspect thats why you have a performance issue. I'll need to spend more time figuring out where the copy is taking place.

[2021-09-17 23:49] veracioux commented on #1901
@borgmanJeremy Maybe it's a better to profile `flameshot` after running `flameshot gui`? Does the daemon even use the GUI by itself, apart from initialization perhaps? The data copying could be a problem, but it doesn't have to be related to this issue. If the daemon does not use the GUI by itself, the data copying shouldn't have anything to do with a beastly monitor setup.

Sorry if I'm missing s

[2021-09-17 23:56] borgmanJeremy commented on #1901
I'm afk right now... does flameshot GUI get a separate pid? If it uses the same pid I think the original method is valid.

[2021-09-18 00:02] veracioux commented on #1901
@borgmanJeremy It does get its own pid, but its only job is to send a dbus message to the daemon and then it quits. In my suggestion, I still profile the daemon, but after running flameshot gui before perf.

[2021-09-18 07:39] loliconshik3 opened #1905 "Add color code in Tool Settings"
In flameshot i can grab color, but can't see color code (like `#000000`) and can't copy him. Why?...

[2021-09-18 10:40] dkasak commented on #1897
@veracioux Hitting the keybinding for closing the active window doesn't close the underlying (last active window before launching Flameshot) for me. The xmonad-contrib issue you linked looks like it might be it, though. I'll try testing with the proposed fix there.

[2021-09-18 11:16] dkasak commented on #1897
Ah, actually, it *does* behave like you described. It just isn't apparent until I close the Flameshot overlay.

[2021-09-18 11:20] dkasak commented on #1897
And recompiling xmonad-contrib from latest master fixes the issue.

[2021-09-18 12:31] Allypost commented on #1857
@mmahmoudian seems to be fixed (at least for me) in version

[code]

[2021-09-18 12:39] mmahmoudian commented on #1857
@Allypost Thanks for reporting back. Considering that @eval-exec hasn't been active in the past 18 days, and assuming that you two had the same issue, I'm going to assume the issue is resolved and then close this issue in few days if @eval-exec doesn't reply back

[2021-09-18 12:45] mmahmoudian commented on #1905
@loliconshik3 that is already implemented in #1869 and is available in the latest build. If you are on an Arch based Linux distro you can install the AUR, otherwise you have to build from source. This will be available in the next released version of Flameshot.

in case you are on Windows or Mac or Debian based Linux distro, let me know and I'll give you instructions on how to get a version with t

[2021-09-18 12:46] #1905 closed

[2021-09-18 15:37] borgmanJeremy commented on #1901
I don't think it will matter too much with generating the flamegraph since the size of the bar represents how many times the function was randomly sampled, but I can make that change locally.

Currently rebuilding Qt with debug symbols to get a better handle on what exactly is going on.

[2021-09-18 22:50] borgmanJeremy commented on #1901
From my limited investigation I think we should start in this function:
![image](https://user-images.githubusercontent.com/46930769/133910438-aff8b306-a021-47f7-b763-358fd9a72e58.png)

[2021-09-19 00:16] borgmanJeremy commented on #1901
@syeopite as a quick test can you comment out line 378 of of this file: https://github.com/flameshot-org/flameshot/blob/d1428889b9c12ff459c811fc98dadc27bee409ed/src/widgets/capture/capturewidget.cpp#L397

Then rebuild and report back if the performance is fixed? It will be harder to use because the background won't be grey but will prove I am on the right track.

[2021-09-19 01:07] syeopite commented on #1901
It seems slightly better, but overall everything is still quite sluggish. I don't think shading is the cause unfortunately.

https://user-images.githubusercontent.com/70992037/133912236-5a5e8465-c477-4114-92e1-99ae31789b69.mp4

[2021-09-19 12:46] dobegor opened #1906 "Hovering over buttons during screenshot would case screen to flicker before the tooltip shows"
**Flameshot version**
0.10.1

**Describe the bug**
Similar to #583 - hovering a cursor over a button in screenshot tool would case screen to flicker once before the tooltip shows up. It only happens on the first hover, though.

**To Reproduce**
Use flameshot to take screenshot of a rectangular area and then hover over the buttons to see their labels. Once a label has appeared, the screen would fli

[2021-09-19 13:54] Creteil opened #1907 "Latest commit core dump..."
Have a look :

[code]

[2021-09-19 14:00] borgmanJeremy commented on #1901
Ok thanks for reporting back. I think I need to treat this more as a latency problem. Ill make a hacked version of flameshot to simulate 3x 4k monitors.

[2021-09-19 14:11] Creteil commented on #1907
Just reverted to commit « [a7e88e60de9f5b8d49a75cb6be4158da546789b5](https://github.com/flameshot-org/flameshot/commit/a7e88e60de9f5b8d49a75cb6be4158da546789b5) », and everything working fine...

[2021-09-19 14:19] borgmanJeremy commented on #1907
Can you post your config file?

[2021-09-19 15:19] veracioux commented on #1907
@Creteil Please try flameshot from the PR and tell me if the issue is resolved.

[2021-09-19 16:10] nerdCopter opened #1909 "[feature request] edit files"
i'd love to use all of flameshot's tool on existing files.
please add ability or independent application to edit files.
ty!

[2021-09-19 18:43] tim-hm opened #1910 "Cannot take screenshot on gnome 41 + wayland"
**Flameshot version**
Flameshot v0.10.1 (d1428889)
Compiled with Qt 5.15.2

**Describe the bug**
When running `flameshot gui` on gnome 41 + wayland nothing happens.

Output from running `dbus-monitor --session sender=org.flameshot.Flameshot` is [here](https://bin.snopyta.org/?cdc914b3e78589e7#HsgXBmZyadunKR3aQoJfc1VCtq6og3L2wwANTr9uNz5S)

**To Reproduce**
Install gnome 41 + wayland + Arch + flames

[2021-09-19 18:54] CocaineJohnsson opened #1911 "Poor performance when using gui to snip while running GPU accelerated programs"
### Flameshot version
[code]

### Bug Description
Probably related to #1901

When running hardware accelerated programs such as discord or some games (especially both simultaneously) it is sometimes virtually impossible to take screenshots as flameshot gui will perform at below single-digit framerates, taking several seconds to darken the screen and being entirely unresponsive when trying to drag

[2021-09-19 19:36] borgmanJeremy commented on #1911
Is this a recent change or has it always been an issue. Since we had two reports this week from arch users I wonder if there was an upstream change.

[2021-09-19 21:54] Creteil commented on #1907
What does « try flameshot from the **PR** » mean ?

[2021-09-19 22:01] Creteil commented on #1907
OK, PR probably mean Pull Request...

I am a total newbie at using git, actually I know how to clone, pull, checkout particular commit version, but how to fetch the PR you made ?

[2021-09-19 22:04] veracioux commented on #1907
@Creteil PR means pull request. You can compile flameshot from [this commit](https://github.com/veracioux/flameshot/tree/fix_1907) from the pull request or download one of the pre-built packages from [here](https://github.com/flameshot-org/flameshot/pull/1908/checks?check_run_id=3645315268).

Sorry, I could have been more precise.

[2021-09-19 22:12] Creteil commented on #1907
OK, I have made the changes manually, editing the 2 files from your PR...

Then, starting the 1st time, I see an error about « Unrecognized setting: 'saveAfterCopyPath' ».

So, I edited my « ~/.config/flameshot/flameshot.ini » file and just removed the parameter in error.

Restarting another time, originals parameters from « ~/.config/flameshot/flameshot.ini » are properly migrated to new file « ~

[2021-09-19 23:05] veracioux commented on #1907
@Creteil

This is an obsolete option and was intentionally removed in the latest master commit.

I'm not sure I understand. Did you migrate the parameters or did flameshot do that automatically? `~/.config/flameshot.ini` is the file that flameshot uses by default (if it doesn't, that's a bug).

[2021-09-20 01:28] CocaineJohnsson commented on #1911
I want to say it's been an issue for a while, but I haven't used flameshot for more than a couple of months so I don't have a huge amount of confidence in that statement.

[2021-09-20 05:48] mmahmoudian commented on #737
I will close this in favour of #1100 as it has some discussions on the topic. @kramer65 please feel free to comment if you think the #1100 is not what you suggested here (I might have misunderstood your point)

[2021-09-20 05:49] #737 closed

[2021-09-20 05:50] mmahmoudian commented on #1909
Duplicate of #1100 and #737

[2021-09-20 05:50] #1909 closed

[2021-09-20 09:45] BiLachner opened #1912 "Improvement - Bold Text"
To make text and even the numbers in circles better visible, the possibilty to have "bold" text would be nice. Of cause, I can make the text bigger, but sometimes I want smaler and thicker text.

[2021-09-20 09:49] BiLachner opened #1913 "Improvement - Stable size"
Hi,
ich often make Screenshots that need to have the same size, e.g. pictures for quizzes.

I prepare the pictures in a wordprocessor in a table, every cell the same size.

It would be much faster, if I do not need to choose the area of the screenshot every time.
The workflow should be like that.

1. First picture: choose the size.
2. Start next picture ...
3. move the screenshot-selection area ..

[2021-09-20 10:16] mmahmoudian commented on #1912
When taking a screenshot, press <kbd>Space bar</kbd> to open the side panel, then select the text tool and start typing. you will see that Italic and Bold are implemented already:
![image](https://user-images.githubusercontent.com/390889/133986514-849a55f6-c889-4f1a-a543-733082a53095.png)

For the "autoincrementing counter bubble", the font size is not adjustable and I personally don't think it is

[2021-09-20 10:19] mmahmoudian commented on #1913
I believe this is duplicate of #1509 and partly #479 and #417

[2021-09-20 11:56] BiLachner commented on #1912
Okay ... I'm using OpenSuse-Linux ... may be an other version!?
Looks good!

Thanks!

[2021-09-20 11:56] #1912 closed

[2021-09-20 14:03] borgmanJeremy commented on #1901
Ok im able to replicate this now using xrandr hacks to upscale my resolution.

[2021-09-20 14:56] imran-iq commented on #1755
QT_QPA_PLATFORM=xcb /usr/bin/flameshot**QT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshot**QT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshotQT_QPA_PLATFORM=xcb /usr/bin/flameshot

[2021-09-20 17:53] mmahmoudian commented on #1912
@BiLachner what is your OpenSUSE version? Some of them have pretty old versions. The latest flameshot release is v0.10.1

![image](https://user-images.githubusercontent.com/390889/134050070-3e969265-0c6f-41e1-839b-c83b7d7c1d12.jpeg)

If your distro does not provide the latest version, you can always use other ways to have the latest Flameshot version on your computer. Just checkout this think:

ht

[2021-09-20 18:19] mmahmoudian commented on #1911
@borgmanJeremy is this related to the other one which you could reproduce with xrandr hack?

[2021-09-20 19:59] borgmanJeremy commented on #1911
Yes i think this is a duplicate. It seems to be completely related to the # of pixels and nothing to do with the GPU. In fact in investigating this I found we are completely software rendering the screen. There is a different QtOpenGLWidget type if we want to take advantage of CPU's.

[2021-09-20 20:00] #1911 closed

[2021-09-20 20:01] syeopite commented on #1911
I can say for certain that my issue has been a problem since #789 at least.

[2021-09-20 20:03] nclundsten commented on #638
I'd create a new issue+PR for what I really want fixed (fix the random save button position due to the wrapping around the screenshot based on size (https://github.com/flameshot-org/flameshot/issues/1412), which could be as simple as configuring the order of the buttons, meaning I can put the save button at the beginning/end of list.
Instead, it will likely just get linked to one of these other is

[2021-09-20 22:19] veracioux commented on #1509
I am against polluting the GUI with more buttons, or the config with another option. I have a few ideas:
1. Make the Move tool button display a popup with a short history of selections (on click or on hover). Each history entry would be a labeled button showing the geometry of the selection and it would be clickable. When clicked, the selected size would be applied to the selection. A good idea wo

[2021-09-20 22:20] borgmanJeremy commented on #1509
Instead of remembering the location what if it it’s provided from the cli?Sent from ProtonMail for iOS On Mon, Sep 20, 2021 at 17:19, Haris Gušić ***@***.***> wrote:
I am against polluting the GUI with more buttons, or the config with another option. I have a few ideas:

Make the Move tool button display a popup with a short history of selections (on click or on hover). Each history entry would be

[2021-09-20 22:24] veracioux commented on #1509
@borgmanJeremy Geometry provided via CLI should override everything of course.

Either the reply-via-email feature is broken, or you messed something up :)

[2021-09-20 22:31] borgmanJeremy commented on #1509
Haha thanks I fixed it

[2021-09-20 22:33] veracioux commented on #1509
There has been discussion about the feature. But as someone mentioned in another issue, it would be burdensome to have to use the CLI for that. I think the CLI option is definitely useful, but it can coincide with the other suggestions I made. We can make the CLI option override some things of course.

[2021-09-21 05:12] mmahmoudian commented on #1509
@veracioux regarding your second point, how would you activate the move tool without making a selection?

Considering the variety of our user base I believe some sort of GUI option should exist along with the CLI. I also very much liked the possibility of toggling between few past selections.

[2021-09-21 05:28] mmahmoudian commented on #638
@borgmanJeremy any thoughts on this? How would you suggest that the development should be done if we want to implement this feature?

[2021-09-21 09:14] veracioux commented on #1509
Using the keyboard shortcut. The whole purpose of the second point is that users should be able to reselect the last selection quickly. If you don't want to use shortcuts, you'll have to select something first and then click the move tool as point 1 describes.

Fair points about the size indicator.

[2021-09-21 11:46] hcsch commented on #1901
I'm also experiencing this sluggishness with Xorg, 200% scaling and two 4k monitors. I ran flameshot with perf with that line commented out and I got this (looking at the perf data on https://profiler.firefox.com, see [their docs](https://profiler.firefox.com/docs/#/./guide-perf-profiling)):
![image](https://user-images.githubusercontent.com/34245439/134163905-e2fee50f-33fc-42d1-bd1a-994a4834ca5c.

[2021-09-21 11:49] erlisdhima commented on #1867
Hi @mmahmoudian , sorry for the delay!

Yes, thats correct. I'm using something similar called GPaste.

The problem happens only with flameshot. It does not copy the clipboard multiple times when copying some text for example.

But it may as well be an issue with that, because when I was monitoring the CPU usage, it seems GPaste is using it the most.
This didn't happen with CopyQ. I guess its time

[2021-09-21 11:49] #1867 closed

[2021-09-21 13:55] borgmanJeremy commented on #1901
@hcsch Thanks for posting that, good to see that the issue is consistent across Wayland and X11. Also thanks for showing me that firefox tool, that shows the latency much more clearly.

After digging through all the Qt docs, I think the issue is by default it is repainting all the pixels with a pure software renderer. Since you and the other people submitting the issue have multiple 4k monitors, t

[2021-09-21 14:22] borgmanJeremy commented on #638
If we change the menu bar id prefer to do what is in the other issue...can't find it now... where it is always in a line and does not wrap.

[2021-09-21 23:28] elad2109 opened #1915 "Please allow free hand rotation of pinned capture"
Would really appreciate it.

[2021-09-22 01:51] syvshc opened #1916 "There is a delay of about 4 seconds when I try to start screenshot"
Here is my system info
![image](https://user-images.githubusercontent.com/38098591/134199969-674568d2-97e6-44fb-b4c6-74beeb2fa456.png)

Here is my Flameshot's version, I have to say: this problem appeared at v0.10.1, v0.10.0 and the git version on [AUR](https://aur.archlinux.org/packages/flameshot-git/)

![image](https://user-images.githubusercontent.com/38098591/134270747-b3c26a28-a64c-49c0-a424-

[2021-09-22 06:24] mmahmoudian commented on #1915
Isn't this a duplicate of https://github.com/flameshot-org/flameshot/issues/954#issuecomment-818987721 ?

[2021-09-22 07:50] syvshc commented on #1916
I solve the problem, but I still don't know why. I'll put the procedure below:

1. I first noticed that the shortcut of `Sepctacle` didn't work, see this [link](https://forum.kde.org/viewtopic.php?f=17&t=166079)
2. I solved `Sepctacle`'s problem by deleting `~/.config/kglobalshortcutsrc` and re-logging in KDE to rebuild this file
3. I found the problem this issue mentioned has been solved together

[2021-09-22 09:13] mmahmoudian commented on #1916
@syvshc I don't understand how that cause such issue. Please re-open this issue if the problem occurs again.

[2021-09-22 09:22] syvshc commented on #1916
OK, the problem occurs again after I reboot my computer... I wounder what caused this problem too. Maybe it is a problem of KDE but not flameshot? I have no idea.

[2021-09-22 10:03] mmahmoudian commented on #1916
what happens if you delete that file again and reboot?

[2021-09-22 10:14] Kiridmit commented on #1161
this is a very useful feature

[2021-09-22 10:15] syvshc commented on #1916
nothing happened, after a little bit long time of starting up the system ( I guess it was generating the `kglobalshortcutsrc` file ) and the delay of flameshot still exists

[2021-09-22 14:40] Zeioth commented on #53
@ZetaoYang you may be aware of this already, but QT_SCALE_FACTOR=2 and similar only work launhcing flameshot as 'flameshot'.

If you use

    'flameshot gui'

to launch the program, the env vars are entirely ignored.

Should I open an issue?

[2021-09-22 16:00] mmahmoudian commented on #1161
@Kiridmit This is already implemented. Make sure you have installed the latest version.

[2021-09-22 16:11] mmahmoudian commented on #1916
Thanks for testing. I can't think of any reason from the top of my head that this is happening. Let's see if other devs have any ideas.

[2021-09-22 16:45] mmahmoudian commented on #53
@Zeioth I tried on Manjaro KDE plasma based on [the KDE user manual](https://userbase.kde.org/Session_Environment_Variables) and rebooted the computer after that (logging out was suffice but I wanted to leave nothing to chance). I could not reproduce it. Regardless of either of the following approaches, all the icons were with the same scale:
- `flameshot` and then clicking on the tray icon
- `fla

[2021-09-22 20:46] fre-ac commented on #1378
I was happy too soon, the icon is wrong again. This happened after changing the appearance of the desktop. It is impossible to change the icon back
![2021-09-22_22-33](https://user-images.githubusercontent.com/85880630/134419368-31cac4a0-6e1e-4383-b730-26718c8858cd.png)
:(

[2021-09-22 20:59] fre-ac commented on #1378
After a few rebots, the icon is correct again
![2021-09-22_22-58](https://user-images.githubusercontent.com/85880630/134421000-b57bd108-293e-4d12-ac90-07a84fea8a08.png)

[2021-09-22 21:01] borgmanJeremy commented on #1378
Hmmm this is very strange

[2021-09-22 21:09] fre-ac commented on #1378
I will pay attention to it, I will let you know

[2021-09-23 01:03] syvshc commented on #1916
And thanks for your reply too, I'll see if others have some ideas.:)

[2021-09-23 10:25] incredibleSaint commented on #564
My flickers went away, when I set Maximum Refresh Rate for both monitors in Settings (Settings->Displays->Refresh Rate).

Config: Ubuntu 20.04.1, Gnome, Flameshot 0.6.0, FullHd Monitor + 4K Monitor

[2021-09-23 14:01] borgmanJeremy commented on #1378
I don't know much about slackware. Is it possible you have multiple versions of Flameshot installed and one of them is the old version with the bug?

I grepped the code base and we are not referencing that "information" icon anymore.

[2021-09-23 14:02] borgmanJeremy commented on #1916
My guess is this is a KDE issue since its related to deleting that file.

[2021-09-23 14:22] mmahmoudian opened #1917 "Right-click on the tools' buttons open their settings"
It would be nice to be able to open the settings for each tool by right-clicking on them. What I mean is that basically right click chains the following two actions:
1. select that tool
2. open the sidebar

This way it would make annotation more fluid as at the moment right-clicking opens the color-wheel and it just sounds intuitive that right-clicking on tools also let the user to customize them.

[2021-09-23 14:29] mmahmoudian commented on #1378
Is it also possible that Xfce use that information icon as placeholder when it has some issues displaying the correct one? 🤔

[2021-09-23 14:33] syvshc commented on #1916
I guess so, and I guess the problem may not related with that file straight. Maybe the deletion of the first time changed something by accident.

[2021-09-23 20:05] #1907 closed

[2021-09-24 00:01] claytron5000 opened #1919 "Add Drop-Shadows"
One problem I have with Flameshot annotations is that they don't always stand out from the background. One solution to this would be to add drop-shadows, or the option to add drop-shadows to annotations.

Simple drop-shadows may be enough, or one could look to Skitch for inspiration and add white outlines + drop-shadows (at least on text).

[2021-09-24 03:59] syvshc commented on #1916
The problem was gone after this morning's system boot...I guess it may be caused by lots of system cache? I still have no ideas

[2021-09-24 04:38] Yur7y opened #1920 "Feature Request: Screenshot a region without GUI"
It would be fantastic to have the ability to screenshot a region, but skip the GUI and having to hit [ENTER] to confirm the screenshot. ShareX has this ability and it's fantastic for quick region based screenshots.

[2021-09-24 06:30] mmahmoudian commented on #1919
@claytron5000 isn't this duplicate of #313?

[2021-09-24 06:35] mmahmoudian commented on #1916
@syvshc considering that we have not raised any new versions and none of the merged Pull Requests to my understanding has anything to do with this, it might be safe to conclude that this was not Flameshot's bug.

Let's close this and reppen it if needed.

[2021-09-24 06:35] #1916 closed

[2021-09-24 06:37] mmahmoudian commented on #1920
@YMan84 I don't understand what you mean by this. Can you explain more? I don't understand how you can select a region without gui or CLI.

[2021-09-24 10:44] pashtet422 commented on #1910
same story on fedora 35, gnome 41 and wayland

[2021-09-24 11:13] claytron5000 commented on #1919
Yes, it is!

[2021-09-24 11:13] #1919 closed

[2021-09-24 11:14] claytron5000 commented on #313
From a duplicate issue:

One problem I have with Flameshot annotations is that they don't always stand out from the background. One solution to this would be to add drop-shadows, or the option to add drop-shadows to annotations.

Simple drop-shadows may be enough, or one could look to Skitch for inspiration and add white outlines + drop-shadows (at least on text).

[2021-09-24 13:00] claytron5000 opened #1921 "Error Building MacOS BigSur"
**Flameshot version**
git commit `7199fd392cdb276f2d4d60bf8717aeb5e2687e67`

**Describe the bug**
When building from source on MacOS BigSur, I encounter the following error:

[code]

**To Reproduce**
Follow the steps in install dependencies:
[code]
The build:
[code]

**Expected behavior**
Application builds without error.

**System Information**
MacOS BigSur 11.4
M1 silicon
[code]

It seems obviou

[2021-09-24 13:13] claytron5000 commented on #1921
Just to sanity check I pulled down qtbase, and in `v5.15.2` it is defined
[code]

[2021-09-24 13:39] fre-ac commented on #1378
You were probably right with the old version, I have reinstalled the Flameshot package, everything is fine now, the tray icon works. Thank you.

[2021-09-24 13:44] fre-ac commented on #1378
The package was compiled from the source code from Github on September 17th

[2021-09-24 15:47] wael444 commented on #334
anything new? i would really appreciate this feature being implemented

[2021-09-24 16:03] Kamillaova commented on #1840
Hmm, but since 95 version ozone cannot be disabled, any ideas?

[2021-09-24 16:30] Kamillaova commented on #1840
quick fix (i3wm):
bindsym Print exec --no-startup-id flameshot gui -r | xclip -selection clipboard -t image/png

[2021-09-24 19:10] YMan84 commented on #1920
Sorry i should have worded it better.
I was thinking of the ability to pass a CLI argument that will let you select a region to screenshot with the gui command, but will skip the gui edit/annotation buttons from showing and just save the screenshot.

I currently use the following command:
flameshot gui -p /home/yuriy/Syncthing/Screenshots/

but when i use it, it shows me all the tools to edit and

[2021-09-25 02:48] syvshc commented on #1916
I think I solved the problem! I found that `ballo_file_extractor` takes huge of CPU on my computer. It makes Load Average more than 5, at this time all actions on my computer become slow and have delay. I disabled baloo, and everything becomes fine. :)

[2021-09-25 05:27] abhitrueprogrammer commented on #564
Same bug on ubuntu 21.04 flameshot version 0.8.5-4

[2021-09-25 07:36] mmahmoudian commented on #1910
Ok, since we have two people with the same issue on two different distro, let's do some testing. I would appreciate if both of you file the steps and report back the output here:

1. Open two terminals and keep them open
2. In the first terminal run:
[code]
3. In the second terminal run:
[code]

According to your posts nothing should happen, but you will see some output in the first terminal. Plea

[2021-09-25 08:05] mmahmoudian commented on #1920
Then isn't it a duplicate of #479?

[2021-09-25 08:13] #1378 closed

[2021-09-25 11:30] AndriiHaranin commented on #710
I disabled image support for GPaste and it fixed the issue. But preffer to see images in clipboard history.

[2021-09-25 13:16] #1572 closed

[2021-09-25 13:33] freder commented on #83
I also would love to be able to load image files in flameshot order to add annotations (text, arrows, etc.)

[2021-09-25 15:08] ivocavalcante commented on #1910
Was about to add a "+1" on this, but executed your procedure above, and it worked. So, it's my understanding that, on order to `flameshot gui` to work, the `daemon` should already be running; is that so? Reading the docs, it was clear - and I was under the impression that running `flameshot gui` would start a one-shot capture, regardless of the daemon.

Using latest stable Snap version, BTW.

[2021-09-25 15:17] mmahmoudian commented on #1910
@ivocavalcante all `flameshot gui` does is to call DBus and ask the daemon to start in gui mode. Therefore if you want to have single command, you are better to call `flameshot ; flameshot gui`. As far as I understand, it is in the implementation that the `flameshot gui` starts the daemon if it is not already in the background. This behavior is definitely the case with the normal packages but I ha

[2021-09-25 18:20] tim-hm commented on #1910
Does it have anything to do with the dbus changes mentioned in [this kooha issue](https://github.com/SeaDve/Kooha/issues/109#issuecomment-922548130)?

[2021-09-25 21:18] YMan84 commented on #1920
Not quite, I want to select the region using the mouse.
I click the print screen button, select the region like normal, and when I release the mouse button I want it to auto save and close the screenshot. I don’t want to annotate it or add anything to it or have to press enter to save it.

[2021-09-26 01:14] Neykuratick opened #1922 "Using shift instead of ctrl to create perfect shapes"
Is there a way to rebind ctrl over to shift for making perfect shapes (e.g circle or square instead of ellipse and rectangle respectively)?

[2021-09-26 07:32] mmahmoudian commented on #1920
I wonder why don't you use keyboard shortcuts then. When you selected the region, use <kbd>Ctrl</kbd>+<kbd>s</kbd> to save or <kbd>Ctrl</kbd>+<kbd>c</kbd> to copy. You can also change the shortcut to be <kbd>Enter</kbd>.

[2021-09-26 07:36] #1846 closed

[2021-09-26 07:38] mmahmoudian commented on #1922
@Neykuratick No those are hardcoded. Of course you can download the source code, modify that bit of the code and compile it yourself.

[2021-09-26 08:03] Neykuratick commented on #1922
Pretty much yes. Thank you!

[2021-09-26 08:58] KolpixTV opened #1923 "Google Image Search"
On Google you can upload Images and search for similar images on the web.
Lightshot has the feature that you can click on a button to search the image on google it would be nice if flameshot can add this too :D

a Button like this:

![image](https://user-images.githubusercontent.com/68741965/134801027-25a8a40f-73fa-4b75-92ed-440340aaf5bc.png)

[2021-09-26 11:10] #1922 closed

[2021-09-26 11:13] mmahmoudian commented on #1923
I personally think it is a niche use case as the user can copy the screenshot and paste it into their browser. One can perhaps use some CLI piping to achieve this fairly quickly.

I believe a better addition can be a Lua API or something similar that people can write extensions for Flameshot.

[2021-09-26 14:37] mohad12211 commented on #1923
working on a lua api would be absolutely amazing!

[2021-09-26 18:00] adamant-pwn opened #1924 "Shortcuts do not work on Wayland"
**Flameshot version**
Flameshot v0.10.1 (7199fd39)
Compiled with Qt 5.15.2

**Describe the bug**
Keyboard shortcuts do not work on Wayland. Resembles #1072, but happens every time, even without alt-tab. Shortcuts work when I try to do it on Xorg session.

**To Reproduce**
`flameshot gui`, then try to use any shortcut (ESC, Enter, Ctrl-c after selection is done, etc).

**Expected behavior**
Working

[2021-09-26 18:21] hui-zheng opened #1925 "“flameshot” app cannot be opened on MacOS"
**Flameshot version**
[code]

**Describe the bug**

After a successful installation of flameshot on MacOS using brew, the app can not be opened. it says
[code]
![image](https://user-images.githubusercontent.com/2249215/134819519-7fe229b7-edf3-4d29-beb3-e80ecffc1721.png)

**To Reproduce**

**Expected behavior**
install flameshot
[code]

**System Information**
[code]

[2021-09-26 19:11] elad2109 commented on #1915
Yes, but being a comment- will it be noticed?

[2021-09-26 21:17] borgmanJeremy commented on #1925
https://flameshot.org/guide/troubleshooting/#macos

[2021-09-27 05:34] pashtet422 commented on #1910
1st terminal:
[code]
2nd terminal:
nothing, but i received a system notifications witch says "Unable to capture screen"

Flameshot v0.10.1
Compiled with Qt 5.15.2
Flameshot was compiled from source

[2021-09-27 06:13] mmahmoudian commented on #1925
@hui-zheng This is not a Flameshot bug and it is user's responsibility to white-list softwares from MacOS settings. Please follow the link  @borgmanJeremy kindly provided.

I'll close this issue, but if you followed the instructions and still has issues, please reopen this thread.

[2021-09-27 06:13] #1925 closed

[2021-09-27 06:23] mmahmoudian commented on #1910
@pashtet422 Can you confirm that you are using Gnome and Wayland?

[2021-09-27 06:26] mmahmoudian commented on #1915
That thread is about overhauling the pin tool behaviour, so there is a high chance it gets noticed, but no guarantees. I'll keep you suggestion to make sure it'll be noticed.

But one personal question: what is the use case of such feature?

[2021-09-27 06:26] pashtet422 commented on #1910
Yes, i'm using Fedora 35 with gnome 41.0 and wayland. Flameshot has been crashed after update from Fedora 34 to 35.

[2021-09-27 06:28] mmahmoudian commented on #1924
@adamant-pwn how do you execute the `flameshot gui`? Directly from terminal or using a keyboard shortcut or left-cluck in the tray icon?

[2021-09-27 06:36] mmahmoudian commented on #1923
@veracioux considering that you know the codebase very well, how easy/complicated it is to implement some sort of API? I remember many moons ago there was a brief discussion with @borgmanJeremy about this but I cannot find it.

In general I think API would help in keeping Flameshot light and yet extensible so that users' creativity can also flourish.

[2021-09-27 06:43] pashtet422 commented on #1910
Upd: i've tried to recompile from source again and a problem still exists

[2021-09-27 09:40] w3lifer commented on #337
NOTE that in the "Command" field we must enter `flameshot gui`, not just `flameshot`)

[2021-09-27 11:18] mmahmoudian commented on #1910
might be related to #1622 or #675

[2021-09-27 12:07] adamant-pwn commented on #1924
Sorry, I tried it once again now, but couldn't reproduce this behavior. Perhaps is gone after some update? But I still have some problem -- after I run flameshot gui (no matter in which specific way, neither terminal nor shortcut nor tray icon worked) "Enter" shortcut doesn't work. On both Xorg and Wayland.

[2021-09-27 12:12] mmahmoudian commented on #1924
@adamant-pwn Since few versions ago we have implemented the feature that users can define their own shortcut. The <kbd>Enter</kbd> was also removed as the default shortcut and by default we have <kbd>Ctrl</kbd>+<kbd>c</kbd> to copy to clipboard, <kbd>Ctrl</kbd>+<kbd>s</kbd> to save. You can check all the shortcuts by right-clicking the Flameshot tray icon, select "Configuration", and going to the

[2021-09-27 12:22] adamant-pwn commented on #1924
I tried once more and could reproduce it. So, it depends on what's going on in the background. When I launch some app and in the same time press PrtScr, it launches flameshot which is unresponsive to keyboard shortcuts. Specific examples:
* Launch steam and press PrtScr while it's loading;
* Switch tab in the browser (Opera in my case) and print PrtScr while it's loading.

About Enter -- I still h

[2021-09-27 13:11] mmahmoudian commented on #1924
Yes, this is exactly what #1072 is about. In either case, another application become the one with focus but Flameshot stays in the top. So user would think that Flameshot is unresponsive whereas actually all input is directed to the other application (be it Steam or browser or anything else). I don't know if there is a perfect corss-platform solution here, but perhaps we can check if Flameshot goe

[2021-09-27 13:11] mmahmoudian commented on #1924
Shall we close this in favor of #1072?

[2021-09-27 13:19] mmahmoudian commented on #1072
As pointed out by @adamant-pwn in #1924, if Flameshot is invoked while another application is loading (e.g Steam), that other application will steal the focus from Flameshot and consequently Flameshot appears to unresponsive from user's perspective simply because all the keyboard input is directed to the other app.

@borgmanJeremy & @veracioux is it possible to detect if Flameshot loses focus so t

[2021-09-27 13:20] #1924 closed

[2021-09-27 13:43] borgmanJeremy commented on #1072
Yeah there is a Qt signal for that: https://doc.qt.io/qt-5/qapplication.html#focusChanged

[2021-09-27 16:05] veracioux commented on #1923
@mmahmoudian I don't have any experience with creating plugin APIs, so I can't weigh in :/

[2021-09-27 16:33] veracioux commented on #1072
@mmahmoudian @borgmanJeremy What if the user wants to remove focus from flameshot intentionally? What if flameshot bugs out on them for some reason and then they can't close it because they can't focus any other program? My suggestion is to do the following if flameshot loses focus: hide the capture gui and open a small dialog window with a button that says "Resume capture" or something.

[2021-09-27 16:52] mmahmoudian commented on #1072
@veracioux that's a good point (although I don't see why anyone want to switch applications apart from a terminal or task manager to kill Flameshot if it somehow crashes). Perhaps it is a good idea to explain to user a bit more on why this has happened and even what has stole the focus. This way we will see less bug reports like "Flameshot stops for no reason and asks to be resumed".

[2021-09-27 17:28] jfly commented on #1072
As a reminder, disabling `Qt::BypassWindowManagerHint` makes this way less confusing. From https://github.com/flameshot-org/flameshot/pull/731#issuecomment-719767364:

Unfortunately, we had to revert my attempt to make that change. See https://github.com/flameshot-org/flameshot/issues/784#issuecomment-920244344 for details.

[2021-09-27 17:31] hui-zheng commented on #1925
Hi @mmahmoudian , @borgmanJeremy
I looked at the link provided, which is about to give Flameshot security permissions to "record" your desktop which is for a different issue.

my issue is that the app could not be verified by MacOS to be authentic.

[2021-09-27 17:42] hui-zheng commented on #1925
I think here is more info about this. https://support.apple.com/en-ca/guide/mac-help/mh40616/mac

[2021-09-27 19:45] borgmanJeremy commented on #1925
Oh sorry, I should probably add an FAQ for this issue also.

The only way to "solve" this is to pay Apple money for a developer account so I can sign the binary, I don't want to pay Apple :) SignPath donates a certificate so we can sign Windows binaries, but there is no such arrangement with Apple.

The documentation you linked to should help manually add a security exception.

[2021-09-27 23:13] hui-zheng commented on #1925
I see. no problem. I understood.
didn't know that Apple charges you just so that they could verify your signature.
ok, I will add a security exception.

If you don't mind, may I know how I could verify that the app that I downloaded via `brew install` is indeed the one that you build with code only on this git repo?
I think I am a bit more cautious when it comes to an app like "flameshot" because

[2021-09-28 01:17] borgmanJeremy commented on #1925
Thats a really good question. We do not directly maintain the cask that brew installs, but we do post the Mac release and its SHA256 here: https://github.com/flameshot-org/flameshot/releases

The brew script is located here: https://github.com/Homebrew/homebrew-cask/blob/HEAD/Casks/flameshot.rb

You can see the SHA256 referenced in the brew script matches the SHA256 that we post. To be extra sure

[2021-09-28 05:01] mmahmoudian commented on #1925
@hui-zheng it might surprise you, but a software does not need to have a graphical user interface to record your screen 😉 for example the famous [ffmpeg can easily do that](https://stackoverflow.com/questions/39733635/how-to-capture-a-timed-screen-recording-on-a-mac-with-ffmpeg) which means potentially any software that can open a shell session or even any single bash file can start recording your

[2021-09-28 12:22] wael444 opened #1927 "change flameshot notification"
a very aesthetically insignificant 'enhancement' to be able to change the flameshot notification message

to something like using %F as file, etc

[2021-09-28 13:39] wael444 commented on #1927
what i mean is instead of showing
![image](https://user-images.githubusercontent.com/47404953/135097504-3457be26-5f33-4b6a-8ffa-258e5ce4eb5f.png)
you could be able to change the norification to something similar to
![image](https://user-images.githubusercontent.com/47404953/135097812-1aa27af6-6db2-42c5-9b02-6353ff86dbd1.png)
or to generally be able to customize it from `flameshot config`

note: th

[2021-09-28 16:03] mmahmoudian commented on #1927
@wael444 ok, thanks for the elaboration. I marked it as visual enhancement. Let's see how much traction and response it will get from the community.

[2021-09-29 05:29] wael444 commented on #1927
I'll change the code myself to make it display what I want since this a one man issue, sorry for wasting your time.

[2021-09-29 05:29] #1927 closed

[2021-09-29 06:12] Abdur-rahmaanJ commented on #1144
Same issue with Linux Mint 20.2

[2021-09-29 06:29] mmahmoudian commented on #1927
@wael444 any suggestion is always welcome.

[2021-09-29 18:32] JuanEL0 commented on #564
I have the same bug on EndeavourOS (2021.08.27 build) using Gnome 40.4 and with fractional scaling 125%

[2021-09-29 18:39] borgmanJeremy commented on #564
Everyone with fractional scaling will have this issue. I've already posted the root cause investigation we simply have not identified a way to fix it.

[2021-09-29 23:53] alx-alexpark opened #1931 "Upload using sharex configs"
**Is your feature request related to a problem?** no

Uploading to custom servers using sharex configs such as https://upload.systems

[2021-09-30 01:26] borgmanJeremy commented on #1931
This is already being tracked via the upload plug-in rfc. The plan is to support sharex

[2021-09-30 01:26] #1931 closed

[2021-09-30 14:01] martianzhang commented on #511
Ubuntu 20.04 can do this by following steps.

[code]

[2021-09-30 15:39] thepurple commented on #1917
Sounds good, I like this idea.

[2021-09-30 15:44] thepurple commented on #1915
It's not an every day task, as for me.
If you really want sometimes to have some complicated editing you have a big number of specialized software like Photoshop, Gimp etc.
Flameshot should stay lightweight and do not consume too much resources.

[2021-09-30 16:19] elad2109 commented on #1915
So many.
My dad sends an image upside down and I want to help him rotate it.
Me, taking pin captures of images and want to send them tilted.
Even just fun putting one pinned capture over another (interior design sketch).

Yes, it can all be done in photoshop. But then also adding text, adding arrows, adding number tags.

We can ask the same thing about pinned captures. Why do we use it?
For me it'

[2021-09-30 17:48] elad2109 commented on #1915
Thanks, I just replied to @mmahmoudian question.

By the same token, why do we have "pinned capture"? Is it part of a car or a bus when commuting?

[2021-09-30 19:37] mmahmoudian commented on #1915
@elad2109 I believe what @thepurple meant by the bus analogy was that the bus is a one time niche use case and it would be extra bloat to have extra code shipped to everyone when it has such a unique and niche utility.

Rotating the pinned image would most probably dramatically hurt the quality as all the pixels are squares and when you rotate you should spread that colour across multiple pixels w

[2021-09-30 21:14] borgmanJeremy commented on #1915
I dont have a strong preference. I will note that this is not going to be as trivial as it sounds with the new "off screen" feature I am working on.

[2021-09-30 21:53] elad2109 commented on #1915
Interesting. In what case?

I appreciate it. I know it's not a must. I thought it was worth requesting.

TIA

[2021-10-01 06:51] dannykorpan opened #1932 "Take screenshot of other screen not working"
Flameshot version
Flameshot v0.10.1 (4e406ec)
Compiled with Qt 5.15.2
OS macOS 11.6 (arm64)
System: Kernel: Darwin 20.6.0 arm64 bits: 64 compiler: clang v: 13.0.0 Console: tty s000 OS: Darwin 20.6.0

Describe the bug
When trying to take a screenshot of a second or third screen using flameshot, only the primary screen is selected and flameshot active.

To reproduce
- connect a second screen
- start

[2021-10-01 07:44] mmahmoudian commented on #1932
Have you tried to see if after connecting the second monitor, closing Flameshot completely (right-click on the tray icon and clicking on Quit) and then starting Flameshot would solve the problem or not?

[2021-10-01 08:49] ZetaoYang commented on #1302
@mmahmoudian @borgmanJeremy Qt 6.2 LTS released. https://www.qt.io/blog/qt-6.2-lts-released
it's mentioned at Qt blog,

[2021-10-01 08:59] ZetaoYang commented on #1901
Qt 6.2 LTS released. https://www.qt.io/blog/qt-6.2-lts-released.

good news for this issue,

1. bring new **Rendering Hardware Interface** (RHI)

2. improving our support for HighDPI rendering

[2021-10-01 13:03] mmahmoudian commented on #1875
@mindyourlifeguide I have no clue what's happening here. As far as I can understand, if pressing the call button work, it means the DBus call is working just fine and the rest is Plasma detecting the key binding and triggering the call. I cannot reproduce your issue on my KDE Plasma and it work for me.

[2021-10-01 13:09] mmahmoudian commented on #1822
I believe this can be closed. the MIME issues can be addressed through their issue pages

[2021-10-01 13:09] #1822 closed

[2021-10-01 13:42] borgmanJeremy commented on #1915
I screenshotted and pinned a picture from a pdf, and in the pdf the image was upside down, it would have been handy to rotate it.

[2021-10-02 09:25] #1558 closed

[2021-10-02 17:01] Xenfo opened #1934 "Get the enter key working like before"
Saw this [comment](https://github.com/flameshot-org/flameshot/issues/1924#issuecomment-927813510) and was wondering how I get the <kbd>Enter</kbd> key working like it did before. I have a script that takes the raw PNG from the capture but I can't get it anymore with the new shortcuts.

[2021-10-02 19:53] prof7bit commented on #1267
Somehow I fail to see that any text is moved in the above screencast :-/

[2021-10-02 20:01] prof7bit commented on #492
is there already a binary somewhere to test this, maybe even a deb package? I still have version 0.10.0 and this does not seem to have it yet.

[2021-10-02 22:16] dorian-marchal opened #1935 "Suggestion: Add a --wait flag to flameshot gui"
**Is your feature request related to a problem?**

Yes, after taking a screenshot, I would like to open my file manager to the screenshot location.

**Suggestion:**

Add a `--wait ` flag to `flameshot gui` to make the command return only when the screenshot has been saved (or the capture canceled).

This way, I could do this:

[code]

It would be extra nice if `flameshot gui --wait` would only ret

[2021-10-02 22:28] dorian-marchal commented on #1072
FYI I encountered this bug while trying to open an app after taking a screenshot with:

[code]
*Note : the above command doesn't work as expected, cf. [this unrelated issue](https://github.com/flameshot-org/flameshot/issues/1935) I just opened.*

It took me some time to figure out because I didn't know Flameshot covered the whole screen with a still image of the desktop at the time of the capture,

[2021-10-03 06:51] mmahmoudian commented on #1934
@Xenfo right click on the tray icon, click on "Configurations", go to the "Shortcuts" tab and see the shortcuts. If you want to change them, simply click on the shortcut. Alternatively you can change you config file which is in `~/.config/flameshot/flameshot.ini` and set whatever you want to "Return".

If this has answered your question, please close this issue, if not, please explain more and inc

[2021-10-03 06:56] #492 closed

[2021-10-03 06:57] mmahmoudian commented on #492
I closed this as it is implemented and is available in our released versions.

[2021-10-03 07:04] mmahmoudian commented on #1935
@dorian-marchal thanks for the feature request, but I'm struggling to understand this: waiting for what? Clearly you don't mean something equivalent to `sleep`, but I'm puzzled about what Flameshot should wait for.

[2021-10-03 07:10] dorian-marchal commented on #1935
It should wait for either:
- the screenshot being saved (in this case the command status code would be 0)
- the UI being closed (escape or cross button), in this case the status code would be != 0)

Basically, I would like `flameshot gui --wait` to return once its GUI has been closed but not before.

[2021-10-03 07:12] mmahmoudian commented on #1935
After reading your [comment in the other issue](https://github.com/flameshot-org/flameshot/issues/1072#issuecomment-932828530) I think I now understand what you mean. All `flameshot gui` does is to trigger a DBus call to the main Flameshot process that is running in the background, therefore in your case the `flameshot gui` successfully did the job of creating the DBus call and your shell jumped t