[2021-10-03 07:22] mmahmoudian commented on #1935
@borgmanJeremy @veracioux I wonder if `flameshot gui` can wait for a response from the main process. I mean if Flameshot daemon can send back the status (success, fail) to DBus and the `flameshot gui` reads it?

[2021-10-03 07:23] dorian-marchal commented on #1935
OK, I understand. For my specific use case, a single "open screenshot folder after save" in the settings would do the job, though.

[2021-10-03 09:33] teaper opened #1936 "The display tray icon is set to false, and it will be reset to true after restart"
**Flameshot version**
Flameshot v0.10.1 (48c9d472)

**Describe the bug**
The display tray icon is set to false, and it will be reset to true after restart

**System Information**
ArchLinux GNOME Shell 40.5

[2021-10-03 09:38] #1936 closed

[2021-10-03 11:48] Xenfo commented on #1934
I know how to change shortcuts, I was wondering what the <kbd>Enter</kbd> key did before the addition to customize shortcuts.

- OS: Arch Linux
- Flameshot Version: 0.10.1
- Script: https://gist.github.com/Xenfo/a1ddc9667ce6013548577f66f887cffc
- Flameshot Config:
[code]

[2021-10-03 12:22] veracioux commented on #1935
@dorian-marchal As a temporary workaround, you could use `flameshot gui -r >/dev/null`. Note that this does not return the correct exit code in all cases.

@mmahmoudian

Yes it can. After all, that's what `flameshot gui -r` does. But personally, I would be a bigger fan of taking the screenshot without using DBus at all.

@borgmanJeremy For some time I have been thinking about a non-dbus interface

[2021-10-03 15:10] dorian-marchal commented on #1935
Thanks @veracioux , that's close to what I would expect from a `--wait` flag, indeed :+1:
This seems to work just fine:

[code]

Out of curiosity, when does the exit code is not correct?

[2021-10-03 17:13] veracioux commented on #1935
@dorian-marchal For example if you press the save button and then exit the save dialog, it will return 0. This might be a bug actually.

[2021-10-03 19:38] mmahmoudian commented on #1934
@Xenfo The Enter key initially was bound to "save to file". We then later added a feature so that users can customise the shortcuts and to be similar to many other softwares, Ctrl-s was assigned to the "save to file" (and Ctrl-a to "select all screen" and Ctrl-c to "copy to clipboard"), but then Enter was by mistake added to upload to Imgur. We later on realized that this is a mistake and is also

[2021-10-03 19:38] #1934 closed

[2021-10-03 19:42] borgmanJeremy commented on #1935
@veracioux DBUS is more of an implementation detail than a hard requirement. I already want to restructure the CLI parsing away from DBUS so it works on mac and windows.

If we can remove DBUS and meet the requirements we have today I see no issues. Somethings listed below need to be reimplemented.

1. Have a global hotkey
2. Parse CLI arguments
3. Prevent duplicate instances of flameshot (suppose

[2021-10-04 05:37] diegoxcn opened #1937 "Can't take shot on Java based app right mouse click/function menu up front."
**Flameshot version**
0.6.0+git20191001-2(Debian)

**Describe the bug**

Seems like not working on Java based app right mouse click/function menu up front.
1.does not work when Burpsuite CSRF PoC generator Options menu on.
2.does not work when XMind8 RMC menu up front.

**To Reproduce**

1.Launch BurpSuitePro, intercept any POST request, RMC > Engagement Tools > CSRF PoC generator > Options. Use t

[2021-10-04 06:07] dannykorpan commented on #1932
With a completely restart of Flameshot after connecting the second monitor, it's working. But I have always restart Flameshot after connecting a second monitor.

[2021-10-04 06:39] mmahmoudian commented on #1937
Duplicate of #1536 . When any menu is open the shortcut does not work and that is not a Flameshot issue, it is how your window manager (I guess Gnome in your case) work.

An easy solution can be to either use launcher or terminal to add a delay.

**For Launcher:**
1. Right-click on the tray icon
2. Click on Launcher
3. Set the delay
4. Click on the button to start the timer
5. Open that menu in Ja

[2021-10-04 06:39] #1937 closed

[2021-10-04 06:54] mmahmoudian commented on #1932
@dannykorpan so my guess was correct that the state of your monitors are not updated for Flameshot when a new monitor is attached. How do you connect the monitor? Through Thunderbolt or USB-C?

[2021-10-04 10:22] azsde opened #1938 "Flameshot gui doesn't display on my secondary monitor"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.12.8

**Describe the bug**
When I want to take a screenshot using the **flameshot gui** command, the gui is displayed onto my secondary screen directly and I cannot select content from my laptop built-in screen.

![IMG_20211004_121840](https://user-images.githubusercontent.com/6370231/135835002-4f9f1efe-fecf-4ced-b463-15eae15c4d8a.jpg)

**

[2021-10-04 12:30] veracioux commented on #1901
@syeopite @borgmanJeremy I did a GUI refactor and while doing that I managed to
improve performance throughout the GUI. Please let me know if you are seeing the
performance improvement and if more work needs to be done.

I'd also like to ask you to fiddle around with the GUI: move/resize selection both with mouse and keyboard, draw with various tools,
select tool objects and move them around. Let

[2021-10-04 13:00] hcsch commented on #1901
Thanks for your changes @veracioux. With the little testing I've done the UI seems buttery smooth. The only artifacts I've noticed are undos not properly redrawing the areas affected (test with arrows, pencil and text). The undone changes are redrawn as soon as something else is drawn over them though (like the pencil square when the pencil tool is selected and the mouse is moved). Other than that

[2021-10-04 13:04] Lyqst commented on #1304
Hi, I would like to tackle this!

[2021-10-04 14:07] veracioux commented on #1901
@hcsch That is very good news. I pushed a commit that should fix the undo/redo update issue.

About the pencil jaggedness, I too suspect it is a different issue. There are a few causes I could think of:
- Qt does not support or has disabled antialiasing on your platform
- Due to the increased performance, the pencil is more sensitive to shaking in your hand
- Display scaling could be pronouncing t

[2021-10-04 14:08] borgmanJeremy commented on #1304
Sure! Let me know if you hit any roadblocks or have questions.

[2021-10-04 14:13] hcsch commented on #1901
The drawn lines are anti-aliased properly, but the lines themselves are jagged. The image I posted above was a finished image from flameshot copied to my clipboard.
I assume it has something to do with the mouse position even resolution (spatial, not temporal I think), but then again, I don't have any hard evidence to back that up. Might be something to do with Xorg display scaling hacks via xrand

[2021-10-04 14:27] hcsch commented on #1901
With bacf7ec4fa9f4c73c9b985506585389d6b9560d4 the undos now properly redraw, but the delay has become rather noticable. I think that does need some investigation after all.
Here's a profile of me drawing some lines and the undoing them:

![image](https://user-images.githubusercontent.com/34245439/135868968-9632ce2c-6c42-4ba4-b97b-2673f66633c2.png)

And here's a close-up from 23s to 25s, which is p

[2021-10-04 15:03] veracioux commented on #1901
@hcsch I added a temporary workaround that should improve the performance of undo/redo. It is not ideal and the lag could still be noticeable, but this is the best I can do right now. Further improvements would require another teardown of the capture widget and I'm not up to it right now. Considering that undo/redoing is not that performance-critical I think we can give it a pass for now. I'd be h

[2021-10-04 16:45] hcsch commented on #1901
Undoing has become a bit better, thanks.

In the meantime I've found an issue with the redrawing of the highlighter tools cursor. I assume the area that is redrawn is just a bit too small, or off-center. Interestingly, everything in a rectangle from the top-left corner to the cursor is always redrawn on cursor movement, from what I can tell anyways. (This is with code compiled from 47557d0fa2fe2d5

[2021-10-04 19:03] veracioux commented on #1901
@hcsch Should be fixed by https://github.com/flameshot-org/flameshot/pull/1939/commits/454b4fa9dc10d80eb3242d654dfb7828dea58902

[2021-10-04 19:25] thiemo-taken commented on #1100
I would love to see this feature. A screenshot without annotation/markings is sometimes quite pointless, especially after some time viewing at it again. And I for sure am not the one to always get it right at the first time. [Greenshot](https://getgreenshot.org/) can do this, but it is available only for M$ Windows.

[2021-10-05 10:10] mindyourlifeguide commented on #1875
@mmahmoudian I completely removed flameshot, cleaned up the configs and tried to install it again.
The problem was solved by the method suggested by @Nils-Trinity .
I just removed the false argument and everything worked, both on the version from the distribution repositories and on yours with git.

[2021-10-05 12:30] NirmalManoj commented on #563
@borgmanJeremy I don't understand why this and similar issues from Manjaro/Arch users were closed without finding a permanent solution.

When I used Manjaro Xfce, flameshot used to work without any problems. For a while now, I have been using Manjaro KDE, and there's this issue. However, it works when I open a terminal and run `LC_ALL=C flameshot`.

[2021-10-05 12:34] NirmalManoj commented on #563
I would love to help if flameshot developers want any details to fix this.

[2021-10-05 13:21] borgmanJeremy commented on #563
The reason it's been closed is every time we look into it, the root cause is Arch/Manjaro users do not properly set their locales.

[2021-10-05 13:29] NirmalManoj commented on #563
@borgmanJeremy I installed Manjaro KDE using the standard 'erase the disk and install'(or similar) option in Calamares. If this is a fault of the users, it would be helpful to many users if the fix for this gets added to the [Flameshot page in ArchWiki](https://wiki.archlinux.org/title/Flameshot).

Also, I couldn't find any proper fix except running Flameshot with the command in the terminal every

[2021-10-05 13:33] NirmalManoj commented on #563
Here it is.
[code]

[2021-10-05 14:06] borgmanJeremy commented on #563
![image](https://user-images.githubusercontent.com/46930769/136039208-f6b82a87-afa7-49a3-b6b5-cf64f185f0b3.png)
I cant replicate the issue

[2021-10-05 14:29] NirmalManoj commented on #563
@borgmanJeremy I installed flameshot from snap, would that make a difference?

[2021-10-05 14:31] NirmalManoj commented on #563
Should I try installing from community? https://archlinux.org/packages/community/x86_64/flameshot/

[2021-10-05 14:31] borgmanJeremy commented on #563
Yes it might. Since you are on manjaro (arch) I recommend you install via pacman. The main advantage our snap package provides is it allows users on older stable LTS distros to keep the latest version. Since you are on a rolling release there is no need for the snap.

[2021-10-05 14:48] NirmalManoj commented on #563
@borgmanJeremy I installed the community version. It seems to work. Configuration opens, and there's no crash so far. Thank you so much for the quick help.

I tend to download from snap because I feel it's more up-to-date for most apps, generally. Definitely a good idea for Flameshot.

[2021-10-05 16:57] mmahmoudian commented on #1875
@mindyourlifeguide I believe if you compile from the git repo (or alternatively install from AUR), the `false` should be there as we have added a new feature to Flameshot which requires that input.

[2021-10-05 20:12] borgmanJeremy commented on #1874
I did some preliminary investigation and i think core 20 and kde framework is ready to use. If someone wants to help you can use this as a reference I think: https://github.com/KDE/snapcraft-kde-applications/blob/Neon/release/spectacle/snapcraft.yaml

[2021-10-06 00:10] nycmitch25 commented on #1622
I had the same issue, uninstalled and installed it like this on my Ubunutu 21.04

`sudo apt install flameshot`

[2021-10-06 05:55] JaLe29 opened #1941 "Canno`t change capture screen shortcut on macOS 11.6"
**Flameshot version**
v:0.10.1

**Describe the bug**
It is not possible to change capture screen shortcut. Clickable line is disabled. See: https://i.imgur.com/F5kj9Fr.png

**To Reproduce**
Open app settings and see capture screen option.

**Expected behavior**
Capture screen option is clickable (changeable) like any other shortcuts.

**System Information**
macOS Big Sur 11.6

[2021-10-06 06:23] BiLachner commented on #1913
Yes, my idea is like  #1509

[2021-10-06 07:11] #1913 closed

[2021-10-06 07:15] mmahmoudian commented on #1941
I'm lease search the issues before creating a new one. I close this issue as this is not a bug and is duplicate of #1593.

For the time being this is not possible for non-linux operating systems. But there are ways to solve this. For example for MacOS you can read this thread which has some very good and quick solutions: #1593

[2021-10-06 09:52] xstable opened #1942 "Add black and white as default-color"
Would be great if black and white would be always there for the default-colors... without the need to add them to the ini-file.

[2021-10-06 09:54] xstable commented on #22
@borgmanJeremy It's nice that there is a color-picker, but it solve not this request.
Black and white are used so often, that it should be available by right-click.
The need to open color-chooser and choose black or white is time-consuming ... even if you very often need this general color.

[2021-10-06 11:06] mmahmoudian commented on #22
@xstable It has been already discussed and you could have land on the correct thread by searching through issues. For example in #720 it has been mentioned that you can add any color you want to the color wheel by adding a line to your config file. For example in your case add the following line under the `[General]` section of `.config/flameshot/flameshot.ini` to literally add the white and black

[2021-10-06 11:30] mmahmoudian opened #1943 "Leading `#` turnes to `%23` in config file"
**Flameshot version**
Flameshot v0.10.1 (aca0db96)
Compiled with Qt 5.15.2
linux: 5.10.68-1-MANJARO

**Describe the bug**

When commenting a line in the config file and after running `flameshot gui` once, the config file will be automatically sorted and (this is expected as we discussed before) and the `#` would turn into it's hex code (`%23`). I believe it is confusing for the user and also this

[2021-10-06 12:26] veracioux commented on #1943
This is unfortunately the behavior of QSettings. But I have an idea on how to make this work so I'll look into it and let you know.

[2021-10-06 13:23] xstable commented on #1942
If that customized colors stays there, and didn't need to be re-choosed any time, it would be the perfect solution.

[2021-10-06 15:49] mmahmoudian commented on #1943
@veracioux Should I mark this as "bug" or "enhancement"?

[2021-10-06 17:33] veracioux commented on #1943
@mmahmoudian Definitely "enhancement" since INI files use `;` for comments by default.

[2021-10-06 17:47] tecosaur commented on #1942
This is quite funny, I was about to make an issue about customising the colours available, and I see this. Just to add my 2c, I'd absolutely love to be able to (persistently) set the colours. If it's not too difficult, I think it would also be good to make the number of colours customisable.

[2021-10-06 17:51] veracioux commented on #1943
@borgmanJeremy I'm working on custom read and write functions for QSettings which should solve this issue.

I don't think we should switch to TOML. TOML is very similar to INI and flameshot's config is not very complex, so I don't see any advantage. And I hate to involve 3rd party libraries unless necessary.

[2021-10-06 18:10] #1866 closed

[2021-10-06 18:12] borgmanJeremy commented on #1760
Ive looked into this and just forgot to post an update.

It is very easy to simply build without network capabilities. It's NOT easy to fully remove the imgur button at compile time. We can compile out its function so it cannot do anything, but fully compiling out the button is very very difficult.

I propose we add the option to compile out the networking feature, but just leave the button as stu

[2021-10-06 18:42] borgmanJeremy commented on #1942
I like your idea with the wheel! lets settle on that for the requirements.

[2021-10-06 18:54] mmahmoudian commented on #1760
@borgmanJeremy I think showing a message after pressing the button is more transparent and clear (if it is not very difficult thing to do)

[2021-10-07 01:08] borgmanJeremy commented on #1910
@mmahmoudian I reproduced this issue today on Fedora35, but it works on Fedora34. Given the other report about Gnome41 on arch, I think we should conclude Gnome41/ mutter made a change to the screenshot API.

[2021-10-07 08:24] CocaineJohnsson opened #1947 "Flameshot does not properly handle QT_SCALE_FACTOR"
**Flameshot version**
$ flameshot --version
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**

An picture says a thousand words

EDIT: Offset not preserved in final screenshot, had to replace with photos of screen(s)

![20211007_102718](https://user-images.githubusercontent.com/53689060/136348213-6930370b-0fe2-4869-97b2-9f4a80d699ad.jpg)
![20211007_102711](https://user-images.githubu

[2021-10-07 08:34] CocaineJohnsson commented on #1947
The obvious workaround is just to start flameshot as such:

QT_SCALE_FACTOR=1.0 flameshot 2>&1 </dev/null &

But that doesn't fix the issue, that just bypasses it temporarily.

[2021-10-07 09:04] mmahmoudian commented on #1942
@xstable In my sketch, the + button was meant to add a new circle into the mix:

![image](https://user-images.githubusercontent.com/390889/136354087-1278658b-e21c-4690-a35b-eac76ce3569c.png)

[2021-10-07 16:35] #1947 closed

[2021-10-07 17:21] borgmanJeremy commented on #1947
Not that I've discovered. You can read in detail here where I first started posting details: https://github.com/flameshot-org/flameshot/issues/564#issuecomment-727297870

[2021-10-07 18:54] mmahmoudian commented on #1943
@kpcee the original post stemmed from a mistake of mine that I thought in INI files lines leading with # are comments.

-------

@veracioux & @borgmanJeremy
Personally I believe comments and order of lines are important and if QSettings cannot properly handle it, regardless or being used by the whole world or a single  application, it has pitfall.

All that said, regardless of what I believe to be

[2021-10-08 06:33] mmahmoudian commented on #1531
@veracioux tbh I personally prefer the KDE shortcuts to run commands than to be a DBus call, simply because of issues similar to #1875 are less likely to happen, plus the shortcuts can be a good source for learning subcommands.

Thanks for the efforts🦾

I'll make the PR and will let you know.

[2021-10-08 09:24] mmahmoudian opened #1952 "Delay/lag when updating the object size/thickness"
**Flameshot version**
Flameshot v0.10.1 (aca0db96)
Compiled with Qt 5.15.2
linux: 5.10.68-1-MANJARO

**Describe the bug**

I'm not sure if it is a bug or intentional behavior (for example for optimizing the load on the system), but there is a lengthy delay from the time I scroll until the time the thickness is updated. This delay does not exist when I scroll while drawing the object (while the lef

[2021-10-08 13:26] juusujanar commented on #1755
Can confirm the shortcuts do not work. Did not have any system hangs though.

Fedora 35 with KDE on Wayland, Flameshot v0.10.1 (compiled with Qt 5.15.2) from official Fedora repository. Using a desktop computer with two screens attached at all times.

[2021-10-08 13:46] borgmanJeremy commented on #1952
This is probably from the delay that was added for increasing the size by typing numbers. I agree though, when changed with the scroll wheel there should be no delay.

[2021-10-08 19:07] veracioux commented on #1942
@mmahmoudian Then we can put this widget under the "Color-wheel" tab.

[2021-10-08 20:20] borgmanJeremy commented on #1942
FYI I started implementing it this way and it was kinda a pain, so I went back to a simple table for now. If we ant to move it to a circle later all the "plumbing" will be there.

To do it the right way I wanted to refactor the colorpicker and colorwheel classes to make them a bit more generic.

[2021-10-09 16:33] veracioux commented on #404
This can be closed as of #1869.

[2021-10-09 16:39] veracioux commented on #246
Is this issue obsolete?

[2021-10-09 16:47] veracioux opened #1956 "Support for export actions from CLI"
I would like to complement the existing CLI options `-p, -c, -r, -g` to `flameshot gui/screen/full` with the following options:

- `--pin`, ~`-P`~; When the screenshot is accepted, pin screenshot. [#1834](#1834)
- `--upload`, `-u`; When accepted, upload to imgur
- `--accept-on-select` ~`--done-on-select`~, `-s`; Accept the capture as soon as a selection is made (on mouse release). [#642](#642)

To

[2021-10-09 17:18] borgmanJeremy commented on #246
Yeah I think so

[2021-10-09 17:18] #404 closed

[2021-10-09 21:45] veracioux commented on #1897
Does PR https://github.com/flameshot-org/flameshot/pull/1958 help with this?

[2021-10-09 21:45] veracioux commented on #1232
Does PR https://github.com/flameshot-org/flameshot/pull/1958 help with this?

[2021-10-09 21:46] veracioux commented on #133
Does PR https://github.com/flameshot-org/flameshot/pull/1958 help with this?

[2021-10-09 21:52] veracioux commented on #272
I believe this issue is obsolete.

[2021-10-09 22:29] StoyanDimitrov commented on #1876
There is a conflict indeed, because the main use case of the proposal is not covered there, namely (fast, easy, effortless, whatever) way to switch between two move/resize modes - precise and coarse.

It's your application and you get to decide what, where and how to function. OTOH there should be some degree of interoperability between different apps that do the same thing. This is what I'm askin

[2021-10-09 23:16] veracioux commented on #1876
@StoyanDimitrov I'm just a contributor so I don't make the decisions :)

I guess we could make bare arrows move by the configured amount and make `Shift`+arrows move by (configured amount x 10 or whatever) like Inkscape does.

This would override the current behavior of `Shift` which might be annoying to users. If we do this, we could consequently use `Ctrl` as the symmetry modifier and `Alt` for

[2021-10-10 07:06] mmahmoudian commented on #813
@wotmshuaisi i believe what @veracioux implemented would do what you are looking for. It is not in a released version yet, and (assuming you are a Windows user based on the picture you shared) you should compile it yourself or wait for the new release (> v0.10.1)

[2021-10-10 07:17] mmahmoudian commented on #1956
@veracioux I think there are two issues with the pin:
1. We use `-p` for path and now using `-P` would be very confusing. (Perhaps `-i`?)
2. The pin only make sense for `flameshot gui` and not the `flameshot screen` or `flameshot full`

Also, imho the capture on mouse release would only make sense for `flameshot gui` too.

About the `--output -`, I wonder if at the moment one can chain `--raw --pa

[2021-10-10 07:22] mmahmoudian commented on #246
For those who want this, you can easily do this with `--raw` flag and piping it into ImageMagic. If you are on Linux and you don't know how to do that, I have a small side-project that does this more:

https://codeberg.org/mehrad/dmenu_shot/src/branch/main/docs/actions.md

[2021-10-10 07:25] mmahmoudian commented on #272
@veracioux yes it is, thanks for spotting it.

[2021-10-10 07:29] mmahmoudian commented on #1876
This is what I agree with. I don't have strong preference/opinion about what software should be used as the reference, but my suggestion is Inkscape.

[2021-10-10 12:04] veracioux commented on #1956
@mmahmoudian

I'd prefer to reserve `-i` for specifying an input image if we decide to implement that feature in the future (there have been some issues discussing this). I'd like to leave out a short option for `--pin` for the time being.

I think `flameshot screen --pin` could be useful. For example, you can take a screenshot of one screen and put it on another screen. Maybe you want to compare

[2021-10-10 16:42] shayakbanerjee99 commented on #1563
I can confirm this too, for Ubuntu 21.04 running Gnome on xorg

[code]

[code]

[2021-10-10 18:31] leogx9r opened #1960 "Nicer Arrow Tool"
A very small enhancement IMO and this is more of a pet peeve of mine but I'd really like a nicer looking arrow tool, particularly a curved back to the arrow as it looks a bit more "professional".

For example, here's how ShareX's arrow tool looks:

![image](https://user-images.githubusercontent.com/40126089/136708620-64325dc9-0e7e-46f8-8026-8a71c7268158.png)

Flameshot's for comparison:

![image](

[2021-10-10 18:39] SicroAtGit commented on #246
@mmahmoudian Thanks, but then I don't have the option to automatically upload the downscaled image from Flameshot to Imgur.

[2021-10-10 20:53] mkikets99 opened #1961 "Windows 11: "Print Screen"-button do not work..."
**Flameshot version**
v0.10.1 (4e406ec)

**Describe the bug**
Pressing "Prt Sc" on Windows 11 calls windows standard printscreen saving function.
(Right click on "Create screenshot" in context menu does work as expected)

**To Reproduce**
Install windows 11, install Flameshot from github and test "Prt Sc"

**Expected behavior**
Flameshot called to take screenshot

**System Information**
Windows 11

[2021-10-10 22:23] mmahmoudian commented on #246
@SicroAtGit sorry, but Flameshot is a screenshot tool and resizing and uploading are just extra icing on the cake. For now you should perhaps write a bash script to upload to imgur after resizing. You can take a look a solution someone suggested here:

https://github.com/flameshot-org/flameshot/issues/1923#issuecomment-938658089

There are discussions to implement a plug-in system. In case that is

[2021-10-11 01:27] #1232 closed

[2021-10-11 01:27] #1897 closed

[2021-10-11 10:53] kurobeats opened #1962 "Very slow GUI start after flameshot is executed"
Same issue as discussed in https://github.com/flameshot-org/flameshot/issues/703
[code]
Same as discussed in Issue #703, when executing `flameshot gui` the command returns immediately so using `time` is pointless, it takes between 2 and 3 seconds to actually show the gui, additionally, `flameshot config` displays the config ui immediately.

Just retested in X11, issue does not exist. I recommend i

[2021-10-11 11:16] mmahmoudian commented on #1962
This is because the `flameshot gui` or any other subcommand just make a DBus call (send a request to the Flameshot daemon) to perform a specific action.

Can you check if it has elevated CPU usage using those few seconds? For example you can use programs that shows the historical graph of your CPU load (e.g [nmon](http://nmon.sourceforge.net/pmwiki.php), [bottom](https://github.com/ClementTsang/bo

[2021-10-11 13:39] veracioux opened #1963 "AppImage prints "Run experimental self-contained bundle""
**Flameshot version**

Flameshot v0.10.1 (0e43d4b) (**AppImage**)
Compiled with Qt 5.12.8

**Describe the bug**
When I run `./Flameshot-0.10.1.x86_64.AppImage`with or without subcommands/options , the output contains "Run experimental self-contained bundle". This is a problem when you run `Flameshot-0.10.1.x86_64.AppImage gui --raw`. The output is corrupted by that first line and does not represen

[2021-10-11 17:54] probonopd commented on #1963
Build 649 and later should have the message removed.

[2021-10-11 22:25] syeopite commented on #1901
Hello!
Sorry for the late reply, I've been a bit busy with personal projects and real life. Anyways, yes I can confirm with @hcsch that the performance is significantly better than before! It's actually usable 🎉 thank you so much!

I've missed much of the initial bug discovery session but I did notice something with the sidebar. If you quickly spawn multiple objects and then switch between them in

[2021-10-11 23:07] veracioux commented on #1956
Of course it can. But it is not always positioned exactly where the screen is, unlike the `--pin` option.

[2021-10-11 23:37] veracioux opened #1964 "Allow `flameshot screen/full` with no options"
If no options are specified to `flameshot screen/full` subcommands, I think we should open a file dialog, instead of printing an error message as we do currently. The dialog should behave just like the one triggered by the Save button in gui mode.

[2021-10-12 10:58] mmahmoudian opened #1965 "Better placment of "autoincreminating counter bubble" button"
I think the order if buttons should get slightly modified to have a more logical order. The "autoincreminating counter bubble" button at the moment is at the end of the "final action" buttons, but it is part of the annotation tools:

![image](https://user-images.githubusercontent.com/390889/136943211-abf013ab-d0c7-4fd4-9c0b-dab36423e72d.png)

[2021-10-12 12:45] thecoder-001 opened #1968 "Unable to capture screen on OpenSuse Tumbleweed Gnome 41 (Wayland)"
**Flameshot version**
[code]

**Describe the bug**
Clicking the Flameshot icon in the menu bar and selecting "take screenshot" gives the error `Flameshot info: Unable to capture screen` in the form of a notification and no more information seems to be logged anywhere.

**To Reproduce**
On an opensuse Tumbleweed system with `Gnome (41) Wayland` as desktop environment Install flameshot from zypper (

[2021-10-12 13:32] borgmanJeremy commented on #1968
I suspect this is the same as #1910 , You can confirm by running the dbus command manually.

I posted it to the Fedora35 beta but they requested I post it on gnome-shell. I have not had time to do that yet.

[2021-10-12 13:33] #1968 closed

[2021-10-12 14:05] veracioux commented on #954
I think #1565 provides an opportunity for a definitive solution, by virtue of the windowed capture mode implemented there.

Let me describe it with a scenario:

- Open the capture GUI (as you normally would)
- Select a region and pin it to the screen (as you normally would). Let's call this the **original pin**.
- Perform some action on the pin window (right click, press Space or other, we should

[2021-10-12 18:02] SicroAtGit commented on #246
@mmahmoudian Flameshot can already make many changes to the screenshot. But ok, maybe the resizing is too much for such a screenshot tool.

I will write a small resizing/uploading tool myself that will take the output of `flameshot gui --raw`. Adding an entry to the upload history of Flameshots is also easy, as I have seen (images are stored in `~/.cache/flameshot/history/`).

I think a plugin sys

[2021-10-12 18:15] mmahmoudian commented on #246
@SicroAtGit Having Flameshot running custom scripts can be nice and perhaps easy to implement, but portability to other OSs might become a problem (i.e Windows). But perhaps it can be somehow managed. It should be discussed in details before we move to coding it.

What I like is that we can have a userscripts section that users can place in a folder and Flameshot can call them.

[2021-10-13 08:21] nachovizzo commented on #523
I guess so, as long as I'm able to annotate the screen with the GUI I will be happy (#273). I did have a [solution](https://github.com/flameshot-org/flameshot/issues/273#issuecomment-613660060) but it is not working anymore

[2021-10-13 08:27] mmahmoudian commented on #523
@nachovizzo in your solution, you are making it too complicated. This should easily work for you:

[code]

[2021-10-13 09:24] mralaminahamed opened #1971 "Custom option for upload could storage"
At the moment I want to upload a screenshot to the cloud storage by clicking the upload button with this tool, it is uploaded to a website by default. If possible, the image would be usable much later in another cloud storage (such as Google Drive, Mega or elsewhere) with custom options.

https://i.imgur.com/c9HJYVO.png

[2021-10-13 11:15] truefan4ever commented on #1259
It would be cool to change shortcut, waiting for this feature.

[2021-10-13 11:21] johnrichardrinehart commented on #1072
@veracioux It seems to improve this a bit for me. However, I can only kill by <kbd>Esc</kbd> after selecting a region. <kbd>Esc</kbd> is a no-op in the below state. Is this expected?

![image](https://user-images.githubusercontent.com/6321578/137123309-da8199f3-5491-4bee-bf43-0459e305485d.png)

[2021-10-13 13:21] #1971 closed, assigned to nobody

[2021-10-13 13:25] mmahmoudian commented on #53
@va-it it seems the scaling on your Ubuntu (assuming it is Gnome?) happens way after the startup programs are started (which is weird to me as logically they should start after the window manager is fully loaded).

[2021-10-13 13:38] johnrichardrinehart commented on #1072
That was a good idea. I tried to use my "application cycle" keyboard shortcut. No luck. The changes in `master` are definitely an improvement. Any timeline for tagging a new release? I want to bump the version in the package manager (`NixOS`).

[2021-10-13 20:42] borgmanJeremy commented on #523
Xrandr uses WxH,x,y (without spaces, mobile keyboard insists on adding those spaces)

[2021-10-14 00:48] vitorgalvao opened #1973 "macOS app has outdated version information."
**Flameshot version**
[0.10.1](https://github.com/flameshot-org/flameshot/releases/tag/v0.10.1)

**Describe the bug**
To accurately display version information, macOS apps need to have the `CFBundleVersion` and `CFBundleShortVersionString` tags in `Info.plist`.

In flameshot, [the former is fixed at `0.8.5`](https://github.com/flameshot-org/flameshot/blob/dabc596566c60378f313d26f2fe143d2a37ede5b/c

[2021-10-14 17:20] veracioux commented on #1876
Do we agree on the revised proposal in https://github.com/flameshot-org/flameshot/issues/1876#issuecomment-938184275? New suggestions are written in bold.

[2021-10-14 18:40] yizhepku opened #1975 "Autostart doesn't work on NixOS"
**Flameshot version**
Tested on both master and v0.11.1

**Describe the bug**

Autostart doesn't work.

On NixOS, if the directory `~/.config/autostart` doesn't exist, Flameshot will try to write the desktop file to somewhere in `/nix/store`. However, `/nix/store` is read-only, so that fails.

**To Reproduce**

Install Flameshot on NixOS. Launch it with `strace flameshot 2>&1 | grep open` so that

[2021-10-14 18:44] YizhePKU commented on #1975
The buggy code is in `src/utils/confighandler.cpp`, function `ConfigHandler::setStartupLaunch`.

[code]

I think `QStandardPaths::locate` prefers existent path to writable path. My suggested fix is:

[code]

[2021-10-14 21:38] syeopite commented on #1901
Doesn't seem like it does unfortunately.

[2021-10-14 23:38] veracioux opened #1976 "Better default: Text should be centered vertically around the point of the cursor"
**Expected behavior**
When I want to place a text using the Text tool, I usually want its leftmost vertically centered point to be anchored to the cursor position.

**Current behavior**
When I place a text using the Text tool, the top left corner is anchored to the cursor position. This is annoying because there's no way to get a good enough feel for the height of the placed text until I place it.

[2021-10-14 23:52] veracioux opened #1977 "Add alternative functions for various tools"
**Circle tool**
With `Alt`: fill the circle.

**Selection tool**
With `Alt`: Get a behavior that is identical to the Rectangle tool (fill it and give it rounded corners). In fact, my thinking is to remove the existing Rectangle tool altogether and rename the Selection tool to Rectangle.

**Pencil tool**
With `Alt`: Fill the region encompassed by the drawing. Not sure how easy it is to implement, b

[2021-10-14 23:53] veracioux commented on #1960
I do think what you propose looks better. Not sure if we should make it the default (not sure how attached the users are to the current one). But I do think there should be a way to change the arrow style between those two (and another one, see #1977) from the side panel.

I don't have a solid idea on how to implement your proposed arrow style, so I'll put this on my queue for investigation. But m

[2021-10-15 00:03] veracioux opened #1978 "Visual bug: Text alignment buttons are not mutually exclusive"
**Flameshot version**
master (https://github.com/flameshot-org/flameshot/commit/dabc596566c60378f313d26f2fe143d2a37ede5b)

**Describe the bug**
When you press a text alignment button, the previous one stays selected.

**To Reproduce**
- Launch flameshot gui
- Open the side panel
- Select the Text tool
- Click on each text alignment button. They all stay selected.

**Expected behavior**
The buttons

[2021-10-15 02:32] leogx9r commented on #1960
@veracioux Thanks for the attention on this. I believe Qt should have a similar method of drawing a curve like C#'s GraphicsPath.

From what I can see there's a couple methods of going about this:

- Have separate drawing methods for each "arrow type" where the configuration file's entry allows you to execute the given arrow drawing method. A bit messy if we start adding more and more arrows thoug

[2021-10-15 03:39] YizhePKU commented on #1975
I tested my solution locally and it works nicely. Didn't run the test suite though, this should be fine?

[2021-10-15 06:38] VitalyAnkh commented on #1622
I had the same issue, with Gnome 41 on Wayland, Arch Linux, flameshot r1522.dabc5965-1, or flameshot 0.10.1.

[2021-10-15 08:45] veracioux commented on #1960
Off the top of my head, I don't have a grasp on the implementation details. I'm going to mark this with some labels so we can attract potential contributors. If no one takes this up, it will be on my task list.

[2021-10-15 20:21] leogx9r commented on #1960
The SVG idea also came to mind when I suggested the above. Would it be somehow better to add a UI to select defaults from the folder list? I quite like the idea of being able to switch arrows on-the-fly via a hotkey as proposed in #1977 so a UI implementation where you can select a "primary" and "secondary" arrow style would be nice. What do you all think?

[2021-10-15 22:28] veracioux opened #1980 "Flameshot daemon creates `~/.config/flameshot/flameshot.conf`"
**Flameshot version**
Flameshot v0.10.1 (dabc5965)
Compiled with Qt 5.15.2

**Describe the bug**
Flameshot uses `~/.config/flameshot/flameshot.ini` for storing the configuration. When the daemon launches, it creates a `~/.config/flameshot/flameshot.conf`. This file is always empty and is unused by flameshot.

**To Reproduce**
Launch the daemon by just running `flameshot`. Look inside `~/.config/fl

[2021-10-16 01:53] veracioux commented on #1978
@gVirtu Yes, of course.

[2021-10-16 08:19] #1978 closed

[2021-10-16 09:58] Jyrks opened #1982 "Ubuntu 21.10 - keybinds don't work"
**Flameshot version**
v0.9.0

**Describe the bug**
This happened when I upgraded to Ubuntu 21.10. After selecting and cut out image and then pressing enter or Ctrl+S will not copy the image to clipboard or save the image.

**Expected behavior**
Image should be copied to clipboard or be saved using the keybinds.

**System Information**
Ubuntu 21.10

[2021-10-16 10:26] xrat commented on #983
Another PC of mine running Ubuntu 20.04 MATE with MATE as GUI as opposed to LXDE shows "Error when creating child process", too (Flameshot 0.10.1). Apparently, LXDE is not the culprit.

[2021-10-16 11:22] mmahmoudian commented on #1980
I was actually wondering if some of my wrapper scripts are creating it.

[2021-10-16 12:17] #1975 closed, assigned to nobody

[2021-10-16 16:17] veracioux commented on #1980
@AdavisSnakes You are right. I just tested it on Windows 10, no conf file is created.

[2021-10-16 16:19] veracioux commented on #1982
Thanks for reporting. Can you post your config file?

[2021-10-16 18:07] eerbano opened #1983 "Severe broken in 4k screen setup"
**Flameshot version**
v0.9.0

**Describe the bug**
I recently added a 4k screen in my setup (I had a 2k screen plus an 1080p screen and I just replaced it to a 4k screen), and when I tried to take a screenshot, it broke everything, it started mixing parts that was in my 2k screen together parts that was in my 4k screen, and scrabled everything, I was able to barely close flameshot, and then, I not

[2021-10-16 20:37] Jyrks commented on #1982
Yeah ofc. Here it is:

[General]
buttons=@Variant(\0\0\0\x7f\0\0\0\vQList<int>\0\0\0\0\b\0\0\0\x1\0\0\0\x2\0\0\0\x3\0\0\0\x5\0\0\0\x12\0\0\0\x13\0\0\0\x10\0\0\0\v)
contrastOpacity=188
disabledTrayIcon=false
drawColor=#ff0000
drawThickness=1
saveAfterCopyPath=/home/jyrks/Pictures
savePath=/home/jyrks/Pictures
savePathFixed=false
showStartupLaunchMessage=true
startupLaunch=false

[Shortcuts]
TYPE_AR

[2021-10-16 21:39] veracioux commented on #1982
@Jyrks For a while the help message was telling the users that Enter is used to capture the screen. In reality, Enter does nothing by default. Ctrl+C is the default binding to copy to clipboard. Of course, this can be changed in the settings.

Does Ctrl+C work?

In the most recent development versions of flameshot, we changed the help message so we don't confuse users anymore. If you want to, you

[2021-10-16 22:14] Jyrks commented on #1982
Hey, yes the Ctrl + C works well and solves my issue.

I installed the v0.10.1 version now and tried to set Enter as the keybind instead of Ctrl + C. However flameshot does not seem to start on boot now. I changed it back, but the issue seems to remain.

Flameshot starts when I run it on the terminal, but I get an error:
![image](https://user-images.githubusercontent.com/8777785/137603224-6f0fde05

[2021-10-16 22:16] AdavisSnakes commented on #1453
@e-hat, are you still looking into this issue? I wouldn't mind looking at it if you've gotten busy.

[2021-10-16 22:41] veracioux commented on #1982
@Jyrks I will investigate.

[2021-10-16 23:06] mmahmoudian commented on #1977
In my opinion this is a bad move to removed the buttons and features and hide them behind alt. This would a big change and will cause lots of confusion and ultimately disappointment.

What I suggest is that the alt toggles the filled and hollow shapes (circle and rectangle).

For arrow we discussed it in #1960.

Alternatively the alt can create invert of anything. This would be less intuitive as f

[2021-10-16 23:47] borgmanJeremy commented on #1910
@saboya Thanks, I added this to the README.

@mmahmoudian  What are your thoughts on this. We have essentially two options.

 1. Keep this extension as a requirement going forward
 2. Switch to the public DBUS portal, but this requires users to click an allow prompt on each and every screenshot.

[2021-10-17 08:00] mmahmoudian commented on #1910
Thank you @ramottamado and @saboya for your input.

@borgmanJeremy This is indeed a dilemma which MacOS, iOS and Android have solved for ages now by asking user for certain permissions once and white listing that software for that permission. Tbh, to me it seems we are facing a monopoly that only the softwares Gnome wants can work without interruption and annoyance and all other softwares should f

[2021-10-17 09:28] MohamadKh75 opened #1985 "Save path reset after reboot"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.12.8

**Describe the bug**
I used `/home/mohamadkh75/Desktop` as my save path:
![x](https://user-images.githubusercontent.com/25561893/137620909-327e9301-0bf9-4a7f-842e-f40118476114.jpg)

It works but every time I reboot my machine, I will restore to `/home/mohamadkh75/Pictures/Screenshots`

**To Reproduce**
Just try to change the path and

[2021-10-17 13:06] veracioux commented on #1985
Can you post the contents of your configuration file (usually `~/.config/flameshot/flameshot.ini`) after you change the save path using the graphical menu?

[2021-10-17 13:07] veracioux commented on #1980
@borgmanJeremy Thanks, I think I managed to fix it. Will push soon.

[2021-10-17 13:15] veracioux commented on #1980
@borgmanJeremy @mmahmoudian Please see if #1972 fixes it.

[2021-10-17 14:04] veracioux commented on #1985
@MohamadKh75 Thanks.

What if you do the following?

- Run `pkill flameshot`
- Run `flameshot config`
- Change the save path
- Run `pkill flameshot` again
- Run `flameshot config` again

Is the save path correct?

You can also try installing a newer development version from [here](https://github.com/flameshot-org/flameshot/runs/3913212574) (click the "Artifacts" button in the top right corner) and

[2021-10-17 14:16] borgmanJeremy commented on #1985
My guess is you installed via snap?

[2021-10-17 14:30] MohamadKh75 commented on #1985
Just tried the .deb version and it looks OK!

Thanks!

[2021-10-17 14:30] #1985 closed

[2021-10-17 14:35] borgmanJeremy commented on #1983
Okay thanks. I am going to close this as a duplicate of #564 . Unfortunately we have yet to find a workaround for this issue as its a deeply embedded Qt5 bug. We are hoping Qt6 fixes the problem.

[2021-10-17 14:35] #1983 closed

[2021-10-17 14:42] borgmanJeremy commented on #1961
Can this be closed since a MS update solved the problem?

Unfortunately I can't test this either. I haven't been able to get Windows 11 working in a VM yet.

[2021-10-17 14:48] borgmanJeremy commented on #1973
I fixed this in #1987 . Does that look okay to you?

I also updated the releasing documentation so I remember to do it each release.

[2021-10-17 17:26] AdavisSnakes commented on #604
I'm taking a look into this request. I assume that since the cursor is used to select a screenshot area that the curser shouldn't be redrawn into those screenshots? Only on full screen (the print screen button) screenshots?

[2021-10-17 17:49] borgmanJeremy commented on #604
The cursor should be drawn in all screenshots. When the initial screenshot is saved, you can grab the position of the mouse. Then you can draw a cursor there using the QCursor class. If you have any questions hit me on on slack or matrix (or this issue is fine.)

[2021-10-17 17:54] veracioux commented on #604
Please do add a way to toggle this. In all this time I've been using flameshot, I never wanted to capture a cursor.

[2021-10-17 23:20] andyfore commented on #1961
Has someone verified that a Windows Update fixed it?  My comment was indicating that it didn't start until after those two updates were applied.  There have been no more updates issued for Windows 11 since those two that I am aware of for the GA release.

[2021-10-18 04:28] #1980 closed

[2021-10-18 12:14] igorlogius commented on #656
@veracioux  First of, thank you very much for taking note and time out of your day to reply.

That someone is already actively fixing/developing on this is quite a suprise but a welcome one.

Is there maybe already a branch or tag for the dbus changes i can take a look at or keep in focus?
Also if there is a way i can help out (like beta testing or code review)  just let me know.

Thanks again.

[2021-10-18 14:14] #1973 closed, assigned to nobody

[2021-10-19 02:47] acheronfail commented on #590
I'm using

[code]

and see this issue both in Plasma and i3.

[2021-10-19 09:54] DrWhiteApes commented on #1144
I have the same issue, Ubuntu 20.04. Resetting the settings seems to work when the file path changes.

[2021-10-19 10:25] DrWhiteApes opened #1988 "Flameshot message "Saving Canceled" when I try to save without a fixed path"
**Flameshot version**

**Describe the bug**

![image](https://user-images.githubusercontent.com/31517441/137890466-c7c9f48d-2786-4016-8bcd-b685b9a09f8e.png)

**To Reproduce**

![image](https://user-images.githubusercontent.com/31517441/137891403-30d0c1be-a35e-4436-b76c-24f7808b8ab1.png)

[code]

**Expected behavior**

**System Information**

[2021-10-19 10:52] veracioux commented on #1988
@DrWhiteApes Can you recall what changed today? Have you updated your system recently? When was the last time you used flameshot before today?

May I trouble you to try the most recent development version of flameshot and see if the issue is fixed? There have been a few reworks of the file save mechanism since version 0.10.1.

[2021-10-19 11:12] veracioux commented on #1988
@DrWhiteApes You can download it [here](https://github.com/flameshot-org/flameshot/runs/3927347798). (just click the "Artifacts" button in the top right corner)

[2021-10-19 11:49] DrWhiteApes commented on #1988
@veracioux **"flameshot-0.10.1-1.ubuntu-20.04.amd64.deb"** works flawlessly. Thanks for the link, I'll be using this for now.

[2021-10-19 12:57] e-hat commented on #1453
@mmahmoudian sorry for the late reply! Yes, that is fine with me.

[2021-10-19 13:02] Abdur-rahmaanJ commented on #1144
A useful info: when installing without snap store all ok.

[2021-10-19 20:10] vijay-prema commented on #1144
yeah.. everything works perfectly simply by installing the deb in Ubuntu instead of snap.  Also, I went as far as uninstalling all of my snap packages for other software and replaced with debs, or failing that, flatpaks.

[2021-10-20 06:00] mkikets99 commented on #1961
Yup... seems like 22000.256 is working normal again

[2021-10-20 06:00] #1961 closed

[2021-10-20 06:22] mmahmoudian commented on #1453
@AdavisSnakes the floor is all yours

[2021-10-20 06:42] acheronfail commented on #590
@mmahmoudian I have two external monitors which are setup like the following:

[code]
[code]

[2021-10-20 08:07] truefan4ever commented on #1932
The same issue

[2021-10-20 10:45] pablaasmo commented on #1910
And for the discussion, I do not mind being asked permission to take a screenshot (like Gnome 41 now demands).
I rather accept the security feature, as opposed to the alternative.

[2021-10-20 16:48] #1956 closed, assigned to veracioux

[2021-10-20 16:48] #1964 closed, assigned to veracioux

[2021-10-20 17:35] andyfore commented on #1961
Actually, what I mean by not normal is "inconsistent" behavior.  Sometimes the flameshot app comes up with the Printscreen key and sometimes I get the standard windows behavior.

[2021-10-20 17:35] mkikets99 commented on #1961
Did you checked all updates in `Windows Update Center`?

Cause i update all packages on windows 11 and even checked for possible updates on `flameshot`... And with 22000.258 it's working smoothly...

I will check if something from cumulative updates something break...

[2021-10-20 21:49] itsTyrion opened #1991 "Option for JPEG quality/compression level"
**Is your feature request related to a problem?**
Kinda?

PNG's can be multiple MB in size (I've had 2.8 with 1680x1050), but the JPEG quality is a bit low (looks like 70-ish?)
Therefore, I'd appreciate an option to set the JPEG quality.

[2021-10-20 22:13] CyrusZei commented on #1235
Add a github sponsor button. Love this app !! Thank you for this

[2021-10-21 06:39] mmahmoudian commented on #1235
@CyrusZei please consider using Rysolv:

https://rysolv.com/repos/detail/2ce10839-c350-47b1-89a4-2ee9cf0e0678

This way your donations directly turns into features and bug fixes in a transparent way.

[2021-10-21 06:42] mmahmoudian commented on #1991
@veracioux I believe it is a duplicate of #1651

[2021-10-21 06:47] mmahmoudian commented on #1910
@saboya if the permission is a deal breaker, then either ask the Gnome devs to change their decision about this, or alternatively stop using Gnome Wayland. This is a restriction imposed by Gnome devs without discussing with the community and without considering applications that are not developed by themselves (they have whitelisted their own softwares!)

[2021-10-21 09:48] nettum opened #1993 "Imgur upload not working"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.12.3

**Describe the bug**
Imgur upload not working anymore, error from upload is `server replied: nginx`.
Been waiting 24 hours to file this issue to be sure it was not temporary.
Could this be because the client id or something has been blocked / rate limited?  Or is it just at my end?
![image](https://user-images.githubusercontent.com/7

[2021-10-21 10:43] nettum commented on #1993
Aaaaand of course, now it started working again. Closing!

[2021-10-21 10:43] #1993 closed

[2021-10-21 11:42] ambuddy opened #1994 "Zoom and/or Resize"
Please make feature to Zoom In like Magnifying Glass or make additional tool in Editing mode to resize screenshot. Almost that I looking for is Pinning screenshot to Desktop what can be zoomed in, but I need to view particular pixels of screenshot and not blured zoomed image.

OS: Ubuntu 20.04

[2021-10-21 20:52] mmahmoudian commented on #1982
@Jyrks if [this](https://github.com/flameshot-org/flameshot/issues/1982#issuecomment-945004288) is your config file, Enter is not mapped yo anything.

[2021-10-21 23:44] elad2109 opened #1996 "Please allow copying to the clipboard a pinned capture"
Often times I create a pinned capture, which I want to save to the clipboard as well.

Please allow ctrl + c to copy a pinned capture as well.

[2021-10-21 23:54] veracioux commented on #1834
Since #1970, you can use the `--pin` option to pin a screenshot after you press the "Accept" button or the `Enter` key. If you also add the `--accept-on-select` option, the action (pin or any other action you specify from the command line) will be applied as soon as you make a selection. Try it :smile:

[2021-10-21 23:55] #1834 closed

[2021-10-22 17:36] #1994 closed, assigned to nobody

[2021-10-23 09:02] Alaskra opened #2001 "Pin tool not pinning to original position on Manjaro"
**Flameshot version**
v0.10.1

![image](https://user-images.githubusercontent.com/49367127/138550007-cdc2e636-b0a1-4646-a8ab-ea23a2503240.png)

**Describe the bug**

the problem is the same as issue #350

**System Information**

Kernel: 5.4.148-1-MANJARO
DE: Plasma
WM: KWin

I tried `yay -S flameshot` and appImage, both have this problem

[2021-10-23 16:59] s-iso opened #2002 "[Sway] Flameshot doesn't open nor create a screenshot with the console commands, no error shown"
**Flameshot version**

[code]

**Describe the bug**

Running `flameshot`, `flameshot gui`, does nothing at all, no error messages thrown. Running `flameshot screen -c`, `flameshot screen -p [some_path]`, `flameshot full -p [some_path]` does not save any image anywhere.

**To Reproduce**

- Get the newest sway
- set everything as it says in [this wiki guide](https://github.com/flameshot-org/flamesh

[2021-10-24 02:02] hrs445100058 opened #2004 "Flameshot cursor is not visible when taking screenshots"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.12.8

**Describe the bug**
The cursor is not visible when taking a screenshot of Flameshot. I can't accurately click on the function I need. Just like you are blind, I can't see the cursor position.

**System Information**

Linux version 5.13.0-21-generic (buildd@lgw01-amd64-052) (gcc (Ubuntu 11.2.0-7ubuntu2) 11.2.0, GNU ld (GNU Binutils f

[2021-10-24 18:36] MadaraUchiha opened #2005 "Feature Request: Allow opening images from clipboard"
**Is your feature request related to a problem?**

## Feature
Please consider adding the ability to open the current graphic found in the clipboard as a quick way to add markings onto a copied image

## Reasoning
It can sometimes be useful to take an image copied from the web (copying it instead of taking a screenshot of it to avoid graphic data loss), or a screenshot taking with Firefox's tool (a

[2021-10-24 19:18] ElEd0 opened #2006 "Feature request: Show selection size when resizing"
Hi, really like the tool, but something I miss is the ability to see the exact size of the screenshot when resizing the selection, like lightshot does. Right now you can see the selection size in one of the bubbles, which is great, but these bubbles hide when you are resizing the image, which makes it a bit annoying when you want to pinpoint a screenshot of an exact size, say 512x512 for example (

[2021-10-25 04:11] xipeng156 opened #2007 "No mapping button"
![image](https://user-images.githubusercontent.com/50257886/138633469-60286f80-72d3-4cb9-8a3b-388faa4a043a.png)
No mapping button，I need it
ubuntu 18.04

[2021-10-26 17:20] teaper opened #2009 "Semantic error in 'setSaveAsFileExtension'. Expected: supported image extension"
OS：Arch Linux
Desktop：gnome
Flameshot version：Flameshot v0.10.1 (067f4a19)
Compiled with Qt 5.15.2

![2021-10-27_01-17.png](http://tva1.sinaimg.cn/large/006kWbIoly1gvt7yssxyxj30hh08bt9v.jpg)

[2021-10-26 17:29] veracioux opened #2010 "Add --region option to select an exact screenshot region"
**NOTE: This issue is here just so we can track it in milestones.**

### Discussed in https://github.com/flameshot-org/flameshot/discussions/1974

<div type='discussions-op-text'>

<sup>Originally posted by **veracioux** October 14, 2021</sup>
I propose a common solution to the following issues:
- #479
- #523
- #273

(The discussions in the issues became too complicated to follow)

**The problem i

[2021-10-26 19:20] mrkeuz opened #2011 "Flameshot "Latest Uploads" does not show last screenshots"
**Flameshot version**
v0.10.1 Qt 5.12.8 (deb version from github)

**Describe the bug**
After screenshoting and successfully saving, a history page "Latest Uploads" does not show anything.
Don't sure it should. But it would be good. See use case below.

**To Reproduce**
1. Take screenshot.
2. Save it locally.
3. Click Flameshot icon
4. Click "Latest Uploads"
5. The "Latest Uploads" window will ope

[2021-10-27 12:39] #2002 closed, assigned to nobody

[2021-10-27 16:51] arcolinuxz opened #2014 "Add 2 buttons to flameshot launcher"
When we start flameshot from a terminal
`flameshot launcher`

we get this
![2021-10-27-184834_1920x1080_scrot](https://user-images.githubusercontent.com/36679406/139110959-266c91fc-9834-46da-bbdd-492eff96f591.png)

It would be perfect if we could immediately save the image to harddisk or save it to clipboard.

What I see is great, I just can not save it or use it.
I have to take another image to b

[2021-10-28 00:13] ghost opened #2016 "Ability to change the colour of an individual (or multiple) action icons after area selection."
I'd like the ability to change the colour of my most used action buttons. For example, i find i have to hunt a little for the Copy (to clipboard) icon after making a selection. This is largely because where that icon appears varies depending on the size of the selection box.

If i could set that icon's colour to something that contrasts the rest of the icon colours, i'd be able to instantly find i

[2021-10-28 05:32] kholisrag opened #2017 "MacOS White Trayicon"
**Is your feature request related to a problem?**

Can we have MacOS White Tray Icon?

![Screenshot_2021-10-28_12-31](https://user-images.githubusercontent.com/4683704/139192911-0fe8077e-721f-4c22-b01f-da604f3406af.png)

its not good enough for my eye 😄

any simple way to make this possible?

[2021-10-29 10:46] mmahmoudian opened #2018 "Improve the bug report form and feature request github forms"
## Proposal for discussion and implementation

This is a feature request about the Github YAML files we have but I first want to have a discussion to get to know pros and cons before jumping into making it.

### The issue

The current bug report and feature request formats we have have instructions but there are still generally ignored by users as we typically have to ask for more information even

[2021-10-29 15:05] RusackN1 opened #2021 "weird zoom behaviour if a pinned image"
**Flameshot version**
v0.10.1 (4e406ec)

**Describe the bug**
After pinning the image, everything is fine, it's movable and stays on top. But as soon as I try to zoom it, it acts weirdly (random + or -, pinch doesn't work, only 2-finger scroll)

**To Reproduce**
pin a screenshot and try to zoom it on M1 Macbook pro 13, 16gb, 512

**Expected behavior**
Pinch-to-zoom or scroll up/down should make th

[2021-10-29 19:36] mmahmoudian commented on #1147
@zigpot first do a manual run. Take a photo, store in a file and run the tesseract on that file and see if it works, then try to automate it. Also make sure your softwares are updated.

[2021-10-30 07:15] L-Ryland commented on #1982
Well, thanks for the solution. Adding ` QT_QPA_PLATFORM=xcb` did solve my problem for pasting image into clipboard. I'm using Gnome 40.4 and thigns really sucks that you can not even drag a file into terminal!!

[2021-10-30 07:59] zigpot commented on #1147
I actually did and it worked fine.
1. took a screenshot of a text and saved it as _screen_input.png_
2. run:
`tesseract screen_input.png tess_out`
3. opened _tess_out.txt_ and had the texts.

I tried to make another .desktop file using the [xdg-open](https://linux.die.net/man/1/xdg-open) (a CLI image viewer) shown below:
[code]
And saved it as `/usr/share/applications/xdg-open.desktop`

The xdg-op

[2021-10-30 08:54] kpcee commented on #2016
Yes, thanks mmahmoudian, that's exactly the direction I meant. :thumbsup:

[2021-10-30 09:07] mmahmoudian commented on #1147
@zigpot Well, before anything else, no xdg-open is not an image viewer, it just openes the default application based on the MIME or extension of the file. You might want to use `feh` or `sxiv` for opening pictures although they don't open in terminal. For terminal you should try something like `tiv` (terminal image viewer).

Now, about your issue, although it gets off-topic, try the following:
1.

[2021-10-30 09:24] zigpot commented on #1147
That one works fine. the output is `tesseract_output.txt`

[2021-10-30 12:14] veracioux commented on #1672
Can you try flameshot from this pull request: #2003? Though I can't put my finger on it, I have a feeling it may solve your problem.

You can compile from that branch, or you can download a package from [here](https://github.com/flameshot-org/flameshot/runs/4054854742). (find your package of choice and click the "Artifacts" button in the top right corner to download).

[2021-10-30 15:57] JadenJSJ commented on #590
@mmahmoudian
This still happens,
I use Manjaro Linux
With KDE Plasma (Wayland)
1920 x 1080 + 1400 x 900
150 DPI

Issues I also have this issue #227

[2021-10-30 17:08] WideTracked opened #2025 "Add upload/copy on mouse release"
I'm using Flameshot on Linux.

I'm transitioning from Windows to Linux and one (admittedly small) thing that I miss from all the screenshot software I've tried is the ability to quickly select a region, let go of the mouse and have the program copy the image to clipboard and upload. I know you can press Enter to confirm the screenshot but that is an extra step. This way saves some hassle especiall

[2021-10-30 17:21] veracioux commented on #2025
This has been added in the newest development versions. You can download it from [here](https://flameshot.org/nightly).

Launch flameshot like `flameshot gui --clipboard --upload --accept-on-select`. This should accomplish what you are asking for. You can also pass a `--help` option to see other useful options.

Remember to kill and then relaunch the flameshot daemon by running `pkill flameshot; f

[2021-10-30 19:24] veracioux commented on #2016
@mmahmoudian @borgmanJeremy I don't think the icons can be changed. Flameshot uses Qt's resource compiler (RCC), so all images are baked into the executable.

Even if you change the source SVGs before compiling flameshot, you can't really change the background color of the action buttons, because the color is taken from the `uiColor` config option.

[2021-10-30 19:43] altuhovsu commented on #1864
Strange, for me Copy/Paste here is not working (from Flameshot directly).

But copy/paste works "via Krita (KDE image editor)"
1. Create screenshot usind Flameshot and save to clipboard
2. Paste in the empty/new file in the Krita = Ctrl+V works!
3. Press Ctrl+C in the Krita = works
4. Press Ctrl+V here (in the Github comment) = works (image uploaded)

Kubuntu 21.10 KDE 5.23.2 on Wayland!!
Chrome

[2021-10-30 19:56] borgmanJeremy commented on #2016
Correct I was thinking of recompiling with custom icons.

[2021-10-30 20:09] borgmanJeremy commented on #2017
@mmahmoudian we actually dont directly have a monochrome icon. Other people have themed the icon [here for example](https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/commit/f8bc341fe1412c6c11bf97695564185f545ecd9f). Then on linux Qt picks up that themed icon first.

On Mac the icon is actually compiled into the binary we would need to copy the svg from that git repo into our source tree

[2021-10-30 21:06] mmahmoudian commented on #2017
@borgmanJeremy interesting! I didn't know this. But about adding the SVG, we have the actual Flameshot icon. I think we can put together a monochrome stroke only version. This way it would be our own svg and we can license it to our project's preference.

[2021-10-30 21:19] borgmanJeremy commented on #2017
Yeah I'm not worried about the licensing, just want to make sure we credit properly. But yeah by all means if someone wants to make a new one that's fine with me.

[2021-10-30 23:52] FichteFoll commented on #808
Thanks for the notice. I haven't tried whether this works nowadays but I can in fact use my keypad enter already on 0.10.1 (on Arch). I can also try with `master` if you'd like me to.

Note however that I did set "enter" as the binding for "copy to selection". This may or may not affect this issue.

[2021-10-30 23:52] #808 closed

[2021-10-30 23:58] MithicSpirit opened #2028 "Latest commit crashes with segmentation fault on Linux"
**Flameshot version**
[code]
(not sure which commit introduced this but it was relatively recent)

**Describe the bug**
`flameshot` crashes with a segmentation fault after around 0.15 seconds of being run.

**To Reproduce**
1. Build and install flameshot
2. Open a terminal/shell
3. Run `flameshot`
4. `Segmentation fault (core dumped)`

**Expected behavior**
It should run as normal.

**System Infor

[2021-10-31 00:02] veracioux commented on #808
@FichteFoll Thanks for confirming. No need to test master, as the change I made is only a small one.

Shouldn't be relevant.

[2021-10-31 00:21] veracioux commented on #2028
I can confirm that this is an issue that was introduced by the latest commit (731b82a96da98b728796813f95928c286b878393).
@borgmanJeremy

[2021-10-31 00:28] borgmanJeremy commented on #2028
Ok thanks, I didn't catch it locally for some reason. Could you post your config?

[2021-10-31 01:25] MithicSpirit commented on #2028
My `flameshot.conf` is empty, but this is my `flameshot.ini`:
[code]

[2021-10-31 01:26] veracioux commented on #2028
@borgmanJeremy I think I found the problem. Will submit a PR in a minute.

[2021-10-31 01:36] veracioux commented on #2028
Does #2029 fix it?

[2021-10-31 01:46] MithicSpirit commented on #2028
Yes, it works for me.

[2021-10-31 01:59] WideTracked commented on #2025
Just tried it and it works wonderfully. Thanks so much for your help and for your contribution to this amazing piece of software!

[2021-10-31 01:59] #2025 closed

[2021-10-31 02:13] veracioux commented on #2025
@WideTracked My pleasure :D

[2021-10-31 10:10] axiss-code opened #2030 "bugged CTRL+Z in windows 10"
**Flameshot version**
0.10.1 (latest)

**Describe the bug**
CTRL+Z is not working the time of taking the screenshot. Only when undo function is asociated to "CTRL+Z".

**To Reproduce**
Undo is not functioning at the time of taking the screenshot, when asociated to "CTRL+Z". (Arrows_Buttons UNDO and REDO are ok, so the function is perfect. It's the shortcut which is not working.
Tried with Z only a

[2021-10-31 14:16] veracioux commented on #2030
Very interesting. Does this happen consistently, i.e. every time you press `Z` in flameshot it is recognized as `´`? Does the same happen when you insert text using the text tool?

Does `Ctrl+Z` always work in programs other than flameshot (if you have programs installed that you know are written in Qt, these are the best to try with)?

[2021-10-31 14:25] veracioux commented on #2030
Also, can you post your config, once with undo bound to `Z` and another time with undo bound to `Ctrl+Z`? On Windows, the config is most likely in `%appdata%/flameshot/flameshot.ini`.

[2021-10-31 15:03] MithicSpirit commented on #2028
This has been fixed now that #2029 was merged.

[2021-10-31 15:03] #2028 closed

[2021-10-31 17:34] s-iso opened #2031 "Keyboard not caught properly in Wayland"
**Flameshot version**
[code]

**Describe the bug**
Keyboard is not properly caught by Flameshot, meaning that shortcuts are not working at all. This is especially annoying with the "Esc to close" shortcut, and can force the user to have to hard reset their PC if the mousecursor is being forcefully caught in the process of creating a screenshot (for example by a game).

**To Reproduce**
Run Flamesh

[2021-10-31 17:35] r79 commented on #2031
Small update: *some* of the keybinds seem to work when "flameshot config" is opened and selected as the active window.

[2021-10-31 17:45] veracioux commented on #2031
It has been reported a bunch of times that keybindings don't work in flameshot, the cause being that some other window takes focus away from flameshot. A fix has been introduced in the newest versions (we are not sure if it works 100% of the time).

Can you try installing the newest development version of flameshot? 3 ways you can do that:
- compile directly from master branch
- install `flameshot

[2021-11-01 08:33] Faetu commented on #2017
Hi mmahmoudian

What ending has a monochrome icon?
And what is the size?

best regards

[2021-11-01 08:58] mmahmoudian commented on #2017
@Faetu If by ending you mean file extension or file format, would be nice to have SVG file. You can use the content of the following folder:
https://github.com/flameshot-org/flameshot/tree/master/data/img/app

[2021-11-01 16:19] Faetu commented on #2017
Hi @mmahmoudian

Its done!
![image](https://user-images.githubusercontent.com/55803495/139704665-5e247ff1-cff7-4c09-8112-dc875d6f0209.png)
I made three types. One normal, without gaps between the flames.
A second with small gaps and a third with lager gaps between the flames.
All three in .png and .svg format.
[flameshot.tray.zip](https://github.com/flameshot-org/flameshot/files/7454638/flameshot.

[2021-11-01 19:08] mmahmoudian commented on #2017
@borgmanJeremy @veracioux what do you think is the best approach? Would it be good if @Faetu create a PR with these new icons in the same folder as the other icons:

https://github.com/flameshot-org/flameshot/tree/master/data/img/app

[2021-11-01 21:56] Tealk commented on #1840
I have the same problem, I can't paste the images anywhere when I switch to jpg, but when I try `xclip -sel clip -o -t image/jpeg` then I get an output.

[2021-11-02 05:48] mmahmoudian commented on #1840
@Tealk would you please specify the "anywhere". Have you only tried Chrome or you have also tried Firefox or Inkscape or Gimp? Also please provide your system info (operating system, Flameshot version, ...)

[2021-11-02 07:48] noobishply opened #2032 ""Screenshot saved to /tmp""
**Flameshot version**
v0.10.1 (via command `flameshot -v`)

**Describe the bug**
When taking a screenshot, a notification saying "Screenshot saved to /tmp" shows up.
![image](https://user-images.githubusercontent.com/76582002/139795985-638cca97-7880-4c28-8ddb-1f956f0b45aa.png)

**To Reproduce**
Take a screenshot with Flameshot with `flameshot gui`, then close the gui and you'll see a notification

[2021-11-02 07:57] Tealk commented on #1840
@mmahmoudian I tested Firefox, various chat programs(Threema, Signal, Guilded) and the [Gnome clipboard](https://extensions.gnome.org/extension/779/clipboard-indicator/).

[2021-11-02 08:15] veracioux commented on #2017
I think it's better that one of the developers creates the PR, because the code needs to be changed as well. Of course ensuring proper credit to @Faetu. I could do it, but I don't have a Mac VM set up (yet), so I think it's better that someone else do it.

[2021-11-02 08:18] veracioux commented on #2032
@noobishply
- What method did you use to close flameshot (click on close button, keyboard shortcut, or another method?)
- Please post your configuration (`~/.config/flameshot/flameshot.ini`)

[2021-11-02 08:46] noobishply commented on #2032
The escape key. I also realise that the notification comes up as soon as flameshot gui opens, so it's not when it exits.
Configuration:
[code]

[2021-11-02 09:18] veracioux commented on #2032
@noobishply Wait a second. The notification is not sent by flameshot :smile: :smile:. Based on the logo I'm guessing it's shutter? Please kill shutter and see if the problem goes away.

Are you calling `flameshot gui` using a keyboard shortcut defined in your DE? Maybe you have both flameshot and shutter bound to the same key.

[2021-11-02 09:51] noobishply commented on #2032
Well, the only other screenshot tool I have is Spectacle... I have Meta + X as a shortcut for Spectacle, and Meta + Z as a shortcut for Flameshot. I'm not sure how Spectacle opens on Meta + Z, though...

I've removed the Meta + X shortcut for Spectacle, but the issue still persists. Maybe it's a Wayland issue? This didn't happen in X11.

[2021-11-02 10:03] veracioux commented on #2032
Then I'm not sure what is going on. Could be caused by some KDE-specific handling that is done by flameshot.

Maybe @mmahmoudian, @borgmanJeremy will know what's going on.

[2021-11-02 12:11] borgmanJeremy commented on #2017
Ok cool I'll do it.

[2021-11-02 14:04] mmahmoudian commented on #1840
@Tealk and how about your Flameshot and operating system?

[2021-11-02 14:23] mmahmoudian commented on #2021
I think Pinch-to-zoom is something that should be implemented and QT does not translate the gesture to scroll.

@RusackN1 Would it be possible to record a short video from your screen to show this behavior. You can use Quicktime that is shipped with your MacOS:
https://support.apple.com/guide/quicktime-player/record-your-screen-qtp97b08e666/mac

[2021-11-02 14:33] mmahmoudian commented on #2032
How about running `flameshot gui` from terminal and without any shortcut keys?

The logo is not Spectacle, the file format is also not Spectacle's.

[2021-11-02 14:38] mmahmoudian commented on #2031
I don't have any machines with a functional Wayland at the moment (blame the damn Nvidia card), but you don't need hard-reset, just go to tty and `pkill flameshot` or any process that you suspect that misbehaving.

I will try to install Sway on a computer and see if I can reproduce this.

[2021-11-02 15:25] noobishply commented on #2032
Same result, the notification is still there. Also, I may add that I'm using the Papirus icon pack, which makes Spectacle's logo look like that.

[2021-11-02 16:03] Tealk commented on #1840
Kernel: 5.13.19-2-MANJARO x86_64 bits: 64 compiler: gcc v: 11.1.0 Desktop: GNOME 40.5 tk: GTK 3.24.30

[2021-11-02 16:15] mmahmoudian commented on #1840
@Tealk and Flameshot version please (right-click on the icon > About > copy)

[2021-11-02 16:53] sshahzaiib commented on #1910
I updated fedora to 35 and it was working fine on v34. I'm also getting the same error `Unable to capture screen`

[2021-11-02 17:00] StoneToken opened #2033 "[fedora 35] unable to capture screen"
Hi! I recently updated to Fedora 35 and flameshot stopped working.

**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2
Same problem both for rpm and flatpak versions.

**Describe the bug**
Flameshot doesn't take screenshots on Fedora 35.

**To Reproduce**
1. Update to Fedora 35 (gnome 41)
2. Run flameshot any way (hot key, flameshot gui, click icon)
3. A notification from flameshot po

[2021-11-02 17:03] borgmanJeremy commented on #2033
Duplicate of 1910

An upstream gnome change broke this

[2021-11-02 17:13] FunWithUrban opened #2034 "Upload to Imgur hotkey design decision"
Do you plan on keeping #1753 permanent or is it just temporary until a better solution is implemented?

My suggestion would be to keep the hotkey empty until a user sets it himself. That way new users aren't uploading anything by mistake and by setting the hotkey themselves they know not to activate it unless they want to.

For me the draw of Flameshot was being able to activate it with a hotkey,

[2021-11-02 17:46] veracioux commented on #2034
@FunWithUrban In a recent commit, I made the change you are asking for. You can download the latest development version either from the AUR (package `flameshot-git`) or from [here](https://flameshot.org/nightly).

@borgmanJeremy I wasn't aware of #1753. Do I have to revert my change?

[2021-11-02 18:06] borgmanJeremy commented on #1910
#2035 fixes the problem for me in a VM. Would really appreciate if someone could test on an actual install and report back before I merge it.

[2021-11-02 18:10] DamirPorobic commented on #1910
@borgmanJeremy how do you avoid the whitelist that only allows Gnome's own application access to the DBus interface?

[2021-11-02 18:12] borgmanJeremy commented on #1910
I switched to using the portal API which prompts the user upon every invocation for permission.

It's not idea but its either that or Flameshot simply doesnt work.

[2021-11-02 18:15] DamirPorobic commented on #1910
Yes, have the same issue in ksnip. Earlier I've used native Wayland screenshots where possible (KDE and Gnome) and allowed the user to switch to Portal Screenshots. Now with this new change I'm enforcing Portal Screenshots for Gnome >= 41. It's far from user friendly...
Let's hope for some improvements with the portal interface.

[2021-11-02 18:24] borgmanJeremy commented on #2034
@veracioux we need to make sure we add in a confirmation box before uploading. Since that confirmation box was not present and we had multiple users that accidentally uploaded data I removed the upload hotkey for a quick fix.

[2021-11-02 18:29] borgmanJeremy commented on #2032
I have done very very little testing on Kwin+ Wayland.

[2021-11-02 18:41] deo002 commented on #2034
I am working on the confirmation box issue.

[2021-11-02 18:57] FunWithUrban commented on #2034
Awesome, Ill switch to the development version once the changes are implemented. Thank you to everyone working on this!

[2021-11-02 19:06] veracioux commented on #2034
@deo002 Thanks. Please take into account #1751 also.

[2021-11-02 19:33] borgmanJeremy commented on #2017
I think maybe we should take this opportunity to add a config option to switch between color and monochrome icons? Im certain someone on windows will ask for the same thing.

The alternative to is to simply package the monochrome icon on Mac when we build the .dmg.

[2021-11-02 19:50] Pndy commented on #1910
works on actual install Fedora 35 / Gnome 41 for me.
it does break the flow quite bit thought, it first taking full screen(s) screenshot (that full screen flashbang...) , having to press share with application and then flameshots editor shows up, but nothing you can do about it atm and better than not working at all like you said.

[2021-11-02 20:16] veracioux commented on #2017
@borgmanJeremy We are adding too many config options :smile:.

[2021-11-02 20:17] borgmanJeremy commented on #2017
I think the issue isn't the number of options, but how they are organized in the config screen.

[2021-11-02 20:40] mmahmoudian commented on #2017
As long as customisability doesn't affect the performance I personally don't see any issues in that. In contrary I think it would make it much easier for people to adopt it to their workflow.

[2021-11-03 02:34] Kin-Zhang commented on #1866
But it seems didn't work on Window in the lastest release version 10.1
![image](https://user-images.githubusercontent.com/35365764/140002526-8c9072b8-ce5d-430b-94c2-2f263794c29f.png)
I import this conf, the path of picture saved is changed but the font didn't change

[2021-11-03 04:05] haizaar opened #2036 "KDE/Wayland: Can't take a screenshot"
**Flameshot version**

0.10.1

**Describe the bug**

I'm running flameshot on KDE 5.23.1 and attempting to take the screenshot does nothing but dropping the following error line:
[code]
P.S. Upon startup the following is printed as well:
[code]
**To Reproduce**

Install NixOS unstable with plasma5 and flameshot. Run flameshot in terminal. Attempt to take snapshot by operating the tray applet or by

[2021-11-03 05:23] noobishply commented on #2032
Okay, so I removed spectacle with `sudo pacamn -Rns spectacle` and the issue still persists. I will add again that this does not happen in X11, the issue seems to only effect wayland.
I've also checked /tmp, and I don't actually see the screenshot in there, despite the notification telling me that it was saved there.

[2021-11-03 06:39] deo002 commented on #2034
@veracioux Yes, thanks!

[2021-11-03 11:45] cryerenable opened #2040 "MacOs how get fullbuild?"
How i can build Flameshot to dmg container?
i have flameshot.app with size 2.5mb, but it not working on another macOs device.

[2021-11-03 13:00] borgmanJeremy commented on #2040
If you just want the build on MacOs you can install with brew.

If you actually want to build the .dmg i recommend you use this as a reference: https://github.com/flameshot-org/flameshot/blob/master/.github/workflows/MacOS-pack.yml

[2021-11-03 13:01] #1910 closed

[2021-11-03 13:47] mmahmoudian commented on #1335
I don't have access to Ubuntu machine anymore. But I cannot reproduce this on Manjaro with 3 monitors. I will un-assign myself.

[2021-11-03 18:58] mmahmoudian commented on #2040
@cryerenable I believe the information Jeremy provided answered the question. Is there any additional information you would need or shall we consider this issue as closed?

[2021-11-04 03:18] XMoon opened #2041 "Gnome40/Wayland unable to capture screen with latest build (e4e7c90)"
**Flameshot version**

Flameshot v0.10.1 (e4e7c901)
Compiled with Qt 5.15.2

**Describe the bug**

unable to capture screen when using build e4e7c901 in Gnome40 / Wayland.

Not found any error log in console, only a notify in gnome view show `flameshot info : unable to capture screen`

but build 5021457 is ok.

**To Reproduce**

using build e4e7c901 in Gnome 40 /wayland & run flameshot gui.

**Sys

[2021-11-04 07:29] mmahmoudian commented on #1866
@Kin-Zhang how have you installed Flameshot? What is the exact version of your Flameshot (right click on the tray icon > About > copy)?

[2021-11-04 07:56] cryerenable commented on #2040
Hello again.
Why **my build** doesn't have someone dirs as in **Original release build**?
How fix it?
<img width="667" alt="scr" src="https://user-images.githubusercontent.com/15123106/140276898-53404ab6-b64b-4e1f-8068-4ccca09337ef.png">

[2021-11-04 08:42] Jdevvv commented on #564
Hi guys, still the same on Ubuntu 20.04 with a fractional scaling of 150%.

Any news on this issue ?

[2021-11-04 10:13] meesha7 commented on #1910
So unfortunately it seems that the latest build e4e7c901092e8efdce8be5402298e272ffa37a85 still doesn't work for me on Fedora 35 Gnome 41 (gnome-shell-41.0-7.fc35). (But neither does on F34/Gnome 40.5 #2041)

[2021-11-04 10:20] meesha7 commented on #2041
Can reproduce on Fedora 34, Gnome 40.5 (gnome-shell-40.5-2.fc34). Compiled with Qt 5.15.2

`git bisect` yields commit 584bcd7f6c74530bc179c15887fa3be04ce79d39 as the first bad one.

[2021-11-04 12:25] cursorme commented on #1769
Same here.... Already try to artifacts suggested on the #1910 but still same issue

[2021-11-04 12:26] borgmanJeremy commented on #1769
Did you fully uninstall to get old version and kill any running process before testing?

[2021-11-04 12:28] borgmanJeremy commented on #564
It's still an upstream issue not expected to be fixed until qt6.

[2021-11-04 14:07] cursorme commented on #1769
Yes I did follow those steps. i'm using fedora 35 and before the upgrade from fedora 34 to 35 all was working just fine...
I used the binaries from fedora 34 since I didn't artifacts for fedora 35

[2021-11-04 14:59] borgmanJeremy commented on #2040
Did you follow all of the steps outlined in the github workflow?

[2021-11-04 15:31] borgmanJeremy commented on #1769
Hmmmm something is different in our setup then. I built the main branch from source on both Fedora 34 and Fedora 35 and its working fine.

[2021-11-04 15:31] borgmanJeremy commented on #2041
Hmmmm something is different in our setup then. I built the main branch from source on both Fedora 34 and Fedora 35 and its working fine.

[2021-11-04 15:55] meesha7 commented on #2041
I guess yeah. In the commit I linked there's something to do with the clipboard, I didn't have much time to dig deeper in that, but I'm using the GPaste extensions, which also controls clipboard (images incl.). That is for F34, on another machine with F35 I don't have GPaste. But I also didn't try bisecting on F35, only F34.

[2021-11-04 16:08] borgmanJeremy commented on #2041
I installed gpaste in Fedora 34 via dnf and its still working.

[2021-11-04 16:31] cryerenable commented on #2040
Oh, sorry, I'm a donkey.
This solved my problem.
`“$(brew --prefix qt5)/bin/macdeployqt” flameshot.app -dmg`
borgmanJeremy thank you mentor

[2021-11-04 16:31] #2040 closed

[2021-11-04 17:06] veracioux commented on #2041
It seems that @XMoon and @meesha7 are talking about different issues, because 5021457 (which works for @XMoon) comes after 584bcd7 (the first bad commit per @meesha7).

Looking at 584bcd7, the most likely cause is the change in the D-Bus method `graphicCapture`. Please make sure that flameshot is killed (no daemon running) and then run both `flameshot` and `flameshot gui`. If you were using keyboa

[2021-11-04 17:50] borgmanJeremy commented on #2036
This PR fixes it for me on Arch: https://github.com/flameshot-org/flameshot/pull/2045

Do you have an easy way to test that on Nix? Or should I merge it and you can test once merged? It's important that when you test it the new .desktop file is properly registered.

[2021-11-04 17:57] borgmanJeremy commented on #2032
Thanks, I've been doing some work on wayland and can confirm this. Will post an update once i fix it.

[2021-11-04 19:06] petrukngantuk commented on #1302
Any plan to upgrade to Qt 6.2 shortly?

[2021-11-04 19:12] borgmanJeremy commented on #2032
Okay this cannot be fixed (easily).

We are currently using the "old" DBus API api which will eventually be deprecated out of KDE. The old API works by saving a temp file to /tmp before passing to flameshot. The notification is not coming from Flameshot, but the underlying KWin DBus call (this is why the shutter icon is shown).

The long term fix is to move to the new API, but this will break new

[2021-11-04 19:13] borgmanJeremy commented on #1302
It's not in our plan for the upcoming release. Perhaps the release after that?

[2021-11-04 19:28] OrthodoxCaveDweller commented on #297
Only feature I'm missing with Flameshot

[2021-11-04 20:18] borgmanJeremy commented on #2009
Did this resolve the issue?

[2021-11-04 23:03] Phalelashvili commented on #297
I have [re-implemented](https://github.com/Phalelashvili/flameshot) this feature on latest flameshot version. I'll try to keep it up to date with upstream. reverse search has its own button, but can also be used after uploading to imgur and choosing reverse search option in post upload dialog

[2021-11-05 00:04] byteshiva opened #2046 "How can I delete file uploaded to imgur?"
How can I delete the file uploaded to imgur? Is there any time or auto-expire set on the file uploaded to Imgur?

**Flameshot version**

``Flameshot v0.10.1 Compiled with Qt 5.15.3``

**Describe the bug**

`How can I delete files uploaded to imgur?`

**To Reproduce**

**Expected behavior**

**System Information**

[2021-11-05 00:05] borgmanJeremy commented on #2046
If you look in the upload history you can find the image and delete from there.

[2021-11-05 00:15] byteshiva commented on #2046
Thanks  :+1:

[2021-11-05 00:17] byteshiva commented on #2046
I've deleted the file from upload history, but still, the file has not been deleted from the Imgur server,
Is it a soft delete or hard delete?

[2021-11-05 00:19] borgmanJeremy commented on #2046
If you deleted it from the history rather than using the history to delete it from Imgur I think it's on Imgur forever unless they can delete it for you.

[2021-11-05 00:27] byteshiva commented on #2046
Does `flameshot` create a unique user id or session id or just guest id for uploaded files on Imgur? I see it not deleted,

I have used the delete option available in upload history to delete the file, Still, I can see the file available in Imgur!
Are there any logs where I can see the deleted history of flameshot!

[2021-11-05 00:55] byteshiva commented on #2046
I've raised a request on Imgur to delete the file, It's been deleted now.

But It would be good to see the `delete URL` or the `deletehash`, Just in case of any failure or errors happening during the deletion process.

[2021-11-05 01:22] byteshiva commented on #2046
My mistake,

I see now, after clicking delete on flames shot it had opened the `delete url` in a browser, it was on my other dual monitor.

I used it to delete the file.

Thanks

[2021-11-05 02:05] #2046 closed

[2021-11-05 02:16] XMoon commented on #2041
![2021-11-05 10-13-27屏幕截图](https://user-images.githubusercontent.com/1174109/140446850-8fa654eb-c981-46cf-b418-b4a107f98c61.png)

in this reproduction.

I found something that if I clicked the `分享` (share) blue button from the window which look like gnome built-in thing show after I run `flameshot gui`, it will bring me to the normal `flameshot gui` screenshot action.

[2021-11-05 07:03] mmahmoudian commented on #2032
@borgmanJeremy direct #2003 help this situation?

[2021-11-05 07:39] olfuerniss commented on #2041
I have exactly the same problem. Was working fine on Fedora 34. Updated yesterday to Fedora 35 and now I get the error notification "Flameshot Info: Kann den Bereich nicht aufnehmen" wenn I try to capture a screenshot by using the Flameshot App icon menu entry "Bildschirmaufnahme anfertigen".
P.S. I also get the same error notification when I start it with "flameshot gui"

[2021-11-05 11:44] sergiovier commented on #2041
Same here. Updated to fedora 35, reboot, started flameshot and get "unable to capture screen"

[2021-11-05 11:46] meesha7 commented on #2041
@olfuerniss @sergiovier the newest version (with this issue fixed) is not yet in the Fedora repos: https://koji.fedoraproject.org/koji/packageinfo?packageID=26139

[2021-11-05 12:10] sergiovier commented on #2041
@meesha7 sorry, reading at issues, found https://github.com/flameshot-org/flameshot/issues/1910, that workaround at least allows me to use flameshot "now-as-it-is"

Gnome devs did this change without any comunication and viable alternative?

[2021-11-05 14:01] borgmanJeremy commented on #2032
@mmahmoudian no DBUS will still be used to get the screenshots on a Wayland session.

Although I thought about this more and I think its okay to change whenever. It's not like KDE Wayland in 20.04 is very functional, so I don't see a reason to hold back for it.

[2021-11-05 14:06] borgmanJeremy commented on #2041
In their opinion the old API was only meant for "private" use. The viable alternative is the new method where users get a popup every time. Here is the thread: https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970

[2021-11-05 16:51] borgmanJeremy commented on #1607
Could be related to #2047

[2021-11-05 18:40] #2036 closed

[2021-11-06 02:17] haizaar commented on #2036
Thanks @borgmanJeremy. I tried testing 0.10.1 with your patch applied and now it spits
[code]
upon attempt to take a screenshot. Any ideas?

[2021-11-06 09:32] SathOkh commented on #642
I'm fully support this request. ENTER shortcut is only a workaround and user experience of this is very inferior comparing to MacOS

[2021-11-06 10:56] mmahmoudian commented on #642
@SathOkh @arigit this is now implemented as far as I can recall in #1970

@veracioux am I correct or am I missing something?

[2021-11-06 11:32] veracioux commented on #642
@mmahmoudian Ditto, except that command line flags are not available in MacOS until #2003 is merged.

[2021-11-06 12:48] fovendor opened #2049 "Gnome41/Wayland, failed to take screenshot"
**Flameshot version**
0.10.1

**Describe the bug**
When trying to take a screenshot, the error "Failed to capture the screen" appears. This error is repeated when changing the keys, when clicking on the program icon in the tray, as well as when calling the flameshot gui command from the terminal.

**To Reproduce**
Calling the program in any way fails on Fedora 35 / Gnome 41 / Wayland.

**Expected

[2021-11-06 12:50] SathOkh commented on #642
@mmahmoudian I don't see it on current linux version as well and it's not mentioned in the README and help message. Is it already released or just merged so far?

[2021-11-06 12:54] mmahmoudian commented on #642
@SathOkh comparing the times for the last release and the PR would have saved you time. It is a new feature that is merged and you can use it if you download the nightly builds (https://flameshot.org/nightly) or of you compile from source.

[2021-11-06 13:09] borgmanJeremy commented on #2049
Duplicate of #1910

You can test out the nightly builds or wait for version 11 to release.

[2021-11-06 13:09] #2049 closed

[2021-11-06 14:14] SathOkh commented on #642
@mmahmoudian having proper issue description with fix version would save me time, not digging into the app release cycle and pr times.

[2021-11-06 18:54] cryerenable opened #2050 "MacOS Catalina "Current master" . Builded App closing when open "Configuration menu"."
Hello Again.
Catalina 10.15.0 - Catalina  10.15.7
Xcode 11-12.4
cmake 3.21.4
qt 5.15.2
**Current master**
The assembly of the project goes without problems on BigSure / Monterey and configuration menu working properly.
On Catalina, the project builds without problems, starts up, takes screenshots.
But when you try to enter the configuration menu, the application crashes.
in QTcreator on Catalina w

[2021-11-07 03:29] Rihcus commented on #1258
This seems to work. If I connect to an external moniter and had flameshot open prior then I run into the primary display issue. However after restarting I have no issues even if I disconect and reconnect the external moniter. I guess the cavoit is this may break if another external moniter is connected or flameshot is restared without an external moniter.  Using MBP 2016 Catelina.

[2021-11-07 09:23] mmahmoudian commented on #642
@SathOkh as an OpenSource software, we are open to contributions. Therefore, if you think something can be improved, go ahead and improve it. Any contribution is most welcome.

[2021-11-07 09:26] mmahmoudian commented on #2050
@cryerenable thanks for the report, but please also mention the commit that you used for compiling. The "HEAD" or "current master" are not enough simply because they change as new commits are made.

[2021-11-07 09:48] cryerenable commented on #2050
I took the last commits :
`Commits on Nov 5, 2021 445a4c68e81e876dbec78e53deaef4b5c3bac291`
and
`Commits on Nov 4, 2021 2c98fc6cfe3b7a589aec40caa5886cf76c325959`

[2021-11-07 09:52] coolyc3 opened #2051 "Program and DE Hanging when uploading image"
**Flameshot version**
445a4c68

**Describe the bug**
When uploading to Imgur, the program hangs for about 20 seconds and hangs the DE as well.

**To Reproduce**

Take a screenshot and upload, The program and the DE hang for about 20 seconds.

**Expected behavior**

Take a screenshot and upload, The program uploads quickly and does not interfere with the DE.

**System Information**

Manjaro 21.1.6

[2021-11-07 17:57] cryerenable commented on #2050
I decided to make a [video ](https://youtu.be/2QU4f9GkkQQ)confirmation of the bug with the Configuration Menu, but now even the build does not start from the last commit.

no problems with v0.10.1.  first build on video.
Weird.

[2021-11-07 18:35] ambuddy commented on #1994
Hi, @veracioux. Sorry for bothering you, but can you explain how to get this feature in Flameshot? Can I download a build or so for my Ubuntu 20.04 from somewhere?

[2021-11-07 18:38] borgmanJeremy commented on #2050
Can you try starting from the terminal to see if there is an error printed? I have seen an issue on MacOs where something with Qt Single Application gets messed up.

[2021-11-07 18:38] veracioux commented on #1994
@ambuddy No bother at all. You can download the latest development packages from [here](https://flameshot.org/nightly).

[2021-11-08 02:55] ks698 commented on #2050
Building latest master (445a4c68e81e876dbec78e53deaef4b5c3bac291) on an M1 macbook air running big sur crashes for me when opening the config menu or taking a screenshot.

Here's my output from lldb:

[code]

[2021-11-08 14:15] McStecca commented on #2009
It worked for me

[2021-11-08 15:04] poilynx commented on #2004
desktop environment is `Gnome3` and window manager is `gdm`

[2021-11-08 15:33] nanggo commented on #1258
@thepurple My issue resolved that I reinstall flameshot.

[2021-11-08 15:37] thepurple commented on #1258
@nanggo thanks for letting me know.

[2021-11-08 18:55] FunWithUrban commented on #2051
Can confirm this is happening to me as well after updating switching to the git version. I'm using the current AUR package flameshot-git r1354.8f6b6b08-1 which Flameshot tells me is version 445a4c68.

**System Information**
Arch
KDE Plasma

[2021-11-08 19:21] borgmanJeremy commented on #2051
Thanks, after bisecting the commit log it looks like 988dcab is the offending commit.

I'm guessing this is a race condition with the notification manager.

[2021-11-08 19:27] borgmanJeremy commented on #2051
#2053 should resolve the issue once merged.

[2021-11-08 19:33] #1751 closed

[2021-11-08 20:43] positiveworld9 commented on #1607
Yes, sorry for the late response.

[2021-11-08 20:57] positiveworld9 commented on #1607
What is the "namebox"? On Xfce/ flameshot snap, Configuration, (tab) General, the Save Path is not editable at all, and empty.

[2021-11-08 20:59] borgmanJeremy commented on #1607
It's fixed on the master branch.

[2021-11-08 21:59] #479 closed

[2021-11-08 21:59] #523 closed

[2021-11-08 21:59] #2010 closed

[2021-11-08 23:22] mi1ez opened #2054 "When Flameshot is opened from GUI, screen sometimes shrinks."
**Flameshot version**
0.10.1 (4e406ec)

**Describe the bug**
When taking a screenshot using the GUI, the visible screen will sometimes shrink to less than a quarter of the monitor size and be cropped. This seems to happen most frequently after the machine has been put into a sleep state, but not every time. I'm also not sure if having a second monitor connected is an agravating factor.

Before ope

[2021-11-08 23:30] borgmanJeremy commented on #2054
On macOS there is an issue where if your screen config changes after starting flameshot, you must restart Flameshot.

I should probably add this to the FAQ as it's a pretty common complaint.

[2021-11-08 23:58] veracioux commented on #2054
@borgmanJeremy I'm assuming this won't be as much of a problem after the DBus PR?

[2021-11-09 00:00] borgmanJeremy commented on #2054
I don't see why the dbus stuff would fix it, but maybe I'm missing something.

I haven't tried to troubleshoot this one yet.

[2021-11-09 00:11] veracioux commented on #2054
@borgmanJeremy The way I understand it: Currently there is a time interval between launching the daemon and launching the GUI capture. In that time interval, the screen config can change. If `flameshot gui` is self-contained (as it will be after #2003), then the screen config will be synced at each run of that subcommand.

[2021-11-09 00:12] borgmanJeremy commented on #2054
Is that PR in a place where I could test it on a Mac?

[2021-11-09 04:22] mi1ez commented on #2054
Nothing about the way MacOS deals with a second monitor surprises me any more. All round terrible experience.

Every time my Macbook goes to sleep or turns the screen off it seems to forget the second monitor exists, so that would line up with what you're saying, although it doesn't seem to happen every time.

[2021-11-09 12:57] majkinetor opened #2055 "Its very easy to lose your work"
I can dedicate 10 minutes adding numbers, text etc, just so that one ESC extra or even ctrl + c can close everything without an option to restore on screen what was last visible.

This is major design mistake. I suggest doing any of bellow things:

1. An option to prevent closing the editor. Add explicit [x] somewhere, maybe next to the ToolSettings.
2. An option to restore last view after you acc

[2021-11-09 13:07] borgmanJeremy commented on #2055
I have been contemplating option 2 for a while now.

Similar to greenshot where to can save it in a resumable format.

[2021-11-09 13:37] Adolio commented on #1509
This one would be a big plus for me.

[2021-11-09 13:55] veracioux commented on #2055
I think it would be great to be able to save and resume progress to/from an SVG file. Or maybe an SVG-based spinoff if we need custom functionality.

[2021-11-09 14:26] majkinetor commented on #2055
SVG sounds ideal... It doesn't really matter how it is stored locally as long as you can restore it.

How about we have option 1 ASAP and you can ruminate about option 2 as long as you need. Option 1 will certainly prevent losing work by accident. It happens to me at least once a day.

[2021-11-09 14:41] veracioux commented on #2055
@majkinetor I can relate. I think we should implement the following strategy as a first resort:
1. If no selection is made and if no edits were made, Esc will close the GUI normally.
2. If the user has made some edits, pressing Esc will show a confirmation dialog
3. The GUI can be closed without confirmation using the close button (which already exists) or using the shortcut that the user has boun

[2021-11-09 14:49] majkinetor commented on #2055
Selection is not important, you can quickly recreate it, so I would look just for existence of objects.

As an option, confirm makes most sense. Esc on confirmation should cancel confirmation.  Enter should confirm. ESC+Enter by accident is not likely at all.

I can't see the already existing button. Shortcut should be typical CTRL+W (closes tabs and windows almost everywhere).

I was thinking abo

[2021-11-09 15:12] veracioux commented on #2055
@majkinetor

The button is shown only when a selection is active (looks like an X). The shortcut should work independently of the button, even with no selection. If this is not true for you then it's likely because you've disabled the button and/or shortcut in the config. If you are using version 0.10.1 or earlier, the shortcut may not work when the button is disabled in the config. This has been

[2021-11-09 15:21] majkinetor commented on #2055
I can't see it on v10.0.1: <details><summary>details</summary>
![image](https://user-images.githubusercontent.com/85767/140951193-748c936f-64c9-4001-9445-1cd02180173b.png)

</details>

My config <details><summary>details</summary>![image](https://user-images.githubusercontent.com/85767/140952037-fe820a9b-ac1c-41f8-b5bd-b17b3fd8180f.png)
</details>

Can't see anything wrong with it.

[2021-11-09 16:41] veracioux commented on #2055
@majkinetor These settings are in the "Shortcuts" and "Interface" tabs of the configuration window.

[2021-11-09 16:42] majkinetor commented on #2055
Yeah, my bad. Thx.

[2021-11-09 23:54] #2051 closed

[2021-11-10 00:26] borgmanJeremy commented on #2050
I confirmed this and bisected with git. The offending commit was d142888

I will get a debugger on it in the next day or so and find the problem. This is the exact error:
[code]

[2021-11-10 00:48] borgmanJeremy commented on #2050
Here is the backtrace
![image](https://user-images.githubusercontent.com/46930769/141029166-e7370b4e-b4c6-4102-8e28-61cd217613a5.png)

[2021-11-10 00:50] borgmanJeremy commented on #2050
Okay this seems to be caused if there is an error in the config file. Removing the config file at ~/.config/flameshot/flameshot.ini "fixes" the problem.

I'll spend some time figuring out why an invalid config crashes it.

[2021-11-10 11:51] luis-alves commented on #2041
I'm having this issue too, after upgrading from Fedora 34 to 35 with Gnome Wayland.

[2021-11-10 12:53] mmahmoudian commented on #1509
Thanks to the `--region` implemented in #2010 you can achieve this behavior. For example:

[code]

If you want to have sequential screenshot from the same area:

[code]

And the `--accept-on-select` can be combined with `--region` to take screenshot almost without opening the gui:
[code]

You can also set an environmental variable to store the coordinate of the region of interest and always call F

[2021-11-10 13:10] mmahmoudian commented on #2055
Sorry I'm a bit late to the party.

I agree with this. selection area is not important, but the objects can be.

![image](https://user-images.githubusercontent.com/390889/141118577-77d03c0e-0501-43c7-b3c1-434a8bc852d5.png)

Well, the "quit" is generally bound to <kbd>Ctrl</kbd>+<kbd>q</kbd> (e.g Firefox, Vivaldi, LibreOffice, Kate, Gimp, Inkscape), plus the Ctrl+q is already implemented.

In gener

[2021-11-10 13:47] deseven commented on #1259
For those who use [Karabiner-Elements](https://karabiner-elements.pqrs.org), here's the config to map ⇧⌘T to ⇧⌘⌥4 (you can change ⇧⌘T to anything you want):

[code]

Put it in `~/.config/karabiner/assets/complex_modifications/flameshot.json` and enable in the "Complex modifications" tab of Karabiner-Elements Preferences.

[2021-11-10 14:12] haizaar commented on #2036
Not sure why this was marked as closed. Flameshot still doesn't work for me for KDE + Wayland

[2021-11-10 14:16] fredygamez opened #2057 "Allow create arrows with curved lines."
Allow create arrows with curved lines.

[2021-11-10 14:22] borgmanJeremy commented on #2036
Have you tried on the master branch or flameshot-git from AUR?

[2021-11-10 14:25] fredygamez opened #2058 "Not allowed to add a keyboard shortcut for upload image (Configuration-Shortcuts area)"
Not allowed to add a keyboard shortcut for upload image (Configuration-Shortcuts area)

[2021-11-10 14:32] borgmanJeremy commented on #2058
duplicate of #2034

[2021-11-10 14:32] #2058 closed

[2021-11-10 15:08] deepu105 commented on #635
I had the same issue with version 0.10.1 (QT 5.12.2) on Fedora 35 KDE and unchecking "Use JPG format for clipboard" fixed it

[2021-11-10 15:24] Pheggas commented on #702
Anything new around this feature request? It would be super cool to me tho. Oftentimes i'm working with text copying and this
feature would be absolute killer!

[2021-11-10 16:36] xeaon commented on #702
@Pheggas If you are comfortable with compiling yourself, check my comment above.

I'm using this feature since then and it works great.

[2021-11-10 16:45] borgmanJeremy commented on #702
I am okay to merge this feature if we can:
- Fix the merge request to it passes CI
- Explain how to package / distribute the language packs on all platforms.

[2021-11-10 19:29] Pheggas commented on #702
I'd like to. But it would be my first compilation. I'll try to look at it. In case of failure, I'll write you 🙂

[2021-11-10 21:41] fergalmoran commented on #1386
Still happening... happy to share any info maintainers might feel is relevant?
[https://imgur.com/a/CuBVmqj](url)

[2021-11-10 22:05] njminchin commented on #1509
@mmahmoudian is this sequential screenshot functionality in the GUI via a shortcut?

[2021-11-10 22:13] borgmanJeremy commented on #1509
I'm considering adding it to the launcher

[2021-11-11 06:28] mmahmoudian commented on #1509
@njminchin First off, Flameshot was initially designed for Linux users and every functionality was accessible through command line, so I can safely assume that majority of users can utilise this feature through the `--region`. Second, when the commandline option is implemented, it means the functionality is implemented and the rest is more of less semantics and gui stuff can be easily added if it

[2021-11-11 06:56] mmahmoudian commented on #1386
@fergalmoran would you please also confirm your Flameshot version and if you are using X11 or Wayland (I don't know if Xfce has implemented Wayland or not)

[2021-11-11 07:10] gubareve commented on #1386
Interestingly enough, I just discovered that my issue also happens when using `ksnip`. This makes me think that this might not be a flameshot issue. @ihipop @fergalmoran could you grab ksnip from the community repositories and see if the bug also occurs there?

[2021-11-11 09:17] fergalmoran commented on #1386
@mmahmoudian

Sure, I am using X11 (you are correct, XFCE does not have Wayland yet) and Flameshot v0.10.1 (installed from the AUR).

@gubareve

Tried that, and you are correct. The behaviour in ksnip is the same.

[2021-11-11 14:48] Kruchinin-v commented on #2041
Arch. After upgrading from 40.5 to 41.1 also get this error.

[2021-11-11 17:14] veracioux commented on #2057
@fredygamez You mean something like this?

![image](https://user-images.githubusercontent.com/29044423/141340401-5371bcd5-8035-4b11-903c-9ecac1a336a3.png)

[2021-11-11 18:06] p-himik commented on #1864
GitHub works for me but GitLab fails with this error in the JS console:
[code]

Looking at the code, the issue it due to `image.getAsFile()` returning `null`.
That `image` is an instance of `DataTransferStream` with `kind` and `type` set to values that depend on the application used to copy the image.
I did some experiments and here's the result:
- Gwenview: `kind: "file", type: "image/jpeg"` - ev

[2021-11-11 18:47] isaiahtaylor opened #2062 "Can't take screenshots i3 Fedora 34"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
I can't take a screenshot with flameshot, either through `flameshot gui` or by clicking the tray icon. I am able to right click on the tray icon and open the configuration. I can also see a capture when I hit "open launcher" but I am not able to save the image that was captured.

`flameshot gui` shows no output a

[2021-11-11 19:07] fredygamez commented on #2057
Yes. I do.

On Thu, Nov 11, 2021, 12:14 PM Haris Gušić ***@***.*** wrote:

[2021-11-11 21:18] AshtakaOOf commented on #2041
I also have that problem where it can't screenshot on wayland

[2021-11-11 21:25] borgmanJeremy commented on #2041
Sorry if this sounds a bit abrupt, but its not helping to keep bumping the issue it just clutters it. Let me summarize where this is at:

If you are **only** having this issue on gnome 41 or greater, the problem has been resolved on our master branch. I do not know when we will have an official release.

Please only comment on this issue if you test on gnome40 or 41 with a build of Flameshot **aft

[2021-11-12 00:18] fredygamez commented on #2057
![image](https://user-images.githubusercontent.com/17584642/141387379-e0c8e0d9-7480-4d2e-869b-cc02f0712ed7.png)

[2021-11-12 04:38] j-tai commented on #1070
@AmandaBSobrinho Can you check if the issue still occurs on the master branch? The latest release (0.10.1) doesn't have #1856 merged yet.

[2021-11-12 06:39] smissaertj commented on #1622
Same issue on Fedora 35 with Gnome 41.1 on Wayland:
[code]

[2021-11-12 07:21] mmahmoudian commented on #2057
I think one way to implement this is to have a handle in the middle of the arrow. User draw the arrow as usual (a straight one) and then if they want to make it curved, then they select the arrow and drag the handle which is in the middle of the line to create the curve. The benefits of this approach:
1. I think it is relatively easy to implement
2. Doesn't add new options to config
3. Doesn't nee

[2021-11-12 07:36] mmahmoudian commented on #2062
The `flameshot gui` does not produce output. We have had lots of bug fixes since the release of v0.10.1. Would you please try either compiling from source (https://flameshot.org/guide/installation/compilation/), or try installing our latest highlights build (https://flameshot.org/nightly/) and let us know if you still have that issue.

[2021-11-12 07:50] mmahmoudian commented on #1864
@p-himik thanks for digging into this deeper. Not it is a bit more clear (at least to me) that what the issue stems from.

@veracioux & @borgmanJeremy  is there any downside of creating image file (the kind and type) and then push it clipboard?

[2021-11-12 11:44] posuch commented on #2041
I did compile the latest code on archlinux/gnome41/wayland using [this](https://aur.archlinux.org/packages/flameshot-git/) - basically just adjusted the PKGBUILD with

[code]

[code]

Flameshot is not working - anybody can confirm that master branch works on wayland and gnome 41 ( preferably archlinux ? )

Thanks

[2021-11-12 12:59] pmoralesp commented on #2041
Not working for me neither. Can open config window but I can't capture. Was working flawless until gnome 40 with wayland.

Version: r1566.167de09b
Desktop: Gnome 41.1
Display: Wayland
OS: Archlinux

[2021-11-12 13:04] veracioux commented on #1864
@mmahmoudian I don't think we would gain anything from that. We'd still have to read the image file into a byte array and push it to the clipboard, which is what we are doing now.

[2021-11-12 13:04] borgmanJeremy commented on #2041
Have you killed any existing flameshot processes and uninstalled the old version before running the test?

[2021-11-12 13:07] pmoralesp commented on #2041
Sure. Also had to remove these lines from config file

[code]

[2021-11-12 13:09] xvitaly commented on #2062
Looks like duplicate of #1910.

[2021-11-12 13:10] xvitaly commented on #1910
@borgmanJeremy Can you tag a new release? Flameshot is broken on F35 and I receive a lot of crash reports.

[2021-11-12 13:15] borgmanJeremy commented on #1910
We are close to freezing for a new release but need to fix some macOS issues. Can you cherry pick the patch that fixes the issue until we are ready for a release?

[2021-11-12 13:16] AmandaBSobrinho commented on #1070
@j-tai Sorry, how do I get the master branch? Do I just clone it locally? I have the latest release installed via dpkg.

[2021-11-12 13:23] veracioux commented on #1070
@AmandaBSobrinho You can clone and compile it or you can download a pre-packaged version from [here](https://flameshot.org/nightly) (nightly build).

[2021-11-12 14:18] AmandaBSobrinho commented on #1070
Well, it looks like you guys corrected it, at least here it is all looking good! Congratulations on the great job! I'll keep testing it, though, to check if I can find any situation when the bug still happens.

[2021-11-12 15:44] isaiahtaylor commented on #2062
@mmahmoudian I followed that nightly link and downloaded, but it looks like 0.10.1 is latest nightly? I already have that rpm installed. I can try installing from source later.

[2021-11-12 15:50] j-waters opened #2063 "Image cut off when pasting into certain applications on Wayland"
**Flameshot version**
Flameshot v0.10.1 (7199fd39)

**Describe the bug**

Using Sway version 1.6.1. When I take a screenshot using Flameshot, depending on the size of the screenshot, the image is cut off - and by size, I mean size in mb.

Here's me taking a screenshot of a gradient:
![image](https://user-images.githubusercontent.com/6190754/141493506-0da9a852-c774-4c70-95e6-a4b138e7d928.png)

And

[2021-11-12 15:55] j-waters commented on #2063
If anyone has the same problem as me and wants a temporary solution, I've bound my screenshot key to `flameshot gui -r | wl-copy`

[2021-11-12 15:56] isaiahtaylor commented on #2062
Built from source just now. Same result. Not sure if this is a dupe because I'm on X / i3, rather than wayland /Gnome.

[2021-11-12 16:58] brownchow commented on #1622
same issue on arch linux with Gnome

[2021-11-12 19:12] xipho commented on #1622
Same issue too on Fedora 35 with Gnome 41 Wayland session
Linux fedora 5.14.16-301.fc35.x86_64 #1 SMP Wed Nov 3 13:55:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-11-12 19:16] borgmanJeremy commented on #1921
Okay I actually picked up an M1 Air and its running BigSur. I was able to compile and run flameshot. Perhaps Qt fixed a bug that was preventing this working?

There are still some bugs, but it built properly

[2021-11-12 20:03] borgmanJeremy commented on #1910
Ok we made a decision to release a bug fix release (0.10.2). I will do the release this weekend.

[2021-11-12 20:26] mstoss commented on #1622
Same issue with archlinux:

 flameshot -v
Flameshot v0.10.1
Compiled with Qt 5.15.2

flameshot
Warning: Ignoring XDG_SESSION_TYPE=wayland on Gnome. Use QT_QPA_PLATFORM=wayland to run on Wayland anyway.
QSettings::value: Empty key passed
QSettings::value: Empty key passed
QSettings::setValue: Empty key passed
QSettings::value: Empty key passed
QSettings::setValue: Empty key passed

loginctl show-se

[2021-11-12 20:27] borgmanJeremy commented on #1622
This is a duplicate of #1910

[2021-11-12 20:27] #1622 closed

[2021-11-12 21:03] luis-alves commented on #2041
Tested it now with the build from master, in Gnome 41 of Fedora 35/wayland and it's working. Thanks!

[2021-11-13 07:14] mmahmoudian commented on #2062
@isaiahtaylor

The nightly builds are having the save version as the latest release, but if you check the version you will see it also contains the git commit hash which makes them unique

Ok, thanks for trying. Let's see what other devs can think about this issue.

[2021-11-13 11:47] johnkarpn commented on #2041
It still doesn't work. The tray icon appears, but does not take screenshot

Flameshot v0.10.1 (167de09b)
Compiled with Qt 5.15.2
linux: 5.15.2-arch1-1

(after #2035)

[2021-11-13 13:53] claytron5000 commented on #1921
Thanks @borgmanJeremy. Installing `cmake` gave me a point version bump, so maybe that fixed the issue. Either way, closed!

[2021-11-13 13:53] #1921 closed

[2021-11-13 14:20] trahelman commented on #2041
Same with Arch

[2021-11-13 16:15] pavangayakwad commented on #1610
Does not work well with pop_os.
1) Does not cover full 4K area, you can see in my screenshot below

![image](https://user-images.githubusercontent.com/1834890/141650954-0f52039a-2963-401c-8d0d-34f74319db26.png)

2) It flickers continuously when another monitor is connected.

This is a crashing defect, I really wonder how come it is not prioritized and fixed till date.

[2021-11-13 17:23] veracioux commented on #2062
@isaiahtaylor I also had (and to this day continue to have) issues with D-Bus on X11, i3wm. I'm on Arch Linux though.

If it's not too much of a hassle, can you try compiling from #2003 and see if the issue persists? This PR removes D-Bus to a large extent, although even then the clipboard and screenshot pinning may not work correctly for you.

[2021-11-13 17:28] claytron5000 opened #2066 "Minimum size for Thickness Slider"
**Is your feature request related to a problem?**

Currently, the Active Thickness slider is much too small, so it's hard to finely adjust the width/font size of an element.
![image](https://user-images.githubusercontent.com/5767672/141653254-7ef6e2ce-69b2-458b-a8e8-864119cd5d85.png)
Propose to set a minimum width to the slider, and allow form elements to wrap.
![image](https://user-images.githubu

[2021-11-13 18:07] lcquerido opened #2069 "Flameshot don't open or don't capture Gnome 41 - Fedora 35"
[

**Flameshot version**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**System Information**
](https://bin.snopyta.org/?19d9190677f0a46a#JE5wCPJissPFJboBwzDriDYJRiCWHq12ZQ14L3P2kyA5)

[2021-11-13 18:13] borgmanJeremy commented on #2069
Duplicate of 1910

[2021-11-13 18:13] #2069 closed

[2021-11-13 21:54] claytron5000 commented on #313
I've been playing with adding drop-shadows to the application. I looked at `QGraphicsDropShadowEffect`, but I haven't been able to figure out how to apply to the painter.
I've also played with the arrow, duplicating the parts, coloring them black,  and translating them. This seems like a fragile and tedious method.

Any ideas how to effectively implement drop-shadows across the app? I was looking

[2021-11-13 23:31] nsxz1234 commented on #2041
Same with manjaro
Desktop: Gnome 41.1

[2021-11-14 00:40] waltco commented on #703
For those who are experiencing problem in ubuntu 20.04 uninstall the version from snap and install it with apt:
`sudo apt install flameshot`
And re-run again with `flameshot gui`

[2021-11-14 17:10] sterndata commented on #1910
10.2-1 works on Fedora 35. Thanks!  Flameshot is a part of my daily routine doing WP support. It was sorely missed.

[2021-11-14 17:14] Raj-Joshi-dev opened #2070 "Flameshot does not work with MacOS Monterey 12.0.1"
**Flameshot version**
v0.10.

**Describe the bug**
Installed via homebrew using `brew install --cask flameshot`

![Flameshot](https://user-images.githubusercontent.com/52413491/141691104-de49731d-a8cf-43fa-b373-e5cf735ca4b9.png)

**To Reproduce**
1. Launch flameshot.
2. Pop up appears that you cannot run the program.

**System Information**
macOS Monterey 12.0.1

[2021-11-14 17:16] borgmanJeremy commented on #2070
This is because we do not pay apple to sign the binary. You need to go into the security settings and allow the app to run.

[2021-11-14 17:20] Raj-Joshi-dev commented on #2070
Thanks a lot! It worked.

[2021-11-14 17:20] #2070 closed

[2021-11-15 02:03] ihipop commented on #1386
The behavior in ksnip is the same, Maybe you use the same library to capture screen? but `spectacle` also use QT and it works well??

[2021-11-15 02:29] kloczek commented on #1707
Almost all KDE projests already moged to gettext.
Do you have any plans to move to gettext soon?

[2021-11-15 02:54] borgmanJeremy commented on #1707
Can you briefly explain what the advantage is to switching? I am pretty happy with our current setup with .ts files on weblate.

[2021-11-15 03:23] kloczek commented on #1707
gettext support is part of the libc si in that case effectibveliu luss code is used as most of the other projects are alreadsy using gettext.

[2021-11-15 05:14] srihariash999 opened #2072 "Can windows and linux version have different release checks?"
**Is your feature request related to a problem?**
For example, the latest 0.10.2 version is only for linux and windows binaries are not updated. But the update checks i guess are still there in windows, meaning I get an alert that update 0.10.2 is released on windows whereas i can do nothing about it.

So, can this update check be platform dependent ?

[2021-11-15 05:14] srihariash999 commented on #2072
![Screenshot (232)](https://user-images.githubusercontent.com/30948010/141726265-fbda4592-d28f-4536-8249-133b59564774.png)

[2021-11-15 05:20] mmahmoudian commented on #2041
@johnkarpn @trahelman @nsxz1234 try the version v0.10.2 which was released due to Gnome's issues.

**For others, please do not bump the issue before trying v0.10.2**

[2021-11-15 05:39] mmahmoudian commented on #2002
@r79 I'm glad it was resolved. Thanks for using Flameshot.

But to put some records straight, I'll briefly explain the history of the project and the current roles:
Flameshot initially started and developed by @lupoDharkael (check the git history for exact dates). As of August 2020 he kindly agreed to form a Gihub organization (https://github.com/flameshot-org) where he shared administrative permi

[2021-11-15 06:23] mmahmoudian commented on #2072
Thanks for bringing this up and sorry for the inconvenience. The reason for the v0.10.2 was to do a quick hotfix for linux Gnome users, and the reason we have not published any Windows or Mac binaries is simply because we are trying to wrap up for releasing v0.11.0 which brings tons of new features and fixes.

Regardless, having platform-specific might be a good idea but I'm not sure if it is poss

[2021-11-15 07:24] xvitaly commented on #1707
What projects? Can you show any examples?

[2021-11-15 07:53] mmahmoudian commented on #2054
Isn't it weird that the message and the sidebar button are neither vertically nor horizontally aligned to the monitor or the scaled picture, but the shade has filled the monitor fully.
Feels like there are three different dimensions in play:
1. The actual monitor size (shade respects it properly)
2. The smallest one which the screenshot is shrunk to
3. The one in between where the message and the

[2021-11-15 07:56] posuch commented on #2041
tried to compile 0.10.2 didnt work , same with snap package - gnome 41.1, archlinux, wayland - arch guys, does it work for you ?

[2021-11-15 08:01] mmahmoudian commented on #2041
@posuch

What do you mean? The compiling failed or it didn't improve the situation? If the compiling failed, use the AUR.

There are also Linux binaries available for v0.10.2 in the release page

[2021-11-15 08:12] posuch commented on #2041
@mmahmoudian

sorry :) the compilation did work, flameshot did isntall - just the result was the same eg. I couldnt take a screenshot. To exclude my environment setup id be great if some other guys with archlinux could try it out and confirm.

[2021-11-15 08:14] olfuerniss commented on #2041
Thanks! 0.10.2 works for me on Fedora 35 (Wayland; Gnome 41.1).

`wget https://github.com/flameshot-org/flameshot/releases/download/v0.10.2/flameshot-0.10.2-1.fc35.x86_64.rpm
sudo dnf localinstall flameshot-0.10.2-1.fc35.x86_64.rpm
`

[2021-11-15 10:51] rohan-yabx commented on #2041
Was able to install flameshot-0.10.2-1.fc35.x86_64.rpm, however, the Gnome screenshot tool seems to be interfering. Taking a screenshot (keyboard or tray) launches the Gnome screenshot tool that captures the entire image. I then need to click on the Share button that launches flameshot's interface. Have kept the printscreen button mapped to launch 'flameshot gui'.

TL:DR: 0.10.2 works, but Gnome's

[2021-11-15 11:00] meesha7 commented on #2041
@olfuerniss Yes that's apparently the correct behavior according to [GNOME devs](https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970), for the sake of security

[2021-11-15 11:01] rohandayal commented on #2041
Was able to install flameshot-0.10.2-1.fc35.x86_64.rpm and it works, but Gnome's screenshot tool captures the entire screen and requires the screen to be 'shared' to flameshot. After I click share, the normal flameshot gui loads. So it works, but it requires an extra step. Tried with the keyboard shortcut and the tray icon with same results.

Any ideas on how the gnome screenshot tool can be bypas

[2021-11-15 11:08] haizaar commented on #2036
I'm on NixOs, no Arch :)
There is a PR pending for flameshot on NixOS: https://github.com/NixOS/nixpkgs/pull/145777

[2021-11-15 11:23] meesha7 commented on #2041
@rohandayal that was discussed [here](https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/1970) and [here](https://github.com/flatpak/xdg-desktop-portal/issues/649)

[2021-11-15 11:37] mmahmoudian commented on #2063
@j-waters can you try pasting in github from Firefox and see of the issue persists? We have had some issues with Chrome and I want to make sure that they are not related to this issue you are having.

[2021-11-15 12:23] borgmanJeremy commented on #2072
It would actually be much easier to just publish all the binaries. I can do that today or tomorrow.

[2021-11-15 12:58] j-waters commented on #2063
Ah it does seem to work in Firefox, that's good to know. It's weird that it also doesn't work in Gimp however

[2021-11-15 13:05] rohandayal commented on #2041
Thanks for replying! Glad that we at least have Flameshot working.

[2021-11-15 16:03] felubra commented on #526
Hi folks,
I'm having trouble making this flag work:

![image](https://user-images.githubusercontent.com/25326257/141814205-e68465cb-0f66-40c2-b1c4-84475ac79141.png)

[2021-11-15 16:44] felubra commented on #2062
@veracioux I've built flameshot with your branch and was able to start it with `flameshot gui` on Fedora 35. But I've encountered a problem where the copy to clipboard feature no longer works: the copy notification never appers after I click to the copy to clipboard button. The following error was captured from dbus-monitor:

[code]

[2021-11-15 17:39] borgmanJeremy commented on #2050
Okay this is fixed on the master branch. The issue was we were #ifdef'ing out  a config parameter that is not displayed for Macos, but not every reference was compiled out so it was seg faulting.

[2021-11-15 17:39] #2050 closed

[2021-11-15 17:40] #2066 closed

[2021-11-15 18:03] #2041 closed

[2021-11-15 19:11] mmahmoudian commented on #526
@felubra the fastest way would be to compile from source (few commands)

https://flameshot.org/guide/installation/compilation/

or if you are on Arch Linux you can use AUR.

[2021-11-15 19:23] borgmanJeremy commented on #526
Just keep in mind we try to keep the master branch working, but its not "stable" in the sense that we thoroughly test everything on each commit.

[2021-11-15 21:28] ExperiBass opened #2075 "[Arch] Flameshot takes screenshots in the past"
**Flameshot version**

**Describe the bug**

Flameshot takes screenshots in the past. When opening the gui, it displays the desktop as of around 5 minutes ago.

**To Reproduce**

- Open the GUI or take a screenshot.
- notice how the image doesn't match what is currently on the screen.

**Expected behavior**

Flameshot will screenshot whats on the screen as of now.

**System Information**

endeavou

[2021-11-15 21:41] borgmanJeremy commented on #2075
What method did you use to install Flameshot?

[2021-11-15 21:42] ExperiBass commented on #2075
i used the AUR.

[2021-11-15 21:43] borgmanJeremy commented on #2075
did you install "flameshot" or "flameshot-git", if flameshot-git, can you please post the SHA? You can find it in the about menu of flameshot.

[2021-11-15 21:49] ExperiBass commented on #2075
plain `flameshot`

[2021-11-15 21:49] kloczek commented on #1707
[code]
Above spec fiels are for plasma 21.08.3 and kde 5.88.0 ans as yu see now number of projects still using qm files is quite low and with every release each time is less and less such proojects.

Other thing is that you are using custom path to install .qm files instead base directory taken from qtbase cmake settings. So instead fixing that better would be just migrate to gettext as it will be

[2021-11-15 21:56] borgmanJeremy commented on #2075
I did a fresh install and it seems to be working properly. Not sure what the difference would be.

![image](https://user-images.githubusercontent.com/46930769/141859344-5cd0326a-1d1d-44b5-ab91-96bef6e244f5.png)

[2021-11-15 22:00] ExperiBass commented on #2075
interesting...

for me it happens nearly every time i open it, i have to open, then close, then open for it to update

[2021-11-15 22:05] borgmanJeremy commented on #2075
That's so strange, I cant even think how that possibly is happening.

Is it possible its not returning from 5-7 minutes ago, but rather returning a previous image you captured?

[2021-11-15 22:09] ExperiBass commented on #2075
thats what i thought too, but it would display apps like VScode that i had closed ages ago and hadnt ever taken a screenshot of

[2021-11-16 03:57] Kin-Zhang commented on #1866
Sorry for the late reply, thank you for asking.
I download the version of Flameshot-0.10.1-win64.msi from: https://github.com/flameshot-org/flameshot/releases
Version is 0.10.1

[2021-11-16 05:31] sigaloid commented on #2075
Does it return the screenshot from 5 minutes ago, or does it lag for 5 minutes then appear somehow (maybe delayed, maybe triggered by another screenshot)?

[2021-11-16 05:32] mmahmoudian commented on #2075
@borgmanJeremy this was also reported to me by a friend of mine around 5 months ago on Manjaro. We did some tests and couldn't even figure out how to reproduce it. At the time I had the same exact Manjaro and Flameshot versions on 3 different computers and yet no joy in reproducing it!

@ExperiBass you forgot to provide the Flameshot version. Please specify exactly what version of Flameshot you ha

[2021-11-16 06:03] pizzadude opened #2077 "Keyboard shortcuts don't work in flameshot 0.10.2 on Fedora KDE wayland, but they worked in version 0.10.1"
0.10.2

In Fedora 35 KDE Wayland, keyboard shortcuts don't work with flameshot 0.10.2 from updates-testing repos. Meaning, I can't press esc, I can't Ctrl+Z to undo, etc. Downgrading to 0.10.1 fixes the issue.

**To Reproduce**
Be on Fedora KDE 35 wayland session with latest packages from updates-testing repos, try to take a screenshot with flameshot, notice keyboard shortcuts don't work.

**Expec

[2021-11-16 07:28] xvitaly commented on #1707
KF5 is a one project.

Qt applications are still using `/usr/share/$aooname/translations/`:

[code]

[2021-11-16 09:54] sliddjur opened #2078 "CTRL+C not working on Ubuntu 20.04"
**Flameshot version**
v0.10.2 - installed from deb package.

**Describe the bug**
CTRL+C is not working to copy image to buffer.

**To Reproduce**
Try to press ctrl+c, and then ctrl+v in an application that supports pasting images (eg slack). nothing happens

**Expected behavior**
I expected it to paste the image.
The workaround is to click with mouse on the `copy the selection into the clipboard`

[2021-11-16 09:56] #2078 closed

[2021-11-16 09:57] sliddjur commented on #2078
Im an idiot, my ctrl+c shortcut had somehow been removed. I didnt check that before making an issue, sorry about that!

[2021-11-16 15:45] mdxe commented on #2077
I have Flameshot 0.10.1 and it also stopped working after the latest Arch Linux update... "Unable to capture screen" error.

[2021-11-16 17:15] borgmanJeremy commented on #2077
Update to update 10.2. Please don't clutter this issue with a seperate problem.

[2021-11-16 17:24] kophjager007 opened #2080 "Save screenshot file name broken"
**Previous Issue**
The previous closed issue #1722 is still present in the latest stable release.

**Flameshot version**

Flameshot 0.10.2-1 ( flameshot-0.10.2-1.ubuntu-20.04.amd64.deb )
* previously installed version was 0.9.0.

**Describe the bug**

When saving a screenshot with `.`'s in the file name, such as naming a screenshot after an IP address (eg `12.13.14.15-p80-vuln.png`), the screensho

[2021-11-16 17:26] borgmanJeremy commented on #2080
0.10.2 was only intended to fix a critical issue on gnome. We did not merge other fixes.

[2021-11-16 17:26] #2080 closed

[2021-11-16 18:31] pizzadude commented on #2077
@borgmanJeremy What? This issue is with 10.2.

[2021-11-16 19:05] mmahmoudian commented on #2080
@kophjager007 this is resolved by #1773. You should wait for version 0.11.0

[2021-11-16 20:20] borgmanJeremy commented on #2077
Sorry about that! I think I replied to the wrong issue using the mobile interface. Apologies 😊

[2021-11-16 20:24] mdxe commented on #2077
You didn't replied to the wrong issue, but since you thought I was cluttering, I deleted my comment... (sorry for cluttering again)

[2021-11-16 20:26] borgmanJeremy commented on #2077
No problem, sorry if it was overly harsh, I hadn't had my coffee yet, should have been more polite.

[2021-11-16 20:32] jeffclay opened #2082 "App doesn't open in Fedora 35 with Gnome and X11."
**Flameshot version**
flameshot-0.10.1-1.fc35.x86_64

**Describe the bug**
Opening the program doesn't appear to do anything. I see it running under my user when I run 'ps aux | grep flameshot'. I have attempted killing the process and restarting it to no effect.

**To Reproduce**
Install flameshot via 'dnf install flameshot'
Open Flameshot

**Expected behavior**
I expect to see a gui of some sort

[2021-11-16 20:40] mdxe commented on #2077
No problem, sorry for creating this chaos... I thought that Github would leave a trace of my deleted comment...

[2021-11-16 21:15] borgmanJeremy commented on #2077
Ive confirmed the issue is present on the master branch as well.

[2021-11-16 21:17] borgmanJeremy commented on #2082
Do you have a system tray working: https://github.com/flameshot-org/flameshot#considerations

[2021-11-16 21:28] borgmanJeremy commented on #2017
Okay so adding this as a run time configuration turned out to be pretty complicated to support across all the different DE's and operating systems. Not impossible, but as a first step I made it a build time option.

Feel free to test in on #2071 but it seems to work for me

![image](https://user-images.githubusercontent.com/46930769/142068519-faae9360-7e07-4ccd-b5ba-6c1066a21828.png)

[2021-11-16 21:35] jeffclay commented on #2082
Thanks, that did the trick.
I had only read the requirements at https://flameshot.org/#considerations and not the git readme.

[2021-11-16 21:40] borgmanJeremy commented on #2082
Glad that fixed it for you! If you end up using wayland we just put out a release to fix an issue with gnome41 and wayland. It should hit the fedora repo's soon.

[2021-11-16 21:40] #2082 closed

[2021-11-17 01:01] makeworld-the-better-one commented on #2017
How can I use the white tray icon on Linux XFCE? Right now it is the black version which is near impossible to see.

![image](https://user-images.githubusercontent.com/25111343/142090265-07695075-6627-438f-a875-3e149ab51bdc.png)

[2021-11-17 01:11] borgmanJeremy commented on #2017
Can you please open a separate issue for that? Icons in Linux are managed totally different and I don't want to clog this issue with that discussion. As a quick answer if you google XFCE change icon theme you will find it. But feel free to open something on the GitHub discussions if you need help.

[2021-11-17 01:18] makeworld-the-better-one opened #2083 "Black tray icon in Linux XFCE even Qt and GTK icon theme is light"
**Flameshot version**
v0.10.1

**Describe the bug**

![](https://user-images.githubusercontent.com/25111343/142090265-07695075-6627-438f-a875-3e149ab51bdc.png)

The tray icon is black in Linux XFCE. I am using the Breeze Dark theme for icons, meaning the icons should be white. I have set this theme for both GTK and Qt applications, and I have observed them obeying it, Flameshot seems to be the odd

[2021-11-17 01:18] makeworld-the-better-one commented on #2017
My bad. I've created issue #2083.

[2021-11-17 07:16] mmahmoudian commented on #2034
@FunWithUrban & @borgmanJeremy & @veracioux shall we close this one?

[2021-11-17 11:01] fjfnaranjo commented on #764
Do you need help with this integration? If you send me the code for the selector I can try to do it. If the project owner wants to approve something like this (I saw the "Needs Decision" tag).

[2021-11-17 12:56] nobeh commented on #2077
I can also confirm that I'm having the same issue on:

- GNOME 40.4.0 + Wayland
- Ubuntu 21.10

[2021-11-17 13:54] mmahmoudian commented on #2066
This is how I see it now and it kinda feels out of place. it is not filling the whole row and there is empty space between the "Active tool size" and "Active color".

![image](https://user-images.githubusercontent.com/390889/142213307-c9f16de9-81ee-405f-b59c-f339d9b18030.png)

I'm using the following:

Flameshot v0.10.1 (f25d58b6)
Compiled with Qt 5.15.2
linux: 5.10.70-1-MANJARO
manjaro: unknown

[2021-11-17 13:58] mmahmoudian commented on #1866
I don't have a Windows machine to test this. @borgmanJeremy If I recall correctly you have a Windows VM. If you still have it, can you test this

[2021-11-17 15:19] lilydjwg opened #2086 "only top left part is ready for operation in wayland with multiple monitors"
**Flameshot version**
Flameshot v0.10.1
Compiled with Qt 5.15.2

**Describe the bug**
I have two monitors arranged like this (the cyan and green rectangles):

![图片](https://user-images.githubusercontent.com/440661/142227373-09e43b06-6bcb-4651-806d-079c301aadf5.png)

When I run `flameshot gui` on the green monitor, flameshot shows an image covering that monitor, but only top left part (the area in

[2021-11-17 15:33] mmahmoudian commented on #2086
@lilydjwg What are the resolution of those two monitors? For example you can use `inxi --graphics`

[2021-11-17 16:37] dunhao opened #2087 "macOS app showing update available, when update is only for Linux"
**Flameshot version**
0.10.1 macOS

**Describe the bug**
On 0.10.1 macOS version.
There was new update available in Github, but it is only for Linux and no download option available for macOS users.
But when I try to take new screenshots, it always shows there is new update available popup.

**To Reproduce**
On macOS, (Whatever, I used Monterey)
Install 0.10.1 version.
Try to take new screenshot.

[2021-11-17 19:07] jamesmbull commented on #635
This solution worked for me as well.

Arch Linux
i3 WM
Chrome 96.0.4664.45

[2021-11-17 19:21] borgmanJeremy commented on #2087
I added macos to the release. In the future ill post binaries for all platforms even if its just a hotfix for a specific OS.

[2021-11-17 19:21] #2087 closed

[2021-11-17 21:47] borgmanJeremy commented on #764
Hey sorry I've been really busy with other flameshot issues and this ended up on the back burner. I made my code public here: https://github.com/borgmanJeremy/emoji

You are totally welcome to help me get it over the line. If you want to work on it let me know here or on our matrix channel: https://matrix.to/#/#Flameshot:feneas.org and we can talk through the remaining items.

Keep in mind this is

[2021-11-18 00:41] fjfnaranjo commented on #764
Oops. I thought you already had the code in a branch. If this needs development I don't have the bandwidth now :(

I will keep track of this issue. Maybe I can help in the future.

[2021-11-18 03:25] borgmanJeremy commented on #2017
Merged new icon on Macos

[2021-11-18 03:25] #2017 closed

[2021-11-18 03:30] borgmanJeremy commented on #2083
So right now for linux we only distribute the color icon. Most Linux DE's follow the freedesktop spec for icons. Therefore when you install an icon pack, that icon pack needs to properly provide the app icon. I suspect the breeze dark icon set doesnt properly package a white flameshot icon.

I use the papirus icon set on KDE and it provides its own flameshot SVG's.

[2021-11-18 04:22] lilydjwg commented on #2086
The left one is 1920x1080 scale 1.5. The right one is 3840x2160 scale 2. The left one is shifted down several hundred pixels to match the position in reality.

`inxi` doesn't work well on Wayland.

[2021-11-18 07:05] mmahmoudian commented on #2086
Can you try having the scale of your left monitor to 100% or 200% and try again. This issue might be the result of fractional scaling.

[2021-11-18 07:16] mmahmoudian commented on #2083
@makeworld-the-better-one I think this is the place you should visit:

https://github.com/KDE/breeze-icons

Note that they have mentioned

[2021-11-18 07:17] #2083 closed

[2021-11-18 07:38] liziru commented on #1963
I find this problem when running 0.10.1.AppImage, and found no any outputs when running 0.10.2.AppImage. And both two versions cannot start screenshoting.
Any advice to solve this problem?
![image](https://user-images.githubusercontent.com/34911790/142372249-bd982998-6237-458f-82aa-23ad9859609c.png)
![image](https://user-images.githubusercontent.com/34911790/142372370-a257d1cb-6b17-4fe0-9850-204e8

[2021-11-18 07:42] mmahmoudian commented on #1963
@liziru perhaps you can start by  telling us you system information

Also please note that unless you are a Wayland user, 0.10.2 or 0.10.1 shouldn't make a big difference for you.

[2021-11-18 08:04] lilydjwg commented on #2086
Tried set left to 1, still only top left part is shown and editable: that's about half of blank and half of top part of my left monitor's display.

[2021-11-18 13:09] borgmanJeremy commented on #2072
Okay its published.

[2021-11-18 13:09] #2072 closed

[2021-11-18 13:44] borgmanJeremy commented on #1591
Addedin readme

[2021-11-18 13:44] #1591 closed

[2021-11-18 13:45] #1592 closed

[2021-11-18 13:50] #1403 closed

[2021-11-18 13:53] borgmanJeremy commented on #1302
I ended up getting an M1 air and the lastest master branch is working perfectly on it, it did not require an upgrade to qt6.2. The only thing to figure out is if we need to update the CI.

[2021-11-18 13:55] #1235 closed

[2021-11-18 13:56] borgmanJeremy commented on #813
Closing this after the work @veracioux  did.

[2021-11-18 13:56] #813 closed

[2021-11-18 13:58] borgmanJeremy commented on #675
Closing this since the issue has kind of wandered all over the place and i know for certain it is working on Fedora35 and Arch Gnome41.

[2021-11-18 13:58] #675 closed

[2021-11-18 14:00] borgmanJeremy commented on #426
I don;t think this is possible to do in a crossplatform way unfortunately.

[2021-11-18 14:01] #186 closed

[2021-11-18 14:29] critamine opened #2088 "[Arch] Flameshot gui will not start"
**Flameshot version**
Installed via `pacman -S flameshot-git`:
[code]

**Describe the bug**
Flameshot will not open and the console is flooded with error messages...
<details>

[code]
</details>

**To Reproduce**
Run command `flameshot gui` from sxhkd bind. This occurs with and without existing config files.

**Expected behavior**
The flameshot gui will appear and immediately allow me to take a sc

[2021-11-18 14:37] mmahmoudian commented on #2088
I don't know what the error is, but by [searching the error](https://www.qwant.com/?q=%22qt.qpa.xcb%3A+QXcbConnection%3A+XCB+error%3A+3+%28BadWindow%29%22&client=opensearch&t=web) I got [this](https://github.com/owncloud/client/issues/4842):

Are you running Flameshot with root?

[2021-11-18 14:41] #2009 closed

[2021-11-18 14:44] mmahmoudian commented on #1743
@mdxe do you still have this issue? If you are Arch, would you please try the AUR version (maintained by devs of Flameshot) and see if the issue persists.

[2021-11-18 14:46] mmahmoudian commented on #1358
@kpcee considering that @veracioux refactored some part of the code to make the config error catching, I wonder if the issue is still there.

[2021-11-18 14:48] mmahmoudian commented on #547
At least based on some quick tests, it is now all https. Shall we close this issue?

[2021-11-18 14:50] #543 closed

[2021-11-18 14:52] mdxe commented on #1743
I've not seen this problem again... possibly an update fixed it.

[2021-11-18 14:54] mmahmoudian commented on #1743
@mdxe Thanks. I'll close this issue then.

[2021-11-18 14:54] #1743 closed

[2021-11-18 15:04] posuch commented on #2088
Not sure if it will help - I was struggling with the wayland/gnome41.1 issue - it didnt work untill I installed xdg-desktop-portal-gnome

yay -S xdg-desktop-portal-gnome

[2021-11-18 18:22] logrusorgru commented on #675
It works on Arch KDE Plasma too (at this time).

[2021-11-18 19:03] ovk commented on #675
Doesn't work on Sway though.

[2021-11-18 19:34] itanium21 commented on #5
4 years later and still nothing? Only feature that I miss in FlameShot :/

[2021-11-18 21:09] mmahmoudian commented on #2018
Closed by #2061

[2021-11-18 21:09] #2018 closed

[2021-11-18 21:18] wotmshuaisi commented on #813
It does help in most cases, except when the area you want to grab colour is covered by side panel.

[2021-11-18 23:02] borgmanJeremy commented on #2066
@mmahmoudian Can you open a separate issue for centering it? I should be able to do that but I don't want to forget.

[2021-11-18 23:03] #2034 closed

[2021-11-19 01:42] ryannathans opened #2090 "Flathub flatpak flameshot version is still 0.10.1 when a flatpak release of 0.10.2 has occurred"
### Flameshot Version

0.10.1

### Installation Type

Flatpak from Flathub

### Operating System type and version

PopOS 20.04

### Description

Flathub flatpak flameshot version is still 0.10.1 when a flatpak release of 0.10.2 has occurred

### Steps to reproduce

_No response_

### Screenshots or screen recordings

~$ flatpak update
Looking for updates…
Nothing to do.

flatpak list

Flameshot

[2021-11-19 03:24] hristo-chavez commented on #1622
Hello.
Same issue

 $ inxi --width 80 --system --graphics
[code]

$ flameshot
[code]
$flameshot --version
[code]

[2021-11-19 03:31] hristo-chavez commented on #1622
If I switch to X11, Flameshot works.

$ inxi --width 80 --system --graphics
[code]

![image](https://user-images.githubusercontent.com/90775174/142560207-809dc8f8-8fdb-4f16-bb6a-a4545eafe2bf.png)

Sorry for my bad english.

[2021-11-19 07:17] mmahmoudian commented on #1622
@hristo-chavez We have put together a quick fix for this and we released v0.10.2 to handle Gnome 41 Wayland issue. Pleasr either upgrade to Flameshot v0.10.2 or use our AUR flameshot-git

[2021-11-19 07:35] mmahmoudian commented on #2090
@ryannathans the v0.10.2 is specifically released for Gnome 41 Wayland users. It doesn't have any new features or additional bug fixes. We are planning to release v0.11.0.

Also, the neofetch does not provide all the information we need. For instance it does not tell if you are using Wayland or X11. Please consider following [our guidelines for bug reporting](https://flameshot.org/guide/issue-repo

[2021-11-19 07:38] mmahmoudian commented on #2090
@borgmanJeremy we have also been asked on Mastodon that the v0.10.2 is not available on flathub. Would you please also put it on flathub. It would also solve this issue.

[2021-11-19 07:42] mmahmoudian commented on #675
@ovk have you read this:

https://github.com/flameshot-org/flameshot/blob/master/docs/Sway%20and%20wlroots%20support.md

[2021-11-19 07:46] ryannathans commented on #2090
@mmahmoudian I didn't realise you needed more in-depth system specifications for a package not being published, I am not using wayland - I just get annoyed by the update popup every time I take a screenshot

I will run `inxi --system --graphics` next time I'm at my pc

[2021-11-19 07:52] mmahmoudian commented on #2090
@ryannathans for this particular issue we don't need any information about your system as it is particularly about flathub. What I wrote was a general reminder as it is unfortunately common that we get neofetch/screenfetch/pfetch screenshots and then we have to ask again.

Anyways, thanks for your response 👍🏼. As far as I have tried, if you click on "ignore" button, it should not ask you about tha

[2021-11-19 08:33] efstratios opened #2091 "Set an ppplication as 'default' whe choosing to "Choose an app to open the capture""
### Feature Description

Hi,

It would be very helpful if the option to "Choose an app to open the capture" would have a 'default' value as an option to set our desired application to open the saved capture every time at the configuration of the application (GUI or File).

Best regards.

[2021-11-19 12:06] borgmanJeremy commented on #2090
I did publish it on flathub already. I wonder if the pipeline built it with an old version number by mistake.

[2021-11-19 12:10] ryannathans commented on #2090
I noticed there was an update in the last few days that I downloaded and installed but I did not see the version number increment

[2021-11-19 14:35] asyba commented on #1302
strange for me, when i opened the app is not doing anything, no errors and not opening.

[2021-11-19 14:36] borgmanJeremy commented on #1302
Did you try compiling from source?

[2021-11-19 14:42] asyba commented on #1302
no, just with the dmg file from this github repo https://github.com/flameshot-org/flameshot/releases

[2021-11-19 15:21] borgmanJeremy commented on #1302
Okay that goes back to needing to update the CI so it builds a package for aarch64 in addition to x86. I think if you build from source it will work.

[2021-11-19 15:42] mmahmoudian opened #2092 "Active thickness slider fill the width of the sidebar"
### Feature Description

I propose that the slider fills the whole width of the sidebar (of course with some padding). At the moment it looks like:

![image](https://user-images.githubusercontent.com/390889/142213307-c9f16de9-81ee-405f-b59c-f339d9b18030.png)

which is not filling the whole row and there is empty space between the "Active tool size" and "Active color".

[2021-11-19 15:49] mmahmoudian commented on #2091
Just to extend the idea, perhaps would be nice if the click opens the default application and the right-click opens the application list.

Pros:
- the right-clicking to open more options would be consistent with the right-clicking on the other buttons

Cons:
- it would break the current behavior
- at the moment for options of other tools we open the sidebar, but for this one it takes the screensho

[2021-11-19 15:49] mmahmoudian commented on #2066
@borgmanJeremy Done #2092

[2021-11-19 15:52] mmahmoudian commented on #813
@wotmshuaisi but the sidepanel closes when the color grabber is selected and re-opens when the color is selected by the user or cancel by Esc

[2021-11-19 16:23] ExperiBass commented on #2075
Both the about menu and the cli --version don't give me the git build. Is there something I'm missing?

[2021-11-19 20:23] mmahmoudian commented on #2075
@ExperiBass how have you installed Flameshot? If you are still using the AUR version as [you said before](https://github.com/flameshot-org/flameshot/issues/2075#issuecomment-969348453), then it means that it is not updated, try installing it again. For example using paru:

[code]

[2021-11-19 20:25] ExperiBass commented on #2075
I ran `yay -S flameshot`, do you want me to switch to flameshot-git?

[2021-11-19 20:30] mmahmoudian commented on #2075
There is no AUR with the name `flameshot`:

https://aur.archlinux.org/packages/?O=0&SeB=nd&K=Flameshot+&outdated=&SB=n&SO=a&PP=50&do_Search=Go

The only packages in Arch that we support are `flameshot-git` AUR and the `flameshot` from community repo:

https://archlinux.org/packages/?sort=&q=Flameshot+&maintainer=&flagged=

[2021-11-19 21:00] borgmanJeremy commented on #2092
#2093 should fix this

[2021-11-19 21:18] ExperiBass commented on #2075
Ahhh ok, I got the community version then. I'll try the git when I get home if that's what you need?

[2021-11-19 21:28] mmahmoudian commented on #2075
Considering that this is a rare issue, would be nice to know what version you have (which now we know because you have installed the community version), and if the newest AUR still has this issue.

[2021-11-20 00:47] #2092 closed

[2021-11-20 00:57] borgmanJeremy commented on #2090
Here is the root cause, our build pipeline for flatpak pulls from the master branch. This is because for every other release its been based on the master branch.

However, in this case we released 10.2 as a hotfix on a maintenance branch.

We need to change [this line](https://github.com/flameshot-org/flameshot/blob/53cc11ac58d87b75b2fd94d68a08ecd690a18ed2/.github/workflows/Linux-pack.yml#L592) on

[2021-11-20 01:38] ExperiBass commented on #2075
alright, im back home

installed Flameshot v0.10.1 (53cc11ac), we'll see how it goes

[2021-11-20 05:04] Metacinnabar opened #2095 "Arch package out of date"
### Flameshot Version

v0.10.1-1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

EndeavourOS 1.4

### Description

The official [Arch package](https://archlinux.org/packages/community/x86_64/flameshot/) is version `v0.10.1-1` yet the latest version is `v0.10.2`.

### Steps to reproduce

1. `sudo pacman

[2021-11-20 06:54] nitrocode opened #2096 "Bump homebrew cask on every release"
### Feature Description

This github action should do the trick

https://github.com/marketplace/actions/bump-homebrew-formula

[code]

This will prevent maintainer contributions like this https://github.com/Homebrew/homebrew-cask/pull/114630 and will speed up the latest version's availability on homebrew

[2021-11-20 08:19] SicroAtGit commented on #246
@mmahmoudian I think a good cross-platform solution would be to have it not run scripts, but run executables. This way you can write the preprocess tools in any programming language (Python, the C languages, Nim, Rust, etc.). When a Python script is to be executed, the interpreter is executed with the script as parameter: `python script.py`.

I'll open a discussion, then we can discuss the details

[2021-11-20 08:25] mmahmoudian commented on #2095
Linux software repositories (e.g Arch, Ubundu, NixOS, Solus) are not maintained by us. You should ask the maintainer if your operation system to do this. If you really want the nightly builds of Flameshot, i.e latest and greatest bug fixes and features but with the caveat of possible new bugs, you can always use our AUR package on Arch systems. For example using `paru` AUR helper you can do:

`par

[2021-11-20 08:25] #2095 closed

[2021-11-20 09:11] UmarJ opened #2097 "Running `flameshot gui` without running `flameshot` does not pass environment variables"
### Flameshot Version

Flameshot v0.10.1 (53cc11ac)
Compiled with Qt 5.15.2

### Installation Type

Compiled from source

### Operating System type and version

Arch Linux x86_64 5.15.2-arch1-1

### Description

If you run `flameshot gui` with no instances of flameshot open, environment variables are not passed to flameshot. I set the theme using `QT_QPA_PLATFORMTHEME="qt5ct"`, but I still get the

[2021-11-20 11:22] Metacinnabar commented on #2095
Thanks!

[2021-11-20 20:10] borgmanJeremy commented on #2096
Have you done this before? I assume I generate the PAT and put in a github vault?

[2021-11-20 20:13] mmahmoudian commented on #2097
This is an interesting finding 🤔 if this is true, this might also explain some of the issues Sway users have.

[2021-11-20 20:40] veracioux commented on #2097
This behavior should be expected. The `flameshot gui` and other subcommands only signal to the daemon (that was started as `flameshot`) what it has to do via D-Bus, without sending any env vars around. In any case, when #2003 is merged there will be no need to run the daemon, except in some specific circumstances. In the future, the daemon may be completely optional.

[2021-11-20 23:36] maxgqc commented on #2075
I have the same issue
I installed with yay -S flameshot
Tried flameshot-git but I can't get it to work. flameshot gui doesnt do anything, also system shortcut doesn't work with flameshot-git while flameshot does screenshot in the past. It even bring back windows that were closed 2 minutes before

[2021-11-21 01:02] ovk commented on #675
I didn't, thank you for the info. Although, I find the requirement to have xdg-desktop-portal a bit strange. Is this a temporary or a permanent solution?

[2021-11-21 01:08] borgmanJeremy commented on #675
Permanent

[2021-11-21 04:06] kholisrag commented on #1302
I tried many approach to do cross-compile in qt5,
but no luck for success, always got a problem when it linking the binary, maybe lack of knowledge from myself how to properly crosscompile qt5

you can check it out [here](https://github.com/kholisrag/flameshot/actions/workflows/MacOS-pack.yml)

[2021-11-21 04:31] ExperiBass commented on #2075
So far I haven't encountered it, not like I can test further cause for some reason cinnamon has decided to crash on startup

[2021-11-21 07:48] mmahmoudian commented on #2075
@maxgqc try the following for `flameshot-git`:
1. Install it again. I use `paru` and I don't know if `yay` updates properly when there is a new git commit merged into master.
2. Open a new terminal and run

[code]

3. Tell us what version you have installed: right click on the try icon > About > copy

4. I assume you are KDE and your shortcuts are probably for the old version. Try importing [this

[2021-11-21 07:58] mmahmoudian commented on #2075
@borgmanJeremy @veracioux based on [the link](https://www.reddit.com/r/kde/comments/p9ojj2/screenshot_tools_taking_screenshots_fromthe_past/) @maxgqc shared, the issue of that redditor was resolved by removing the intel graphics driver:

I also remember that my friend was also using Manjaro KDE on his laptop with Intel GPU, and perhaps the same `xf86-video-intel` driver.

I wonder if there is an e

[2021-11-21 07:58] ExperiBass commented on #2075
Yes, I'm using Intel Iris Plus.

[2021-11-21 08:01] mmahmoudian commented on #2075
@ExperiBass please keep using Flameshot you installed from AUR and see if the issue rises again, and please keep us posted. This is a very rare issue and perhaps needs a very specific set of hardware and software to happen, and for that reason it would be good to know what are the conditions and what is the main issue.

[2021-11-21 08:15] mmahmoudian commented on #2097
@veracioux I thought that the `flameshot gui` will start the daemon if it is not running and then it will pass the `gui` dbus call to the newly launched daemon. If this understanding is correct (which according to your comment it is not), then I expected the daemon to also get the env variables.

Anyways, if this is expected, then it is not a bug, so what the label of this issue should be? And als

[2021-11-21 09:01] veracioux commented on #2097
@mmahmoudian My knowledge is limited, but I believe the daemon is auto-started via DBus, which in turn starts  a service that launches the daemon. I dont see how envvars could be passed around with this mechanism alone, unless we implement that ourselves.

I think it should be labeled as Needs investigation, because I believe it should be fixed by #2003 but I'm not able to test it currently.

[2021-11-21 09:51] aohanhongzhi opened #2099 "cant paste on ubuntu 21.10"
### Flameshot Version

v0.10.2

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

ubuntu 21.10

### Description
when I click 'copy the selection into the clipboard' but it doesn't work.
I can‘t paste after capture on ubuntu 21.10

### Steps to reproduce

normal

### Screenshots or screen recordings

_No response_

### System Informatio

[2021-11-21 09:56] UmarJ commented on #2097
Tried out #2003 and `QT_QPA_PLATFORMTHEME` is passed to flameshot when running `flameshot gui`.

Flameshot v0.10.1 (e7b090f)
Compiled with Qt 5.15.2

[2021-11-21 11:43] mmahmoudian commented on #2097
nice, then we close this until there is a severe need for implementing the env vars loading.

[2021-11-21 11:43] #2097 closed

[2021-11-21 11:46] mmahmoudian commented on #2099
@aohanhongzhi Please provide all the information asked. You failed to provide your Display Server (Wayland or X11). If you need help to know how to do this, please checkout https://flameshot.org/guide/issue-reporting/

[2021-11-21 18:51] leoneivaw commented on #702
I am anxious waiting for this feature!
Thanks!

[2021-11-21 20:47] borgmanJeremy commented on #2075
Based on that info I found this arch wiki page too: https://bbs.archlinux.org/viewtopic.php?id=263247 I think we should close this and you should file an upstream bug. This is so far down the technology stack that we wont really be able to fix it or effectively troubleshoot. Flameshot uses the qt screenshot utility, which somehow ties into X11, and that ties into the driver. Once we get past Qt, w

[2021-11-21 21:15] borgmanJeremy commented on #1302
Maybe this helps? https://github.com/crystalidea/macdeployqt-universal

[2021-11-21 21:37] ExperiBass commented on #2075
Just my luck, I stumble across a deep issue lol

I'll look into filing a upstream report, thanks for the help!

[2021-11-21 21:37] #2075 closed

[2021-11-22 02:22] kholisrag commented on #1302
will try to look at that universal macdeployqt
I just realized that there is hardcoded `brew --prefix` in the ~2/3 place in cmakelist.txt, and its make custom qt5 installation directory path not working as expected and will try to depend my understanding about cmake first

[2021-11-22 16:33] mmahmoudian commented on #2075
@ExperiBass please also post the link of the issue you open in upstream here so that we can also have it on the records and follow.

[2021-11-22 17:08] samuelmissonnier commented on #2057
Hello, I saw the project and I tried the different features of the app, I found this issue and I would like to contribute to this, I already forked the project and cloneed it to test it with QT CREATOR, I've the technicals skills with C++ and QT Creator, I realized 4 project with included two PoC.

[2021-11-22 17:42] borgmanJeremy commented on #2057
Yup! If you have a question you can reach out to us: https://matrix.to/#/#Flameshot:feneas.org

[2021-11-22 18:24] elad2109 commented on #1372
Thanks,

I've tried again to install the latest version. Non of my ways succeeded.

--2021-11-22 20:19:29--  https://github.com/flameshot-org/flameshot/releases/download/v0.10.2/Flameshot-0.10.2.x86_64.AppImage

Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://

[2021-11-22 19:26] mmahmoudian commented on #1372
It seems you have some issues with binaries on your computer

First things first, this works as I just tested:

[code]

Does it work for you? If not:
what error do you get? What is your operating system? What is your default shell?

[2021-11-22 23:03] elad2109 commented on #1372
It worked, thanks.

How do I set the application link to the new executable?

I'm using debian Linux.

![image](https://user-images.githubusercontent.com/1093841/142947965-5a8f4dcf-bdf3-4ab1-b7c3-4ff5d711e903.png)

[2021-11-23 01:24] qwert-f opened #2100 "Unable capture on Ubuntu 22.04 (Jammy Jellyfish)"
### Flameshot Version

Flameshot v0.10.1
Compiled with Qt 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Ubuntu 22.04 (Jammy Jellyfish)

### Description

I use the flameshot gui command start the software but notification show "Unable to capture screen". While I use flameshot command  the termin

[2021-11-23 01:28] borgmanJeremy commented on #2100
Update to 0.10.2... see the pinned issue for details

[2021-11-23 01:28] #2100 closed

[2021-11-23 04:02] hasancse91 opened #2102 "In V0.10.2 version at Macbook, the workspace switched"
### Flameshot Version

v0.10.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

macOS, 12.0.1

### Description

When launch the flameshot, the current workspace is switched. So that I cannot take screenshot of my desired screen. I have added screen recording with voice. Please have a look.

### Steps to

[2021-11-23 07:03] mmahmoudian commented on #1372
What you need is a .desktop file which is very easy and quick thing to do. Read from step 5 onwards:

https://www.maketecheasier.com/create-desktop-file-linux/

Also, for you to know, the reason the curl commands didn't fork for you before is because you copy-pasted the commands from our website without properly reading them. The `\` before each `|` was to make it possible to put the rest of the c

[2021-11-23 07:13] mmahmoudian commented on #2102
@hasancse91 out of curiosity, what is that icon on the top right corner of the screen when you start Flameshot?

[2021-11-23 07:14] hasancse91 commented on #2102
hey! I've just check and found it is working fine!
Maybe the issue was for granting the permission for new update of the app from Mac security settings.
I think you can close the issue.
Thanks for your nice project.

[2021-11-23 07:23] hasancse91 commented on #2102
![image](https://user-images.githubusercontent.com/3769029/142984574-2694872e-50b1-411a-a88e-7d00f642d107.png)
This one? It is Siri.

[2021-11-23 07:25] mmahmoudian commented on #2102
I'm glad it got resolved. I haven't used mac for quite a few years now, so I had no idea new versions of the same sugar need new permission. Mac works in mysterious ways I suppose 😅

Thank you for the nice and comprehensive bug reporting.

[2021-11-23 07:26] mmahmoudian commented on #2102
No when Flameshot gui window is open, I see a pink icon on the top right corner

[2021-11-23 07:29] hasancse91 commented on #2102
![image](https://user-images.githubusercontent.com/3769029/142985108-aeda29cc-9334-49cf-a56a-ab08b59adf84.png)
This one? It's the indication of using microphone. When I use microphone for any audio/video call or event screen recording, this indication get visible automatically.

[2021-11-23 08:17] #2102 closed

[2021-11-23 10:50] samuelmissonnier commented on #2057
OK, thank you !

[2021-11-23 11:19] SebTM commented on #2090
I was also a bit confused as the package in NixOS/Nixpkgs is up2date but Flameshot still show's me an update message each time I open it :D Thanks for taking care ✌🏻

[2021-11-23 14:13] borgmanJeremy commented on #2102
BTW this might be caused by adding and removing monitors. Restarting flameshot generally solves it.

[2021-11-23 15:08] aspiers commented on #604
Really disappointed to find this is not currently possible.  flameshot is one of the best screenshotting tools I've ever found, and this is one of the few things stopping it from being perfect.

As @Gim6626 [mentioned](https://github.com/flameshot-org/flameshot/issues/604#issuecomment-643731125), there is more than one screenshot tool based on KDE / Qt which can capture the mouse pointer, so this

[2021-11-23 15:12] borgmanJeremy commented on #604
someone just needs to do the work, its clear

[2021-11-23 16:51] JohnAntoineG710 opened #2104 "Last update broke Flameshot in macOS 12 (Monterey)"
### Flameshot Version

Flameshot v0.10.2 (bde36fb)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

MacOS 12 (Monterey) - Homebrew

### Description

when invoked, Flameshot switches to a completely empty virtual desktop, similar to fullscreen apps. I think macOS is treating it as a full-screen applicatio

[2021-11-23 16:53] borgmanJeremy commented on #2104
Every time you update flameshot you need to remove and re allow screen sharing.

[2021-11-23 16:53] #2104 closed

[2021-11-23 16:55] JohnAntoineG710 commented on #2104
Are you taking about the accessibility rights? More info would be appreciated

[2021-11-23 16:57] titoesteves commented on #777
@borgmanJeremy How can an end user access the history widget?

[2021-11-23 16:58] JohnAntoineG710 commented on #2104
Nevermind, It's the screenshot privileges, just revoke flameshot then add it again, for anyone having the same issue
@borgmanJeremy Thank you, Appreciate your work.

[2021-11-23 19:11] mmahmoudian commented on #777
@titoesteves right-click on the tray icon and you will see the option for it👍🏼

[2021-11-23 19:18] titoesteves commented on #777
@mmahmoudian Thanks for the reply. I am not seeing the option when I right-click on the tray icon. Here is what I see: https://i.imgur.com/uMexss0.png

OS: MacOS Catalina
Flameshot version: 0.10.2

[2021-11-23 19:19] mmahmoudian commented on #777
"Latest uploads" is the one

[2021-11-23 19:24] titoesteves commented on #777
Ah nice. I was looking for history widget. I should've known. Thanks!

[2021-11-23 21:03] c02y opened #2105 "Big box around the captured image when using i3"
### Flameshot Version

Tried versions:
0.10.1-1 installed from ArchLinux repo
or
downloaded 0.10.2 appimage

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...), AppImage

### Operating System type and version

ArchLinux 5.15.4-zen1-1-zen

### Description

When I try to take a screenshot, and pin it in the desktop, there is big box around the capt

[2021-11-23 21:30] affirVega opened #2106 "Moving layers"
### Feature Description

When I was editing a picture, I needed to change layer of one element from the list, but found nothing about how to do so.
I was unable to find such feature request, but I might have missed it.
Problem example: I first created text, then I thought it would be nice to create a rectangle behind the text, but now I have remove text, create rectangle and then create text again

[2021-11-23 22:12] borgmanJeremy commented on #2106
No need to open an RFC . We can discuss here or on a PR. Generally I really like the feature! Might want to use arrows instead of text . I'll test it more once I build from the PR.

[2021-11-24 00:54] oxalica opened #2107 "Flameshot itself running on XWayland instead of native Wayland"
### Flameshot Version

Current master b8c0b74ea22b14c97a9f25c4e34d1b6d640ebaac

### Installation Type

Compiled from source

### Operating System type and version

NixOS unstable

### Description

Flameshot itself is running on XWayland instead of native Wayland, making GUI blurred when using fractional DPI.
Checked with `xeyes`: `xeyes` animates when moving the cursor under XWayland windows, but

[2021-11-24 01:00] borgmanJeremy commented on #2107
Even if we resolve the menu issue flameshot will not properly display a screenshot if you use fractional scaling. We have a long running issue on this with no current ideas.

[2021-11-24 01:04] oxalica commented on #2107
That's another issue. I created this issue only about `flameshot` itself running on XWayland. You can assume that I'm only concerning the config window.

[2021-11-24 01:07] borgmanJeremy commented on #2107
What's the concern with running on xwayland? (Not confrontational, just dont understand why it's a problem)

[2021-11-24 05:16] affirVega commented on #2106
That's very relieving :D
Using arrows instead of text would be great!
I'll open PR, I think it's better to discuss there.

[2021-11-24 06:58] FuGangqiang commented on #2088
I'm also get this error,
this is my `strace flameshot gui` log:
[code]

[2021-11-24 07:34] FuGangqiang commented on #2088
the same issue when I revert back 0.8.5 version

[2021-11-24 07:53] Benibla124 opened #2109 "Flameshot doesn't work with sway"
### Flameshot Version

Flameshot v 0.10.1

### Installation Type

User repository (AUR)

### Operating System type and version

Arch Linux Rolling (Kernel 5.15.4)

### Description

Flameshot starts, it does show the tray icon. Clicking it does nothing, the screenshot tool won't open.

### Steps to reproduce

- Use sway
- Run Flameshot
- It won't work

### Screenshots or screen recordings

Here's t

[2021-11-24 13:24] mmahmoudian commented on #2105
I hypothesise that your tiling window manager is forcing new windows to be centered with some gap from the margins, but because the area you selected is small, the picture is left-middle aligned. This can be checked with a much smaller selection and see if it behaves as I explained

[2021-11-24 14:04] c02y commented on #2105
@mmahmoudian Yes, thanks, in my i3 config,
1. I set all flameshot windows as floating windows
2. all floating windows are centered automatically.
3. All this kind of floating windows has a default window size, which is the size of the big box
4. When I capture a bigger area (bigger than the default size for floating window), the box is gone.

I remembered that when I was using Manjaro there is no

[2021-11-24 14:50] clomper commented on #2004
Same issue here. Cross-hairs disappear when capturing, and no cursor on menu buttons, so can't save, edit, etc without guessing where cursor is. OS is Ubuntu 21.10 DE is Gnome 40.4 and WM is Wayland.

[2021-11-24 15:47] mmahmoudian commented on #2105
I think the class and tag of the window is unique and you can add a line in your config to not force dimension to the pin window. I'm typing this on my phone as I'm AFK, so I cannot test this.

[2021-11-24 16:31] mmahmoudian commented on #2109
Have you already followed this:

https://github.com/flameshot-org/flameshot/blob/master/docs/Sway%20and%20wlroots%20support.md

[2021-11-24 17:11] affirVega opened #2110 "Screenshot while selecting object saves image with selection border around object"
### Flameshot Version

Flameshot [b8c0b74](https://github.com/flameshot-org/flameshot/commit/b8c0b74ea22b14c97a9f25c4e34d1b6d640ebaac)

### Installation Type

Compiled from source

### Operating System type and version

Linux

### Description

Small bug.
When selecting an object in the side panel, object gets dotted border. If you click "copy" while selecting an object, it will copy a screenshot w

[2021-11-24 17:40] xiayesuifeng commented on #2107
When flameshot is run as xwayland on kde wayland, copying to clipboard does not work

[2021-11-24 20:26] c02y commented on #2105
The class of it is `flameshot`, I don't know what its tag is, is it from `xprop`?

`to not force dimension to the pin window`, sorry, I don't think I get it.
You can tell me more about if you can test it, thanks.

[2021-11-24 20:38] AndLLA opened #2111 "FlameShot is awsome !!!!!!"
### Feature Description

seriously,
it definitively changed my life.
I feel a star it's not enough.

thank you :)

[2021-11-24 22:20] borgmanJeremy commented on #2111
Thanks for the kind words 😊

[2021-11-24 22:20] #2111 closed

[2021-11-24 22:20] bognolo opened #2112 "Extra screenshot on Fedora 35/Gnome"
Hello, thank you for this amazing piece of software.
I'm on Fedora 35/Gnome and am happy you resolved the issue of Flameshot not being able to capture the screen after my recent upgrade to Fedora 35.
However, now triggering the screenshot (by clicking on the tray icon as usual) first takes a full screen screenshot (with shutter sound and everything), and shows the attached dialog, and only once pe

[2021-11-24 22:23] borgmanJeremy commented on #2112
Nope, if you want the super details answer checkout the pinned thread.

Tldr: gnome changes the api to improve security and this is the only way to capture the screen. This is determined by gnome and not us. We are working with the portal devs to come up with a new system that only prompts you once but no one is actively working it.

[2021-11-24 22:23] #2112 closed

[2021-11-24 22:25] bognolo commented on #2112
Thank you

[2021-11-25 01:03] borgmanJeremy opened #2113 "Invert tool uses wrong region on MacOS"
### Flameshot Version

v0.10.1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

M1 Air Montery

### Description

When I use the invert region tool it uses the wrong region as shown below:
![image](https://user-images.githubusercontent.com/46930769/143333797-6734186f-f7e4-4767-b9a1-b1bd0c9fc6d2.png)

###

[2021-11-25 03:48] ajunior7 opened #2114 "Unable to install flameshot nightly builds"
Currently on a fresh install of Fedora 35.

Upon downloading the development packages from the website and installing the fc35 rpm package locally, I am met with a dependency needing libqtcolorwidgets.so.2()(64bit)
![image](https://user-images.githubusercontent.com/40948231/143376666-e4e4dad9-1f80-4e7e-baa3-55b8c3ddc735.png)

I don't know where to proceed from here. I am adamant on using the night

[2021-11-25 04:32] mmahmoudian commented on #2114
We are working on migrating to Qt6 and I think this is the reason you are getting this issue. Easy quick fix for you can be to install Flameshot from an older commit. For example: f675123e0ac91777a2d61eac7d535ec725927a94

[2021-11-25 04:53] ajunior7 commented on #2114
Built from the commit, thank you so much!

[2021-11-25 09:12] Benibla124 commented on #2109
I didn't, but after doing all of the above mentioned steps it's still the same behaviour.

[2021-11-25 11:11] rizzini opened #2116 "Can't disable systray. It always there if I open flameshot again."
### Flameshot Version

Flameshot v0.10.1 (48c9d472)
Compiled with Qt 5.15.2

### Installation Type

User repository (AUR)

### Operating System type and version

ArchLinux 64bits

### Description

Even if I disable systray, it appears again when flameshot is restarted.

### Steps to reproduce

1. run flameshot
2. Disable systray
3. Close flameshot
4. Open it again and the systray will be there any

[2021-11-25 12:22] kpcee commented on #1358
I can't currently test it because I've already migrated to Qt 6.2 and Flameshoot don't compile with Qt 6, it uses QDesktopWidget (deprecated in Qt 5, and has been removed in Qt 6) and maybe other things.

[2021-11-25 12:25] Joe23232 opened #2117 "How do I get print screen to work for xfce desktop users?"
Hi, I am on Arch-Linux based distro using xfce. I can see that the instruction for global setup is for KDE, but I am using xfce. Is it possible to also set this up on xfce?

[2021-11-25 12:26] Joe23232 commented on #2117
Closing issue as I realised there were instructions available for xfce.

[2021-11-25 12:26] #2117 closed

[2021-11-25 12:30] ahangarha commented on #1216
There is another issue as well.

When one types something RTL, there is some padding on left side which gets removed as soon as the user applies the text on the image. This makes a shift in text position towards left.

this is an illustration of that:

While typing:
![image](https://user-images.githubusercontent.com/11241315/143442108-68b0e8a9-f851-4632-b15a-518f406a58af.png)

After applying:
![im

[2021-11-25 12:58] borgmanJeremy commented on #2114
Thanks for reporting this. I'm going to reopen t is so I don't forget to resolve the issue before release.

[2021-11-25 17:30] gabdevbr opened #2118 "Implement the same CLI args in Windows build"
### Flameshot Version

![image](https://user-images.githubusercontent.com/62145041/143483078-da6ef865-e0cf-4c71-8db5-12de09c8a9a9.png)

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Windows 10 Pro

### Description

Implement the same arguments that works in Linux in Windows.

E.g, this command:

`"C:\Program Files\Flameshot\bin\fla

[2021-11-25 18:41] MirtoBusico commented on #1386
I have the same problem with:

- Kubuntu 20.04.3
- flameshot 0.10.2 (qt 5.12.8) installed from the deb archive for Ubuntu 20.04 ( flameshot-0.10.2-1.ubuntu-20.04.amd64.deb )
- primary monitor 4K, secondary monitor Full HD

What I see when launching flameshot

![wrong-area](https://user-images.githubusercontent.com/11090934/143488756-f7a635e6-a2eb-46f7-abf5-0abc3d07f82c.png)

What Spectacle sees

!

[2021-11-25 20:38] thegreyshadow opened #2119 "0.10.2 identifies itself as 0.10.1, then requests to be updated to 0.10.2 (!)"
### Flameshot Version

Flameshot Version 0.10.2

### Installation Type

Compiled from source

### Operating System type and version

Slackware, 64-bit, 15.0 RC2 (Slackware-current)

### Description

I downloaded and built (without problems) the 0.10.2 source tarball.
However, upon running flameshot I get an update prompt. Upon inspection of the systray icon, I get a notice: "New version 0.10.2 is

[2021-11-25 20:41] thegreyshadow commented on #2099
Can confirm this on my system. I also select Copy to Clipboard but then there's nothing to be pasted.

System:

Operating System: Slackware Linux 15.0 (RC2)
KDE Plasma Version: 5.23.3
KDE Frameworks Version: 5.88.0
Qt Version: 5.15.3
Kernel Version: 5.15.4 (64-bit)
Graphics Platform: Wayland
Processors: 8 × Intel® Core™ i7-8550U CPU @ 1.80GHz
Memory: 15,5 GiB of RAM
Graphics Processor: Mesa Intel®

[2021-11-25 23:36] mmahmoudian commented on #2119
What is the sha256sum of the source code you downloaded? Can you provide the link?

I believe you mistakenly think that if you download the source code from GitHub master branch you have downloaded v0.10.2 . The v0.10.2 was a hot fix for wayland users and is not in-line with what has been committed to master. It is more or less a cherrypick of certain commits.

So in order for us to check your bug

[2021-11-26 04:09] alainbelez opened #2120 "windows dual monitor issue"
### Flameshot Version

windows version: 0.10.2 (f81a971)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

windows

### Description

i'm using a portable monitor which is below my primary monitor and for some reason that monitor is not being detected when doing a screenshot, monitors on the side works tho

[2021-11-26 14:46] farseerfc commented on #2119
same here, the version number is not bumped for commit 2bf8a92 , which is tagged as v0.10.2 , and the appdata is also not updated. the [branch v0.10.2](https://github.com/flameshot-org/flameshot/tree/v0.10.2) appearently has a commit c4081c65c5d3d7c7579d07969c9f591077035d65 that is not included in the tagged release.

[2021-11-26 14:52] borgmanJeremy commented on #2119
Thanks for reporting. I'm going to pin this issue because I think it affects a few different packages.

I really really do not like having a maintenance release, but we needed to rush a fix out the door for gnome41.  Our build pipeline are all geared towards releasing off the main branch and I clearly didn't patch them properly on the maintenance branch.

I know this is annoying but you can disabl

[2021-11-26 14:56] claytron5000 opened #2121 "No Tool Settings tab on Linux"
### Flameshot Version

Flameshot 0.5.1-1(Debian)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Ubuntu

### Description

When taking a screenshot there is no Tool Settings tab. In fact, I didn't know there was a Tool Settings tab until I used Flameshot on MacOS. I've also seen this behavior on PopOS (u

[2021-11-26 14:56] farseerfc commented on #2119
Ok, understand. Switching to use the branch for the packaging for this release.

[2021-11-26 14:57] borgmanJeremy commented on #2121
Please upgrade to at least version 0.10.1, we no longer maintain 0.5

[2021-11-26 14:57] #2121 closed

[2021-11-26 16:08] claytron5000 commented on #2121
I'll update someway, but it looks like this is the latest available to the ubuntu source.
I'm not sure how that gets updated.
[code]

[2021-11-26 16:14] claytron5000 commented on #2121
Same version when installed through the GUI software installer.

[2021-11-26 16:22] borgmanJeremy commented on #2121
Yes it's because your version of Ubuntu is old. You can manually download the package from our release page or use flatpak or snap.

[2021-11-26 18:25] lygamac opened #2123 "Flameshot won't load itself automatically in awesomeWM"
### Flameshot Version

flameshot 0.10.2-1

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Arch Linux (Kernel Linux 5.10.81-1-lts)

### Description

When I was using i3wm, flameshot will automatically load itself for any given command if it's not running, which is the expected behavior as described [here

[2021-11-26 20:58] mmahmoudian commented on #2121
@claytron5000 please follow one if the options presented in this guide:

https://flameshot.org/guide/installation/installation-linux/

[2021-11-27 00:33] claytron5000 commented on #2121
Not to be a stickler, but Ubuntu 18 is still in standard support until April 2023. https://ubuntu.com/about/release-cycle

I have installed the application from source on another computer and I’ll do it again if I have to (I really like flameshot).

I don’t know what kind of effort is involved in maintaining apt repositories, but I’d respectfully ask that maintained distributions get application u

[2021-11-27 00:37] borgmanJeremy commented on #2121
This is a common confusion, but we as the application developers have no input on the software in a given distro. So there is literally nothing we can do for you besides provide something like flatpak where we control the release not the distro maintainer's.

Furthermore you are using a static or "stable" distro. By design the Ubuntu devs are going to keep the same version that was released at the

[2021-11-27 00:43] borgmanJeremy commented on #2121
Also we actually go out of our way to make sure we build against the latest to LTSs. So when 22.04 comes out we will drop 18.04 , but not before then.

The code has specific build flags to keep compatibility.

[2021-11-27 12:27] claytron5000 commented on #2121
Thanks for the explanation. I upgraded to 20.04. The available package for that release is 0.6, which has the same issue (no tool setting tab.) I installed the 0.10 release, which does work. I wonder if it would make sense to update the documentation. As a user I initially thought the application was not usable.

[2021-11-27 16:32] mmahmoudian commented on #2121
@claytron5000 what distro maintainers do and pick for their distros are mot influenced by us. If you want a more updated version from the official repo of your linux distribution, you should contact them. But if you want to use the latest Flameshot version and you are okay with using Flatpak, Snap, or even AppImage, you can install Flameshot from those.

Also about documentation, soon we will roll

[2021-11-27 20:19] thegreyshadow commented on #2119
sha256sum of my downloaded source tarball:

```951c8170b7be2f12e4446f6367e8fa176eb3489fe24c0cef8dfda0bd180e61f9  ./flameshot-0.10.2.tar.gz```

The link from which I downloaded:

https://github.com/flameshot-org/flameshot/archive/refs/tags/v0.10.2.tar.gz

[2021-11-28 09:44] xvitaly commented on #2119
I can confirm this issue on Fedora:

[code]

Built from tag v0.10.2.

[2021-11-28 10:09] xvitaly commented on #2119
GNU/Linux downstreams can partially backport c4081c65c5d3d7c7579d07969c9f591077035d65 commit:

[code]

After rebuilding with this patch the issue will be resolved.

[2021-11-28 11:33] arnav7633 opened #2127 "Nothing happens when running the flameshot gui command"
### Flameshot Version

v0.10.2

### Installation Type

Compiled from source

### Operating System type and version

Arch 64bit, Custom compiled linux tkg with pds

### Description

Hey! Whenever I try running the `flameshot gui` command nothing happens. Nothing happens, not even the "Unable to capture" as I am using gnome 41/mutter. I was reviewing some of the issues and while running the flamesho

[2021-11-28 16:02] jas0n098 commented on #2077
This is caused by commit https://github.com/flameshot-org/flameshot/commit/5d66405ed0e0fb871c174b8c1dfffb4a4d48034e forcing QT_QPA_PLATFORM to xcb. Reverting this change makes everything work again, at least on KDE Wayland 5.23.3.

[2021-11-28 16:17] borgmanJeremy commented on #2077
When you revert that commit everything works fine on kde wayland?

[2021-11-28 16:29] jas0n098 commented on #2077
Yes, keyboard shortcuts as well as copy-pasting into Wayland and Xwayland clients works just fine. I've been using 0.10.1 and 0.10.2 (with the commit reverted) daily and haven't noticed any other issues.

[2021-11-28 17:12] elad2109 commented on #1372
Thanks for your help. I know Linux is not in this scope, however I had followed all the instructions and the shortcut is still not on my Debian applications topbar menu.

![image](https://user-images.githubusercontent.com/1093841/143778549-270beb7d-8ba3-4a84-a1df-7c5274d5492f.png)
![image](https://user-images.githubusercontent.com/1093841/143778556-e8051367-3c56-4691-baeb-414bacbde844.png)

[2021-11-28 17:24] xvitaly commented on #2077
Fixed this issue on Fedora 35 by partial reverting of 5d66405ed0e0fb871c174b8c1dfffb4a4d48034e commit:

[code]

[2021-11-28 18:17] Semnodime opened #2128 "Refresh regularly to detect new monitors while app is already running"
### Flameshot Version

Flameshot V0.10.1

### Installation Type

Using the ready-made package from Github Releases

### Operating System type and version

Windows 10 x64bit

### Description

When connecting a new monitor after flameshot has already been launched, the new monitor won't be captured when issuing a screenshot via `print`-key. Instead the application has to be restarted to properly det

[2021-11-28 18:20] pizzadude commented on #2077
I can confirm that partially reverting that commit fixes the issue.

[2021-11-28 18:59] RiedleroD commented on #2109
works for me
I'm using current master and sway 1.6.1, no special workarounds.

[2021-11-28 19:47] RiedleroD commented on #1315
There's a license statement at the end of the file - it's CC0. I'm currently modifying it anyway, so I can move the license statement somewhere else - where should I put it?

[2021-11-28 19:54] hosiet commented on #1315
Having a license statement embedded in the svg file is great -- sorry for overlooking it when I opened this issue. That means the copyright condition for `keyboard.svg` is no longer a problem. Probably we can close this issue then.

If we really want to make it explicit (which is harmless), we can add another text file in the same directory of `keyboard.svg`, just like the current condition of `da

[2021-11-29 05:49] mmahmoudian commented on #2109
@Benibla124 i just realized you have not provided the full version info (or your Flameshot version is some months old) try force installing the AUR (e.g `paru flameshot-git`) and then give us the full version info which should contain the git commit hash as well.

[2021-11-29 05:58] mmahmoudian commented on #2119
@xvitaly thanks for the patch. But I think this is an unnecessary move at this point as the v0.10.2 was just a hotfix and releasing a new version just to fix the version info sounds like an overkill. Perhaps with your contribution in other issues we can soon release v0.11.0 and get back to normal situation.

[2021-11-29 07:00] Benibla124 commented on #2109
I tried with flameshot-git, still didn't change anything.

[2021-11-29 07:12] RiedleroD commented on #2109
Works for me with stable (0.10.2-1) as well - @Benibla124 are you sure you've got the dependencies installed? They're `grim xdg-desktop-portal xdg-desktop-portal-wlr`.

[2021-11-29 07:19] Benibla124 commented on #2109
@RiedleroD Yeah, got them installed.

[2021-11-29 08:13] xvitaly commented on #2077
Added PR with fix: #2131.

[2021-11-29 18:17] efstratios commented on #2091
Hello, just to add a comment to your reply @mmahmoudian, when you press the shortcut (Ctrl + O) it should automatically open the capture with the predefined (default) application.

In my opinion as a user, there is no need to change something in regards to mouse clicks as I think this is not offered in other buttons/options of the flameshot application (as you have already mentioned this is offere

[2021-11-29 18:42] ghbrown opened #2132 "User workflow opaque in v0.10.2"
### Flameshot Version

Flameshot v0.10.2 (c4081c65)
Compiled with Qt 5.15.2

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Manjaro Linux

### Description

First, I've been using Flameshot for quite a while and have really been enjoying it (so thanks!). However, I'm not as satisfied with the latest upda

[2021-11-29 19:17] mmahmoudian commented on #2091
It actually does. That was one of the features that was recently added so that users can open settings for each tool by right-clicking on the button of that tool (Basically is equivalent of selecting the tool and pressing space)

[2021-11-29 19:17] borgmanJeremy commented on #2132
Please see the pinned issue. This is caused by gnome not us.

[2021-11-29 19:17] #2132 closed

[2021-11-29 19:55] Rakqoi opened #2133 ""Save image after copy" ignores the --path launch flag."
### Flameshot Version

Flameshot v0.10.2 (cda5a0f1)

### Installation Type

Linux, MacOS, or Windows Package manager (apt, pacman, eopkg, choco, brew, ...)

### Operating System type and version

Garuda Linux

### Description

I have configured a global shortcut to create a new directory named after the current month, and then use the directory as the path for launching Flameshot, [as described in

[2021-11-29 19:59] xerus6 opened #2134 "Add option to upload to imgur account."
### Feature Description

It would be very helpful.

[2021-11-29 20:06] borgmanJeremy commented on #2132
Thanks for the feedback, if I have time ill try to summarize it more concisely and pin that.

[2021-11-30 04:06] leonardon397 commented on #604
@aspiers
With me, this issue has solved. I had make me stress to select some area that I need, before I see this question.
I use GNOME 41 with fedora 35. Seeing your screenshots from KDE, I think in GNOME is next to KDE, to solve this issue.

Thanks for give me an idea to try to solve this issue! 🙂🙂

[2021-11-30 05:28] mmahmoudian commented on #2134
Duplicate of #159. Please search in the open issues before opening a new one. Thanks.

[2021-11-30 05:28] #2134 closed

[2021-11-30 05:30] mmahmoudian commented on #2109
@Benibla124 do you have notification manager?

[2021-11-30 06:39] jolars commented on #657
I just had this problem right now, running Fedora 35 + i3wm

[2021-11-30 06:49] jolars commented on #896
I have this problem too, on Fedora 35 + i3wm.

[2021-11-30 06:52] jolars commented on #896
I just figured out this. I was incorrectly running mako as a notification service. Switching to dunst, the problem is now gone.

[2021-11-30 07:44] bitsar commented on #748
Same issue here with fractional scaling on 4K display - unusable.
Suck a shame as Flameshot has been my go to for years.
Will reinstall once fixed

[2021-11-30 11:14] MirtoBusico commented on #1386
@ihipop following the thread in issue  on ksnip #276  the solution is disable scaling. Setting global scale to 100% solves the problem

![scaling](https://user-images.githubusercontent.com/11090934/144037455-f3bcdba1-9172-4caf-963b-178e5a51bc6a.png)

[2021-11-30 11:35] kloczek commented on #1707
As I wrote at the moment less than 10% of all qt/kde projects which are sill using .qm files and that number still is going down.

[2021-11-30 14:06] mmahmoudian commented on #2004
@clomper I'm typing on the phone so I quickly write few points:
1. You didn't need to bump, you literally bumped it 6 days ago by commenting.
2. Wayland is not a Window Manager, it is a Display Server Protocol.
3. You didn't mention your Flameshot version and how you have installed it (from `apt`, `flatpak`, `snap` or `AppImage`)

[2021-11-30 14:16] ihipop commented on #1386
@MirtoBusico  I'm using a 4K Monitor,Which make it necessary to have a sacled UI
If I use 100% scale On a 4K Monitor,why should I buy it?

[2021-11-30 16:06] clomper commented on #2004
1. Sorry
2. Flameshot 0.9.0+ds1-2 (Debian) | installed, purged, reinstalled with apt-get
3. Gnome 40.4.0

[2021-11-30 16:09] #2077 closed

[2021-11-30 16:48] mmahmoudian commented on #2004
@clomper thanks for the info. The latest stable version is 0.10.2 in which we have done a lot of improvements for Wayland. It is not perfect but we are constantly improving the software. I suggest you to try the new version (for example using Flatpak. You can see instructions and help here:

https://flameshot.org/guide/installation/installation-linux/

But to make it clear, I'm not sure if this cu

[2021-11-30 17:57] MirtoBusico commented on #1386
@ihipop
Well, I also need to scale the UI; but, until the flameshot/ksnip bug is resolved, I'll use 16pt charachters everywere and use flameshot.
I'm writing manuals that need screenshots, so balancing a good UI with the possibility to use flameshot, I prefer the last

Obviously I'm  waiting for the bug correction

[2021-12-01 00:33] gubareve commented on #1386
It seems that flameshot is using the _scaled_ resolution for creating the GUI. Would it be possible to add something to flameshot that allows you to hardcode your resolution? That seems like it would fix the problem.

[2021-12-01 00:34] gubareve commented on #1386
And to further @ihipop's point, I have a 4k monitor meaning that I can't use 100% scale without a magnifying glass. So sadly, just changing the scale to 100% wont be a solution.

[2021-12-01 00:42] borgmanJeremy commented on #1386
Until someone solves this (which I wrote to minimally produce the bug) , this will not be solved.  https://forum.qt.io/topic/121111/position-of-widget-with-fractional-scaling

This is a well known issue, I'm not holding out on some magic solution, I have no idea how to solve it.

Since we identified this is another bug with a root cause of fractional scaling I will close this one as duplicate.

[2021-12-01 00:42] #1386 closed

[2021-12-01 00:43] borgmanJeremy commented on #1386
#564 is the original

[2021-12-01 01:36] ihipop commented on #1386
But I'm not using fractional scaling,I'm using 200% scale

[2021-12-01 02:33] borgmanJeremy commented on #1386
Yeah the issue occurs whenever the scaling is not 100%

[2021-12-01 17:29] fdmarcin commented on #1156
I'd like to have this option as well.

It could be configured in UI either as a slider or with a numerical value.